:root {
  --font-weight-bold: 700;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-size-xxxs--font-family-primary: 0.938rem;
  --font-size-xxs--font-family-primary: 1rem;
  --font-size-xs--font-family-primary: 1.063rem;
  --font-size-s--font-family-primary: 1.125rem;
  --font-size-m--font-family-primary: 1.25rem;
  --font-size-l--font-family-primary: 1.375rem;
  --font-size-xl--font-family-primary: 1.75rem;
  --font-size-2xl--font-family-primary: 2.5rem;
  --font-size-3xl--font-family-primary: 3rem;
  --font-size-4xl--font-family-primary: 3.5rem;
  --line-height-xs--font-family-primary: 1.25rem;
  --line-height-s--font-family-primary: 1.5rem;
  --line-height-m--font-family-primary: 1.5rem;
  --line-height-l--font-family-primary: 1.75rem;
  --line-height-xl--font-family-primary: 2.25rem;
  --line-height-2xl--font-family-primary: 3rem;
  --line-height-3xl--font-family-primary: 3.75rem;
  --line-height-4xl--font-family-primary: 4.25rem;
  --font-size-xxs--font-family-tertiary: 0.813rem;
  --font-size-xs--font-family-tertiary: 0.875rem;
  --font-size-s--font-family-tertiary: 0.938rem;
  --font-size-m--font-family-tertiary: 1.063rem;
  --line-height-xs--font-family-tertiary: 1rem;
  --line-height-s--font-family-tertiary: 1.25rem;
  --line-height-m--font-family-tertiary: 1.5rem;
  --font-size-m--font-family-secondary: 1.031rem;
  --font-size-xl--font-family-secondary: 1.281rem;
  --line-height-m--font-family-secondary: 1.5rem;
  --line-height-xl--font-family-secondary: 2rem;
  --beige-100: #f6f4ef;
  --beige-200: #eceae4;
  --beige-300: #dad8d1;
  --blue-green-800: #167f82;
  --font-family-primary: "GreenpeaceSans";
  --font-family-secondary: "SourceSerifPro";
  --font-family-tertiary: "SourceSans3";
  --gp-green-100: #d9f1c5;
  --gp-green-200: #b9e696;
  --gp-green-400: #80d643;
  --gp-green-500: #6c0;
  --gp-green-800: #198700;
  --grey-100: #f5f7f8;
  --grey-200: #ececec;
  --grey-300: #d1d2d3;
  --grey-500: #a3a5a7;
  --grey-600: #6f7376;
  --grey-800: #45494c;
  --grey-900: #1c1c1c;
  --p4-action-yellow-100: #fff6bd;
  --p4-action-yellow-500: #ffe100;
  --p4-action-yellow-600: #fece00;
  --p4-action-yellow-700: #fcb600;
  --p4-dark-green-800: #1f4912;
  --p4-dark-green-900: #1a3c10;
  --red-100: #fad1da;
  --red-500: #d43b57;
  --white: #fff;
  --color-background--alert: var(--p4-action-yellow-100);
  --color-background--warning: var(--red-100);
  --color-background-author_block: var(--beige-100);
  --color-background-block: var(--grey-100);
  --color-background-block-dark: var(--grey-200);
  --color-background-button--cta: var(--p4-action-yellow-500);
  --color-background-button--cta-hover: var(--p4-action-yellow-600);
  --color-background-button--primary-hover: var(--gp-green-500);
  --color-background-button--primary-passive: var(--gp-green-400);
  --color-background-button--secondary-hover: var(--p4-dark-green-800);
  --color-background-button_share--secondary-hover: var(--beige-200);
  --color-background-button_share--secondary-passive: var(--beige-100);
  --color-background-comments_block: var(--beige-100);
  --color-background-copyright_block: var(--p4-dark-green-900);
  --color-background-country_list_block: var(--p4-dark-green-900);
  --color-background-footer: var(--p4-dark-green-800);
  --color-background-icon--yellow: var(--p4-action-yellow-700);
  --color-background-link--hover: var(--gp-green-100);
  --color-background-navigation_bar: var(--white);
  --color-background-tag_button--hover: var(--gp-green-200);
  --color-background-tag_button--passive: var(--gp-green-100);
  --color-background-take_action_cover_block: var(--white);
  --color-background-tooltip--error: var(--red-500);
  --color-border-button--secondary: var(--p4-dark-green-800);
  --color-border-input: var(--grey-500);
  --color-border-input--hover: var(--grey-600);
  --color-border-navigation_link--hover: var(--gp-green-500);
  --color-border-separator: var(--grey-300);
  --color-text--error: var(--red-500);
  --color-text-body: var(--grey-900);
  --color-text-button--cta: var(--grey-900);
  --color-text-button--primary: var(--grey-900);
  --color-text-button--secondary: var(--p4-dark-green-800);
  --color-text-button-inverse: var(--white);
  --color-text-heading: var(--grey-900);
  --color-text-image_caption: var(--grey-800);
  --color-text-meta_item: var(--grey-600);
  --color-text-nav_link: var(--grey-900);
  --color-text-tag_item: var(--gp-green-800);
  --font-family-button: var(--font-family-primary);
  --font-family-heading: var(--font-family-primary);
  --font-family-paragraph-primary: var(--font-family-secondary);
  --font-family-paragraph-secondary: var(--font-family-tertiary)
}

.topic-link-block .topic-link-block_editor-container,
.topic-link-block a {
  align-items: center;
  background-color: var(--grey-900);
  border-radius: 4px;
  display: flex;
  height: auto;
  justify-content: space-between;
  max-width: 46rem;
  overflow: hidden;
  padding: 48px 24px;
  position: relative;
  width: 100%
}

.topic-link-block .topic-link-block_editor-container:hover,
.topic-link-block a:hover {
  text-decoration: none
}

.topic-link-block .topic-link-content {
  color: #fff;
  display: flex;
  font-family: var(--font-family-primary);
  font-size: var(--font-size-m--font-family-primary);
  font-weight: var(--font-weight-bold);
  justify-content: space-between;
  line-height: var(--line-height-m--font-family-primary);
  position: relative;
  width: 100%;
  z-index: 1
}

.topic-link-block .topic-link-content p {
  display: -webkit-box;
  margin: 0;
  width: 90%;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  overflow: hidden
}

.topic-link-block .topic-link-content p:after {
  background-color: currentcolor;
  background-repeat: no-repeat;
  bottom: 0;
  content: "";
  display: inline-block;
  height: 1rem;
  left: auto;
  margin: auto;
  -webkit-mask-image: url('/images/chevron.svg');
  mask-image: url('/images/chevron.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transform: rotate(0deg);
  transition: transform .3s linear;
  width: 1rem
}

html[dir=rtl] .topic-link-block .topic-link-content p:after {
  left: 0;
  right: auto;
  transform: rotate(180deg)
}

.topic-link-block .background-image {
  height: auto;
  left: 0;
  position: absolute;
  top: 0;
  transform: scale(1);
  transition: transform .3s ease-in-out;
  width: 100%;
  z-index: 0
}

.topic-link-block .background-image img {
  height: auto;
  max-height: 12rem;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%
}

.topic-link-block .background-image:before {
  background-color: var(--grey-900);
  content: "";
  display: block;
  height: 100%;
  opacity: .5;
  position: absolute;
  width: 100%
}

.topic-link-block:hover .background-image {
  transform: scale(1.1)
}

.topic-link-block:hover p:after {
  transform: translateX(10px)
}

html[dir=rtl] .topic-link-block:hover p:after {
  transform: translateX(-10px) rotate(180deg)
}
