.ignore-categories-wrapper {
  margin-top: 10px;
}

.wp-block[data-type="planet4-blocks/articles"] {
  .article-list-item-meta {
    margin: 0;
  }

  .article-list-item-headline {
    margin: 4px 0;
  }

  .article-list-item-content {
    margin: 8px 0;
  }

  .article-load-more {
    &:hover,
    &:focus,
    &:active {
      background-color: rgba($white, .7);
      border-color: var(--p4-dark-green-800);
      color: var(--p4-dark-green-800);
      box-shadow: none;
    }
  }

  .articles-title-container {
    width: fit-content;
  }

  a,
  .article-list-item-image,
  .top-page-tags .tag-item {
    pointer-events: none;
    cursor: default;
  }

  .article-list-item-date,
  .article-list-item-author,
  .article-list-item-content {
    cursor: default;
  }
}
