.article-list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  --block-articles--article-- {
    margin-top: $sp-4;
  }

  @include medium-and-up {
    flex-direction: row;
  }

  &:first-of-type {
    margin-top: 0;

    @include medium-and-up {
      margin-top: 0;
    }
  }
}

.article-list-item-image-max-width {
  img {
    width: 100%;
    height: 190px;
    object-fit: cover;
    object-position: 50% 50%;
    margin-right: 16px;

    html[dir="rtl"] & {
      margin-right: 0;
      margin-left: 16px;
    }

    @include small-and-up {
      height: 310px;
    }

    @include medium-and-up {
      height: 170px;
    }

    @include large-and-up {
      height: 210px;
    }
  }
}

.article-list-item-image {
  a {
    display: block;
  }

  img {
    width: 100% !important;
    object-fit: cover;
  }

  @include medium-and-up {
    flex-basis: 30%;
  }
}

.article-list-item-body {
  margin-top: $sp-1;

  @include medium-and-up {
    margin-top: 0;
    flex-basis: 68%;
  }
}

.article-list-item-headline {
  --block-articles--article--headline-- {
    font-weight: 500;
    color: var(--color-text-body);
  }

  @include mobile-only {
    @include clamp-text(2);
  }
}

.article-list-item-meta {
  --block-articles--article--meta-- {
    color: var(--grey-600);
    font-family: var(--font-family-paragraph-secondary);
    font-size: var(--font-size-s--font-family-tertiary);
    margin: 0;

    &:hover {
      color: var(--grey-600);
    }
  }

  a {
    color: inherit;
  }
}

.article-list-item-author {
  font-weight: var(--font-weight-semibold);
}

.article-list-item-bullet {
  display: inline-block;
  padding: 0 $sp-x;
}

.article-list-item-content {
  --block-articles--article--content-- {
    font-size: var(--font-size-m--font-family-secondary);
  }
  margin: $sp-1 0;

  @include mobile-only {
    @include clamp-text(3);
  }

  @include large-and-up {
    width: 80%;
  }
}

.article-image-holder {
  background-image: repeating-linear-gradient(0deg, transparent -53%, rgba(157, 187, 190, 0.1) 100%, rgba(236, 241, 243, 1) 0);
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: auto;
  }

  @include small-and-up {
    img {
      max-height: 340px;
    }
  }
  @include medium-and-up {
    img {
      max-height: 138px;
    }
  }
  @include large-and-up {
    img {
      max-height: 186px;
    }
  }

  @include x-large-and-up {
    img {
      max-height: 222px;
    }
  }
}

.article-load-more {
  margin-top: $sp-4;
}

.article-list-item-tags .tag-wrap --block-articles--article--tags-- {
  display: inline-block;
}
