.post-content {
  color: $dark-shade-black;
  margin-bottom: 55px;

  .cover-card {
    width: auto;
    position: relative;

    @include medium-and-up {
      min-height: 365px;
      width: 290px;
      float: right;
      margin-left: 10px;
    }

    @include large-and-up {
      margin-left: 0;
    }

    @include x-large-and-up {
      width: 330px;
      min-height: 415px;
    }

    .cover-card-tag {
      font-family: $roboto;
    }
  }

  ul, ol {
    @include small-and-up {
      font-size: 1.1875rem;
    }

    @include medium-and-up {
      font-size: 1rem;
      margin-bottom: 20px;
    }

    @include x-large-and-up {
      font-size: 1.125rem;
    }

    li:not(:first-child) {
      padding-top: 10px;
    }
  }

  h2 {
    font-size: 1.375rem;
    line-height: 1.2;
    margin-bottom: 15px;
    padding-top: 8px;

    @include medium-and-up {
      font-size: 1.5rem;
      padding-top: 10px;
    }

    @include large-and-up {
      font-size: 1.75rem;
      margin-bottom: 20px;
    }

    @include x-large-and-up {
      font-size: 1.875rem;
      padding-top: 20px;
      margin-bottom: 20px;
      line-height: 1.2;
    }
  }

  p {
    line-height: 1.6;
    margin: 0 0 18px 0;
    overflow-wrap: break-word;
    word-wrap: break-word;

    @include small-and-up {
      font-size: 1.1875rem;
    }

    @include medium-and-up {
      font-size: 1rem;
      margin: 0 0 20px 0;
      line-height: 1.6;
    }

    @include x-large-and-up {
      font-size: 1.125rem;
    }

    iframe {
      width: 100%;
      height: 53vw;
      text-align: center;
      display: block;
      margin: 0 auto;
      border: none;
      overflow: hidden;

      @include small-and-up {
        height: 290px;
      }

      @include medium-and-up {
        height: 390px;
        padding: 0;
      }

      @include large-and-up {
        height: 350px;
      }

      @include x-large-and-up {
        height: 410px;
      }
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .alignleft {
    @include small-and-up {
      float: left;
      margin: 0 10px 10px 0;
      padding-top: 6px;
    }
  }

  .alignright {
    @include small-and-up {
      float: right;
      margin: 0 0 10px 10px;
      padding-top: 6px;
    }
  }

  .aligncenter {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  blockquote,
  blockquote > p {
    font-size: 1.5rem;
    line-height: 1.4;
    font-style: italic;
    margin: 15px 0;
    padding: 13px 0 16px 0;

    @include medium-and-up {
      font-size: 2.375rem;
    }

    @include large-and-up {
      max-width: 80%;
    }

    @include x-large-and-up {
      font-size: 2.5rem;
    }
  }

  cite {
    display: block;
    margin-top: 15px;
  }

  code {
    word-wrap: break-word;
  }

  dt {
    float: left;
    width: 20%;
    text-align: right;
    padding: .25em;
    clear: left;
  }

  dd {
    float: left;
    width: 80%;
    padding: .25em 0;
  }

  dl:after {
    content: "";
    display: table;
    clear: both;
  }

  .youtube-player {
    max-width: 100%;
  }

  .entry-content,
  .entry-title {
    word-wrap: break-word;
  }

  .entry-summary {
    @extend .post-content-lead;
  }

  .gallery {
    margin: 0 auto 18px;

    .gallery-icon img {
      width: 100%;
      height: auto;
    }

    .gallery-item {
      float: left;
      margin-top: 0;

      @include mobile-only {
        width: calc(50% - 10px);
      }

      .gallery-caption {
        display: none;
      }
    }

    figure {
      margin: .5rem .5rem .5rem 0;
    }

    .gallery-columns-2 .attachment-medium {
      max-width: 92%;
      height: auto;
    }

    .gallery-columns-4 .attachment-thumbnail {
      max-width: 84%;
      height: auto;
    }

    dl,
    dt {
      margin: 0;
    }

    br + br {
      display: none;
    }
  }

  .more-link {
    @extend .btn;
    @extend .btn-secondary;
    @extend .btn-large;
  }

  .page-links {
    a {
      @extend .btn;
      @extend .btn-secondary;
      @extend .btn-small;
    }
  }

  q {
    font-style: italic;
  }

  table {
    margin-bottom: 15px;
    font-family: $roboto;
    @include mobile-only {
      display: block;
      overflow: auto;
    }

    th,
    td {
      border: none;
    }

    th {
      background-color: $dark-blue;
      color: $white;
      height: 36px;
      font-size: 0.93rem;
      padding: 6px 20px;
      box-sizing: border-box;
    }

    td {
      min-height: 120px;
      font-size: 0.9rem;
      padding: 20px;
      vertical-align: top;

      @include mobile-only {
        min-width: 300px;
      }

      @include x-large-and-up {
        font-size: 1.125rem;
      }
    }

    tr:nth-child(odd) {
      background-color: $table-odd;
    }

    tr:nth-child(even) {
      background-color: $table-even;
    }
  }

  iframe.instagram-media,
  .twitter-tweet {
    width: 500px !important;
    max-width: 100%;
  }
}

.post-content-lead {

  @include large-and-up {
    max-width: 65%;
  }

  p:first-of-type {
    margin-top: 0;
  }
}

.post-details {
  line-height: 1.6;

  @include small-and-up {
    font-size: 1.1875rem;
  }

  @include medium-and-up {
    font-size: 1rem;
  }

  @include x-large-and-up {
    font-size: 1.125rem;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  h4 {
    padding: 20px 0 10px 0;
    font-weight: 700;
  }
}

.post-image,
.wp-caption {
  position: relative;
  display: inline-block;
  width: auto !important;
  max-width: 100%;
  margin-bottom: 18px;

  @include medium-and-up {
    margin-bottom: 22px;
    padding-top: 6px;
  }

  @include large-and-up {
    margin-bottom: 26px;
    padding-top: 10px;
  }

  @include x-large-and-up {
    margin-bottom: 30px;
    padding-top: 12px;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  @include medium-and-up {
    .image-credit {
      position: absolute;
      text-align: right;
      right: 10px;
      width: 100%;
      color: $white;
      z-index: 2;
    }
  }

  .image-desc {
    display: block;
  }

  figcaption {
    margin-top: 10px;
  }

  .wp-caption-text {
    font-size: 0.8125rem;
    margin: 0;
    line-height: 1.4;
    color: $white;
    font-family: $roboto;
    width: 100%;
    max-width: 100%;
    background: linear-gradient(210deg, transparentize($med-blue, .8) 0%, $med-blue 100%);
    padding: 10px 20px;

    @include medium-and-up {
      position: absolute;
      left: 0;
      bottom: 0;
      padding: 20px 30px;
    }

    @include large-and-up {
      padding: 20px 30px;
    }
  }
}
