.comments-block {
  margin-top: 0;
  padding: 40px 15px;
  border-top: 1px solid $blue;
  background-color: $comment-block;

  @include medium-and-up {
    padding: 50px 30px;
    margin-top: 0;
  }

  @include large-and-up {
    padding: 48px;
    max-width: 70%;
  }

  h3 {
    font-size: rem(16);
    margin-bottom: 16px;

    @include medium-and-up {
      margin-bottom: 22px;
    }

    @include large-and-up {
      margin-bottom: 18px;
    }

    @include x-large-and-up {
      margin-bottom: 16px;
    }

    &.comments-section-title {
      margin-top: 16px;
      margin-bottom: 0;
    }
  }
}

// Adds nesting on comments
@include comment-level;

.single-comment {
  margin-top: 16px;
  margin-bottom: 16px;
  padding-bottom: 32px;
  border-bottom: 1px solid $grey-20;
  font-size: rem(14);
  line-height: 1.5;

  &:last-of-type {
    border-bottom: 0;
  }

  @include medium-and-up {
    margin-top: 22px;
    margin-bottom: 22px;
    padding-bottom: 24px;
  }
}

.single-comment-text {
  font-size: rem(18);
  font-family: $roboto;
  font-weight: 300;
  margin: 20px 0;
  color: $grey-60;
}

.single-comment-meta {
  font-size: rem(14);
  font-weight: 500;
  color: $black;
  text-decoration: none;
  display: block;

  @include medium-and-up {
    font-weight: 400;
  }

  & > * {
    display: inline-block;
    margin-bottom: 0;

    &:first-child:after {
      content: "\2022";
      padding-left: 5px;

      @include medium-and-up {
        padding-left: 7px;
      }
    }
  }

  .comment-date {
    font-weight: 400;
    font-style: italic;
    color: $grey-60;

    @include medium-and-up {
      font-style: italic;
      color: $grey-60;
    }
  }

  .comment-reply-btn {
    clear: both;
    display: block;
    margin-top: 10px;
    width: 100%;
    padding: 0 55px;
    font-size: rem(15);

    @include medium-and-up {
      clear: none;
      display: inline-block;
      margin-top: -12px;
      width: auto;
      float: right;
    }
  }
}
