.single-post {
  .skewed-overlay {
    &:before {
      background: $grey-light;
    }

    mask-image: none;
    -webkit-mask-image: none;
  }

  .page-header {
    padding: 90px 0 20px;

    @include medium-and-up {
      padding: 104px 0 26px;
    }

    @include large-and-up {
      padding: 144px 0 30px;
    }

    @include x-large-and-up {
      padding: 144px 0 40px;
    }

    .page-header-title {
      max-width: 100%;
    }

    .page-header-background {
      opacity: .3;
    }

    h1 {
      color: $black;
      hyphens: none;
      line-height: 1.2;

      @include x-large-and-up {
        line-height: 1.1;
        font-size: 3.5rem;
        margin-bottom: 20px;
      }
    }

    .single-post-meta {
      color: $dark-shade-black;
      margin: 0 0 16px 0;
      font-size: 0.8125rem;
      font-weight: 300;
      font-family: $roboto;

      a {
        color: inherit;
      }

      span.separator {
        margin: 0 5px;
      }

      span.comment-link {
        cursor: pointer;

        img {
          width: 14px;
          margin-right: 3px;
        }

        .quantity {
          text-decoration: underline;
          @include large-and-up {
            text-decoration: none;
          }
        }

        .quantity:hover {
          text-decoration: underline;
        }

        .display-text {
          visibility: hidden;

          @include medium-and-up {
            visibility: visible;
          }
        }
      }

      @include medium-and-up {
        font-size: 0.875rem;
        font-weight: 300;
        color: $grey-60;
        margin: 0;
      }

      @include large-and-up {
        font-size: 0.9375rem;
        margin: -10px 0 0 0;
      }

      @include x-large-and-up {
        margin: 0;
        font-size: 1rem;
      }
    }

    .single-post-author,
    .single-post-time {
      font-style: italic;
      display: inline-block;
      margin: 0;
    }

    .single-post-author {
      margin-right: 20px;
      position: relative;

      html[dir="rtl"] & {
        margin-right: 0;
        margin-left: 20px;
      }

      &:after {
        content: "\2022";
        pointer-events: none;
        display: inline-block;
        position: absolute;
        right: -15px;
        top: 0;

        html[dir="rtl"] & {
          right: auto;
          left: -15px;
        }
      }
    }
  }
}
