@use "../base/mixins";
@use "../base/variables";

.block {
  display: inline-block;
  width: 100%;
  margin-top: variables.$sp-1;
  margin-bottom: variables.$sp-2;

  @include mixins.large-and-up {
    margin-top: variables.$sp-2;
    margin-bottom: variables.$sp-4;
  }
}

.block-header {
  margin-top: 0;
  margin-bottom: variables.$sp-2;

  @include mixins.large-and-up {
    margin-bottom: variables.$sp-4;
  }
}

.block-footer {
  margin-top: variables.$sp-1;
  margin-bottom: 0;

  @include mixins.large-and-up {
    margin-top: variables.$sp-2;
  }
}
