.wp-block-query-pagination {
  a,
  .page-numbers {
    color: $black;
    padding: $sp-1 $sp-1x;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
    font-weight: 500;
  }

  a {
    &:hover {
      text-decoration: none;
      background-color: $grey-10;
      transition-property: background-color, border-color;
      transition-duration: 250ms;
      transition-timing-function: linear;
    }
  }

  font-family: $roboto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: $sp-6;

  @include large-and-up {
    justify-content: center;
  }

  &.is-empty {
    display: none;
  }
}

.wp-block-query-pagination-previous,
.wp-block-query-pagination-next {
  margin: 0 !important;

  &.disabled {
    pointer-events: none;
    opacity: .5;
  }
}

.wp-block-query-pagination-previous:before,
.wp-block-query-pagination-next:after {
  content: "";
  height: 12px;
  width: 8px;
  display: inline-block;
  mask-image: url("../../images/chevron.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  background-repeat: no-repeat;
  background-color: currentColor;
  color: $black;
}

.wp-block-query-pagination-previous {
  &:before {
    margin-inline-end: 6px;
    transform: rotate(-180deg);

    html[dir="rtl"] & {
      transform: rotate(0);
    }
  }
}

.wp-block-query-pagination-next {
  &:after {
    margin-inline-start: 6px;

    html[dir="rtl"] & {
      transform: rotate(-180deg);
    }
  }
}

.wp-block-query-pagination-numbers {
  margin: 0 !important;

  .page-numbers.current {
    border-color: $black;
  }

  @include large-and-up {
    margin: 0 $sp-5 0 !important;
  }
}

.wp-block-post-terms {
  font-weight: 500;
}

.taxonomy-post_tag a {
  display: inline-block;

  &:before {
    content: "#";
    speak: none;
  }
}

.wp-block-post {
  margin-bottom: $sp-4;

  figure {
    margin-bottom: 0;
  }
}

.wp-block-post-excerpt__excerpt {
  font-size: $font-size-sm;
}
