.wp-block-query-pagination {
  a {
    color: black;
    font-weight: bold;
  }

  font-family: $roboto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-bottom: 16px;
}

.wp-block-query-pagination-next,
.page-numbers {
  border-radius: 4px;
  padding: $sp-1 $sp-1x;
  background: $grey-20;
  border: 1px solid $grey-20;

  &:hover {
    text-decoration: none;
  }
}

.page-numbers {
  &:not(:last-child) {
    margin-inline-end: 8px;
  }

  &.current {
    background: transparent;
    border-color: black;
  }
}

.wp-block-post-terms {
  font-weight: 500;
}

.taxonomy-post_tag a {
  display: inline-block;

  &:before {
    content: "#";
    speak: none;
  }
}

.wp-block-post {
  margin-bottom: 32px;

  figure {
    margin-bottom: 0;
  }
}

.wp-block-post-excerpt__excerpt {
  font-size: 1rem;
}
