.top-page-tags {
  font-family: var(--font-family-tertiary);
  font-size: var(--font-size-m--font-family-tertiary);
  margin-bottom: $sp-1;

  .tag-wrap {
    display: inline;
    position: relative;
  }

  .category-separator,
  .tag-wrap-bullet {
    pointer-events: none;
    font-weight: 400;
    margin-inline-end: $sp-1;
    color: var(--gp-green-800);
  }

  .tag-wrap-bullet {
    margin-inline-start: $sp-1;
  }

  .tag-item {
    color: var(--gp-green-800);
    font-weight: var(--font-weight-semibold);
    display: inline-block;

    &:visited {
      color: var(--gp-green-800);
    }

    &:not(:only-child):not(:last-child):not(.page-type) {
      margin-inline-end: $sp-1;
    }

    &.back-to-news::before {
      content: "";
      pointer-events: none;
      margin-inline-end: $sp-1;
      height: 12px;
      width: 7px;
      mask-image: url("../../images/chevron.svg");
      mask-repeat: no-repeat;
      mask-size: contain;
      mask-position: center;
      background-repeat: no-repeat;
      background-color: var(--gp-green-800);
      display: inline-block;
      rotate: 180deg;

      html[dir="rtl"] & {
        rotate: 0deg;
      }
    }
  }

  .main-tag-chevron {
    pointer-events: none;
    margin: 0 $sp-1;
    height: 12px;
    width: 7px;
    mask-image: url("../../images/chevron.svg");
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    background-repeat: no-repeat;
    background-color: var(--gp-green-800);
    display: inline-block;

    html[dir="rtl"] & {
      rotate: 180deg;
    }
  }
}
