.top-page-tags {
  font-size: 16px;
  margin-bottom: $space-xs;
  font-family: $roboto;

  .tag-wrap {
    display: inline;
    position: relative;
  }

  .tag-wrap-bullet {
    pointer-events: none;
    font-weight: 400;
    margin: 0 8px;
    color: $link-color;
  }

  .tag-item {
    _-- {
      color: $link-color;
      font-weight: 500;
    }
    display: inline-block;
  }

  .tag-item--main {
    &.page-type {
      text-transform: uppercase;

      html[dir="rtl"] & {
        text-transform: lowercase;
      }
    }
  }
}
