.top-page-tags {
  font-size: $font-size-xxs;
  margin-bottom: $space-xs;
  font-family: $roboto;

  @include medium-and-up {
    font-size: $font-size-sm;
  }

  a {
    font-size: $font-size-xxs;

    @include medium-and-up {
      font-size: $font-size-sm;
    }
  }

  .tag-wrap {
    display: inline;
    position: relative;
  }

  .tag-wrap-bullet {
    pointer-events: none;
    display: inline-block;
    font-weight: 400;
    margin-inline-start: -12px;
    margin-inline-end: 8px;
    color: $link-color;
  }

  .tag-item {
    _-- {
      color: $link-color;
      font-weight: 400;

      &:visited {
        color: $link-color-visited;
      }
    }
    display: inline-block;

    @include x-large-and-up {
      font-size: $font-size-sm;
    }

    &:not(:only-child):not(:last-child) {
      margin-inline-end: 7px;

      &.page-type {
        margin-inline-end: 20px;
      }
    }
  }

  .tag-item--main {
    _-- {
      font-weight: 500;
    }
  }

  .issues {
    margin-inline-end: 20px;
  }
}
