.cookie-notice {
  z-index: 100;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: $cookie-bkg url("../../images/cookie-right-gradient-sm.png") no-repeat right;
  min-height: 80px;
  flex-direction: column;
  padding: 36px;
  background-size: cover;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;

  &.shown {
    opacity: 1;
    visibility: visible;
  }

  @include medium-and-up {
    flex-direction: row;
    padding: 24px 36px;
    background-size: auto;
  }

  > div {
    font-size: $font-size-xxs;
    margin-bottom: 10px;
    font-weight: 500;
    color: $dark-blue;
    text-align: left;
    font-family: $roboto;
    line-height: 1.5rem;
    width: 100%;
    padding-right: $space-md;
    display: block;

    html[dir="rtl"] & {
      padding-right: 0;
      padding-left: $space-md;
      text-align: right;
    }

    @include medium-and-up {
      font-size: $font-size-xs;
      margin-bottom: 0;
      vertical-align: middle;
    }
    @include large-and-up {
      font-size: $font-size-xxs;
    }
    @include x-large-and-up {
      font-size: $font-size-xxs;
    }
  }

  a {
    color: $dark-blue;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  .btn {
    height: 32px;
    line-height: 32px;
    font-size: $font-size-xs;
    width: 100%;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 0;

    @include medium-and-up {
      width: 150px;
    }
  }
}
