.cookies-settings {
  position: relative;

  p {
    font-size: 12px;
    line-height: 1.5;
  }

  @include medium-and-up {
    width: 434px;
  }

  @include large-and-up {
    p {
      font-size: 14px;
    }
  }
}

.close-cookies-settings {
  background-color: $grey-80;
  cursor: pointer;
  height: 16px;
  width: 16px;
  mask: url("../../images/cross.svg");
  position: absolute;
  top: -$sp-1;
  right: -$sp-1;

  html[dir="rtl"] & {
    right: auto;
    left: -$sp-1;
  }

  @include medium-and-up {
    right: -$sp-2;

    html[dir="rtl"] & {
      left: -$sp-2;
    }
  }
}

.cookies-settings-header h4 {
  font-size: 16px;
  margin-bottom: $sp-1;

  @include large-and-up {
    font-size: 20px;
  }
}

.cookies-settings-details {
  max-height: 40vh;
  overflow-y: auto;
  overflow-x: hidden;
  width: calc(100% + 2 * #{$sp-3});
  margin-inline-start: -$sp-3;
  padding: $sp-2 $sp-3 0 $sp-3;
  border-top: solid 1px $grey-10;
  border-bottom: solid 1px $grey-10;

  .custom-control-description,
  .custom-control input[type="checkbox"] ~ .custom-control-description {
    font-weight: 700;
    font-size: 14px;
    margin-bottom: $sp-2;
  }

  @include medium-and-up {
    max-height: 300px;
    width: calc(100% + 2 * #{$sp-4});
    margin-inline-start: -$sp-4;
    padding-left: $sp-4;
    padding-right: $sp-4;
  }
}

.always-enabled {
  background: $grey-80;
  color: white;
  font-weight: 700;
  border-radius: 4px;
  padding: $sp-x;
  font-size: 12px;
  margin-inline-start: $sp-1;
}

.cookies-settings-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: $sp-3;

  .btn {
    width: calc(50% - 8px);
    line-height: 2.4;
    font-size: 14px;
    padding: 0;

    @include medium-and-up {
      padding: 0 $sp-2;
      width: auto;
    }
  }

  &.with-reject-all {
    flex-wrap: wrap;

    .btn-primary {
      width: 100%;
      margin-top: $sp-2;
    }

    @include medium-and-up {
      justify-content: flex-start;
      flex-wrap: nowrap;

      .btn-secondary {
        width: 50%;

        &:first-child {
          margin-inline-end: $sp-2;
        }
      }

      .btn-primary {
        flex-grow: 1;
        margin-top: 0;
        margin-inline-start: $sp-8;
      }
    }
  }
}
