@mixin slide-from($direction, $margin) {
  $animation-name: unique-id() !global;

  @keyframes #{$animation-name} {
    0% {
      #{$direction}: -100%;
    }

    100% {
      #{$direction}: $margin;
    }
  }

  &.shown {
    animation: 1s $animation-name;
  }
}

.cookie-notice.new-design {
  z-index: 100;
  position: fixed;
  width: 100vw;
  background: white;
  padding: 24px 24px 32px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
  bottom: 0;
  @include slide-from(bottom, 0);

  &.shown {
    opacity: 1;
    visibility: visible;
  }

  > div {
    font-size: 14px;
    margin-bottom: 24px;
    font-weight: 400;
    color: $grey-80;
    font-family: $roboto;
    line-height: 1.5rem;
    width: 100%;
  }

  .btn {
    width: 100%;
    line-height: 2.4;
  }

  @include medium-and-up {
    width: 344px;
    bottom: 16px;
    right: 16px;
    left: auto;
    border-radius: 4px;
    padding: 24px 32px 32px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    @include slide-from(right, 16px);

    html[dir="rtl"] & {
      right: auto;
      left: 16px;
      @include slide-from(left, 16px);
    }
  }

  @include large-and-up {
    bottom: 24px;
    right: 24px;
    @include slide-from(right, 24px);

    html[dir="rtl"] & {
      left: 24px;
      @include slide-from(left, 24px);
    }
  }
}
