.cookies-settings {
  position: relative;

  p {
    font-family: var(--font-family-paragraph-secondary);
    font-size: var(--font-size-xs--font-family-tertiary);
    line-height: var(--line-height-s--font-family-tertiary);
  }

  @include medium-and-up {
    width: 434px;
  }

  @include large-and-up {
    p {
      font-size: var(--font-size-xs--font-family-tertiary);
    }
  }
}

.close-cookies-settings {
  background-color: var(--grey-900);
  cursor: pointer;
  height: 16px;
  width: 16px;
  mask: url("../../images/cross.svg");
  position: absolute;
  top: -$sp-1;
  right: -$sp-1;

  html[dir="rtl"] & {
    right: auto;
    left: -$sp-1;
  }

  @include medium-and-up {
    right: -$sp-2;

    html[dir="rtl"] & {
      left: -$sp-2;
    }
  }
}

.cookies-settings-header h4 {
  margin-bottom: $sp-1;
  font-family: var(--font-family-paragraph-secondary);
  font-size: 16px;

  @include large-and-up {
    font-size: 20px;
  }
}

.cookies-settings-details {
  max-height: 40vh;
  overflow-y: scroll;
  overflow-x: hidden;
  width: calc(100% + 2 * #{$sp-3});
  margin-inline-start: -$sp-3;
  padding: $sp-2 $sp-3 0 $sp-3;
  border-top: solid 1px var(--grey-200);
  border-bottom: solid 1px var(--grey-200);

  .custom-control-description,
  .custom-control input[type="checkbox"] ~ .custom-control-description {
    font-size: var(--font-size-s--font-family-tertiary);
    font-weight: var(--font-weight-bold);
    margin-bottom: $sp-2;
  }

  @include medium-and-up {
    max-height: 300px;
    width: calc(100% + 2 * #{$sp-4});
    margin-inline-start: -$sp-4;
    padding-left: $sp-4;
    padding-right: $sp-4;
  }
}

.always-enabled {
  background: var(--grey-900);
  color: white;
  font-weight: 700;
  border-radius: 4px;
  padding: $sp-x;
  font-size: 12px;
  margin-inline-start: $sp-1;
}

.cookies-settings-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: $sp-3;

  .btn {
    width: calc(50% - 8px);
    font-size: 14px;

    @include medium-and-up {
      width: auto;
    }
  }

  &.with-reject-all {
    flex-wrap: wrap;

    .btn-primary {
      width: 100%;
      margin-top: $sp-2;
    }

    @include medium-and-up {
      justify-content: flex-start;
      flex-wrap: nowrap;

      .btn-secondary {
        margin-inline-end: $sp-2;
      }

      .btn-primary {
        flex-grow: 1;
        width: auto;
        margin-top: 0;
      }
    }
  }
}
