@mixin slide-from($direction, $margin) {
  $animation-name: unique-id() !global;

  @keyframes #{$animation-name} {
    0% {
      #{$direction}: -100%;
    }

    100% {
      #{$direction}: $margin;
    }
  }

  &.shown {
    animation: 1s $animation-name;
  }
}

.cookie-notice {
  font-family: $roboto;
  z-index: 100;
  position: fixed;
  width: 100vw;
  background: white;
  padding: $sp-3;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
  bottom: 0;
  color: $grey-80;
  @include slide-from(bottom, 0);

  &.shown {
    opacity: 1;
    visibility: visible;
  }

  @include medium-and-up {
    width: auto;
    bottom: $sp-2;
    right: $sp-2;
    left: auto;
    border-radius: 4px;
    padding: $sp-3 $sp-4;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    @include slide-from(right, $sp-2);

    html[dir="rtl"] & {
      right: auto;
      left: $sp-2;
      @include slide-from(left, $sp-2);
    }
  }

  @include large-and-up {
    bottom: $sp-3;
    right: $sp-3;
    @include slide-from(right, $sp-3);

    html[dir="rtl"] & {
      left: $sp-3;
      @include slide-from(left, $sp-3);
    }
  }
}

.cookies-intro {
  @include medium-and-up {
    width: 308px;
  }
}

.cookies-text {
  font-size: 14px;
  margin-bottom: $sp-3;
  font-weight: 400;
  color: $grey-80;
  line-height: 1.5rem;
  width: 100%;
}

.cookies-buttons {
  .btn {
    width: 100%;
    line-height: 2.4;
    font-size: 14px;
  }

  .btn-primary {
    margin-top: $sp-2;
  }

  @include medium-and-up {
    display: flex;
    justify-content: space-between;

    .btn-primary:only-child {
      width: 100%;
    }

    .btn-primary,
    .btn-secondary {
      width: calc(50% - #{$sp-1});
      margin-top: 0;
    }
  }
}

.btn-discrete {
  display: block;
  background: none;
  border: none;
  color: $grey-40;
  margin: $sp-2 auto 0 auto;
  line-height: 2.4;
  font-size: 14px;
  padding: 0;

  &:hover {
    text-decoration: underline;
  }
}
