
#country-selector {
  _-- {
    color: inherit;
    font-size: var(--font-size-m--font-family-tertiary);
  }
  margin-bottom: 24px;
  text-align: start;
  width: 100%;

  a _-- {
    color: inherit;
  }

  button:hover {
    text-decoration: var(--link--hover--text-decoration);
  }

  button:focus {
    border-radius: var(--link--focus--border-radius, 4px);
    outline: var(--link--focus--border, 2px solid rgba($white, 0.6));
    outline-offset: 0;
  }

  button:focus:not(:focus-visible) {
    outline: 0;
  }

  &.open {
    .country-selector-toggle-container {
      transition-delay: 0s;
    }

    .country-control-toggle::after {
      transform: rotate(-0.25turn);
    }

    .countries-list {
      max-height: 5000px;
      transition: max-height 1s linear 0s;
    }
  }
}

.country-selector-toggle-container {
  border-bottom: 1px solid rgba($white, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 24px;
  transition: border 0s linear 0.5s;
  vertical-align: middle;
  width: 100%;
}

.country-control-toggle {
  align-self: flex-start;
  background: transparent;
  border: none;
  color: var(--white);
  cursor: pointer;
  text-align: start;
  white-space: nowrap;
  width: 100%;

  &::before,
  &::after {
    background-color: var(--white);
    content: "";
    display: inline-block;
    width: 16px;
  }

  &::before {
    height: 20px;
    margin-inline-end: $sp-1x;
    mask: url("../../images/gp-g-logo.png") 0 0/16px 20px no-repeat;
    vertical-align: middle;
  }

  &::after {
    height: 12px;
    margin-inline-start: $sp-1x;
    mask: url("../../images/chevron.svg") 0 0/16px 12px no-repeat;
    transform: rotate(0.25turn);
    transition: transform 300ms cubic-bezier(.86, 0, .07, 1);
  }
}

.countries-list {
  font-weight: var(--font-weight-semibold);
  background: var(--color-background-country_list_block);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s cubic-bezier(0, 1.04, .38, .37) 0s;
}

.countries-list .container {
  padding: 24px 24px $sp-4 16px;

  @include medium-and-up {
    padding: 24px 0 $sp-4;
  }
}

.countries {
  column-count: 1;
  list-style: none;
  margin: 0;
  padding-inline-start: $sp-4;

  @include medium-and-up {
    column-count: 3;
  }

  li {
    font-size: var(--font-size-m--font-family-tertiary);
  }

  .international {
    margin: 0;
    padding: 0 0 $sp-4 0;
  }

  .lang-list {
    _-- {
      font-weight: 400;
      line-height: 24px;
    }
    list-style: none;
    padding: $sp-x 0 0 0;

    @include medium-and-up {
      margin-inline-end: $sp-4;
    }
  }

  .lang-list > li {
    _-- {
      line-height: 24px;
    }
    font-size: var(--font-size-s--font-family-tertiary);
    display: inline-block;
  }
}

.country-group {
  .initial {
    _-- {
      font-size: $font-size-xxxs;
      font-weight: 700;
      line-height: 20px;
    }
    color: inherit;
    margin-inline-start: -$sp-4;
    opacity: 0.5;
    position: absolute;

    html[dir="rtl"] & {
      text-transform: lowercase;
    }
  }

  > ul {
    padding-inline-start: 0;
  }

  > ul > li {
    _-- {
      line-height: 20px;
    }
    display: inline-block;
    padding-bottom: 16px;
    width: 100%;
  }
}

.country-control-close {
  background-color: var(--white);
  background-repeat: no-repeat;
  border: none;
  display: block;
  float: right;
  height: 16px;
  mask: url("../../images/cross.svg") 50% 50%/16px 16px no-repeat;
  width: 16px;

  html[dir="rtl"] & {
    float: left;
  }
}
