.site-footer {
  --footer-- {
    font-family: $roboto;
    background: $dark-blue;
  }
  padding: 45px 0 $n25;
  position: relative;
  z-index: 2;
  text-align: center;
  transition: margin 1s;
  clear: both;
  line-height: 0;

  @include medium-and-up {
    padding: $n25 0 $n20;
  }

  @include large-and-up {
    padding: 55px 0 $n25;
  }

  a --footer--links-- {
    color: inherit;

    &:hover {
      color: $white;
    }
  }

  li {
    line-height: 1;
  }
}

.footer-social-media {
  _-- {
    color: $grey-20;
  }
  font-size: $font-size-xl;
  margin: auto;
  text-align: center;
  width: max-content;
  margin-bottom: 32px;
  padding: 0;

  .icon {
    width: 2rem;
    height: 2rem;
  }

  @include small-and-up {
    font-size: $font-size-xxxl;
  }

  @supports (justify-content: space-between) {
    & {
      display: flex;
      justify-content: space-between;
    }
  }

  li {
    display: inline-block;
    font-size: $font-size-xl;

    &:not(:last-child) {
      margin-inline-end: 16px;
    }
  }

  a {
    --footer-social-media--link-- {
      transition: color 100ms linear;

      &:hover {
        color: $white;
      }
    }
  }
}

.footer-links,
.footer-links-secondary {
  li {
    line-height: 2rem;
    @include medium-and-up {
      display: inline-block;

      &:after {
        content: "\002F";
        display: inline-block;
        margin: 0 16px;
      }

      &:last-of-type:after {
        display: none;
      }
    }

    @include large-and-up {
      &:after {
        margin: 0 24px 0;
      }
    }
  }
}

.footer-links {
  --footer-menu-- {
    color: $white;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 16px;
  }

  li {
    font-size: $font-size-md;
  }

  @include medium-and-up {
    font-size: $font-size-sm;
    margin-bottom: 16px;
  }

  @include large-and-up {
    font-size: $font-size-md;
  }
}

.footer-links-secondary {
  --footer-menu-secondary-- {
    color: $grey-10;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  @include medium-and-up {
    font-size: $font-size-xxs;
  }

  @include large-and-up {
    font-size: $font-size-sm;
  }
}

.copyright-text {
  --footer--copyright-- {
    color: $grey-10;
  }
  font: $font-size-xxs;
  line-height: 1.3;
  margin-left: auto;
  margin-right: auto;
  word-break: keep-all;
  width: 80%;
  padding: 0;

  @include medium-and-up {
    line-height: 1;
  }

  i {
    display: block;
    font-size: $font-size-xl;
    margin-bottom: 10px;

    @include medium-and-up {
      display: inline-block;
      position: relative;
      bottom: -.15em;
      margin-right: 5px;
    }
  }

  a --footer--copyright--link-- {
    color: $white;
  }
}

.gp-year {
  --footer--copyright--year-- {
    color: $white;
  }
  font-size: $font-size-xxs;
  text-transform: none;

  .icon {
    top: -.125em;
  }

  @include medium-and-up {
    font-size: $font-size-xxs;
  }

  @include medium-and-up {
    margin-top: 15px;
  }
}

.site-footer_min {
  padding: 40px 0;
  line-height: 1;

  .footer-social-media {
    font-size: $font-size-xl;
    margin: 0 auto $space-md auto;
    text-align: center;
    width: max-content;

    @supports (justify-content: space-between) {
      & {
        display: flex;
        justify-content: space-between;
      }
    }

    li {
      display: inline-block;
      margin: 0 16px 0 0;
    }

    a {
      transition: color 100ms linear;
    }

    .list-unstyled {
      width: 200px;
    }
  }

  .gp-year {
    font-size: $font-size-xxs;
    font-family: $lora;
    margin: 40px 0 30px 0;
  }

  .icon _-- {
    fill: $white;
  }
}
