.site-footer {
  _-- {
    font-family: var(--font-family-paragraph-secondary);
    background: var(--color-background-footer);
    color: var(--white);
    line-height: 0;
  }
  content-visibility: auto;
  position: relative;
  z-index: 2;
  text-align: center;
  transition: margin 1s;
  padding-top: 24px;
  clear: both;

  a _-- {
    color: var(--white);

    &:visited {
      color: var(--white);
    }

    &:hover {
      color: var(--white);
    }

    &:active {
      color: var(--white);
    }
  }

  .icon _-- {
    color: inherit;

    &:hover {
      color: inherit;
    }
  }

  li {
    line-height: 1;
  }
}

.footer-menu {
  width: 100%;
  margin-bottom: 24px;

  ul {
    width: 100%;
    text-align: start;
    column-count: 1;

    @include medium-and-up {
      font-size: $font-size-md;
      column-count: 3;
    }

    @include large-and-up {
      column-count: 2;
    }
  }

  li {
    _-- {
      font-size: var(--font-size-m--font-family-tertiary);
      font-weight: var(--font-weight-semibold);
      line-height: var(--line-height-m--font-family-tertiary);
    }

    &:not(:last-child) {
      margin-bottom: 24px;
    }

    a {
      font-family: var(--font-family-paragraph-secondary);
    }
  }
}

.site-footer .copyright {
  font-size: $font-size-xxs;
  background: var(--color-background-copyright_block);
  color: var(--white);
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: left;

  .icon {
    _-- {
      color: inherit;
    }

    margin-right: 4px;
    vertical-align: initial;
  }

  a _-- {
    color: var(--grey-200);

    &:hover {
      color: var(--grey-200);
    }
  }

  span {
    _-- {
      font-size: var(--font-size-xs--font-family-tertiary);
      line-height: var(--line-height-xs--font-family-tertiary);
    }
    word-break: keep-all;
    width: auto;
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }

    @include x-large-and-up {
      margin-bottom: 0;

      &:not(:last-of-type):after {
        content: "\007C";
        display: inline-block;
        margin: 0 14px;
      }
    }
  }
}

.site-footer--minimal {
  .copyright .container {
    @include large-and-up {
      justify-content: center;
    }
  }
}
