.custom-control {
  &:has(> input[type="checkbox"]) {
    @include custom-checkbox;
  }

  input[type="radio"] {
    position: absolute;
    pointer-events: none;
    opacity: 0;

    &:focus:focus-visible ~ label:before,
    &:focus:focus-visible ~ .custom-control-description:before {
      @include focus-styles;
    }

    &:not(:disabled) ~ .custom-control-description:hover:before,
    &:not(:disabled) ~ label:hover:before {
      border-color: var(--grey-900);
    }

    & ~ .custom-control-description,
    & ~ label {
      _-- {
        font-size: $font-size-sm;
        line-height: 1.25rem;
      }
      font-family: var(--font-family-paragraph-secondary);
      position: relative;
      cursor: pointer;
      padding-inline-start: $sp-4x;

      a {
        color: inherit;
        font-weight: bold;
      }

      &:before {
        content: "";
        width: 20px;
        height: 20px;
        background: var(--white);
        border: 1px solid var(--grey-500);
        border-radius: 50%;
        left: 0;
        position: absolute;
        top: calc((100% - $sp-2x) / 2);

        html[dir="rtl"] & {
          right: 0;
          left: auto;
        }
      }
    }

    &:checked ~ .custom-control-description:before,
    &:checked ~ label:before {
      background: var(--grey-900);
      box-shadow: inset 0 0 0 2px var(--white);
      border-color: var(--grey-900);
    }
  }
}

.form-control,
.form-select,
.ginput_container_select select,
.name_prefix_select select,
.gfield_time_ampm select,
.ginput_address_country select,
.gfield input:not([type="file"]),
.gfield textarea,
.ginput_container_multiselect select {
  --form-elements-- {
    font-family: var(--font-family-tertiary);
    font-size: var(--font-size-m--font-family-tertiary);
  }
  border-radius: 4px;
  background-color: var(--white);
  border: 1px solid var(--grey-500);
  color: var(--color-text-body);
  padding: 0 $sp-2;

  &::placeholder,
  &::-webkit-input-placeholder,
  &::-ms-input-placeholder {
    color: var(--color-text-body);
  }

  &:disabled {
    opacity: 0.5;
  }

  &:not(:disabled):hover {
    border-color: var(--grey-600);
  }

  &:focus {
    box-shadow: 0 0 0 2px rgba(0, 109, 253, 0.4);
    color: var(--color-text-body);
    border-color: transparent;
    outline: 0;
  }
}

.ginput_container {
  &:has(> input[type="checkbox"]) {
    @include custom-checkbox;
  }
}

input[type="text"].form-control,
input[type="email"].form-control {
  height: auto;
  padding: 11px $sp-2;
}

.form-select {
  height: $sp-6;
  padding-inline-end: $sp-5;

  html[dir="rtl"] & {
    background-position: left 0.75rem center;
  }

  &:invalid {
    color: var(--grey-600);
  }

  option[value=""][disabled] {
    display: none;
  }
}

textarea.form-control {
  padding: $sp-1x $sp-2;
  resize: none;
}

.form-group {
  margin-bottom: 1rem;

  &.animated-label {
    position: relative;

    label {
      font-size: var(--font-size-xs--font-family-tertiary);
      font-family: var(--font-family-paragraph-secondary);
      font-weight: var(--font-weight-regular);
      pointer-events: none;
      position: absolute;
      left: 0;
      top: $sp-2;
      color: var(--grey-600);
      padding-inline-start: $sp-2;
      opacity: 0;
      transition: all .3s ease;
      margin-bottom: 0;
    }

    .form-control:not(:placeholder-shown) {
      padding: 18px $sp-2 $sp-x $sp-2;

      & ~ label {
        transform: translateY(-10px);
        opacity: 1;
      }
    }
  }
}

input,
select {
  &.is-invalid {
    border-color: var(--p4-action-yellow-600) !important;
    background: var(--white);
    background-image: none !important;

    &:focus {
      border-color: var(--p4-action-yellow-600);
    }

    ~ .invalid-feedback {
      display: block;
    }
  }

  ~ .invalid-feedback {
    --invalid-feedback-- {
      font-family: var(--font-family-primary);
      font-size: 12px;
      font-weight: 500;
    }
    background: var(--p4-action-yellow-600);
    color: white;
    border-radius: 4px;
    padding: 6px $sp-1x;
    width: fit-content;
    position: relative;
    pointer-events: none;
    margin-top: 6px;

    &:after {
      bottom: 100%;
      border: solid transparent;
      content: "";
      height: 0;
      width: 0;
      position: absolute;
      border-bottom-color: var(--p4-action-yellow-600);
      border-width: 5px;
      right: auto;
      left: $sp-2;

      html[dir="rtl"] & {
        left: auto;
        right: $sp-2;
      }
    }
  }
}
