.custom-control {
  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;

    &:not(:disabled) ~ .custom-control-description:hover:before {
      border-color: $grey-80;
    }

    & ~ .custom-control-description {
      position: relative;
      cursor: pointer;
      font-family: $roboto;
      font-size: $font-size-xxxs;
      line-height: 1rem;
      color: $grey-80;
      display: inline-block;
      padding-inline-start: 36px;

      a {
        color: $grey-80;
        font-weight: bold;
      }

      &:before {
        content: "";
        width: 20px;
        height: 20px;
        background: $white;
        border: 1px solid $grey-20;
        border-radius: 2px;
        left: 0;
        position: absolute;
        top: calc((100% - 20px) / 2);

        html[dir="rtl"] & {
          right: 0;
          left: auto;
        }
      }
    }

    &:checked ~ .custom-control-description {
      &:before {
        border-color: $grey-80;
      }

      &:after {
        content: "";
        position: absolute;
        transform: rotate(-45deg) scale(-1, 1);
        border-bottom: 2px solid $grey-80;
        border-right: 2px solid $grey-80;
        top: calc(((100% - 20px) / 2) + 5px);
        left: 4px;
        height: 8px;
        width: 12px;

        html[dir="rtl"] & {
          left: auto;
          right: 4px;
        }
      }
    }

    &:disabled ~ .custom-control-description {
      cursor: auto;

      &:before {
        opacity: 0.5;
      }
    }
  }

  input[type="radio"] {
    position: absolute;
    pointer-events: none;
    opacity: 0;

    &:not(:disabled) ~ .custom-control-description:hover:before {
      border-color: $grey-80;
    }

    & ~ .custom-control-description {
      position: relative;
      cursor: pointer;
      font-family: $roboto;
      font-size: $font-size-sm;
      line-height: 1.25rem;
      color: $grey-80;
      padding-inline-start: 36px;

      a {
        color: $grey-80;
        font-weight: bold;
      }

      &:before {
        content: "";
        width: 20px;
        height: 20px;
        background: $white;
        border: 1px solid $grey-20;
        border-radius: 50%;
        left: 0;
        position: absolute;
        top: calc((100% - 20px) / 2);

        html[dir="rtl"] & {
          right: 0;
          left: auto;
        }
      }
    }

    &:checked ~ .custom-control-description:before {
      background: $grey-80;
      box-shadow: inset 0 0 0 2px $white;
      border-color: $grey-80;
    }
  }
}

.form-control,
.form-select {
  border-radius: 4px;
  font-family: $roboto;
  background-color: $white;
  border: 1px solid $grey-20;
  color: $grey-80;
  padding: 0 16px;
  font-size: $font-size-sm;

  &::placeholder,
  &::-webkit-input-placeholder,
  &::-ms-input-placeholder {
    color: $grey-40;
  }

  &:hover {
    border-color: $grey-40;
  }

  &:focus {
    box-shadow: 0 0 0 2px rgba(0, 109, 253, 0.4);
    color: $grey-80;
    border-color: transparent;
  }
}

input[type="text"].form-control,
input[type="email"].form-control {
  height: auto;
  padding: 11px 16px;
}

.form-select {
  height: 48px;

  html[dir="rtl"] & {
    background-position: left 0.75rem center;
  }

  &:invalid {
    color: $grey-40;
  }

  option[value=""][disabled] {
    display: none;
  }
}

textarea.form-control {
  padding: 12px 16px;
  resize: none;
}

.form-group {
  margin-bottom: 1rem;

  &.animated-label {
    position: relative;

    label {
      position: absolute;
      left: 0;
      top: 16px;
      font-weight: 500;
      color: $grey-40;
      padding-inline-start: 16px;
      font-size: 11px;
      font-family: $roboto;
      opacity: 0;
      transition: all .3s ease;
      margin-bottom: 0;
    }

    .form-control:not(:placeholder-shown) {
      padding: 18px 16px 4px 16px;

      & ~ label {
        transform: translateY(-10px);
        opacity: 1;
      }
    }
  }
}

input,
select {
  &.is-invalid {
    border-color: $dark-orange !important;
    background: $white;
    background-image: none !important;

    &:focus {
      border-color: $dark-orange;
    }

    ~ .invalid-feedback {
      display: block;
    }
  }

  ~ .invalid-feedback {
    background: $dark-orange;
    color: white;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
    padding: 6px 12px;
    width: fit-content;
    position: relative;
    pointer-events: none;
    margin-top: 6px;
    font-family: $roboto;

    &:after {
      bottom: 100%;
      border: solid transparent;
      content: "";
      height: 0;
      width: 0;
      position: absolute;
      border-bottom-color: $dark-orange;
      border-width: 5px;
      right: auto;
      left: 16px;

      html[dir="rtl"] & {
        left: auto;
        right: 16px;
      }
    }
  }
}
