@import "../base/tokens";
@import "../base/colors";
@import "../base/variables";
@import "../base/mixins";
@import "../base/fonts";
@import "../base/typography";

.gform_wrapper {
  font-family: var(--font-family-paragraph-secondary);

  &.gform_validation_error .gform_validation_errors {
    color: var(--p4-action-yellow-600);
    background: var(--white);
    border-color: var(--p4-action-yellow-600);
    box-shadow: none;
    width: fit-content;

    > h2 {
      color: var(--p4-action-yellow-600);
    }
  }

  @include large-and-up {
    max-width: 600px;
  }

  @include x-large-and-up {
    max-width: 800px;
  }
}

.gfield {
  select {
    appearance: none;
    background-image: url("../../images/select-arrow.svg");
    height: 48px;
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: right $sp-1 top 50%;

    html[dir="rtl"] & {
      background-position: left $sp-1 top 50%;
    }
  }

  .ginput_container_time {
    select,
    input {
      min-width: 80px;
    }
  }

  input {
    height: 48px;
  }

  .gchoice {
    font-family: var(--font-family-paragraph-secondary);
    margin-bottom: $sp-1;
    position: relative;

    &:has(> input[type="checkbox"]) {
      @include custom-checkbox;
    }
  }

  .gfield_required .gfield_required_text {
    color: var(--grey-800);
    font-style: normal;
  }

  .ginput_container_multiselect select {
    min-height: 100px;

    option {
      padding: $sp-x;
    }
  }

  textarea {
    resize: none;
  }

  &.gfield_error {
    .gfield_label {
      color: var(--color-text-body);
    }

    input:not([type="file"]):not(:disabled),
    textarea[aria-invalid="true"],
    select[aria-invalid="true"] {
      border-color: var(--red-500);
      background: var(--white);
      background-image: none;

      ~ label {
        color: var(--color-text-body);
      }

      &:focus {
        border-color: var(--p4-action-yellow-600);
      }
    }

    .validation_message.gfield_validation_message {
      --gfield-validation-message-- {
        font-size: var(--font-size-xs--font-family-tertiary);
        font-weight: var(--font-weight-semibold);
      }
      background: var(--red-500);
      color: var(--white);
      border-radius: 4px;
      border-color: var(--color-background-tooltip--error);
      padding: $sp-1 $sp-2 !important;
      width: fit-content;
      pointer-events: none;
      position: relative;

      &::after {
        bottom: 100%;
        border: solid transparent;
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        border-bottom-color: var(--color-background-tooltip--error);
        border-width: 5px;
        right: auto;
        left: $sp-2;

        html[dir="rtl"] & {
          left: auto;
          right: $sp-2;
        }
      }
    }
  }
}

.ui-datepicker {
  _-- {
    font-family: var(--font-family-primary);
  }
}

.gform_p4_confirmation {
  .share-buttons {
    margin-top: $sp-3;
  }

  hr {
    margin: $sp-5 0;
  }
}

.gform_description {
  font-family: var(--font-family-paragraph-secondary);
}

.gform_delete_file {
  margin-inline-start: $sp-2;

  .dashicons-trash {
    vertical-align: text-top;
  }
}

.gfield_fileupload_cancel {
  margin-inline-start: $sp-2;
  text-decoration: underline;
}
