$menu-height: 68px;
$menu-height-large: 68px;
$menu-height-small: 68px;
$min-height: 40px;
$navbar-default-height: 60px;

.top-navigation {
  _-- {
    background: $dark-blue;
    border-bottom: 0 transparent;
    box-shadow: none;
    color: $white;
    fill: $white;
    font-family: $roboto;
    font-size: $font-base-size;
    height: $menu-height;
  }

  display: flex;

  @include large-and-up {
    align-items: center;
  }

  a.nav-link --nav-link-- {
    color: $white;

    &:hover {
      color: $white;
      text-decoration: underline;
      text-underline-position: auto;
    }
  }

  input::placeholder --top-navigation--input-placeholder-- {
    color: transparentize($white, 0.4);
    opacity: 0.6;

    @include x-large-and-up {
      //color: inherit;
    }
  }

  button {
    background: var(--top-navigation--background, inherit);
    border: none;
    color: $white;
    cursor: pointer;
    display: block;
    font-size: 24px;
    height: 100%;
    padding: 0;

    .icon {
      _-- {
        fill: var(--top-navigation--color, inherit);
      }
      height: 24px;
      top: 0;
      width: 24px;
    }
  }

  .btn-donate --button-donate-- {
    background: $orange;
    border: none;
    box-shadow: none;
    color: $white;
    height: 44px;
    line-height: 40px;
    min-width: 116px;

    &:hover {
      background: $orange;
      border: none;
      box-shadow: none;
      color: $white;
    }
  }
}

.site-logo {
  flex-grow: 1;
  line-height: $menu-height;
  padding: 0;
  position: unset;
  text-align: center;

  img {
    height: 26px;
  }

  @include large-and-up {
    flex-grow: 0;
    margin-inline-start: 44px;
    text-align: start;
    width: auto;
  }

  @include x-large-and-up {
    margin-inline-start: 164px;
  }
}

#nav-main {
  display: flex;

  @include large-and-up {
    flex-grow: 1;
    width: 100%;
  }

  &.open {
    @include medium-and-less {
      background: rgba(2, 2, 2, 0.45);
      flex-direction: column-reverse;
      height: 100%;
      inset-inline-start: 0;
      overflow-y: auto;
      overflow-x: hidden;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 4;

      nav.nav-menu {
        display: block;
      }

      .nav-search-toggle-container {
        position: absolute;
        inset-inline-end: 0;
        top: 0;
      }

      button.nav-menu-close {
        display: block;
      }

      nav.nav-languages {
        display: flex;
      }

      div.nav-search-toggle-container {
        cursor: unset;
        pointer-events: none;
      }

      div.nav-search-toggle-container::before {
        border-radius: 4px;
        content: "";
        display: block;
        height: 44px;
        position: absolute;
        width: 44px;
        z-index: 1;
      }

      button.nav-search-toggle {
        opacity: 0.5;
      }

      .admin-bar & {
        top: 32px;
      }
    }
  }
}

nav.nav-menu {
  display: none;

  @include small-and-up {
    width: 100%;
  }

  @include medium-and-up {
    width: 400px;
  }

  @include medium-and-less {
    background: var(--top-navigation--background, $dark-blue);
    height: 100%;
    inset-block-start: 0;
    top: 0;
    z-index: 4;
  }

  @include large-and-up {
    background: inherit;
    display: flex;
    flex-grow: 1;
    height: auto;
    width: auto;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding-inline-start: 40px;
    padding-top: 16px;
    text-align: start;

    @include large-and-up {
      display: flex;
      flex-grow: 1;
      justify-content: end;
      padding-top: 0;
      text-align: end;
    }
  }
}

.nav-item {
  color: $white;
  font-size: $font-size-md;
  font-weight: 700;

  @include large-and-up {
    line-height: $menu-height;
    padding: 0 20px;
  }

  @include medium-and-less {
    font-size: $font-size-md;
    padding: 16px 0;
  }

  @include small-and-less {
    font-size: $font-size-sm;
  }
}

.nav-search-form {
  background-color: var(--body--background-color, $white);
  display: none;

  @include x-large-and-up {
    background: var(--top-navigation--background, inherit);
    border-inline-start: var(--top-navigation--separation, 1px solid transparentize($white, 0.5));
    display: inline-block;
    height: 100%;
    inset-inline-end: auto;
    min-width: 25%;
    padding: 0 16px;
  }

  &.open {
    @include large-and-less {
      border-top: 1px solid #c4c4c4;
      box-shadow: 0 2px 4px transparentize($black, 0.85);
      display: flex;
      height: 56px;
      inset-inline-start: 0;
      position: absolute;
      top: $menu-height;
      z-index: 3;
      width: 100%;
    }
  }
}

#search_input {
  background: transparent;
  border: none;
  box-shadow: none;
  color: var(--top-navigation--color, $grey-80);
  display: inline-block;
  flex-grow: 1;
  font-size: $font-base-size;
  line-height: $menu-height;
  padding-inline: 12px 16px;
  width: auto;

  @include x-large-and-up {
    color: inherit;
  }
}

#search_input:placeholder-shown ~ button.nav-search-clear {
  visibility: hidden;
}

#search_input::-webkit-search-decoration,
#search_input::-webkit-search-cancel-button,
#search_input::-webkit-search-results-button,
#search_input::-webkit-search-results-decoration {
  display: none;
}

button.nav-menu-toggle {
  border-radius: 4px;
  //mask: url("../build/sprite.symbol.svg#menu") 50% 50%/24px 24px no-repeat;
  padding: 0 24px;

  @include large-and-up {
    display: none;
  }

  &.open {
    display: none;
  }
}

button.nav-menu-close {
  background-color: var(--top-navigation--color, $white);
  display: none;
  height: 68px;
  inset-inline-end: 0;
  mask: url("../../images/cross.svg") 50% 50%/16px 16px no-repeat;
  position: absolute;
  top: 0;
  width: 68px;
  z-index: 5;

  @include medium-and-up {
    inset-inline-start: 332px;
    mask-size: 24px 24px;
  }
}

button.nav-search-btn {
  display: none;
  float: left;

  html[dir="rtl"] & {
    float: right;
  }

  @include x-large-and-up {
    display: inline-block;
    line-height: $menu-height;
  }
}

button.nav-search-clear {
  background-color: $black;
  border: none;
  float: right;
  height: 56px;
  margin-inline-end: 36px;
  mask: url("../../images/cross-circle.svg") 50% 50%/24px 24px no-repeat;
  width: 24px;

  html[dir="rtl"] & {
    float: left;
  }

  @include x-large-and-up {
    background-color: var(--top-navigation--color, $white);
    display: inline-block;
    height: $menu-height;
    margin-inline-end: 0;
  }
}

.nav-search-toggle-container {
  height: $menu-height;
  padding: 12px;

  @include large-and-up {
    border-inline-start: var(--top-navigation--separation, 1px solid transparentize($white, 0.5));
  }

  @include x-large-and-up {
    display: none;
  }
}

button.nav-search-toggle {
  border-radius: 4px;
  height: 44px;
  width: 44px;

  &.open --top-navigation--search-toggle-- {
    background: rgba(255, 255, 255, 0.15);
  }
}

button.nav-languages-toggle {
  color: inherit;
  display: none;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0 20px;

  @include large-and-up {
    border-inline-start: var(--top-navigation--separation, 1px solid transparentize($white, 0.5));
    display: inline-block;
    line-height: $menu-height;
  }

  &::after {
    background-color: var(--top-navigation--color, $white);
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    height: 8px;
    margin-inline-start: 4px;
    mask: url("../../images/chevron.svg") 0 0/8px 8px;
    transform: rotate(90deg);
    transition: transform 300ms linear;
    width: 8px;
  }

  &[aria-expanded="true"]::after {
    transform: rotate(-90deg);
  }
}

.nav-languages {
  display: none;

  @include medium-and-less {
    background: var(--top-navigation--background, $dark-blue);
    box-shadow: none;
    position: unset;
    width: 400px;
    z-index: 4;

    ul {
      border-bottom: var(--top-navigation--separation, 1px solid transparentize($white, 0.5));
      display: inline-block;
      flex-grow: 1;
      margin-block: 0;
      margin-inline: 40px;
      padding-bottom: 36px;
      padding-top: 40px;
      padding-inline: 0;
      width: 100%;
    }

    li {
      display: inline-block;
      font-size: 20px;
      font-weight: 700;
      margin: 0;
      padding: 0;
      opacity: 0.6;
    }

    li.wpml-ls-current-language {
      opacity: 1;
    }

    li.wpml-ls-current-language::after {
      background: none;
      mask: none;
    }

    li > span[aria-hidden="true"] {
      opacity: 1;
    }

    li:last-of-type > span[aria-hidden="true"] {
      display: none;
    }
  }

  @include small-and-less {
    width: 100%;

    li {
      font-size: $font-base-size;
    }
  }

  @include large-and-up {
    background: var(--top-navigation--background, $white);
    border-radius: 4px;
    box-shadow: 0 1px 4px transparentize($black, 0.88);
    inset-inline-end: 8px;
    position: absolute;
    text-align: start;
    top: $menu-height + 8px;
    min-width: 140px;
    z-index: 3;

    &.open {
      display: block;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 8px 0 8px 0;
    }

    li {
      font-size: 16px;
      font-weight: 400;
      line-height: 48px;
      margin: 0;
      padding-block: 0;
      padding-inline: 16px 12px;
    }

    li:hover {
      background: rgba(216, 216, 216, 0.4);
    }

    li.wpml-ls-current-language::after {
      background-color: $grey-80;
      content: "";
      float: right;
      height: 48px;
      mask: url("../../images/checkmark.svg") 50% 50%/16px 12px no-repeat;
      width: 16px;

      html[dir="rtl"] & {
        float: left;
      }
    }

    li > span[aria-hidden="true"] {
      display: none;
    }

    a.nav-link {
      color: $grey-80;
      display: inline-block;
      text-decoration: none;
    }

    a.nav-link:hover {
      color: $grey-80;
      text-decoration: underline;
    }
  }
}

.navigation-bar_min {
  --top-navigation-min-- {
    height: $min-height;
  }

  .site-logo {
    line-height: $min-height;

    img {
      height: 18px;
    }

    @include large-and-up {
      margin-inline-start: 36px;
    }
  }
}

// Fix to report in _pages.scss when new navbar deployed
.navigation-bar_min ~ .page-header-hidden + div.page-template.no-page-title {
  padding-top: 0;
}
