$menu-height: 68px;
$menu-height-large: 68px;
$menu-height-small: 68px;
$min-height: 40px;
$navbar-default-height: 60px;

.top-navigation {
  _-- {
    background: $dark-blue;
    border-bottom: 0 transparent;
    box-shadow: none;
    color: $white;
    fill: $white;
    font-family: $roboto;
    font-size: $font-base-size;
    height: $menu-height;
  }

  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;

  .admin-bar & {
    top: 46px;

    @media (min-width: 783px) {
      top: 32px;
    }
  }

  @include large-and-up {
    align-items: center;
  }

  input::placeholder _-- {
    color: inherit;
    opacity: 0.5;
  }

  button {
    .icon {
      _-- {
        fill: var(--top-navigation--color, inherit);
      }
      height: 24px;
      top: 0;
      width: 24px;
    }
  }

  .btn-donate {
    _-- {
      background: $orange;
      border: none;
      box-shadow: none;
      color: $white;
      font-size: inherit;
      min-width: 116px;

      &:hover {
        background: $orange-hover;
        border: none;
        box-shadow: none;
        color: $white;
      }
    }

    height: 44px;
    line-height: 40px;
  }

  .nav-donate {
    padding: 16px 0;

    @include large-and-up {
      padding: 0 20px;
    }
  }
}

#nav-main {
  display: flex;

  @include medium-and-less {
    flex-direction: column-reverse;
    height: 100%;
    inset-inline-start: -400px;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    transition: inset-inline-start 0.2s ease-in;
    top: 0;
    width: 400px;

    &.open {
      inset-inline-start: 0;
      transition: inset-inline-start 0.2s ease-out;
      z-index: 5;

      ~ .top-navigation-overlay {
        display: block;
      }
    }

    .admin-bar & {
      padding-bottom: 46px;
      top: 46px;

      @media (min-width: 783px) {
        padding-bottom: 32px;
        top: 32px;
      }
    }
  }

  @include small-and-less {
    &.open {
      width: 100%;
    }
  }

  @include large-and-up {
    flex-grow: 1;
    width: auto;
  }
}

.nav-menu {
  background: var(--top-navigation--background, $dark-blue);
  display: none;
  height: 100%;
  inset-block-start: 0;
  top: 0;
  width: auto;
  z-index: 4;

  @include medium-and-less {
    display: block;
    overflow-y: auto;
  }

  @include large-and-up {
    background: inherit;
    display: flex;
    flex-grow: 1;
    height: auto;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding-inline: 40px 12px;
    padding-top: 16px;
    text-align: start;

    @include large-and-up {
      display: flex;
      flex-grow: 1;
      justify-content: end;
      padding-top: 0;
      text-align: end;
    }
  }
}

.nav-item {
  color: inherit;
  font-size: $font-base-size;
  font-weight: 700;

  @include large-and-up {
    line-height: $menu-height;
  }
}

a.nav-link {
  --nav-link-- {
    color: $white;

    &:hover {
      color: $white;
      text-decoration: underline;
      text-underline-position: auto;
    }
  }

  display: inline-block;
  padding: 16px 0;
  width: 100%;

  @include large-and-up {
    padding: 0 20px;
  }
}

.active a.nav-link --nav-link-active-- {
  color: var(--nav-link--hover--color, $white);
  text-decoration: var(--nav-link--hover--text-decoration, underline);
  text-underline-position: var(--nav-link--hover--text-underline-position, auto);
}

.nav-menu-toggle {
  background: transparent;
  border: none;
  border-radius: 4px;
  padding: 0 24px;

  @include large-and-up {
    display: none;
  }
}

.nav-menu-close {
  background-color: var(--top-navigation--color, $white);
  border: none;
  display: none;
  height: 68px;
  inset-inline-end: 0;
  mask: url("../../images/cross.svg") 50% 50%/16px 16px no-repeat;
  position: absolute;
  top: 0;
  width: 68px;
  z-index: 5;

  @include medium-and-less {
    display: block;
  }

  @include medium-and-up {
    inset-inline-start: 332px;
  }
}

.navigation-bar_min {
  --top-navigation-min-- {
    height: $min-height;
  }
}

.top-navigation-overlay {
  display: none;
  background: $black;
  height: 100%;
  opacity: 0.5;
  overflow: hidden;
  overflow-y: scroll;
  pointer-events: all;
  position: fixed;
  top: 0;
  width: calc(100% + 20px);
  z-index: 4;
}

.no-scroll-nav-open {
  @include medium-and-less {
    overflow-y: hidden;
    position: fixed;
    width: 100%;
  }
}

// I'll include these at the end for now because they depend on CSS order.
@import "navbar/site-logo";
@import "navbar/languages";
@import "navbar/search";
