.page-section-header {
  margin-bottom: $space-md;
}

.page-section-description {
  margin-bottom: $space-xl;

  @include medium-and-up {
    width: 100%;
  }

  @include x-large-and-up {
    .row & {
      margin-top: 0;
    }
  }
}
