.page-section-header {
  text-transform: none;
  color: inherit;
  font-weight: var(--font-weight-regular);
  font-family: var(--font-family-heading);
  font-size: var(--font-size-xl--font-family-primary);
  margin-bottom: $sp-2;

  @include x-large-and-up {
    font-size: var(--font-size-2xl--font-family-primary);
  }
}

.page-section-description {
  margin-bottom: $sp-6;

  @include medium-and-up {
    width: 100%;
  }

  @include x-large-and-up {
    .row & {
      margin-top: 0;
    }
  }
}
