.page-section-header _-- {
  text-transform: none;
  color: inherit;
  font-weight: var(--headings--font-weight, bold);
  font-size: 2.5rem;
  margin-bottom: $space-md;
}

.page-section-description {
  margin-bottom: $space-xl;

  @include medium-and-up {
    width: 100%;
  }

  @include x-large-and-up {
    .row & {
      margin-top: 0;
    }
  }
}
