.breadcrumbs {
  padding-top: 40px;

  li {
    display: inline-block;
    list-style-type: none;
    position: relative;

    &:not(:first-child) {
      margin-left: 1.5em;

      a:before {
        content: ">";
        position: absolute;
        left: -1em;
      }
    }
  }
}

.header-wrapper {
  height: 0;
}

.page-header {
  color: var(--color-text-body);
  background: inherit;
  padding-top: 90px;
  padding-bottom: 0;
  margin-bottom: $sp-2;
  position: relative;

  @include medium-and-up {
    padding-top: 104px;
  }

  @include large-and-up {
    padding-top: 144px;
    margin-bottom: $sp-4;
  }

  @include x-large-and-up {
    padding-top: 144px;
  }

  &.page-header-hidden {
    padding: 0 !important;
    margin: 0;
  }

  .container > *:not(.row) {
    @include medium-and-up {
      max-width: 581px;
    }

    @include large-and-up {
      max-width: 696px;
    }

    @include x-large-and-up {
      max-width: 736px;
    }

    @include xx-large-and-up {
      max-width: 856px;
    }
  }

  h3 {
    margin-bottom: 20px;

    @include medium-and-up {
      line-height: 1.2;
    }

    @include large-and-up {
      width: 696px;
    }

    @include x-large-and-up {
      margin-bottom: 30px;
      line-height: 1.1;
    }
  }

  .tag & {
    p a {
      @include shared-link-styles;
    }
  }
}

.page-header-background {
  overflow: hidden;
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  left: 0;
  bottom: auto;

  &:after {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    height: 75%;
    bottom: -.5%;
    background: linear-gradient(360deg, var(--white) 0%, transparent 100%);
  }

  img {
    height: 100%;
    width: 100%;

    @include mobile-only {
      height: 100%;
    }
  }
}

.page-header-image {
  max-width: 100%;
  display: block;
  margin: auto;
}

.page-header-title {
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-regular);
  line-height: 1.5em;
  text-transform: none;
  max-width: 80%;
  margin-bottom: 10px;

  @include medium-and-up {
    margin-bottom: 12px;
  }

  @include large-and-up {
    margin-bottom: 20px;
  }

  @include x-large-and-up {
    line-height: 1.1;
    margin-bottom: 20px;
  }
}

div.page-header {
  :not(.tags-container) > .page-header-title {
    margin-inline-start: -$sp-2;
  }

  :not(.tags-container) > .top-page-tags {
    margin-inline-start: -13px;
  }
}

.page-header-subtitle {
  line-height: 1.3;
  max-width: 80%;
  margin: 0;

  @include medium-and-up {
    margin: 0 0 22px 0;
  }
}

.page-header-btn {
  display: inline-block;
  width: 100%;
  margin-top: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @include medium-and-up {
    margin-top: 24px;
    width: auto;
    min-width: 300px;
  }

  @include large-and-up {
    margin-top: 24px;
  }

  @include x-large-and-up {
    margin-top: 36px;
  }
}
