@use "../base/tokens" as tokens;

.p4-query-loop {
  & > .wp-block-group {
    padding: 0 !important;
    width: 100%;
  }

  &.is-custom-layout-carousel {
    display: flex;
    flex-direction: column;
    position: relative;

    .carousel {
      width: 100%;
    }

    .wp-block-post {
      margin-bottom: 0;
    }

    @include medium-and-less {
      .carousel {
        overflow: hidden;
        padding: $sp-x $sp-x $sp-x 0;
      }

      .carousel-inner {
        display: flex;
        overflow-x: scroll;
        scrollbar-width: none;
        scroll-behavior: smooth;
      }

      .carousel-item {
        width: auto;
        display: block;
        margin-right: 0;
        margin-left: 0;

        .carousel-item-wrapper {
          display: flex;

          .wp-block-post:not(:last-child) {
            margin-inline-end: $sp-1x;
          }
        }
      }
    }

    @include large-and-up {
      .carousel-item {
        width: 100%;
      }

      .carousel-item-wrapper {
        display: grid;
        column-gap: $sp-3;
      }

      .carousel-controls {
        display: flex;
        position: absolute;
        height: 48px;
        width: calc(100% + calc($sp-3 * 2));
        top: 0;
        bottom: 0;
        margin: auto;
        pointer-events: none;

        .wp-block-button {
          overflow: hidden;
          box-shadow: 0 1px 8px rgba(tokens.$grey-900, .2);
          border-radius: 50%;
          width: 48px;
          height: 48px;
          background-color: var(--white);
          background-image: url("../../images/chevron.svg");
          background-size: 28px 18px;
          background-repeat: no-repeat;
          background-position: center;
          opacity: 1 !important;
          cursor: pointer;
          pointer-events: auto;

          &.carousel-control-prev {
            transform: rotate(180deg);
          }

          .wp-block-button__link {
            background-color: var(--white) !important;
            color: var(--grey-900);
          }

          &:hover {
            background-color: var(--grey-200);
          }
        }
      }

      .carousel-indicators {
        display: flex;
        position: relative;
        list-style: none;

        & [data-bs-target] {
          width: 24px;
          height: 4px;
          background-color: var(--grey-900);
        }
      }
    }

    @include xx-large-and-up {
      .carousel-controls {
        width: calc(100% + calc($sp-8 * 2));
      }
    }
  }
}
