@mixin table {
  .wp-block-table {
    margin-top: $sp-1;
    margin-bottom: $sp-2;

    @include large-and-up {
      margin-top: $sp-2;
      margin-bottom: $sp-4;
    }
  }

  table {
    margin-bottom: 15px;
    font-family: $roboto;
    width: 100%;

    @include mobile-only {
      display: block;
      overflow: auto;
    }

    thead,
    tfoot,
    th,
    td {
      border: none;
    }

    th {
      color: $white;
      height: 36px;
      font-size: $font-size-xs;
      padding: 6px $sp-2x;
      box-sizing: border-box;
      @include x-large-and-up {
        font-size: $font-size-md;
      }
    }

    td {
      min-height: 120px;
      font-size: $font-size-xs;
      padding: $sp-2x;
      vertical-align: top;
      color: $table-font-color;

      @include mobile-only {
        min-width: 300px;
      }

      @include x-large-and-up {
        font-size: $font-size-md;
      }
    }
  }
}

.post-content,
.page-content {
  @include table;
}
