@use "../base/fonts";
@use "../base/mixins";
@use "../base/variables";

@mixin table {
  .wp-block-table {
    margin-top: variables.$sp-1;
    margin-bottom: variables.$sp-2;

    &.is-style-stripes table {
      &.has-gp-green-background-color tr:nth-child(odd) {
        background-color: var(--beige-200);
      }
    }

    @include mixins.large-and-up {
      margin-top: variables.$sp-2;
      margin-bottom: variables.$sp-4;
    }
  }

  table {
    font-family: var(--font-family-tertiary);
    margin-bottom: 15px;
    width: 100%;

    @include mixins.mobile-only {
      display: block;
      overflow: auto;
    }

    thead,
    tfoot,
    th,
    td {
      border: none;
    }

    th {
      color: var(--white);
      height: 36px;
      font-size: fonts.$font-size-xs;
      padding: 6px variables.$sp-2x;
      box-sizing: border-box;
      @include mixins.x-large-and-up {
        font-size: fonts.$font-size-md;
      }
    }

    td {
      min-height: 120px;
      font-size: fonts.$font-size-xs;
      padding: variables.$sp-2x;
      vertical-align: top;
      color: var(--color-text-body);

      @include mixins.mobile-only {
        min-width: 300px;
      }

      @include mixins.x-large-and-up {
        font-size: fonts.$font-size-md;
      }
    }

    &.has-gp-green-background-color {
      th {
        background-color: var(--gp-green-800);
      }

      tr {
        background-color: var(--beige-100);
      }

      tfoot td {
        background-color: var(--beige-300);
      }
    }
  }
}

.post-content,
.page-content {
  @include table;
}
