// .block-wide kept for BC of existing content.
// Can be removed once no content uses it anymore.
.alignfull, .block-wide {
  @include wide-block;

  .block-editor & {
    width: 100%;
    margin: 0;

    html[dir="rtl"] & {
      margin: 0;
    }
  }
}
