// Global styles
@import "global/variables";
@import "global/functions";
@import "global/mixins";

// Import blocks
@import "blocks/articles";
@import "blocks/campaign_thumbnail";
@import "blocks/carousel";
@import "blocks/carousel_header";
@import "blocks/carousel_split";
@import "blocks/content_four_column";
@import "blocks/content_three_column";
@import "blocks/cookies";
@import "blocks/covers";
@import "blocks/happy_point";
@import "blocks/media_block";
@import "blocks/media_video";
@import "blocks/split_two_columns";
@import "blocks/static_four_column";
@import "blocks/subheader";
@import "blocks/submenu";
@import "blocks/tasks";
@import "blocks/two_columns";
