@mixin campaign_covers($overlay, $cta-colour, $cta-colour-hover, $cta-font, $cta-spacing: 10, $cta-left: 28px, $cta-bottom: 30px) {
  .campaign-card-column {
    padding-left: 8px;
    padding-right: 8px;
  }

  .thumbnail-large {
    max-height: none;
    margin-bottom: 40px;

    img {
      margin: 0;
    }

    &:before {
      content: none;
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $overlay;
      opacity: 0;
      transition: opacity $transition ease-in-out;
    }

    .yellow-cta {
      color: $cta-colour;
      text-shadow: none;
      left: $cta-left;
      bottom: $cta-bottom;
      margin: 0;
      width: auto;
      font-family: $cta-font;
      font-size: $font-size-sm;
      line-height: 1.5625rem;
      transition: color $transition ease-in-out;
      @include letter-spacing($cta-spacing);
    }

    &:hover {
      &:after {
        opacity: 0.6;
      }

      .yellow-cta {
        color: $cta-colour-hover;
      }
    }
  }
}

.campaign-covers-block {
  .thumbnail-largeview-container {
    @supports (display: grid) {
      display: grid;
      grid-template-columns: 1fr;
      grid-column-gap: $space-sm;
      grid-row-gap: $space-sm;

      @include medium-and-up {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    .thumbnail-large {
      margin-bottom: 5px;
      max-height: 70px;
      position: relative;
      overflow: hidden;
      @include background-before-opacity(rgba(22, 22, 22, 0.1));

      @include medium-and-up {
        margin-bottom: 0;
        max-height: 100%;
      }

      @include large-and-up {
        @include background-before-opacity(rgba(22, 22, 22, 0.65));

        &:hover {
          &:before {
            opacity: 0.1;
          }
        }
      }

      img {
        width: 100%;
        height: 260px;
        margin: -50px 0 -10px 0;
        object-fit: cover;

        @include medium-and-up {
          margin: 0;
        }
      }

      .yellow-cta {
        text-align: center;
        font-size: $font-size-md;
        font-family: $roboto;
        color: $yellow;
        font-weight: 500;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: 2;
        margin-bottom: 18px;
        text-shadow: 1px 1px $black;

        @include medium-and-up {
          margin-bottom: 20px;
          font-size: $font-size-xs;
        }

        @include large-and-up {
          margin-bottom: 40px;
          font-size: $font-size-md;
        }

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

// Visibility  of campaigns in different screens
// remove limit visibility class on load more button click
.show-3-covers .limit-visibility {
  .campaign-card-column:nth-child(-n+4) {
    display: inline-block;
  }

  .campaign-card-column:nth-child(n+4) {
    display: none;
  }
}

.show-6-covers .limit-visibility {
  .campaign-card-column:nth-child(-n+7) {
    display: inline-block;
  }

  .campaign-card-column:nth-child(n+7) {
    display: none;
  }
}

.show-all-covers .limit-visibility {
  .campaign-card-column:nth-child(n+5) {
    display: inline-block;
  }
}
