.covers-block {
  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .limit-visibility {
    margin-top: -$space-md;

    @include large-and-up {
      margin-top: -$space-lg;
    }
  }
}

// Visibility  of covers in different screens
// S,M should have 4 covers
// L & XL should have all sent from backend
// L & XL with show-3-covers class should show first 3 covers
// L & XL with show-6-covers class should show first 6 covers
// L & XL with show-all-covers class should show all covers
// remove limit visibility class on load more button click
.show-3-covers .limit-visibility {
  .cover-card-column:nth-child(n+3) {
    display: none;
  }

  @include large-and-up {
    .cover-card-column:nth-child(-n+4) {
      display: block;
    }

    .cover-card-column:nth-child(n+4) {
      display: none;
    }
  }
}

.show-6-covers .limit-visibility {
  .cover-card-column:nth-child(n+5) {
    display: none;
  }

  @include large-and-up {
    .cover-card-column:nth-child(-n+7) {
      display: block;
    }

    .cover-card-column:nth-child(n+7) {
      display: none;
    }
  }
}

.show-all-covers .limit-visibility {
  .cover-card-column:nth-child(n+5) {
    display: none;
  }

  @include large-and-up {
    .cover-card-column:nth-child(n+5) {
      display: block;
    }
  }
}

.cover-card {
  flex-basis: 100%;
  padding: 32px $n15 $n60;
  margin-top: $space-md;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, .35);
  background-size: cover;
  background-position: top;
  color: $grey-80;

  @include medium-and-up {
    flex-basis: 48%;
    min-height: 414px;
    padding: 18px $n15 $n60;
    margin-top: $space-lg;
  }

  @include large-and-up {
    flex-basis: 32%;
    min-height: 364px;
    max-height: 364px;
  }

  @include x-large-and-up {
    padding: 32px 24px $n60;
  }

  &:before {
    content: "";
    opacity: 0;
    transition: opacity 100ms linear;
    position: absolute;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  }

  &:hover {
    @include background-before-opacity(linear-gradient(180deg, rgba(51, 51, 51, 0.6), rgba(250, 247, 236, 0.9), rgba(255, 255, 255, 0.8)), 1);
    box-shadow: 0 0 10px transparentize($black, .5);

    @include medium-and-up {
      p {
        color: $grey-80;
        display: block;
      }
    }

    .btn {
      background-color: $orange-hover;
      border-color: $orange-hover;
    }
  }

  &--evergreen {
    @include background-before-opacity($black, .25);

    &:hover {
      @include background-before-opacity($green-80, .7);

      h2,
      p {
        color: $white;
      }
    }
  }

  &.action-card {
    margin-bottom: $space-lg;
  }

  &.dark-card-bg {
    color: $white;
  }

  & > * {
    position: relative;
    z-index: 1;
  }

  .cover-card-heading {
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 500;
    margin-bottom: 24px;
    padding-top: 0;
    max-width: 80%;
    transition: color 100ms linear;
    color: $white;
    text-shadow: 1px 1px 3px $black;

    @include large-and-up {
      font-size: 1.5rem;
      margin-top: 8px;
      max-width: 100%;
    }
  }

  p {
    font-size: 0.9375rem;
    line-height: 1.6;
    display: none;
  }

  @include large-and-up {
    transition: box-shadow 150ms linear;
    padding-bottom: 70px;

    &:not(.single-cover) {
      box-shadow: none;

      &:hover {
        box-shadow: 0 0 10px transparentize($black, .5);
      }
    }
  }
}

.cover-card-tag {
  color: $yellow;
  display: inline-block;
  margin-bottom: 8px;
  text-decoration: none;
  text-shadow: 1.5px 1.5px 1.5px $black;
  font-weight: 800;
  font-family: $roboto;

  &:hover {
    color: $yellow;
  }

  @include large-and-up {
    margin-bottom: 0;
    font-size: 0.875rem;
    margin-right: 4px;
  }
}

.cover-card-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: $n15 auto;
  width: 92%;
  cursor: pointer;
}

.load-more-covers-button-div {
  margin-top: $space-lg;
}
