.cover-card.bottom {
  background: white !important;
  padding: 0;
  width: 100%;
  display: none;
  height: 80px;
  box-shadow: none;
  position: relative;

  img {
    display: block;
    width: 80px;
    height: 80px;
  }

  .cover-card-content {
    padding: 8px 16px;
    width: 100%;
  }

  .cover-card-more {
    display: block;
    font-weight: 600;
    font-family: $roboto;
    color: #020202;
    font-size: 0.75rem;
    margin-bottom: 8px;
  }

  .cover-card-tag,
  &::before,
  &::after {
    display: none;
  }

  .cover-card-heading {
    color: #020202;
    text-shadow: none;
    margin-bottom: 5px;
    font-size: 0.75rem;
    margin-top: 0;
  }

  .cover-card-btn {
    display: block;
    color: $link-color;
    background: none;
    text-transform: none;
    border: none;
    box-shadow: none;
    padding: 0;
    width: auto;
    left: auto;
    right: 16px;
    line-height: 1;
    font-size: 0.625rem;
    margin: 4px 0;

    &:hover {
      background: none;
      text-decoration: underline;
    }

    &:after {
      content: '';
      border-style: solid;
      border-width: 2px 2px 0 0;
      display: inline-block;
      height: 6px;
      transform: rotate(45deg);
      width: 6px;
    }
  }

  @include large-and-up {
    max-width: 65%;
    min-height: 210px;
    margin-top: 50px;
    float: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);

    &:hover .cover-card-btn {
      display: block;
    }

    .cover-card-heading {
      margin-bottom: 5px;
      font-size: $font-size-md;
    }

    .cover-card-content {
      padding: 16px 32px;
      width: 55%;
      position: unset;
    }

    img {
      height: 100%;
      width: 45%;
    }

    .cover-card-btn {
      display: none;
      right: 32px;
      font-size: $font-size-xxs;
      margin: 16px 0;

      &:after {
        height: 8px;
        width: 8px;
      }
    }

    p {
      display: block;
      color: #020202;
      line-height: $font-size-md;
      font-size: $font-size-xxs;
    }

    .cover-card-more {
      font-size: $font-size-lg;
      position: absolute;
      margin-top: -50px;
      left: 0;
    }
  }
}
