.action-card-scroll.cover-card {
  background: white !important;
  position: fixed;
  bottom: 0;
  margin: 0;
  left: 0;
  width: 100vw;
  box-shadow: none;
  border-top: 1px solid $grey-10;
  display: none;
  padding: 12px;
  height: 136px;
  z-index: 3;

  &.hidden {
    display: none !important;
  }

  .not-now {
    display: block;
    color: $grey-40;
    left: auto;
    right: 12px;
    position: absolute;
    font-weight: 700;
    font-family: $roboto;
    top: 4px;
    line-height: 1;
    font-size: 24px;

    &:hover {
      color: $grey-60;
    }

    html[dir="rtl"] & {
      right: auto;
      left: 12px;
    }
  }

  img {
    display: block;
    height: 112px;
    width: 112px;
    pointer-events: none;
    float: left;
    object-fit: cover;
    margin-inline-end: 12px;

    html[dir="rtl"] & {
      float: right;
    }
  }

  .cover-card-more {
    display: block;
    font-weight: 700;
    font-family: $roboto;
    color: $grey-40;
    font-size: 14px;
    margin: 8px 0;
    line-height: 1;
  }

  .cover-card-tag,
  &::before,
  &::after {
    display: none;
  }

  .cover-card-heading {
    color: $grey-80;
    text-shadow: none;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 700;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .btn {
    font-size: 12px;
    line-height: 1;
    padding: 10px 16px;
    right: 12px;
    bottom: 12px;
    left: auto;
    position: absolute;
    display: block;
    width: auto;
    margin: 0;
    background-color: $orange;
    color: $white;
    border: none;

    html[dir="rtl"] & {
      left: 12px;
      right: auto;
    }
  }

  @include medium-and-up {
    min-height: 136px;

    &:hover,
    &:active {
      .cover-card-excerpt {
        display: none;
      }
    }

    .not-now {
      font-size: 30px;
    }

    .btn {
      font-size: 14px;
      padding: 10px 20px;
    }

    .cover-card-more {
      font-size: 16px;
    }

    .cover-card-heading {
      font-size: 20px;
      margin-bottom: 0;
    }
  }

  @include large-and-up {
    float: none;
    display: none;
    margin: 0;
    right: auto;
    bottom: calc((100vh - 360px) / 2); // We want the card to be vertically centered
    border-top: none;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.16);
    transition: box-shadow 0.2s;
    width: 264px;
    min-height: 300px;
    padding: 0;
    border-radius: 4px;

    html[dir="rtl"] & {
      float: none;
    }

    &:hover {
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    }

    .btn {
      right: 24px;
      bottom: 24px;

      html[dir="rtl"] & {
        left: 24px;
      }
    }

    .cover-card-heading {
      font-size: 18px;
      margin-top: 0;
    }

    .cover-card-content {
      padding: 24px;
    }

    img {
      height: 145px;
      width: 100%;
      float: none;
      margin-inline-end: 0;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;

      html[dir="rtl"] & {
        float: none;
      }
    }

    .cover-card-more {
      position: absolute;
      margin-bottom: 0;
      bottom: 320px;
      left: 0;
      font-size: 28px;
      color: $black;

      html[dir="rtl"] & {
        right: 0;
      }
    }

    .not-now {
      display: none;
    }
  }
}
