#action-card-bottom {
  background: white !important;
  padding: 0;
  width: 100%;
  display: none;
  height: 80px;
  box-shadow: none;
  position: relative;
  margin-top: 0 !important;

  img {
    display: block;
    width: 80px;
    height: 80px;
    pointer-events: none;
  }

  .cover-card-content {
    padding: 8px 16px;
    width: 100%;
  }

  .cover-card-more {
    display: block;
    font-weight: 600;
    font-family: $roboto;
    color: #020202;
    font-size: 0.75rem;
    margin-bottom: 8px;
  }

  .cover-card-tag,
  &::before,
  &::after {
    display: none;
  }

  .cover-card-heading {
    color: #020202;
    text-shadow: none;
    margin-bottom: 5px;
    font-size: 0.875rem;
    margin-top: 0;
    font-weight: 700;
  }

  .cover-card-btn {
    display: block;
    color: $link-color;
    background: none;
    text-transform: none;
    border: none;
    box-shadow: none;
    padding: 0;
    width: auto;
    left: auto;
    right: 16px;
    line-height: 1;
    font-size: 0.75rem;
    margin: 4px 0;

    &:hover {
      background: none;
      text-decoration: underline;
      color: $link-hover-color;
    }

    &:after {
      content: '';
      border-style: solid;
      border-width: 2px 2px 0 0;
      display: inline-block;
      height: 6px;
      transform: rotate(45deg);
      width: 6px;
    }
  }

  @include medium-and-up {
    min-height: 210px;
    margin-top: 80px !important;
    float: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    margin-left: 0;

    .cover-card-heading {
      margin-bottom: 32px;
      font-size: $font-size-md;
    }

    .cover-card-content {
      padding: 32px;
      width: 55%;
      position: unset;
    }

    img {
      height: 100%;
      width: 45%;
    }

    .cover-card-btn {
      right: 32px;
      font-size: $font-size-xxs;
      margin: 32px 0;

      &:after {
        height: 8px;
        width: 8px;
      }
    }

    p {
      display: block;
      color: #020202;
      margin-top: 0;
      line-height: $font-size-md;
      font-size: $font-size-xxs;
    }

    .cover-card-more {
      font-size: $font-size-lg;
      position: absolute;
      margin-top: -80px;
      left: 0;
    }
  }

  @include large-and-up {
    max-width: 65%;

    &:hover .cover-card-btn {
      display: block;
    }

    .cover-card-btn {
      display: none;
    }
  }
}
