html,
body {
  overflow-x: hidden;
}

body {
  &:not(.wp-admin) {
    color: $dark-shade-black;
    font-family: $lora;
    position: relative;
    overflow-y: hidden;

    &.white-bg {
      background-color: $white;
    }

    &.brown-bg {
      background: $brown-bg;
    }

    &.home {
      background-color: #ecf1f3;
    }

    &.search {
      font-family: $roboto;
    }

    .mejs-container {
      clear: initial;
    }

    .container > * {
      position: relative;
      z-index: 2;
    }
  }
}

a {
  color: $blue;

  &:hover {
    color: $blue;
    text-decoration: underline;
  }
}
