@import '../parent/global/mixins.scss';
@import '../parent/global/variables.scss';
@import 'mixins';
@import 'blocks';

body.theme-oil {
  @import url("https://fonts.googleapis.com/css?family=Anton:400,500,600,800");
  @import url("https://fonts.googleapis.com/css?family=Amiko:400,500,600,800");

  $anton: "Anton", sans-serif;
  $amiko: "Amiko", sans-serif;

  $oil-green: #29E5B7;
  $oil-green-2: #21D677;
  $oil-red: #FF513C;
  $oil-red-2: #E74656;
  $oil-purple: #B55EB8;
  $oil-blue: #007EFF;
  $oil-turquoise: #58A8DE;
  $oil-purple-2: #837AC3;
  $oil-orange: #FFA247;
  $oil-pink: #EF629D;
  $oil-grey: #A5A8AA;
  $oil-black: #1F262A;
  $bg-gradient-start: #30EFE8;
  $bg-gradient-end: #1FD59B;
  $bg-button-alt: #27BE9B;
  $oil-gradient-standard: linear-gradient(to right, $bg-gradient-start, $bg-gradient-end);

  $page-header-xl-width: 1140px;
  $page-header-large-width: 960px;
  $page-header-medium-width: 720px;
  $page-header-small-width: 540px;

  @mixin oil-button($background: $oil-green, $foreground: black) {
    @include button($background, $foreground, $amiko, -30);

    font-weight: $semi-bold;
    transition: none;
    line-height: 54px;
  }

  font-family: $roboto;
  background: white;

  .btn-primary {
    @include oil-button;

    &:hover {
      color: black;
      background: $oil-gradient-standard;
    }
  }

  .btn-secondary {
    @include oil-button(black, white);

    &:hover {
      color: black;
      background: $oil-gradient-standard;
    }
  }

  .page-section-header {
    @include page-section-header($anton);
  }

  a {
    color: $oil-blue;
    text-transform: uppercase;

    &:hover {
      color: $oil-purple-2;
    }
  }

  .page-header {
    // don't use the standard mixin, as this is very different from the others
    overflow-y: hidden;
    min-height: 100vh;
    margin-bottom: 2rem;

    .page-header-title,
    .page-header-subtitle {
      font-family: $anton;
      text-transform: uppercase;
      font-weight: $bold;
    }

    .page-header-title {
      font-size: 3.125rem;
      line-height: 4.375rem;
    }

    .page-header-subtitle {
      font-size: 1.75rem;
      line-height: 2.5rem;
    }

    .page-header-content {
      font-family: $roboto;
      font-size: 1.125rem;
      line-height: 1.875rem;
      font-weight: $bold;
    }

    @include mobile-only {
      padding-top: 0;
      background-image: linear-gradient(to bottom, $bg-gradient-start, $bg-gradient-end);
    }

    @include small-and-up {
      background-image: linear-gradient(116deg, $bg-gradient-start, $bg-gradient-end);

      .page-header-title {
        font-size: 5.625rem;
        line-height: 1;
      }
    }

    @include large-and-up {
      padding-top: 208px;
    }

    .page-header-background {

      @include mobile-only {
        position: inherit;
        margin: 0 10% 40px;
      }

      img {
        clip-path: polygon(98.621% 0.090%, 99.313% 5.473%, 99.663% 9.662%, 99.751% 12.449%, 99.784% 14.460%, 99.866% 15.516%, 99.970% 16.966%, 100.000% 23.533%, 99.815% 28.117%, 99.812% 29.039%, 99.815% 29.762%, 99.793% 30.513%, 99.544% 33.228%, 99.389% 34.136%, 99.061% 36.728%, 98.654% 40.076%, 98.362% 41.877%, 97.986% 43.737%, 97.448% 46.105%, 97.165% 47.279%, 96.856% 48.439%, 95.388% 53.413%, 94.635% 55.558%, 93.377% 58.928%, 92.699% 60.788%, 91.967% 62.642%, 91.317% 64.036%, 90.363% 65.300%, 90.123% 65.976%, 90.241% 66.313%, 90.190% 66.651%, 89.904% 67.550%, 89.293% 68.962%, 88.138% 71.268%, 87.531% 72.400%, 86.887% 73.504%, 86.322% 74.455%, 85.735% 75.373%, 85.149% 76.291%, 84.544% 77.175%, 83.387% 78.783%, 80.920% 81.859%, 77.602% 85.540%, 76.251% 86.947%, 75.206% 87.979%, 74.112% 88.954%, 66.669% 94.218%, 65.970% 94.593%, 63.825% 95.768%, 62.950% 96.267%, 62.072% 96.724%, 61.085% 97.218%, 60.058% 97.646%, 57.363% 98.612%, 54.643% 99.296%, 47.622% 100.000%, 45.781% 99.933%, 44.070% 99.819%, 42.965% 99.696%, 42.108% 99.572%, 41.266% 99.344%, 40.233% 99.021%, 39.270% 98.626%, 38.523% 98.312%, 37.700% 97.936%, 36.968% 97.718%, 35.698% 97.266%, 32.708% 95.697%, 32.210% 95.331%, 31.104% 94.551%, 29.849% 93.747%, 29.190% 93.386%, 28.421% 92.963%, 27.671% 92.492%, 27.157% 92.121%, 26.702% 91.703%, 26.042% 91.032%, 24.542% 89.720%, 23.585% 88.984%, 22.594% 88.099%, 20.510% 86.007%, 19.562% 84.942%, 18.626% 83.853%, 16.812% 81.561%, 14.531% 78.385%, 13.905% 77.472%, 12.664% 75.425%, 11.482% 73.294%, 9.334% 68.758%, 6.365% 61.097%, 5.606% 58.824%, 3.831% 53.095%, 2.091% 46.567%, 0.921% 40.457%, 0.805% 39.696%, 0.720% 38.944%, 0.574% 37.499%, 0.459% 36.110%, 0.289% 34.641%, 0.161% 33.600%, 0.046% 31.750%, 0.012% 30.775%, 0.000% 30.272%, 0.009% 29.763%, 0.067% 27.580%, 0.170% 25.460%, 0.240% 24.109%, 0.334% 22.753%, 0.438% 20.418%, 0.480% 19.101%, 0.562% 17.337%, 0.735% 15.478%, 0.954% 13.447%, 1.410% 9.695%, 1.860% 5.991%, 2.142% 3.880%, 2.707% 0.471%, 2.802% 0.000%);
      }

      @include small-and-up {
        margin: 0 auto;
        top: 0;
        padding: 0 0 0 25%;
        height: 100%;

        @include small-and-up {
          width: $page-header-small-width;
        }

        @include medium-and-up {
          width: $page-header-medium-width;
        }

        @include large-and-up {
          width: $page-header-large-width;
        }

        @include x-large-and-up {
          width: $page-header-xl-width;
        }
      }

      // hide the overlay
      &:after {
        display: none;
      }
    }

    .btn-primary {
      background: white;
      &:hover {
        background: $bg-button-alt;
      }
    }
  }

  .covers-block {
    @include covers-block(white, $anton, $amiko, $oil-blue);

    .cover-card {
      .cover-card-btn {
        @extend .btn-primary;
      }

      @include small-and-up {
        &:hover {
          .cover-card-content {
            background: $oil-green;
          }

          .cover-card-tag {
            color: black;
          }

          .cover-card-btn {
            @include oil-button(white, black);
            &:hover {
              background: $bg-button-alt;
            }
          }
        }
      }

      .cover-card-content {
        transition: background $transition ease-in-out, top $transition ease-in-out;

        .cover-card-tag {
          line-height: 1.5625rem;
          @include letter-spacing(10);
          transition: color $transition ease-in-out;
        }

        .cover-card-image img {
          @include monochrome;
        }

        .cover-card-btn {
          transition: background $transition ease-in-out;
        }
      }
    }
  } // end .covers-block

  .campaign-thumbnail-block {
    $border: 20px;

    @include campaign-thumbnail-block(url(oil/covers-block.svg) no-repeat, black, black, $anton, -10, #{$border + 16px}, #{$border + 16px});

    .thumbnail-large {
      img:not(:hover) {
        @include monochrome;
      }

      &:after {
        opacity: 1;
        top: $border;
        left: $border;
        right: $border;
        bottom: $border;
        width: auto;
        height: auto;
        pointer-events: none;
      }

      &:hover:after {
        -webkit-filter: brightness(10);
        filter: brightness(10);
        opacity: 1;
      }
    }
  } //end .campaign-thumbnail-block

  .four-column-content {
    @include campaign-covers-block(linear-gradient(to right, $oil-green, $oil-green-2), $amiko, $amiko, $oil-blue);

    .four-column-content-info {
      .four-column-content-information h4 {
        font-weight: $regular;
      }

      @include medium-and-up {
        .four-column-content-symbol a:not(:hover) img {
          @include monochrome;
        }
      }
    }
  } // end .four-column-content

  .article-listing {
    @include article-listing-block($amiko, $amiko, $oil-orange, $anton, $oil-blue);

    .article-list-item-image:not(:hover) {
      @include monochrome;
    }
    .article-list-item-headline a {
      text-transform: none;
    }
    .article-list-item-tags .tag-item {
      @include letter-spacing(-10);
    }
  } // end .article-listing

  .carousel-wrap {
    @include carousel-block(true, $oil-gradient-standard, $oil-black, $oil-grey, $oil-green, url(oil/carousel-arrow.svg), 39px);

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      padding: 5px;
      border: 1px solid $oil-black;
      background-size: 17px 15px;
      background-position: 10px 11px;
    }
  } // end .carousel-block

  .happy-point-block-wrap {
    @include happy-point-block();

    picture {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      img {
        height: 100%;
        @include monochrome;
      }
    }

    @include mobile-only {
      .container {
        margin: 20px;
        width: auto;

        #happy-point {
          // replace paddings with margins
          margin-right: 15px;
          margin-left: 15px;
          padding-left: 0;
          padding-right: 0;
          background: $oil-gradient-standard;

          iframe {
            width: 100%;
          }
        }

        &:after {
          content: '';
          display: block;
          background: url(oil/happy-point-mobile.svg) no-repeat;
          padding-top: 94%;
        }
      }
    }

    @include small-and-up {
      .container {
        $border: 20px;

        position: absolute;
        top: $border;
        bottom: $border;
        left: $border;
        right: $border;
        width: auto;
        height: auto;
        overflow: hidden;
        max-width: none;

        > .row {
          height: 100%; // stop extra height stretching the svg
        }

        #happy-point {
          background: url(oil/happy-point-desktop-small.svg) no-repeat;
          padding-right: 42%;

          iframe {
            width: 100%;
          }
        }
      }

      &.happy-point-cutout-large .container #happy-point {
        background: url(oil/happy-point-desktop-large.svg) no-repeat;
        padding-right: 27%;
      }
    }
  } // end .happy-point-block-wrap

  .split-two-column {
    @include split-two-column-block(
        $anton,
        1.75rem, 2.5rem, black, $regular,
        linear-gradient(to top right, #666, white), 0.8,
        $oil-gradient-standard, 1,
        linear-gradient(to bottom, $bg-gradient-start, $bg-gradient-end)
    );

    .split-two-column-item-link {
      @extend .btn-primary;
    }

    .split-two-column-item-button {
      @extend .btn-secondary;

      &:hover {
        background: $bg-button-alt;
      }
    }

    .split-two-column-item-image img {
      @include monochrome;
    }
  } // end .split-two-column

  .four-column {
    @include four-column-block(
      $oil-green,
      brightness(0%),
      $amiko, $regular,
      $anton, $regular
    );
  } // end .four-column

  .submenu-block {
    @include submenu-block(
      mix($oil-black, white, 10%),
      $anton, black, 1.75rem, 2.5rem, $regular,
      $amiko, $oil-blue
    );
  } // end .submenu-block

  // take action task block
  .what-you-can-do-wrapper {
    @include task-block-base;

    h3 {
      @extend .page-section-header;
    }

    .can-do-steps {
      .step-number {
        background: $oil-gradient-standard;
        font-size: 1.75rem;

        .step-number-inner {
          background-image: url(oil/take-action.svg);
          font-family: $anton;
          top: 15px;
          bottom: 15px;
          right: 15px;
          left: 15px;
          line-height: 90px;
        }
      }

      .step-info {
        h5 {
          font-family: $amiko;
        }
      }
    }

    .can-do-steps-mobile {
      .card-header {
        background: $oil-gradient-standard;
        color: #1D2120;
        font-family: $amiko;
        // Amiko seems to need nudging a bit to appear vertically centered
        padding: 21px 10px 19px 90px;

        .step-number {
          background-image: url(oil/take-action.svg);
          background-size: cover;
          color: black;
          font-family: $anton;
          font-size: 0.9375rem;
          height: 50px;
          line-height: 50px;
          width: 50px;
          top: 10px;
          left: 10px;
        }

        &.collapsed {
          background: black;
          color: white;
        }
      }
    }
  } // end take action task block

  .split-three-column {
    .three-column-info {
      p {
        font-size: 1.125rem;
        margin-bottom: 30px;
      }
    }

    .three-column-images {
      @include three-column-images--divided($oil-gradient-standard);

      img {
        @include monochrome;
      }
    }
  }

  .content-two-column-block {
    @include content-two-column-block($anton);
  }

  .video-block {
    @include video-block($oil-gradient-standard);
  }

  /** IE/Edge only **/
  _:-ms-lang(x), .page-header {
    background: mix($bg-gradient-start, $bg-gradient-end, 50%);

    .page-header-background {
      &::after {
        background: url(oil/header-shape.svg) no-repeat;
        content: ' ';
        display: block;
        top: 0;
        right: 0;
        left: auto;
        bottom: auto;
        width: 100%;
        height: 100%;
      }

      @include mobile-only {
        margin: 0;

        &::after {
          background: url(oil/header-shape-centred.svg) no-repeat;
        }
      }

      /* percentage padding doesn't work properly on IE/edge, so need explicit values */
      @include small-and-up {
        padding-left: #{$page-header-small-width/4};
      }

      @include medium-and-up {
        padding-left: #{$page-header-medium-width/4};
      }

      @include large-and-up {
        padding-left: #{$page-header-large-width/4};
      }

      @include x-large-and-up {
        padding-left: #{$page-header-xl-width/4};
      }
    }
  }
}
