// $slide-transition-speed should match SLIDE_TRANSITION_SPEED in carousel-header.js
$slide-transition-speed: .2s;
$text-slide-offset: 50px;

$mobile-image-height: 280px;
$medium-image-height: 600px;

// 0% and 20% are equal to simulate a delay without using animation-delay
@keyframes initial-header-animation {
  0% {
    transform: translateX(550px);
  }

  20% {
    transform: translateX(550px);
  }

  100% {
    transform: translateX(0);
  }
}

// 0% and 40% are equal to simulate a delay without using animation-delay
@keyframes initial-paragraph-animation {
  0% {
    transform: translateX(550px);
  }

  40% {
    transform: translateX(550px);
  }

  100% {
    transform: translateX(0);
  }
}

// 0% and 50% are equal to simulate a delay without using animation-delay
@keyframes initial-cta-animation {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes texts-from-end-animation {
  from {
    transform: translateX($text-slide-offset);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes texts-from-start-animation {
  from {
    transform: translateX(-$text-slide-offset);
  }

  to {
    transform: translateX(0);
  }
}

.carousel-header {
  position: relative;
  width: 100vw;

  .carousel-inner {
    position: relative;
    overflow: visible;
    height: 580px;
    padding-bottom: 0;

    @include medium-and-up {
      height: 960px;
    }

    @include large-and-up {
      height: 620px;
    }

    .backgrounds-holder {
      @include fill-container;

      div {
        @include fill-container;
        z-index: 500;
        display: none;
      }
    }
  }

  .carousel-item {
    display: block;
    pointer-events: none;
    height: $mobile-image-height;
    position: absolute;
    top: 0;
    opacity: 0;
    z-index: 3500;

    html[dir="rtl"] & {
      margin-right: auto;
    }

    @include medium-and-up {
      height: $medium-image-height;
    }

    @include large-and-up {
      height: 100%;
    }

    &.initial {
      display: block;
      left: 0;
      z-index: 1;
      opacity: 1;
      transition: unset;

      .carousel-caption .main-header {
        h2 {
          animation-name: initial-header-animation;
          animation-duration: 1s;
          animation-timing-function: ease-in-out;
          animation-iteration-count: 1;
        }

        p {
          animation-name: initial-paragraph-animation;
          animation-duration: 1s;
          animation-timing-function: ease-in-out;
          animation-iteration-count: 1;
        }

        .action-button {
          animation-name: initial-cta-animation;
          animation-duration: 2s;
          animation-timing-function: ease-in-out;
          animation-iteration-count: 1;
        }
      }
    }

    .carousel-item-mask {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    .background-holder {
      width: 100vw;
      height: $mobile-image-height;
      z-index: -1;

      img {
        height: 100%;
        object-fit: cover;
        width: 100vw;
      }

      @include medium-and-up {
        height: $medium-image-height;
      }

      @include large-and-up {
        height: 100%;
      }

      // Darken background
      &::after {
        @include fill-container;
        content: "";
        background: none;

        @include large-and-up {
          background: rgba(30, 30, 30, 0.45);
        }
      }
    }

    &.active {
      display: block;
      left: 0;
      z-index: 2000;
      opacity: 1;
      transition: unset;
      pointer-events: all;

      .carousel-caption .main-header {
        h2,
        p {
          transform: translateX(0);
          transition: unset;
        }

        .action-button {
          opacity: 1;
        }
      }
    }

    &.exit-to-start {
      .carousel-caption {
        display: none;
      }

      .carousel-item-mask {
        width: 0;
        transition: width $slide-transition-speed;

        html[dir="rtl"] & {
          direction: ltr;

          .background-holder {
            direction: rtl;
          }
        }
      }

      html[dir="rtl"] & {
        direction: ltr;
      }
    }

    &.exit-to-end {
      .carousel-caption {
        display: none;
      }

      .carousel-item-mask {
        width: 0;
        margin-left: auto;
        right: 0;

        transition: width $slide-transition-speed;

        // This "width + overflow: hidden" reveal trick depends on
        // the direction property to allow masking content from the left, see:
        // https://stackoverflow.com/questions/22126759/how-to-cut-off-overflow-on-the-left-side?rq=1
        //
        // It exists as a workaround for `clip-path` which is not yet well supported on Safari & Firefox.
        // TODO: Remove in favor of `clip-path` when supported in all major browsers
        // Check for compatibility: https://caniuse.com/#feat=css-clip-path
        direction: rtl;

        .background-holder {
          direction: ltr;

          html[dir="rtl"] & {
            direction: rtl;
          }
        }
      }
    }

    &.enter-from-start {
      z-index: 1000;
      display: block;
      opacity: 1;

      .carousel-caption .main-header .carousel-captions-wrapper {
        h2,
        p {
          animation-name: texts-from-start-animation;
          animation-duration: $slide-transition-speed;
          animation-timing-function: ease-in-out;
          animation-iteration-count: 1;

          html[dir="rtl"] & {
            animation-name: texts-from-end-animation;
          }
        }
      }
    }

    &.enter-from-end {
      z-index: 1000;
      display: block;
      opacity: 1;

      .carousel-caption .main-header .carousel-captions-wrapper {
        h2,
        p {
          animation-name: texts-from-end-animation;
          animation-duration: $slide-transition-speed;
          animation-timing-function: ease-in-out;
          animation-iteration-count: 1;

          html[dir="rtl"] & {
            animation-name: texts-from-start-animation;
          }
        }
      }
    }
  }

  .carousel-caption {
    display: block;
    text-align: left;
    position: relative;
    top: 0;
    left: 0;
    padding: 16px 0;
    background: var(--white);
    height: auto;
    width: 100%;

    html[dir="rtl"] & {
      right: 0;
    }

    @include medium-and-up {
      padding-top: $sp-5;
    }

    @include large-and-up {
      display: block;
      padding: 0;
      background: none;
      height: 100%;
      position: absolute;
    }

    .carousel-captions-wrapper {
      @include medium-and-up {
        width: #{460 + ($text-slide-offset * 2)};
      }

      @include large-and-up {
        width: #{320 + ($text-slide-offset * 2)};
      }

      @include x-large-and-up {
        width: #{480 + ($text-slide-offset * 2)};
      }

      overflow: hidden;
    }

    .caption-overlay {
      display: none;
      background: url("../../images/carousel-blurred-overlay.png");
      background-position: bottom right;
      background-size: cover;
      height: 100%;
      width: 50%;
      position: absolute;
      opacity: 0;
      pointer-events: none;

      html[dir="rtl"] & {
        background-position: bottom left;
      }

      @include large-and-up {
        display: block;
        opacity: 1;
      }

      @include x-large-and-up {
        width: 580px;
      }
    }
  }

  .carousel-caption .main-header {
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
    width: 100%;

    @include large-and-up {
      padding-top: 180px;
      padding-bottom: 32px;
      margin-inline-start: 80px;
    }

    @include x-large-and-up {
      margin-inline-start: auto;
    }

    h2 {
      width: 100%;
      color: var(--color-text-heading);
      transition: unset;
      transform: translateX($text-slide-offset);
      font-size: 1.62rem;
      margin-bottom: 18px;
      line-height: 1.2;

      html[dir="rtl"] & {
        text-align: right;
      }

      @include small-and-up {
        font-size: $font-size-xl;
      }

      @include medium-and-up {
        font-size: 2.25rem;
        margin-bottom: 24px;
      }

      @include large-and-up {
        max-width: 100%;
        width: 100%;
        color: var(--white);
        margin-bottom: 32px;
        line-height: 1.2;
        font-size: $font-size-xxl;
      }

      @include x-large-and-up {
        font-size: $font-size-xxxl;
        line-height: 1.1;
        max-width: 100%;
        width: 100%;
      }
    }

    p {
      font-family: var(--font-family-paragraph-primary);
      font-size: var(--font-size-m--font-family-secondary);
      font-weight: var(--font-weight-regular);
      line-height: var(--line-height-m--font-family-secondary);
      display: block;
      color: var(--color-text-body);
      width: 100%;
      padding-inline-start: 0;
      margin-bottom: 24px;
      max-width: 100%;

      html[dir="rtl"] & {
        text-align: right;
      }

      transform: translateX($text-slide-offset);

      @include small-and-up {
        font-size: var(--font-size-m--font-family-secondary);
      }

      @include medium-and-up {
        font-size: var(--font-size-m--font-family-secondary);
        line-height: var(--line-height-m--font-family-secondary);
        margin-bottom: 24px;
        display: block;
      }

      @include large-and-up {
        font-size: var(--font-size-xl--font-family-secondary);
        margin-bottom: 36px;
        color: var(--white);
      }

      @include x-large-and-up {
        font-size: var(--font-size-xl--font-family-secondary);
        line-height: var(--line-height-xl--font-family-secondary);
      }
    }

    .action-button {
      left: 0;
      right: 0;
      position: relative;
      font-family: var(--font-family-primary);
      width: 100%;
      bottom: inherit;
      margin-bottom: 24px;
      text-align: center;
      max-width: 100%;
      padding-left: 0;
      padding-right: 0;

      @include small-and-up {
        width: auto;
        bottom: inherit;
        position: relative;
      }

      @include medium-and-up {
        text-align: left;
        position: inherit;
        // bottom: 60px;
        margin-top: 0;
        margin-left: 0;
        width: auto;

        html[dir="rtl"] & {
          text-align: right;
          margin-left: auto;
          margin-right: 0;
        }
      }

      .btn {
        width: auto;
        min-width: 240px;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        @include medium-and-up {
          min-width: 280px;
        }
      }
    }
  }

  .carousel-control-prev {
    display: none;
    z-index: 4000;
    margin-inline-start: 0;

    @include large-and-up {
      display: flex;
      top: 50%;
      margin-top: -46px;
      height: 92px;
      width: 78px;
      transition: padding .2s, background-color .2s;

      &:hover {
        background-color: rgba(0, 0, 0, .15);
        padding-inline-end: 5px;
      }

      html[dir="rtl"] & {
        right: 0;
        left: auto;
      }
    }
  }

  .carousel-control-prev-icon {
    text-align: center;
    width: 28px;
    height: 46px;
    background-image: none;
    mask-image: url("../../images/chevron.svg");
    mask-size: cover;
    background-color: var(--white);
    transform: rotate(180deg);

    @include large-and-up {
      display: block;
      margin: auto;
    }

    html[dir="rtl"] & {
      transform: none;
    }
  }

  .carousel-control-next {
    display: none;
    margin-inline-end: 0;
    z-index: 4000;

    @include large-and-up {
      top: 50%;
      display: flex;
      margin-top: -46px;
      height: 92px;
      width: 78px;
      transition: padding .2s, background-color .2s;

      &:hover {
        background-color: rgba(0, 0, 0, .15);
        padding-inline-start: 5px;
      }

      html[dir="rtl"] & {
        right: auto;
        left: 0;
      }
    }
  }

  .carousel-control-next-icon {
    text-align: center;
    width: 28px;
    height: 46px;
    cursor: pointer;
    background-image: none;
    mask-image: url("../../images/chevron.svg");
    mask-size: cover;
    background-color: var(--white);

    @include large-and-up {
      display: block;
      margin: auto;
    }

    html[dir="rtl"] & {
      transform: scaleX(-1);
    }
  }

  .carousel-indicators-wrapper {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 3000;

    @include large-and-up {
      > .container {
        margin-inline-start: 80px;
      }
    }

    @include x-large-and-up {
      > .container {
        margin-inline-start: auto;
      }
    }
  }

  .carousel-indicators {
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    margin: 0;
    bottom: 0;
    height: 44px;

    @include medium-and-up {
      text-align: right;
      width: auto;

      html[dir="rtl"] & {
        text-align: left;
      }
    }

    @include large-and-up {
      text-align: left;
      padding-left: 0;
      padding-right: 0;
      width: auto;
      display: block;

      html[dir="rtl"] & {
        text-align: right;
      }
    }

    li {
      background-color: rgba(0, 0, 0, 0.4);
      width: 40px;
      height: 3px;
      border-radius: 0;
      border: unset;
      margin: 0 3px;
      cursor: pointer;
      display: inline-table;
      right: 0;

      @include large-and-up {
        background-color: rgba(255, 255, 255, 0.4);
      }

      &.active {
        background: black;

        @include large-and-up {
          background: var(--white);
        }
      }
    }
  }
}
