vendor
node_modules/
/languages/*.po~
/languages/*.pot~
tests/backstop/

# Built css and js assets
assets/build/*

# Playwright
/e2e-results/
/e2e-report/
/playwright/.cache/
/playwright/.auth/
/tests/e2e/snapshots.spec.js-snapshots/
.env
