body.login {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  background: white;
}

body.login h1 a {
  background-image: url('images/p4-logo.png');
  background-size: 320px 85px;
  background-position: center top;
  background-repeat: no-repeat;
  color: #999;
  width: 320px;
  height: 85px;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.3em;
  margin: 0 auto 25px;
  padding: 0;
  text-decoration: none;
  text-indent: -9999px;
  outline: none;
  overflow: hidden;
  display: block;
}

body.login div#login form#loginform p.galogin a {
  text-decoration: none;
  font-weight: normal;
  display: block;
  line-height: 3rem;
}

body.login div#login form#loginform p.galogin-powered {
  font-style: normal;
  color: #999;
}

body.login div#login form#loginform p.galogin-powered a {
  color: #999;
  text-decoration: none;
}

body.login div#login form#loginform h3.galogin-or {
  text-transform: uppercase;
  font-weight: normal;
}

body.login div#login form#loginform {
  background: #e7e8ea;
}

form#loginform p.galogin {
  background: none repeat scroll 0 0 #09c;
  border-color: #0074A2;
  box-shadow: 0 1px 0 rgba(120, 200, 230, 0.5) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  border-radius: 0px;
  padding: 0;
  margin: 0;
  height: auto;
  font-size: 14px;
}

body.login #login_error, body.login .message, body.login .success {
  padding: 12px;
  margin-left: 0;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}

body.login div#login form#loginform p.submit input#wp-submit {
  background: #f36d3a;
  box-shadow: none;
  text-shadow: none;
  text-transform: uppercase;
  height: auto;
  border: none;
  color: white;
  padding: 0.5em 40px;
  line-height: 1;
  border-radius: 0;
}
