.top-page-tags {
  font-size: 0.875rem;
  margin-bottom: 6px;
  font-family: $roboto;

  @include medium-and-up {
    font-size: 1rem;
  }

  a {
    font-size: 0.875rem;
    margin-bottom: 6px;

    @include medium-and-up {
      font-size: 1rem;
    }
  }

  .tag-wrap {
    display: inline-block;
    position: relative;
    color: $blue;

    @include mobile-only {
      &.tags {
        display: block;
      }
    }
  }

  .tag-item--main + .tag-wrap {
    &:before {
      content: "\2022";
      pointer-events: none;
      display: inline-block;
      position: absolute;
      left: -15px;
      top: 0;

      @include mobile-only {
        display: none;
      }
    }
  }

  .tag-item {
    color: $blue;
    font-weight: 400;
    display: inline-block;

    @include x-large-and-up {
      font-size: 1rem;
    }

    &.tag:not(:first-child) {
      margin-left: 7px;
    }
  }

  .tag-item--main {
    font-weight: 500;
    margin-right: 20px;

    &.page-type {
      text-transform: uppercase;
    }
  }

  .issues {
    .tag-item--main {
      &:first-child {
        margin-right: 7px;
      }
    }
  }
}
