.top-page-tags {
  font-size: 0.875rem;
  margin-bottom: 6px;
  font-family: $roboto;

  @include medium-and-up {
    font-size: 1rem;
  }

  a {
    font-size: 0.875rem;
    margin-bottom: 6px;

    @include medium-and-up {
      font-size: 1rem;
    }
  }

  .tag-wrap {
    display: inline;
    position: relative;
    color: $blue;
  }

  .tag-item--main + .tag-wrap,
  .tag-wrap + .tag-wrap {
    &:before {
      content: "\2022";
      pointer-events: none;
      display: inline-block;
      position: absolute;
      left: -15px;
      top: 0;

      html[dir="rtl"] & {
        left: auto;
        right: 5px;
      }
    }
  }

  .tag-item {
    color: $blue;
    font-weight: 400;
    display: inline-block;

    @include x-large-and-up {
      font-size: 1rem;
    }

    &:not(:only-child):not(:last-child) {
      margin-right: 7px;

      html[dir="rtl"] & {
        margin-right: 20px;
      }

      &.page-type {
        margin-right: 20px;
      }
    }
  }

  .tag-item--main {
    font-weight: 500;

    &.page-type {
      text-transform: uppercase;

      html[dir="rtl"] & {
        text-transform: lowercase;
      }
    }
  }

  .issues {
    margin-right: 20px;
  }
}
