// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files. 
// Remove !default from the copied values.

// Overiding the background color just an example
// changed from #292b2c to #292b2d for demo

.visible-md-only,
.md-navigation {
  display: none;
}

.visible-xs {
  display: none;
}