/******************************************************************
Site Name: Planet 4 Master Theme

Stylesheet: Typography

Import a Font or Icons

******************************************************************/

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  hyphens: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $roboto;
}

h1,
h2 {
  font-weight: bold;
}

h1 {
  font-size: rem(40);
  line-height: 1.225;
  margin-bottom: rem(30);

  @include large-and-up {
    font-size: rem(56);
    margin-bottom: rem(48);
  }
  @include x-large-and-up {
    font-size: rem(66);
  }
}

h2 {
  font-size: rem(26);
  line-height: 1.38;
  margin-bottom: rem(5);

  @include medium-and-up {
    font-size: rem(34);
  }

  @include large-and-up {
    font-size: rem(36);
  }

  @include x-large-and-up {
    font-size: rem(38);
    margin-bottom: rem(24);
  }
}

.white-text {
  color: $white;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}
