/******************************************************************
Site Name: Planet4 Master theme
Author: Ashish Singh(ashish.singh@greenpeace.org)

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults.
******************************************************************/

/**
 * A note on colors:
 *
 * Every single color on this site should use a color variable as defined
 * in this file for brand consistency and code maintenance.
 *
 * Once a color is defined here, it should not change and will remain
 * consistent.
 */

// Primary Colors.
$black:       #000;
$white:       #fff;

$grey-80:     #191919;
$grey:        #333;
$grey-60:     #666;
$grey-40:     #999;
$grey-20:     #ccc;
$grey-10:     #e5e5e5;

$gp-green:    #66cc00; // Should only ever be used on the GP logo/wordmark.
$gp-green-80: #8bcc49;
$gp-green-60: #abd879;
$gp-green-40: #c7e5a5;
$gp-green-20: #e3f2d3;

$green:       #003300;
$green-80:    #1b4a1b;
$green-60:    #4a7a4a;
$green-40:    #94b794;
$green-20:    #d9e6d7;

$blue:        #2077bf;
$blue-80:     #3290de;
$blue-60:     #63bbfd;
$blue-40:     #86cafb;
$blue-20:     #b8e0fa;

$yellow:      #ffd204;
$yellow-80:   #ffdb34;
$yellow-60:   #ffe467;
$yellow-40:   #ffed98;
$yellow-20:   #fff6cd;

// Oranges:
$orange:       #f36d3a;
$orange-hover: #ee562d;

// Various greens:
$shamrock:          #37d88d;
$dark-shamrock:     #32ca89;
$elm:               #229073;
$eden:              #0f6459;
$deep-sea-green:    #0a4f45;
$tiber:             #043029;
$dark-tiber:        #052a30;
$inch-worm:         #a7e021;
$pastel-green:      #72e360;
$dark-pastel-green: #6ed961;
$emerald:           #47c46c;
$ocean-grean:       #3aa974;
$sea-green:         #26774e;

// Various blues:
$x-dark-blue:  #042233;
$dark-blue:    #074365;
$body-blue:    #afd4c7;
$spray:        #86eee7;
$aquamarine:   #68dfde;
$scooter:      #25c9dc;
$java:         #1bb6d6;
$java-2:       #1bdfdf;
$java-dark:    #21cbca;
$cerulean:     #03aad6;
$allports:     #007799;
$blue-elm:     #22938d;
$faded-jade:   #418482;
$genoa:        #186a70;
$blue-tiber:   #093944;
$mirage:       #111b25;

// Various reds:
$peach:       #eaccbb;
$dark-pink:   #d39c92;
$apricot:     #ea8e75;
$crimson:     #e51538;
$red:         #a01604;
$dark-copper: #7a1805;
$maroon:      #3f0901;

// Need to be re-assigned colors.
$blue:      #2980b9;
$brown-bg:  #FAF7EC;
$red:       #ad2330;
$med-blue:  #0A3351;


/**
 * From this point on only the above color variables should be used in the codebase.
 */


// Used colors
$active:                #aed4c7;
$blue-bg-anchor:        #30a7af;
$blue-bg:               #03484f;
$blue-heading:          #004950;
$blue-text:             #12757B;
$border-color:          #07403a;
$brown-bg-tags-text:    $yellow;
$card-header-bg:        #c7dcd3;
$carr-arrow:            $med-blue;
$carousel-active:       #064364; // Duplicate
$darkb-blue-text:       #264042;
$fixed-nav-bg:          #247670;
$header-footer-bg:      #030403;
$light-blue-bg:         #D6E6F2;
$light-blue:            #67B2AF;
$nav-link:              #a6df20;
$percentage-text:       #017e7a;
$step-normal-bg:        #E4E7DA;
$steps-deactive-text:   #0A4F45;
$top-nav:               #1e5f65;
$light-grey:            #e0ddd4;

// Used once.
$body-bg:               #b0d4c8;
$brown-bg-tags-link:    #E88D75;
$container-bg:          $body-blue;
$dark-para-text:        #011D1E;
$green-link-hover:      #77dd11;
$heading:               #004d53;
$step-number-hover:     #42b3aa;
$step-number:           #dc9509;
$brown-header:          #5C1F10;

// Colors to be fixed/addressed:
$article-heading-color:	#152431;
$credit-color:          #5A5A5A;
$search-text-colour:    #115247;
$blue-top-nav:          $dark-blue;
$dark-shade-black:      #1a1a1a;
$carousel-indi-color:   #8BCC49;
$shadow-color:          $grey-60;
$hover-nav:             #052A30;

// Media queries
$extra-small-width:  320px;
$small-width:        575px;
$medium-width:       768px;
$large-width:        992px;
$extra-large-width:  1480px;
