.carousel-wrap {
  overflow: hidden;

  &.force-no-lightbox {
    .carousel-item img {
      cursor: auto;
    }
  }

  h1 {
    font-size: $font-size-lg;
    margin-bottom: 22px;
    margin-left: 0;

    html[dir="rtl"] & {
      text-align: right;
    }

    @include large-and-up {
      font-size: $font-size-xl;
      margin-bottom: 20px;
    }

    @include x-large-and-up {
      font-size: 1.875rem;
      margin-bottom: 22px;
    }
  }

  .carousel-item {

    @include mobile-only {
      height: 265px;
    }

    @include small-and-up {
      height: 365px;
    }

    @include medium-and-up {
      height: 465px;
    }

    @include large-and-up {
      height: 565px;
    }

    @include x-large-and-up {
      height: 665px;
    }

    @include xx-large-and-up {
      height: 765px;
    }

    .carousal-item-credit {
      position: absolute;
      right: 0;
      top: 0;
      color: var(--white);
      font-size: $font-size-xxs;
      margin: $sp-2;
      font-weight: normal;
    }

    img {
      width: 100%;
      object-fit: cover;
      cursor: pointer;

      @include mobile-only {
        height: 200px;
      }

      @include small-and-up {
        height: 300px;
      }

      @include medium-and-up {
        height: 400px;
      }

      @include large-and-up {
        height: 500px;
      }

      @include x-large-and-up {
        height: 600px;
      }

      @include xx-large-and-up {
        height: 700px;
      }
    }
  }

  .carousel-item.active,
  .carousel-item-next,
  .carousel-item-prev {
    display: block;

    img {
      width: 100%;
    }
  }

  .carousel-caption {
    position: relative;
    padding: 0;
    margin-top: 0.5em;
    right: 0;
    bottom: 0;
    left: 0;

    p {
      color: var(--color-text-image_caption);
      font-size: $font-size-xxs;
      font-family: var(--font-family-paragraph-secondary);
      line-height: 1.4;
      margin-bottom: 0;
      @include clamp-text(3);
    }
  }

  ol.carousel-indicators {
    top: 180px;
    list-style: none;

    @include medium-and-up {
      top: 380px;
    }

    @include large-and-up {
      top: 480px;
    }

    @include x-large-and-up {
      top: 580px;
    }

    @include xx-large-and-up {
      top: 680px;
    }

    li {
      width: 40px;
      height: 3px;
      margin: 0 3px;
      cursor: pointer;
      background: var(--white);
      opacity: 0.5;

      &.active {
        opacity: 1;
      }
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    cursor: pointer;
    display: none;
    background: white;
    width: 48px;
    height: 48px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    opacity: 1;

    &:focus {
      @include focus-styles(50%);
    }

    &:hover {
      background: var(--grey-200);
      padding-inline-start: 0;
    }

    @include medium-and-up {
      display: block;
      top: 180px;
    }

    @include large-and-up {
      top: 240px;
    }

    @include x-large-and-up {
      top: 290px;
    }

    @include xx-large-and-up {
      top: 340px;
    }
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-image: url("../../images/chevron.svg");
    background-size: 11px 19px;
    width: 48px;
    height: 48px;
  }

  .carousel-control-next {
    right: 24px;
  }

  .carousel-control-prev {
    transform: rotate(180deg);
    left: 24px;
  }
}
