.filter-sidebar {
  position: relative;

  h4 {
    font-size: 1.75rem;
    margin-bottom: 48px;
    font-weight: bold;
  }

  .filteritem {
    a {
      display: block;
      border: 1px solid $dark-blue;
      border-top: 0;
      border-bottom-width: 4px;
      padding: 11px 30px;
      text-transform: uppercase;
      text-decoration: none;
      color: $header-footer-bg;
      font-weight: bold;
      position: relative;
      font-size: 1rem;
      margin-bottom: 24px;

      @include small-and-up {
        padding: 13px 30px;
        font-size: 1.125rem;
        margin-bottom: 32px;
      }

      @include large-and-up {
        padding: 11px 30px;
        font-size: 1.25rem;
      }

      span {
        position: absolute;
        width: 14px;
        height: 14px;
        right: 0;
        top: 0;
        background-color: transparent;
        margin: 16px;

        html[dir="rtl"] & {
          right: auto;
          left: 0;
        }

        &:before,
        &:after {
          content: "";
          position: absolute;
          background-color: $black;
          transition: transform 0.25s ease-out;
        }

        &:before {
          top: 0;
          left: 50%;
          width: 4px;
          height: 100%;
          margin-left: -2px;
          transform: rotate(90deg);
        }

        &:after {
          top: 50%;
          left: 0;
          width: 100%;
          height: 4px;
          margin-top: -2px;
        }
      }

      &.collapsed {
        border-bottom-width: 2px;

        span {
          &:before {
            transform: rotate(180deg);
          }

          &:after {
            transform: rotate(180deg);
          }
        }
      }
    }

    .custom-control-indicator {
      appearance: none;
      border: 1px solid $black;
      background-color: transparent;
    }

    .p4-custom-control-input:checked {
      & + .custom-control-indicator {
        background-color: $faded-jade;
        border-color: $faded-jade;
      }

      & ~ .custom-control-description {
        font-weight: bold;
      }
    }

    ul {
      li {
        height: 42px;
        display: block;
      }
    }

    .custom-control-description {
      color: $grey;

      @include small-and-up {
        font-size: 1rem;
      }

      @include x-large-and-up {
        font-size: 1.125rem;
      }
    }
  }

  .filter-button {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 29px;
    z-index: 2;

    @include small-and-up {
      margin-top: -14px;
    }

    .btn-filter {
      font-size: 1rem;
      height: 40px;
      width: 130px;
      line-height: 40px;
      background: $orange;
      font-weight: bold;
      padding: 0 10px;
      text-transform: uppercase;
      color: $white;

      &:hover {
        color: $black;
        cursor: pointer;
      }

      i {
        font-size: 1.25rem;
        vertical-align: middle;
        margin-right: 20px;
      }

      @include small-and-up {
        font-size: 1rem;
        height: 48px;
        width: 150px;
        line-height: 48px;

        &:hover {
          background: $orange-hover;
          color: $white;
        }
      }

      &.disabled {
        background: $grey-40;

        &:hover {
          color: $white;
          cursor: not-allowed;
        }
      }
    }
  }

  .active-filter {
    h5 {
      font-size: 1.25rem;
      color: $grey-40;
      margin-bottom: 20px;
    }

    .activefilter-list {
      margin-bottom: 20px;
      border-bottom: 1px solid $grey-20;
      padding-bottom: 10px;

      .activefilter-tag,
      .clearall {
        font-size: 1.125rem;
        font-style: normal;
        color: $dark-blue;
        border: 1px solid $blue-tiber;
        padding: 0 40px 0 20px;
        display: inline-block;
        margin-right: 8px;
        margin-bottom: 16px;
        line-height: 42px;
        text-decoration: none;
        position: relative;
        min-width: 40%;

        i {
          font-size: 0.75rem;
          position: absolute;
          right: 0;
          top: 0;
          margin: 15px;
        }
      }

      .activefilter-tag {
        background-color: transparent;
        cursor: pointer;
        text-align: left;
      }

      .clearall {
        text-align: center;
        width: 100%;
        background: $med-blue;
        color: $white;
        text-transform: uppercase;
        cursor: pointer;
      }
    }
  }
}
