.search-info {
  font-size: 0.875rem;
  margin-bottom: 0;
  font-family: $roboto;
  font-style: italic;
  color: $grey-60;
  line-height: normal;

  @include medium-and-up {
    font-size: 1.125rem;
  }

  @include large-and-up {
    font-size: 1.75rem;
  }

  @include x-large-and-up {
    font-size: 2rem;
  }

  .btn-filter-item {
    font-size: 0.875rem;
    line-height: 1.6;
    font-style: normal;
    text-transform: none;
    margin-left: 10px;
    padding: 0 $n30 0 $n10;
    border-width: 2px;

    @include small-and-up {
      font-size: 1rem;
      line-height: 1.9;
      padding: 0 $n40 0 15px;
    }

    @include large-and-up {
      font-size: 1.375rem;
    }
  }
}
