.filter-modal {
  .modal-dialog {
    max-width: 90%;
  }

  .modal-body {
    padding: 30px 15px;

    @include small-and-up {
      padding: 50px;
    }
  }

  .modal-title {
    font-size: 1.625rem;
    margin-bottom: 24px;

    @include small-and-up {
      font-size: 2.125rem;
    }
  }

  .cancelbtn {
    min-width: 45%;
    border-color: $orange;
    color: $orange;
    padding-left: 0;
    padding-right: 0;

    &:hover {
      background: transparent;
      color: $black;
    }
  }

  .applybtn {
    width: 50%;
    float: right;
    padding-left: 0;
    padding-right: 0;
  }

  .closebtn {
    float: right;
    margin-top: -62px;
    border-radius: 50%;
    padding: 8px 14px;
    margin-right: 0;
    transition: color, border-color, background-color 150ms linear;

    @include small-and-up {
      padding: -15px;
    }

    &:hover {
      background-color: $orange;
      border-color: $orange;
      color: $white;
    }

    .icon {
      font-size: 0.75rem;
    }
  }
}
