.search-result-list {
  height: 150px;

  @include small-and-up {
    height: 120px;
  }

  @include large-and-up {
    height: 235px;
  }

  @include x-large-and-up {
    height: 208px;
  }
}

.multiple-search-result {
  height: 100%;
  padding-top: 100px;

  @include small-and-up {
    padding-top: 32px;
  }

  ul {
    border-top: 1px solid $grey-20;

    @include small-and-up {
      border-top: 0;
    }

    li {
      padding: 15px 0;
      margin: 0 15px;
      border-bottom: 1px solid $grey-20;
      position: relative;

      @include small-and-up {
        margin: 0 auto 32px;
        padding-bottom: 32px;
      }

      .search-hover {
        text-decoration: underline;
      }

      .search-result-item-image,
      .blank-block {
        width: 0;
        margin-right: 0;
        visibility: hidden;

        @include small-and-up {
          width: 25%;
          margin-right: 30px;
          visibility: visible;

          html[dir="rtl"] & {
            margin-right: 0;
            margin-left: 30px;
          }
        }

        &:hover {
          cursor: pointer;
        }
      }

      &.search-result-list-item-bg {
        @include background("images/search-list.jpg");
        padding: 24px 15px 30px;
        margin: 15px;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
        border-bottom: 0;

        @include small-and-up {
          padding-top: 32px;
          padding-bottom: 32px;
          margin: 15px 0;
        }

        .search-result-item-headline {
          font-size: 1.5rem;
          margin-bottom: 40px;

          @include small-and-up {
            margin-bottom: 24px;
          }

          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }

        .search-result-item-content {
          display: block;
        }

        .btn {
          width: 100%;
          margin-top: 32px;
          cursor: pointer;

          @include small-and-up {
            width: auto;
          }
        }
      }
    }
  }

  .more-btn {
    margin-top: 25px;

    @include large-and-up {
      margin-top: 35px;
    }
  }
}

.search-result-item-body {
  .btn-secondary {
    width: 100%;

    @include medium-and-up {
      width: auto;
      position: absolute;
      top: 20px;
      right: 0;
      padding: 0 15px;
    }

    i {
      font-size: 1rem;
      font-weight: bold;
      margin-right: 10px;
      float: left;
      line-height: 2.2rem;
    }
  }
}

.search-result-item-actionbox {
  position: relative;
  display: block;
  width: 100%;
  float: left;

  @include small-and-up {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.search-result-item-headline {
  font-size: 1.125rem;
  color: $grey-80;
  text-decoration: none;
  font-weight: 500;
  display: block;
  line-height: normal;
  margin-bottom: 10px;

  @include small-and-up {
    font-size: 1.375rem;
  }

  @include large-and-up {
    font-size: 1.625rem;
  }
}

.search-result-item-info {
  font-size: 0.875rem;
  font-style: italic;
  color: $grey-60;
  line-height: normal;
  margin-bottom: 10px;

  @include large-and-up {
    font-size: 1rem;
  }
}

.search-result-item-content {
  display: none;
  font-size: 1rem;
  color: $black;
  line-height: 30px;
  margin-bottom: 0;

  @include small-and-up {
    display: block;
  }

  @include large-and-up {
    font-size: 1.125rem;
  }
}

.search-result-tags {
  .search-result-item-title {
    background: $grey-20;
    color: $white;
    font-weight: bold;
    padding: 2px 10px;
    text-decoration: none;
    margin-right: 10px;
    display: inline-block;
  }

  .tags {
    @include mobile-only {
      margin-top: 5px;
    }
  }

  .search-result-item-tag {
    &:before {
      top: -2px;
    }
  }
}
