body.theme-climate {
  .covers-block {
    @include campaign_covers(white, $jost, $jost, $climate-blue);

    .cover-card {
      .cover-card-btn {
        @extend .btn-primary;
      }

      @include small-and-up {
        &:hover {
          .cover-card-content {
            background: $climate-green;
          }

          .cover-card-tag {
            color: black;
          }

          .cover-card-btn {
            @include climate-button(white, black);

            &:hover {
              background: $bg-button-alt;
            }
          }
        }
      }

      .cover-card-content {
        transition: background $transition ease-in-out, top $transition ease-in-out;

        .cover-card-tag {
          line-height: 1.5625rem;
          @include letter-spacing(10);
          transition: color $transition ease-in-out;
        }

        .cover-card-image img {
          @include monochrome;
        }

        .cover-card-btn {
          transition: background $transition ease-in-out;
        }
      }
    }
  }
  // end .covers-block
  .campaign-thumbnail-block {
    $border: 20px;

    @include campaign_thumbnail(url("images/climate/covers-block.svg") no-repeat, black, black, $jost, -10, #{$border + 16px}, #{$border + 16px});

    .thumbnail-large {
      img:not(:hover) {
        @include monochrome;
      }

      &:after {
        opacity: 1;
        top: $border;
        left: $border;
        right: $border;
        bottom: $border;
        width: auto;
        height: auto;
        pointer-events: none;
      }

      &:hover:after {
        -webkit-filter: brightness(10);
        filter: brightness(10);
        opacity: 1;
      }
    }
  }
  //end .campaign-thumbnail-block
  .four-column-content {
    @include campaign_content_four_column(linear-gradient(to right, $climate-green, $climate-green-2), $jost, $jost, $climate-blue);

    .four-column-content-info {
      .four-column-content-information h4 {
        font-weight: $regular;
      }

      @include medium-and-up {
        .four-column-content-symbol a:not(:hover) img {
          @include monochrome;
        }
      }
    }
  }
  // end .four-column-content
  .article-listing {
    @include campaign_articles($jost, $jost, $climate-orange, $jost, $climate-blue);

    .article-list-item-image:not(:hover) {
      @include monochrome;
    }

    .article-list-item-headline a {
      text-transform: none;
    }

    .article-list-item-tags .tag-item {
      @include letter-spacing(-10);
    }
  }
  // end .article-listing
  .carousel-wrap {
    @include campaign_carousel(true, $climate-gradient-standard, $climate-black, $climate-grey, $climate-green, url("images/climate/carousel-arrow.svg"), 39px);

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      padding: 5px;
      border: 1px solid $climate-black;
      background-size: 17px 15px;
      background-position: 10px 11px;
    }
  }
  // end .carousel-block
  .happy-point-block-wrap {
    @include campaign_happy_point();

    picture {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      img {
        height: 100%;
        @include monochrome;
      }
    }

    @include mobile-only {
      .container {
        margin: 20px;
        width: auto;

        #happy-point {
          // replace paddings with margins
          margin-right: 15px;
          margin-left: 15px;
          padding-left: 0;
          padding-right: 0;
          background: $climate-gradient-standard;

          iframe {
            width: 100%;
          }
        }

        &:after {
          content: "";
          display: block;
          background: url("images/climate/happy-point-mobile.svg") no-repeat;
          padding-top: 94%;
        }
      }
    }

    @include small-and-up {
      .container {
        $border: 20px;

        position: absolute;
        top: $border;
        bottom: $border;
        left: $border;
        right: $border;
        width: auto;
        height: auto;
        overflow: hidden;
        max-width: none;

        > .row {
          height: 100%; // stop extra height stretching the svg
        }

        #happy-point {
          background: url("images/climate/happy-point-desktop-small.svg") no-repeat;
          padding-right: 42%;

          iframe {
            width: 100%;
          }
        }
      }

      &.happy-point-cutout-large .container #happy-point {
        background: url("images/climate/happy-point-desktop-large.svg") no-repeat;
        padding-right: 27%;
      }
    }
  }
  // end .happy-point-block-wrap
  .split-two-column {
    @include campaign_split_two_columns(
      $jost,
      1.75rem, 2.5rem, black, $regular,
      linear-gradient(to top right, #666, white), 0.8,
      $climate-gradient-standard, 1,
      linear-gradient(to bottom, $bg-gradient-start, $bg-gradient-end)
    );

    .split-two-column-item-link {
      @extend .btn-primary;
    }

    .split-two-column-item-button {
      @extend .btn-secondary;

      &:hover {
        background: $bg-button-alt;
      }
    }

    .split-two-column-item-image img {
      @include monochrome;
    }
  } // end .split-two-column

  .columns-block.block-style-icons {
    @include campaign_columns_style_icons(
      $climate-green,
      brightness(0%),
      $jost, $regular,
      $jost, $regular
    );
  } // end .columns-block.block-style-icons

  .submenu-block {
    @include campaign_submenu(
      mix($climate-black, white, 10%),
      $jost, black, 1.75rem, 2.5rem, $regular,
      $jost, $climate-blue
    );
  }
  // end .submenu-block

  // tasks columns block
  .columns-block.block-style-tasks {
    @include campaign_columns_style_tasks;

    h3 {
      @extend .page-section-header;
    }

    .can-do-steps {
      .step-number {
        background: $climate-gradient-standard;
        font-size: $font-size-xl;

        .step-number-inner {
          background-image: url("images/climate/take-action.svg");
          font-family: $jost;
          top: 15px;
          bottom: 15px;
          right: 15px;
          left: 15px;
          line-height: 90px;
        }
      }

      .step-info {
        h5 {
          font-family: $jost;
        }
      }
    }

    .can-do-steps-mobile {
      .card-header {
        background: $climate-gradient-standard;
        color: #1d2120;
        font-family: $jost;
        // Amiko seems to need nudging a bit to appear vertically centered
        padding: 21px 10px 19px 90px;

        .step-number {
          background-image: url("images/climate/take-action.svg");
          background-size: cover;
          color: black;
          font-family: $jost;
          font-size: $font-size-xs;
          height: 50px;
          line-height: 50px;
          width: 50px;
          top: 10px;
          left: 10px;
        }

        &.collapsed {
          background: black;
          color: white;
        }
      }
    }
  }
  // end take action task block
  .split-three-column {
    .three-column-info {
      p {
        font-size: 1.125rem;
        margin-bottom: 30px;
      }
    }

    .three-column-images {
      @include campaign_content_three_column_images_divided($climate-gradient-standard);

      img {
        @include monochrome;
      }
    }
  }

  .columns-block.block-style-image {
    @include campaign_columns_style_image($jost);
  }

  .columns-block.block-style-no_image {
    @include campaign_columns_style_no_image($jost, black, bold, none);
  }

  .video-block {
    @include campaign_video($climate-gradient-standard);
  }

  /** IE/Edge only **/
  _:-ms-lang(x), .page-header { /* stylelint-disable-line */
    background: mix($bg-gradient-start, $bg-gradient-end, 50%);

    .page-header-background {
      &::after {
        background: url("images/climate/header-shape.svg") no-repeat;
        content: " ";
        display: block;
        top: 0;
        right: 0;
        left: auto;
        bottom: auto;
        width: 100%;
        height: 100%;
      }

      @include mobile-only {
        margin: 0;

        &::after {
          background: url("images/climate/header-shape-centred.svg") no-repeat;
        }
      }

      /* percentage padding doesn't work properly on IE/edge, so need explicit values */
      @include small-and-up {
        padding-left: #{$page-header-small-width/4};
      }

      @include medium-and-up {
        padding-left: #{$page-header-medium-width/4};
      }

      @include large-and-up {
        padding-left: #{$page-header-large-width/4};
      }

      @include x-large-and-up {
        padding-left: #{$page-header-xl-width/4};
      }
    }
  }

  .counter-block {
    text-align: left;

    @include campaign-counter($climate-red, $jost);
  }
}
