:root {
  --link--color: #BD3DBD;
  --link-hover--color: #963196;
}
body.theme-plastic {
  $montserrat: "Montserrat", sans-serif;

  $plastics-black: #1d2120;
  $plastics-peach: #f7aea9;
  $plastics-peach-darker: #f98667;
  $plastics-blue: #044362;
  $plastics-blue-mid: #00748f;
  $plastics-blue-light: #1a9db8;
  $plastics-aqua-light: #8fd9d0;

  font-family: var(--campaign_body_font, $roboto);
  background: white;

  @mixin plastics-button($background: $plastics-peach-darker, $foreground: white) {
    //todo: check letter spacing
    //todo: sort out transition
    @include button($background, $foreground, $montserrat, 60);
    font-weight: $extra-bold;
    border-radius: 25px;
  }

  .btn-primary {
    @include plastics-button;

    &:hover {
      background: $plastics-peach;
      color: white;
    }
  }

  .btn-secondary {
    @include plastics-button($white, $plastics-blue);
    border: 1px solid $plastics-blue;

    &:hover {
      background: $plastics-aqua-light;
      border: 1px solid $plastics-aqua-light;
      color: $plastics-blue;
    }
  }

  .page-section-header {
    @include page-section-header($montserrat, $plastics-blue, $extra-bold, 2.2rem);

    line-height: 2.75rem;
    text-transform: none;

    .page-header-subtitle {
      font-weight: 500;
    }
  }

  .page-header {
    .page-header-title,
    .page-header-subtitle {
      color: $plastics-blue;
      font-family: $montserrat;
      text-transform: uppercase;
    }

    .page-header-title {
      font-size: 2.5rem;
      line-height: 3rem;

      @include medium-and-up {
        font-size: 3.125rem;
        line-height: 4.375rem;
      }
    }

    .page-header-subtitle {
      font-size: $font-size-xl;
      line-height: 2.5rem;
    }
  }

  .covers-block {
    @include campaign_covers($plastics-peach-darker, $montserrat, $montserrat, white, white);

    .cover-card-content {
      .cover-card-tag {
        line-height: 1.1875rem;
        text-transform: uppercase;
        font-weight: $extra-bold;
      }

      .cover-card-heading {
        line-height: 1.5625rem;
        font-weight: $bold;
      }
    }

    .cover-card-btn {
      @include plastics-button(white, $plastics-peach-darker);

      &:hover {
        background: $plastics-peach;
        color: white;
      }
    }
  } // end .covers-block

  .campaign-covers-block {
    @include campaign_covers($plastics-peach, white, white, $montserrat, 50);

    .thumbnail-large {
      .yellow-cta {
        text-transform: uppercase;
        font-weight: $bold;
        @include letter-spacing(50);
      }

      &:after {
        opacity: 0.7;
      }

      &:hover:after {
        opacity: 0;
      }
    }
  } // end .campaign-covers-block

  .content-covers-block {
    @include campaign_content_covers(none, $montserrat, $roboto, $plastics-peach);

    .content-covers-block-info {
      .content-covers-block-information .publication-date {
        font-weight: $bold;
      }
    }

    .load-more-posts-button-div .btn-secondary {
      @extend .btn-primary;
    }
  } // end .content-covers-block

  .articles-block {
    @include campaign_articles($montserrat, $montserrat, $plastics-peach, $roboto, $plastics-blue-mid, $semi-bold);

    .article-list-item-meta {
      font-weight: $bold;
    }

    .article-list-item-tags .tag-item {
      font-size: $font-size-xxs;
      line-height: 1.125rem;
      @include letter-spacing(90);
      font-weight: $extra-bold;
    }
  } // end .articles-block

  .gallery-grid {
    h2 {
      font-size: 2.2rem;
    }
  }

  .carousel-wrap {
    @include campaign_carousel(false, $plastics-blue-light, white, white, $plastics-blue, url("../../public/images/plastic/carousel-arrow.svg"), 50px, 10px);

    h2 {
      font-size: 2.2rem;
    }

    .carousel-indicators li {
      border-radius: 50%;
    }

    .carousel-caption {
      background: linear-gradient(210deg, rgba(10, 51, 81, .2), $plastics-blue-light);
    }
  } // end .carousel-block

  .happy-point-block-wrap {
    @include campaign_happy_point();

    background: $plastics-peach-darker;

    @include mobile-only {
      #happy-point:after {
        content: "";
        display: block;
        position: absolute;
        bottom: -199px;
        left: 0;
        width: 100%;
        height: 200px;
        background: url("../../public/images/plastic/happy-point-mobile.svg") no-repeat;
      }
    }

    @include small-and-up {
      picture {
        flex: 3;
      }

      .container {
        flex: 5;
      }

      #happy-point:after {
        content: "";
        display: block;
        position: absolute;
        right: -249px;
        top: 0;
        height: 100%;
        max-height: 444px;
        @include x-large-and-up {
          height: 500px;
          max-height: 500px;
        }
        width: 250px;
        background: url("../../public/images/plastic/happy-point-desktop.svg") no-repeat;
      }
    }
  } // end .happy-point-block-wrap

  .split-two-column {
    @include campaign_split_two_columns(
      $montserrat,
      1.25rem, 1.5625rem, white, $semi-bold,
      $plastics-blue-light, 0.7,
      $plastics-peach-darker, 1,
      $plastics-peach-darker, 1
    );

    @include mobile-only {
      .item--left {
        padding-bottom: 50%;

        &:after {
          @include overlay(0, 0, -1px) {
            background: url("../../public/images/plastic/split-column-mobile.svg") no-repeat;
            background-position: bottom;
          }
        }
      }

      .item--right {
        padding-top: 10px;
      }
    }

    @include small-and-up {
      .item--left {
        padding-right: 20%;

        &:after {
          @include overlay(0, -1px, 0, auto) {
            background: url("../../public/images/plastic/split-column-desktop.svg") no-repeat;
            background-position: right;
            max-width: 150px;
          }
        }
      }

      .item--right {
        padding-left: 10px;
      }
    }

    .split-two-column-item-image img {
      opacity: 0.5;
    }

    .split-two-column-item-subtitle {
      color: white;
    }

    .split-two-column-item-link {
      @extend .btn-primary;
    }

    .split-two-column-item-button {
      @include plastics-button(white, $plastics-peach-darker);

      &:hover {
        color: white;
        background: $plastics-peach;
      }
    }
  } // end .split-two-column

  .columns-block.block-style-icons {
    @include campaign_columns_style_icons(
      $plastics-blue-mid,
      brightness(0) invert(100%),
      $montserrat, $semi-bold, $montserrat, $extra-bold,
      url("../../public/images/plastic/arrow.svg"), url("../../public/images/plastic/arrow-light.svg"), none
    );

    h2 {
      font-size: 2.2rem;
    }

    .attachment-container {
      background-size: cover;
      background-position: center center;
    }

    .btn-primary {
      @extend .btn-primary;
    }
  } // end .columns-block.block-style-icons

  .submenu-block {
    @include campaign_submenu(
      mix($plastics-peach, white, 50%),
      $montserrat, $plastics-blue, 3.125rem, 3.75rem, $extra-bold,
      $roboto, $plastics-blue,
      url("../../public/images/plastic/arrow-dark.svg"), url("../../public/images/plastic/arrow-light.svg")
    );

    h2 {
      margin-bottom: 30px;
    }
  } // end .submenu-block

  // tasks columns block
  .columns-block.block-style-tasks {
    @include campaign_columns_style_tasks;

    h2 {
      font-size: 2.2rem;
    }

    h3 {
      @extend .page-section-header;
    }

    .can-do-steps {
      .step-number {
        height: 154px;
        width: 154px;
        line-height: 154px;
        margin-bottom: 20px;

        .step-number-inner {
          background-image: url("../../public/images/plastic/take-action.png");
          color: $plastics-peach-darker;
          font-family: $montserrat;
          font-weight: $semi-bold;
        }
      }

      .step-info {
        h5 {
          color: $plastics-blue;
          font-family: $montserrat;
          font-weight: $semi-bold;
          text-transform: none;
        }
      }
    }

    .can-do-steps-mobile {
      .card-header {
        background-color: $plastics-peach-darker;
        color: white;
        font-family: $montserrat;
        font-weight: $semi-bold;

        .step-number {
          background-color: white;
          background-image: url("../../public/images/plastic/take-action.png");
          border: 2px solid white;
          border-radius: 0 50% 50% 0;
          color: $plastics-peach-darker;
          font-family: $montserrat;
          font-size: 0.75rem;
          font-weight: $semi-bold;
          margin-top: -2px;
          height: 74px;
          line-height: 72px;
          width: 74px;
        }

        &.collapsed {
          background-color: #fde9e5;
          color: $plastics-peach-darker;
        }
      }
    }

    .btn-primary {
      @extend .btn-primary;
    }
  } // end take action task block

  .split-three-column {
    h2 {
      font-size: 2.2rem;
    }

    .three-column-info {
      p {
        font-size: 1.125rem;
        margin-bottom: 30px;
      }
    }
  }

  .columns-block.block-style-no_image {
    @include campaign_columns_style_no_image($montserrat, $plastics-blue, $extra-bold, none);

    font-size: 1.875rem;
    line-height: 2.25rem;

    h2 {
      font-size: 2.2rem;
    }

    .column-wrap {
      padding-bottom: 0;

      @include medium-and-up {
        padding-bottom: $space-xl;
      }

      @include large-and-up {
        padding-bottom: 0;
      }
    }

    .btn-primary {
      @extend .btn-primary;
    }
  }

  .columns-block.block-style-image {
    @include campaign_columns_style_no_image($montserrat, $plastics-blue, $extra-bold, none);

    h2 {
      text-transform: none;
      font-size: 2.2rem;

      margin-bottom: 40px;
      margin-top: 40px;

      @include medium-and-up {
        margin-top: 0;
      }
    }

    .column-wrap {
      text-align: center;

      &:not(:last-child) {
        margin-bottom: $space-xl;
      }

      @include medium-and-up {
        text-align: left;
        padding-bottom: $space-lg + $space-sm;
      }

      @include large-and-up {
        margin-bottom: $space-xl;
      }

      h3 {
        line-height: 2.1rem;
        font-size: 1.5rem;
      }
    }

    .btn-primary {
      @extend .btn-primary;
    }
  }

  .video-block {
    @include campaign_video($plastics-blue-light);
  }

  .social-media-cards {
    @include campaign-social-media-cards($plastics-peach-darker, $white);
  }
}
