body.theme-antarctic {
  $sanctuary: "Sanctuary", sans-serif;
  $montserrat: "Montserrat", sans-serif;

  $antarctic-black: #1f262a;
  $antarctic-purple: #c44bc4;
  $antarctic-pink: #ff80e9;
  $antarctic-dark-blue: #0a4461;
  $antarctic-blue: #035880;
  $antarctic-light-blue: #52c9f4;
  $antarctic-orange: #f98667;
  $antarctic-grey: #e6ecef;
  $antarctic-gradient: linear-gradient(to right, $antarctic-light-blue, $antarctic-pink);

  @mixin antarctic-button($background: $antarctic-purple, $foreground: white) {
    @include button($background, $foreground, $montserrat, 60);
    font-weight: $bold;
    line-height: 50px;
  }

  font-family: var(--campaign_body_font, $lora);
  background: white;

  .btn-primary {
    @include antarctic-button;

    &:hover {
      color: white;
      background: $antarctic-pink;
    }
  }

  .btn-secondary {
    @include antarctic-button($white, $antarctic-dark-blue);
    box-sizing: border-box;
    border: 1px solid $antarctic-dark-blue;

    &:hover {
      color: white;
      background: $antarctic-dark-blue;
    }
  }

  .skewed-overlay {
    display: none;
  }

  .page-section-header {
    @include page-section-header($sanctuary, $antarctic-blue);
  }

  .page-template a {
    color: $antarctic-purple;
    text-transform: uppercase;

    &:hover {
      color: $antarctic-pink;
    }
  }

  .page-header {
    @include page-header-block($sanctuary);

    .page-header-title {
      font-size: 3.125rem;
      line-height: 4.375rem;
      color: $antarctic-blue;
    }

    .page-header-subtitle {
      font-size: $font-size-xl;
      line-height: 2.5rem;
      color: $antarctic-dark-blue;
    }

    .page-header-background:after {
      background: linear-gradient(to top, white 0%, white 1%, $transparent);
      bottom: -0.1%;
      height: 50%;
    }

    // secondary gradient for when image is taller than container
    &:after {
      content: "";
      display: block;
      background: linear-gradient(to top, white 0%, white 1%, $transparent);
      position: absolute;
      bottom: -0.5%;
      height: 50%;
      left: 0;
      right: 0;
    }
  }

  .covers-block {
    @include campaign_covers($antarctic-grey, $sanctuary, $montserrat, $antarctic-orange);

    .cover-card-content {
      .cover-card-tag {
        line-height: 1.1875rem;
      }

      .cover-card-heading {
        line-height: 1.5625rem;
      }
    }

    .cover-card-btn {
      @extend .btn-primary;
    }
  } // end .covers-block

  .campaign-covers-block {
    @include campaign_covers($antarctic-gradient, $antarctic-purple, white, $sanctuary);
  } // end .campaign-covers-block

  .content-covers-block {
    @include campaign_content_covers($antarctic-gradient, $sanctuary, $montserrat, $antarctic-pink);
  } // end .content-covers-block

  .articles-block {
    @include campaign_articles($montserrat, $montserrat, $antarctic-pink, $sanctuary, $antarctic-orange);

    .btn-secondary {
      @extend .btn-secondary;
    }

    .article-list-item-tags .tag-item {
      line-height: 1.1875rem;
    }
  } // end .articles-block

  .carousel-wrap {
    @include campaign_carousel(true, $antarctic-pink, white, #B5C7CF, $antarctic-purple, url("../../public/images/antarctic/carousel-arrow.svg"), 39px);
  } // end .carousel-block

  .happy-point-block-wrap {
    @include campaign_happy_point();

    #happy-point {
      @include small-and-up {
        background: $antarctic-gradient;
      }
      @include mobile-only {
        background: linear-gradient(to bottom, $antarctic-light-blue, $antarctic-pink);
      }
    }
  } // end .happy-point-block-wrap

  .split-two-column {
    @include campaign_split_two_columns( $montserrat, 1.25rem, 1.5625rem, black, $regular, $antarctic-gradient, 0.6, none, 0 );

    .split-two-column-item-image img {
      opacity: 0.5;
    }

    .split-two-column-item-link {
      @extend .btn-primary;
    }

    .split-two-column-item-button {
      @extend .btn-secondary;
    }
  } // end .split-two-column

  .columns-block.block-style-image {
    @include campaign_columns_style_image($sanctuary, $black, $regular);

    .column-wrap a.btn-primary {
      @extend .btn-primary;
    }
  }

  .columns-block.block-style-icons {
    @include campaign_columns_style_icons(
      $antarctic-light-blue,
      grayscale(0) invert(53%) sepia(74%) saturate(2689%) hue-rotate(266deg) brightness(79%) contrast(93%),
      $sanctuary, $regular,
      $montserrat, $bold, url("../../public/images/antarctic/arrow.svg"), url("../../public/images/antarctic/arrow-light.svg")
    );

    .btn-primary {
      @extend .btn-primary;
    }
  } // end .columns-block.block-style-icons

  .submenu-block {
    background: pink;
    @include campaign_submenu(
      mix($antarctic-light-blue, white, 10%),
      $sanctuary, $antarctic-dark-blue, 1.75rem, 2.5rem, $regular,
      $roboto, $antarctic-purple,
      url("../../public/images/antarctic/arrow.svg"), url("../../public/images/antarctic/arrow-light.svg"), 3px
    );
  } // end .submenu-block

  // tasks columns block
  .columns-block.block-style-tasks {
    @include campaign_columns_style_tasks;

    h3 {
      @extend .page-section-header;
    }

    .can-do-steps {
      .step-number {
        font-size: 3.125rem;
        line-height: 116px;

        .step-number-inner {
          background-image: url("../../public/images/antarctic/take-action.svg");
          color: $antarctic-purple;
          font-family: $sanctuary;
        }
      }

      .step-info {
        h5 {
          font-family: $montserrat;
          font-weight: $semi-bold;
        }
      }
    }

    .can-do-steps-mobile {
      .card-header {
        background-color: $antarctic-purple;
        color: white;
        font-family: $montserrat;
        font-weight: $semi-bold;

        .step-number {
          background-color: white;
          background-image: url("../../public/images/antarctic/take-action-mobile.svg");
          border: 2px solid white;
          border-radius: 0 50% 50% 0;
          color: $antarctic-purple;
          font-family: $sanctuary;
          font-size: 1.6875rem;
          margin-top: -2px;
          height: 74px;
          width: 74px;
          line-height: 68px;
        }

        &.collapsed {
          background-color: rgba($antarctic-pink, 0.1);
          color: $antarctic-purple;
        }
      }
    }
  } // end take action task block

  .split-three-column {
    .three-column-info {
      p {
        font-size: 1.125rem;
        margin-bottom: 30px;
      }
    }
  }

  .columns-block.block-style-no_image {
    @include campaign_columns_style_no_image($sanctuary, $antarctic-blue);
  }

  .video-block {
    @include campaign_video($antarctic-gradient);
  }
}
