body.theme-oil {
  $anton: "Anton", sans-serif;
  $amiko: "Amiko", sans-serif;
  $open-sans: "Open Sans", sans-serif;

  $oil-red: #ff513c;
  $oil-red-2: #e74656;
  $oil-red-3: #dc442c;
  $oil-purple: #b55eb8;
  $oil-blue: #007eff;
  $oil-turquoise: #58a8de;
  $oil-purple-2: #837ac3;
  $oil-orange: #ffa247;
  $oil-pink: #ef629d;
  $oil-grey: #a5a8aa;
  $oil-black: #1f262a;
  $bg-gradient-start: $oil-red;
  $bg-gradient-end: #e95332;
  $bg-button-alt: #e64854;
  $oil-gradient-standard: linear-gradient(to right, $bg-gradient-start, $bg-gradient-end);

  $page-header-xl-width: 1140px;
  $page-header-large-width: 960px;
  $page-header-medium-width: 720px;
  $page-header-small-width: 540px;

  @mixin oil-button($background: $oil-red, $foreground: black) {
    @include button($background, $foreground, $open-sans, -30);

    font-weight: $semi-bold;
    transition: none;
    line-height: 54px;
  }

  font-family: var(--campaign_body_font, $roboto);
  background: white;

  .skewed-overlay {
    display: none;
  }

  .page-section-header {
    @include page-section-header($anton);
  }

  .page-template {
    a {
      color: $oil-blue;
      text-transform: uppercase;

      &:hover {
        color: $oil-purple-2;
      }
    }

    .btn-primary {
      @include oil-button;
      background: $oil-gradient-standard;

      &:hover {
        color: white !important;
        background: $oil-red-3;
      }
    }

    .btn-secondary {
      @include oil-button(white, black);
      border: 1px solid black;

      &:hover {
        color: white;
        background: black;
        border: 1px solid white;
      }
    }
  }

  .page-header {
    // don't use the standard mixin, as this is very different from the others
    overflow-y: hidden;
    min-height: 0;
    margin-bottom: 2rem;

    .page-header-title,
    .page-header-subtitle {
      font-family: $anton;
      text-transform: uppercase;
      font-weight: $bold;
    }

    .page-header-title {
      font-size: 3.125rem;
      line-height: 4.375rem;
    }

    .page-header-subtitle {
      font-size: $font-size-xl;
      line-height: 2.5rem;
    }

    .page-header-content {
      font-family: $roboto;
      font-size: 1.125rem;
      line-height: 1.875rem;
      font-weight: $bold;
    }

    @include mobile-only {
      padding-top: 0;
      background-image: linear-gradient(to bottom, $bg-gradient-start, $bg-gradient-end);
    }

    @include small-and-up {
      background-image: linear-gradient(116deg, $bg-gradient-start, $bg-gradient-end);

      .page-header-title {
        font-size: 5.625rem;
        line-height: 1;
      }
    }

    @include large-and-up {
      padding-top: 208px;
    }

    .page-header-background {

      @include mobile-only {
        position: inherit;
        margin: 0 10% 40px;
      }

      img {
        clip-path: polygon(98.621% 0.09%, 99.313% 5.473%, 99.663% 9.662%, 99.751% 12.449%, 99.784% 14.46%, 99.866% 15.516%, 99.97% 16.966%, 100% 23.533%, 99.815% 28.117%, 99.812% 29.039%, 99.815% 29.762%, 99.793% 30.513%, 99.544% 33.228%, 99.389% 34.136%, 99.061% 36.728%, 98.654% 40.076%, 98.362% 41.877%, 97.986% 43.737%, 97.448% 46.105%, 97.165% 47.279%, 96.856% 48.439%, 95.388% 53.413%, 94.635% 55.558%, 93.377% 58.928%, 92.699% 60.788%, 91.967% 62.642%, 91.317% 64.036%, 90.363% 65.3%, 90.123% 65.976%, 90.241% 66.313%, 90.19% 66.651%, 89.904% 67.55%, 89.293% 68.962%, 88.138% 71.268%, 87.531% 72.4%, 86.887% 73.504%, 86.322% 74.455%, 85.735% 75.373%, 85.149% 76.291%, 84.544% 77.175%, 83.387% 78.783%, 80.92% 81.859%, 77.602% 85.54%, 76.251% 86.947%, 75.206% 87.979%, 74.112% 88.954%, 66.669% 94.218%, 65.97% 94.593%, 63.825% 95.768%, 62.95% 96.267%, 62.072% 96.724%, 61.085% 97.218%, 60.058% 97.646%, 57.363% 98.612%, 54.643% 99.296%, 47.622% 100%, 45.781% 99.933%, 44.07% 99.819%, 42.965% 99.696%, 42.108% 99.572%, 41.266% 99.344%, 40.233% 99.021%, 39.27% 98.626%, 38.523% 98.312%, 37.7% 97.936%, 36.968% 97.718%, 35.698% 97.266%, 32.708% 95.697%, 32.21% 95.331%, 31.104% 94.551%, 29.849% 93.747%, 29.19% 93.386%, 28.421% 92.963%, 27.671% 92.492%, 27.157% 92.121%, 26.702% 91.703%, 26.042% 91.032%, 24.542% 89.72%, 23.585% 88.984%, 22.594% 88.099%, 20.51% 86.007%, 19.562% 84.942%, 18.626% 83.853%, 16.812% 81.561%, 14.531% 78.385%, 13.905% 77.472%, 12.664% 75.425%, 11.482% 73.294%, 9.334% 68.758%, 6.365% 61.097%, 5.606% 58.824%, 3.831% 53.095%, 2.091% 46.567%, 0.921% 40.457%, 0.805% 39.696%, 0.72% 38.944%, 0.574% 37.499%, 0.459% 36.11%, 0.289% 34.641%, 0.161% 33.6%, 0.046% 31.75%, 0.012% 30.775%, 0% 30.272%, 0.009% 29.763%, 0.067% 27.58%, 0.17% 25.46%, 0.24% 24.109%, 0.334% 22.753%, 0.438% 20.418%, 0.48% 19.101%, 0.562% 17.337%, 0.735% 15.478%, 0.954% 13.447%, 1.41% 9.695%, 1.86% 5.991%, 2.142% 3.88%, 2.707% 0.471%, 2.802% 0%);
      }

      @include small-and-up {
        margin: 0 auto;
        top: 0;
        padding: 0 0 0 25%;
        height: 100%;

        @include small-and-up {
          width: $page-header-small-width;
        }

        @include medium-and-up {
          width: $page-header-medium-width;
        }

        @include large-and-up {
          width: $page-header-large-width;
        }

        @include x-large-and-up {
          width: $page-header-xl-width;
        }
      }

      // hide the overlay
      &:after {
        display: none;
      }
    }

    .btn-primary {
      display: none;
    }
  }

  .covers-block {
    @include campaign_covers(white, $anton, $amiko, $oil-blue);

    .cover-card {
      .cover-card-btn {
        @extend .btn-primary;
      }

      @include small-and-up {
        &:hover {
          .cover-card-content {
            background: $oil-gradient-standard;
          }

          .cover-card-tag {
            color: black;
          }

          .cover-card-btn {
            @include oil-button(white, black);

            &:hover {
              background: $bg-button-alt;
            }
          }
        }
      }

      .cover-card-content {
        transition: background $transition ease-in-out, top $transition ease-in-out;

        .cover-card-tag {
          line-height: 1.5625rem;
          @include letter-spacing(10);
          transition: color $transition ease-in-out;
        }

        .cover-card-btn {
          transition: background $transition ease-in-out;
        }
      }
    }
  }
  // end .covers-block
  .campaign-covers-block {
    $border: 20px;

    @include campaign_thumbnail(url("../../public/images/oil/covers-block.svg") no-repeat, black, black, $anton, -10, #{$border + 16px}, #{$border + 16px});

    .thumbnail-large {
      &:after {
        opacity: 1;
        top: $border;
        left: $border;
        right: $border;
        bottom: $border;
        width: auto;
        height: auto;
        pointer-events: none;
      }

      &:hover:after {
        -webkit-filter: brightness(10);
        filter: brightness(10);
        opacity: 1;
      }
    }
  }
  //end .campaign-covers-block
  .content-covers-block {
    @include campaign_content_covers($oil-gradient-standard, $amiko, $amiko, $oil-blue);

    .content-covers-block-info {
      .content-covers-block-information h4 {
        font-weight: $regular;
      }
    }
  }
  // end .content-covers-block
  .articles-block {
    @include campaign_articles($amiko, $amiko, $oil-orange, $anton, $oil-blue);

    .article-list-item-headline a {
      text-transform: none;
    }

    .article-list-item-tags .tag-item {
      @include letter-spacing(-10);
    }
  }
  // end .articles-block
  .carousel-wrap {
    @include campaign_carousel(true, $oil-gradient-standard, $oil-black, $oil-grey, $oil-red, url("../../public/images/oil/carousel-arrow.svg"), 39px);

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      padding: 5px;
      border: 1px solid $oil-black;
      background-size: 17px 15px;
      background-position: 10px 11px;
    }
  }
  // end .carousel-block
  .happy-point-block-wrap {
    @include campaign_happy_point();

    picture {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      img {
        height: 100%;
      }
    }

    @include mobile-only {
      .container {
        margin: 20px;
        width: auto;

        #happy-point {
          // replace paddings with margins
          margin-right: 15px;
          margin-left: 15px;
          padding-left: 0;
          padding-right: 0;
          background: $oil-gradient-standard;

          iframe {
            width: 100%;
          }
        }

        &:after {
          content: "";
          display: block;
          background: url("../../public/images/oil/happy-point-mobile.svg") no-repeat;
          padding-top: 94%;
        }
      }
    }

    @include small-and-up {
      .container {
        $border: 20px;

        position: absolute;
        top: $border;
        bottom: $border;
        left: $border;
        right: $border;
        width: auto;
        height: auto;
        overflow: hidden;
        max-width: none;

        > .row {
          height: 100%; // stop extra height stretching the svg
        }

        #happy-point {
          background: url("../../public/images/oil/happy-point-desktop-small.svg") no-repeat;
          padding-right: 42%;

          iframe {
            width: 100%;
          }
        }
      }

      &.happy-point-cutout-large .container #happy-point {
        background: url("../../public/images/oil/happy-point-desktop-large.svg") no-repeat;
        padding-right: 27%;
      }
    }
  }
  // end .happy-point-block-wrap
  .split-two-column {
    @include campaign_split_two_columns(
      $anton,
      1.75rem, 2.5rem, black, $regular,
      linear-gradient(to top right, #666, white), 0.8,
      $oil-gradient-standard, 1,
      linear-gradient(to bottom, $bg-gradient-start, $bg-gradient-end)
    );

    .split-two-column-item-link {
      @extend .btn-primary;
    }

    .split-two-column-item-button {
      @extend .btn-secondary;

      &:hover {
        background: $bg-button-alt;
      }
    }
  } // end .split-two-column

  .columns-block.block-style-icons {
    @include campaign_columns_style_icons(
      $oil-gradient-standard,
      brightness(0%),
      $amiko, $regular,
      $anton, $regular
    );
  } // end .columns-block.block-style-icons

  .submenu-block {
    @include campaign_submenu(
      mix($oil-black, white, 10%),
      $anton, black, 1.75rem, 2.5rem, $regular,
      $amiko, $oil-blue
    );
  }
  // end .submenu-block

  // tasks columns block
  .columns-block.block-style-tasks {
    @include campaign_columns_style_tasks;

    h3 {
      @extend .page-section-header;
    }

    .can-do-steps {
      .step-number {
        background: $oil-gradient-standard;
        font-size: $font-size-xl;

        .step-number-inner {
          background-image: url("../../public/images/oil/take-action.svg");
          font-family: $anton;
          top: 15px;
          bottom: 15px;
          right: 15px;
          left: 15px;
          line-height: 90px;
        }
      }

      .step-info {
        h5 {
          font-family: $amiko;
        }
      }
    }

    .can-do-steps-mobile {
      .card-header {
        background: $oil-gradient-standard;
        color: #1d2120;
        font-family: $amiko;
        // Amiko seems to need nudging a bit to appear vertically centered
        padding: 21px 10px 19px 90px;

        .step-number {
          background-image: url("../../public/images/oil/take-action.svg");
          background-size: cover;
          color: black;
          font-family: $anton;
          font-size: $font-size-xs;
          height: 50px;
          line-height: 50px;
          width: 50px;
          top: 10px;
          left: 10px;
        }

        &.collapsed {
          background: black;
          color: white;
        }
      }
    }

    .btn-primary {
      @extend .btn-primary;
    }
  }
  // end take action task block
  .split-three-column {
    .three-column-info {
      p {
        font-size: 1.125rem;
        margin-bottom: 30px;
      }
    }
  }

  .columns-block.block-style-image {
    @include campaign_columns_style_image($anton);

    .column-wrap {
      .btn-primary {
        @extend .btn-primary;
      }
    }
  }

  .columns-block.block-style-no_image {
    @include campaign_columns_style_no_image($anton);

    .column-wrap {
      .btn-primary {
        @extend .btn-primary;
      }
    }
  }

  .video-block {
    @include campaign_video($oil-gradient-standard);
  }

  /** IE/Edge only **/
  _:-ms-lang(x), .page-header { /* stylelint-disable-line */
    background: mix($bg-gradient-start, $bg-gradient-end, 50%);

    .page-header-background {
      &::after {
        background: url("../../public/images/oil/header-shape.svg") no-repeat;
        content: " ";
        display: block;
        top: 0;
        right: 0;
        left: auto;
        bottom: auto;
        width: 100%;
        height: 100%;
      }

      @include mobile-only {
        margin: 0;

        &::after {
          background: url("../../public/images/oil/header-shape-centred.svg") no-repeat;
        }
      }

      /* percentage padding doesn't work properly on IE/edge, so need explicit values */
      @include small-and-up {
        padding-left: #{$page-header-small-width/4};
      }

      @include medium-and-up {
        padding-left: #{$page-header-medium-width/4};
      }

      @include large-and-up {
        padding-left: #{$page-header-large-width/4};
      }

      @include x-large-and-up {
        padding-left: #{$page-header-xl-width/4};
      }
    }
  }
}
