body.theme-oceans {
  $montserrat: "Montserrat", sans-serif;

  $oceans-black: #1d2120;
  $oceans-grey: #7a777c;
  $oceans-peach: #f7aea9;
  $oceans-pink: #ff80e9;
  $oceans-pink-2: #c44bc4;
  $oceans-blue: #044362;
  $oceans-aqua: #2cabb1;
  $oceans-aqua-light: #8fd9d0;
  $oceans-gradient-start: #379cbb;
  $oceans-gradient-middle: #ff85e4;
  $oceans-gradient-end: #f7acab;
  $gradient: linear-gradient(262deg, $oceans-gradient-start, $oceans-gradient-middle, $oceans-gradient-end);

  @mixin oceans-button($background: $oceans-pink, $foreground: white) {
    //todo: check letter spacing
    //todo: sort out transition
    @include button($background, $foreground, $montserrat, 60);
    font-weight: $bold;
    border-radius: 25px;
    position: relative;

    &:hover {
      background: $oceans-pink-2;
      color: white;
    }
  }

  font-family: var(--campaign_body_font, $roboto);
  background: white;

  .btn-primary {
    @include oceans-button;
  }

  .btn-secondary {
    @include oceans-button($white, $oceans-blue);
    border: 1px solid $oceans-blue;

    &:hover {
      background: $oceans-aqua-light;
      border: 1px solid $oceans-aqua-light;
      color: $oceans-blue;
    }
  }

  .skewed-overlay {
    display: none;
  }

  .page-section-header {
    @include page-section-header($montserrat, $oceans-blue, $extra-bold, 3.75rem);
  }

  .page-template a {
    color: $oceans-aqua;

    &:hover {
      color: $oceans-blue;
    }
  }

  .page-header {
    @include page-header-block($montserrat);

    overflow: hidden;

    .page-header-title {
      font-size: 3.125rem;
      line-height: 3.75rem;
      color: white;
    }

    .page-header-subtitle {
      font-size: 1.875rem;
      line-height: 2.25rem;
      color: white;
    }

    .page-header-content {
      color: white;
    }

    .page-header-background {
      bottom: 0;

      @include small-and-up {
        left: -50vw;
        right: -50vw;
        margin: auto;

        img {
          min-height: 100vh;
          width: auto;
          max-width: none;
          min-width: 100vw;
        }
      }

      &:after {
        background: $oceans-aqua;
        bottom: 0;
        height: 100%;
        opacity: 0.8;
      }
    }
  }

  .covers-block {
    @include campaign_covers(rgba(red($oceans-blue), green($oceans-blue), blue($oceans-blue), 0.7), $montserrat, $montserrat, $oceans-peach, white);

    .cover-card-content {
      top: 0;
      padding-top: 50%;
      transition: padding-top $transition ease-in-out;
      z-index: 0;

      .cover-card-tag {
        line-height: 1.1875rem;
        text-transform: uppercase;
        font-weight: $extra-bold;
      }

      .cover-card-heading {
        line-height: 1.5625rem;
        font-weight: $bold;
      }
    }

    .cover-card-btn {
      @extend .btn-primary;
    }

    .cover-card {
      // @include oceans-button($oceans-pink, white);

      padding-top: 0;

      &:hover .cover-card-content {
        padding-top: 18px;
      }
    }
  } // end .covers-block

  .campaign-covers-block {
    @include campaign_covers($oceans-blue, $oceans-peach, white, $montserrat, 50);

    .thumbnail-large {
      .yellow-cta {
        text-transform: uppercase;
        font-weight: $bold;
        @include letter-spacing(50);
      }

      &:after {
        opacity: 0.7;
      }

      &:hover:after {
        opacity: 0;
      }
    }
  } // end .campaign-covers-block

  .content-covers-block {
    @include campaign_content_covers(none, $montserrat, $roboto, $oceans-peach);

    .content-covers-block-info {
      .content-covers-block-information .publication-date {
        font-weight: $bold;
      }
    }

    .load-more-posts-button-div .btn-secondary {
      @extend .btn-primary;
    }
  } // end .content-covers-block

  .articles-block {
    @include campaign_articles($montserrat, $montserrat, $oceans-peach, $roboto, $oceans-aqua, $semi-bold);

    .article-list-item-meta {
      font-weight: $bold;
    }

    .article-list-item-tags .tag-item {
      font-size: $font-size-xxs;
      line-height: 1.125rem;
      @include letter-spacing(90);
      font-weight: $extra-bold;
    }
  } // end .articles-block

  .carousel-wrap {
    @include campaign_carousel(false, $oceans-aqua, white, white, $oceans-blue, url("../../public/images/oceans/carousel-arrow.svg"), 50px, 10px);

    .carousel-indicators li {
      border-radius: 50%;
    }
  } // end .carousel-block

  .happy-point-block-wrap {
    @include campaign_happy_point();

    background: $oceans-pink;

    @include mobile-only {
      #happy-point:after {
        content: "";
        display: block;
        position: absolute;
        bottom: -199px;
        left: 0;
        width: 100%;
        height: 200px;
        background: url("../../public/images/oceans/happy-point-mobile.svg") no-repeat;
      }
    }

    @include small-and-up {
      picture {
        flex: 3;
      }

      .container {
        flex: 5;
      }

      #happy-point:after {
        content: "";
        display: block;
        position: absolute;
        right: -249px;
        top: 0;
        height: 100%;
        max-height: 444px;
        @include x-large-and-up {
          height: 500px;
          max-height: 500px;
        }
        width: 250px;
        background: url("../../public/images/oceans/happy-point-desktop.svg") no-repeat;
      }
    }
  } // end .happy-point-block-wrap

  .split-two-column {
    @include campaign_split_two_columns(
      $montserrat,
      1.25rem, 1.5625rem, white, $semi-bold,
      $oceans-aqua, 0.7,
      $oceans-pink, 1,
      $oceans-pink, 1
    );

    .split-two-column-item-image img {
      opacity: 0.5;
    }

    .split-two-column-item-subtitle {
      color: white;
    }

    .split-two-column-item-link {
      @extend .btn-primary;
    }

    .split-two-column-item-button {
      @include oceans-button(white, $oceans-pink);

      &:hover {
        color: white;
        background: $oceans-peach;
      }
    }
  } //end .split-two-column

  // tasks columns block
  .columns-block.block-style-tasks {
    @include campaign_columns_style_tasks;

    h3 {
      @extend .page-section-header;
    }

    .can-do-steps {
      .step-number {
        height: 154px;
        width: 154px;
        line-height: 154px;
        margin-bottom: 20px;

        .step-number-inner {
          background-image: url("../../public/images/oceans/take-action-crop.png");
          color: $oceans-blue;
          font-family: $montserrat;
          font-weight: $semi-bold;
        }
      }

      .step-info {
        h5 {
          color: $oceans-blue;
          font-family: $montserrat;
          font-weight: $bold;
        }
      }
    }

    .can-do-steps-mobile {
      .card-header {
        background-image: linear-gradient(to right, $transparent 0, $transparent 35px, $oceans-blue 35px, $oceans-blue 100%);
        color: white;
        font-family: $montserrat;
        font-weight: $semi-bold;

        .step-number {
          background-image: url("../../public/images/oceans/take-action-crop.png");
          border-radius: 50%;
          color: $oceans-blue;
          font-size: 0.6875rem;
          font-weight: $bold;
          line-height: 72px;
        }

        &.collapsed {
          background: linear-gradient(to right, $transparent 0, $transparent 35px, $oceans-aqua-light 35px, $oceans-aqua-light 100%);
          color: $oceans-blue;

          .step-number {
            background-image: url("../../public/images/oceans/take-action-mob-dark.png");
          }
        }
      }
    }
  } //end take action task block

  .columns-block.block-style-icons {
    @include campaign_columns_style_icons(
      $oceans-aqua,
      brightness(0) invert(100%),
      $montserrat, $semi-bold,
      $montserrat, $extra-bold, url("../../public/images/oceans/arrow.svg"), url("../../public/images/oceans/arrow-dark.svg")
    );

    .column-wrap {
      .btn-primary {
        @extend .btn-primary;
      }
    }
  } // end .columns-block.block-style-icons

  .columns-block.block-style-image {
    .column-wrap {
      .btn-primary {
        @extend .btn-primary;
      }
    }
  }

  .columns-block.block-style-no_image {
    .column-wrap {
      .btn-primary {
        @extend .btn-primary;
      }
    }
  }

  .submenu-block {
    @include campaign_submenu(
      mix($oceans-peach, white, 50%),
      $montserrat, $oceans-blue, 3.125rem, 3.75rem, $extra-bold,
      $roboto, $oceans-blue,
      url("../../public/images/oceans/arrow-dark.svg"), url("../../public/images/oceans/arrow.svg")
    );

    h2 {
      margin-bottom: 30px;
    }

    .submenu-link:hover {
      color: $oceans-aqua;
    }
  } // end .submenu-block

  .split-three-column {
    .three-column-info {
      p {
        font-size: 1.125rem;
        margin-bottom: 30px;
      }
    }
  }

  .columns-block.block-style-no_image {
    @include campaign_columns_style_no_image($montserrat, $oceans-blue, 400);

    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .video-block {
    @include campaign_video($oceans-aqua);
  }
}
