body.theme-arctic {
  $open-sans: "Open Sans", sans-serif;
  $save-the-arctic: "Save the Arctic", sans-serif;

  $arctic-black: #1f262a;
  $arctic-greyblue: #d2dde4;
  $arctic-cream: #ecebe3;
  $arctic-blue: #035880;
  $arctic-light-blue: #b8e4f8;
  $arctic-turquoise: #00b6c2;
  $arctic-red: #ec4a4a;
  $arctic-faded-red: #f06e6e;

  @mixin arctic-button($background: $arctic-faded-red, $foreground: white) {
    //todo: check letter spacing
    @include button($background, $foreground, $save-the-arctic, 60);
    font-weight: $bold;
    line-height: 50px;
  }

  font-family: var(--campaign_body_font, $lora);
  background: white;

  .btn-primary {
    @include arctic-button;

    &:hover {
      background: $arctic-red;
      color: white;
    }
  }

  .btn-secondary {
    @include arctic-button(white, $arctic-blue);
    border: 1px solid $arctic-blue;
    box-sizing: border-box;
    height: 50px;
    line-height: 50px;

    &:hover {
      background: $arctic-light-blue;
      border-color: $arctic-light-blue;
      color: $arctic-blue;
    }
  }

  .skewed-overlay {
    display: none;
  }

  .page-section-header {
    @include page-section-header($save-the-arctic, $arctic-blue, $bold);
  }

  .page-template a {
    color: $arctic-faded-red;
    text-transform: uppercase;

    &:hover {
      color: $arctic-red;
    }

    &.btn-primary {
      color: white;

      &:hover {
        color: white;
      }
    }
  }

  /*  BLOCKS START */
  .page-header {
    @include page-header-block($save-the-arctic);

    .page-header-title {
      font-size: 3.125rem;
      line-height: 3.75rem;
      color: $arctic-blue;
    }

    .page-header-subtitle {
      font-size: $font-size-xl;
      line-height: 2.125rem;
      color: $arctic-blue;
    }

    .page-header-background:after {
      background: linear-gradient(to top, white 0%, white 1%, $transparent);
      bottom: -0.1%;
      height: 50%;
    }

    // secondary gradient for when image is taller than container
    &:after {
      content: "";
      display: block;
      background: linear-gradient(to top, white 0%, white 1%, $transparent);
      position: absolute;
      bottom: -0.5%;
      height: 50%;
      left: 0;
      right: 0;
    }
  }

  .covers-block {
    @include campaign_covers($arctic-cream, $open-sans, $open-sans, $arctic-blue);

    .cover-card-content {
      .cover-card-tag {
        line-height: 1.375rem;
        font-weight: $bold;
      }

      .cover-card-heading {
        line-height: 1.5625rem;
        font-weight: $bold;
      }
    }

    .cover-card-btn {
      @extend .btn-primary;
    }
  } // end .covers-block

  .campaign-covers-block {
    @include campaign_covers($arctic-cream, white, $arctic-faded-red, $open-sans);

    .thumbnail-large .yellow-cta {
      font-weight: $bold;
    }
  } // end .campaign-covers-block

  .content-covers-block {
    @include campaign_content_covers($arctic-light-blue, $save-the-arctic, $open-sans, $arctic-turquoise);

    .content-covers-block-info .content-covers-block-information {
      .publication-date {
        font-weight: $extra-bold;
      }
    }
  } // end .content-covers-block

  .articles-block {
    @include campaign_articles($open-sans, $open-sans, $arctic-turquoise, $open-sans, $arctic-faded-red, $bold);

    .article-list-item-tags .tag-item {
      font-size: $font-size-xxs;
      line-height: 1.375rem;
    }
  } // end .articles-block

  .carousel-wrap {
    @include campaign_carousel(true, $arctic-light-blue, $arctic-black, $arctic-greyblue, $arctic-blue, url("../../public/images/arctic/carousel-arrow.svg"), 24px);

    .carousel-indicators li {
      width: 32px;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      width: 14px;
    }
  } // end .carousel-block

  .happy-point-block-wrap {
    @include campaign_happy_point();

    #happy-point {
      background: $arctic-light-blue;
    }
  } // end .happy-point-block-wrap

  .split-two-column {
    @include campaign_split_two_columns(
      $open-sans,
      1.25rem, 1.5625rem, $arctic-blue, $bold,
      $arctic-light-blue, 0.6,
      $arctic-cream, 0.5,
      $arctic-cream, 0.5
    );

    .split-two-column-item {
      .split-two-column-item-tag,
      .split-two-column-item-title {
        &,
        a {
          font-weight: $bold;
        }
      }

      .split-two-column-item-subtitle {
        color: $arctic-black;
      }

      .split-two-column-item-image img {
        opacity: 0.6;
      }

      .split-two-column-item-link {
        @extend .btn-primary;
      }

      .split-two-column-item-button {
        @extend .btn-secondary;
        background: $transparent;
      }
    }
  }

  // tasks columns block
  .columns-block.block-style-tasks {
    @include campaign_columns_style_tasks;

    h3 {
      @extend .page-section-header;
    }

    .can-do-steps {
      .step-number {
        background: $arctic-light-blue;
        border: $arctic-blue 2px solid;
        font-size: $font-size-xxl;
        height: 136px;
        width: 136px;
        margin-bottom: 27px;

        .step-number-inner {
          border: $arctic-blue 2px solid;
          color: $arctic-blue;
          font-family: $open-sans;
          font-weight: $extra-bold;
          top: 20px;
          bottom: 20px;
          left: 20px;
          right: 20px;
          line-height: 88px;
        }
      }

      .step-info {
        h5 {
          font-family: $open-sans;
          font-weight: $bold;
        }
      }
    }

    .can-do-steps-mobile {
      .card-header {
        background-color: $arctic-blue;
        color: white;
        font-family: $open-sans;
        font-weight: $bold;

        .step-number {
          border: 2px solid;
          font-weight: $bold;
          line-height: 68px;

          &:after {
            content: " ";
            border: 2px solid;
            position: absolute;
            margin: 10px;
            width: 46px;
            height: 46px;
            top: 0;
            left: 0;
          }
        }

        &.collapsed {
          background-color: $arctic-light-blue;
          color: $arctic-blue;
        }
      }
    }
  } // end take action task block

  .columns-block.block-style-icons {
    @include campaign_columns_style_icons(
      $arctic-light-blue,
      grayscale(0) invert(12%) sepia(58%) saturate(7062%) hue-rotate(187deg) brightness(96%) contrast(98%),
      $open-sans, $bold,
      $save-the-arctic, $bold, url("../../public/images/arctic/arrow.svg"), url("../../public/images/arctic/arrow-dark.svg")
    );

    .btn-primary {
      @extend .btn-primary;
    }
  } // end .columns-block.block-style-icons

  .submenu-block {
    @include campaign_submenu(
      $arctic-cream,
      $save-the-arctic, $arctic-blue, 1.75rem, 2.5rem, $bold,
      $roboto, $arctic-faded-red,
      url("../../public/images/arctic/arrow.svg"), url("../../public/images/arctic/arrow-dark.svg")
    );
  } // end .submenu-block

  .split-three-column {
    .three-column-info {
      p {
        font-size: 1.125rem;
        margin-bottom: 30px;
      }
    }
  }

  .columns-block.block-style-image {
    @include campaign_columns_style_image($save-the-arctic);
  }

  .columns-block.block-style-no_image {
    @include campaign_columns_style_no_image($save-the-arctic, $arctic-blue, 700);
  }

  .video-block {
    @include campaign_video($arctic-light-blue);
  }
}
