@mixin campaign-en-block($form-caption-heading-font) {
  .form-caption {
    h1, h2, h3 {
      font-family: $form-caption-heading-font !important;
    }

    h1 {
      margin-bottom: 32px;
      line-height: 1.225;
    }

    h2 {
      margin-bottom: 18px;
    }

    h3 {
      margin-bottom: 16px;
    }
  }
}
