.group-stretched-link {
  position: relative;

  // Ensure it's only applying to the first link.
  a:first-of-type {
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }

    &:after {
      display: none;
    }
  }
}
