@mixin boxout-half-and-half {
  height: 222px;

  .boxout-content {
    width: 50%;
    padding: 0 $sp-4;
    margin: auto;
  }

  .btn {
    margin-top: $sp-3;
    width: 100%;
  }

  img,
  .boxout-placeholder {
    width: 50%;
    border-top-left-radius: $sp-x;
    border-bottom-left-radius: $sp-x;

    html[dir="rtl"] & {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: $sp-x;
      border-bottom-right-radius: $sp-x;
    }
  }
}

.boxout {
  background: var(--white);
  width: 100%;
  display: flex;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.16);
  transition: box-shadow 0.2s;
  border-radius: 4px;
  margin-bottom: $sp-3;
  position: relative;

  .not-now {
    display: none;
  }

  .boxout-placeholder {
    background-color: var(--grey-100);
  }

  .cover-card-overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }

  &:hover {
    box-shadow: 0 1px 14px rgba(0, 0, 0, 0.3);

    .boxout-heading {
      text-decoration: underline;
    }
  }

  img,
  .boxout-placeholder {
    height: 100%;
    pointer-events: none;
    object-fit: cover;
  }

  &::before,
  &::after {
    display: none;
  }

  .boxout-heading {
    _-- {
      font-family: var(--font-family-heading);
      font-size: var(--font-size-m--font-family-primary);
      font-weight: var(--font-weight-regular);
      color: var(--color-text-body);
    }

    margin-bottom: $sp-1;
    word-break: break-word;
    @include clamp-text(2);
  }

  .btn {
    _-- {
      font-size: var(--font-size-xxxs--font-family-primary);
      line-height: 2.5;
    }

    white-space: nowrap;
  }

  .boxout-excerpt {
    _-- {
      font-family: var(--font-family-paragraph-secondary);
      font-size: var(--font-size-s--font-family-tertiary);
      line-height: var(--line-height-m--font-family-tertiary);
    }

    color: var(--color-text-body);
    margin: 0;
    @include clamp-text(2);
  }

  &:not(.sticky-bottom-mobile) {
    @include small-and-less {
      flex-direction: column-reverse;

      .boxout-content {
        padding: $sp-4;
      }

      .btn {
        margin-top: $sp-3;
        width: 100%;
      }

      img,
      .boxout-placeholder {
        height: 198px;
        border-bottom-right-radius: $sp-x;
        border-bottom-left-radius: $sp-x;
      }
    }

    @include medium-and-up {
      @include boxout-half-and-half;
    }
  }

  &.sticky-bottom-mobile {
    @include medium-and-less {
      z-index: 9999;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      height: 128px;
      border-radius: 0;
      transition: all 0.5s;
      padding: $sp-2;

      img,
      .boxout-placeholder {
        width: 96px;
        height: 96px;
      }

      .boxout-content {
        padding-inline-start: $sp-2;
        padding-top: $sp-1;
      }

      .cover-card-overlay,
      .boxout-excerpt {
        display: none;
      }

      .btn {
        position: absolute;
        right: $sp-2;
        bottom: $sp-2;

        html[dir="rtl"] & {
          right: auto;
          left: $sp-2;
        }
      }

      .not-now {
        display: block;
        background: url("../../images/close-boxout.svg");
        background-position: bottom right;
        background-size: cover;
        position: absolute;
        width: 16px;
        height: 16px;
        top: $sp-2;
        right: $sp-2;

        html[dir="rtl"] & {
          right: auto;
          left: $sp-2;
        }
      }

      @include mobile-only {
        .boxout-heading {
          margin-inline-end: $sp-3;
          font-size: var(--font-size-xxs--font-family-primary);
        }
      }
    }

    @include large-and-up {
      @include boxout-half-and-half;
    }
  }
}
