div[data-type="planet4-blocks/timeline"] {
  max-height: 100%;
  overflow: hidden;

  .page-section-header,
  .page-section-description {
    text-align: center;
  }

  .timeline-block-event {
    width: auto;
  }
}
