@import "../../base/colors";
@import "../../base/variables";
@import "../../base/mixins";

.timeline-block {
  height: 600px;

  .tl-storyslider .tl-slider-background {
    background: none !important;
  }

  .tl-timeline {
    background: none;
  }

  @include medium-and-up {
    height: 680px;
  }

  @include large-and-up {
    height: 760px;
  }

  .tl-slidenav-icon {
    opacity: 0.5;
    margin-left: 0 !important;

    &:before {
      content: "";
      display: block;
      margin: auto;
      width: 25px;
      height: 45px;
      background-size: cover;
      background-position: right;

      @include medium-and-up {
        width: 25px;
        height: 45px;
      }

      @include large-and-up {
        width: 25px;
        height: 45px;
      }
    }
  }

  .tl-slidenav-previous {
    .tl-slidenav-icon:before {
      background-image: url("../../images/chevron.svg");
      content: "";
      transform: rotate(180deg);

      @include medium-and-up {
        margin-left: 0;
      }
    }

    &:hover {
      .tl-slidenav-icon {
        opacity: 1;
        margin-left: 0 !important;
      }
    }
  }

  .tl-slidenav-next {
    .tl-slidenav-icon:before {
      background-image: url("../../images/chevron.svg");
      content: "";

      @include medium-and-up {
        margin-right: 0;
      }
    }

    &:hover {
      .tl-slidenav-icon {
        opacity: 1;
        margin-left: 0 !important;
      }
    }
  }

  .tl-timeline,
  .tl-timeline blockquote cite,
  .tl-timeline blockquote p cite,
  .tl-timeline .vcard,
  .tl-timeline .tl-note,
  .tl-timenav .tl-attribution,
  .tl-text .tl-headline-date,
  .tl-text h3.tl-headline-date,
  .tl-text .tl-text-date {
    --tl-timeline-- {
      font-family: var(--font-family-tertiary);
    }
  }

  .tl-skinny .tl-slide .tl-slide-content-container .tl-slide-content .tl-text .tl-text-content-container {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .tl-slide .tl-slide-content-container .tl-media .tl-media-content-container .tl-credit {
    font-size: .62rem;
    line-height: 1rem;
    color: #999999;
  }

  .tl-slide {
    padding-top: 24px;

    .tl-slide-content-container {
      .tl-slide-content {
        width: 100% !important;
        display: flex;
        flex-direction: column-reverse;

        @include medium-and-up {
          padding-left: 72px !important;
          padding-right: 72px !important;
        }

        @include large-and-up {
          display: table;
          padding-left: 120px !important;
          padding-right: 120px !important;
        }

        .tl-media {
          float: none;
          width: auto;
          min-width: 0;

          @include medium-and-up {
            max-width: 75% !important;
          }

          @include large-and-up {
            float: left;
            width: 100%;
            max-width: 100% !important;
          }

          img {
            width: 100%;
            max-width: 100%;
            max-height: 100% !important;
          }
        }

        .tl-text {
          vertical-align: top;
          width: auto;
          padding-left: 0;
          padding-right: 0;
          margin-top: 0;
          max-width: 100%;

          @include large-and-up {
            padding-left: 28px;
            width: 50%;
          }

          h3.tl-headline-date {
            font-size: var(--font-size-xs--font-family-tertiary);
            margin-bottom: $sp-2;
          }

          h2.tl-headline {
            font-size: 1.5rem;
            line-height: 1.87rem;
            margin-bottom: $sp-2x;
          }

          .tl-text-content {
            margin-bottom: $sp-3;

            p {
              font-size: var(--font-size-xs--font-family-tertiary);
              line-height: 1.2rem;
              margin-top: 0;

              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }

  .tl-text .tl-text-content p {
    font-family: var(--font-family-secondary);
  }

  .tl-timeline blockquote,
  .tl-timeline blockquote p {
    font-family: var(--font-family-secondary);
  }
}

.post-content {
  .timeline-block {
    h2.tl-headline {
      font-size: 1.5rem;
      line-height: 1.87rem;
      margin-bottom: $sp-2x;
      padding: 0 !important;
    }

    .tl-timeline {
      .tl-slidenav-next {
        display: none;

        @include small-and-up {
          display: block;
        }
      }

      .tl-slidenav-previous {
        display: none;

        @include small-and-up {
          display: block;
        }
      }

      .tl-slide {
        padding-top: 24px;

        .tl-slide-content-container {
          .tl-slide-content {
            width: 100% !important;
            display: flex;
            flex-direction: column-reverse;

            @include medium-and-up {
              padding-left: 120px !important;
              padding-right: 120px !important;
            }

            @include large-and-up {
              display: table;
              padding-left: 120px !important;
              padding-right: 120px !important;
            }

            .tl-media {
              float: none;
              width: auto;
              min-width: 0;

              @include small-and-up {
                margin-right: $sp-8;
                margin-left: $sp-8;
              }

              @include medium-and-up {
                margin-right: 0;
                margin-left: 0;
                max-width: 50% !important;
              }

              @include large-and-up {
                float: left;
                width: 100%;
                max-width: 100% !important;
              }

              img {
                width: 100%;
                max-width: 100%;
                max-height: 100% !important;
              }
            }

            .tl-text {
              vertical-align: top;
              width: auto;
              padding-left: 0;
              padding-right: 0;
              margin-top: 0;
              max-width: 100%;

              @include small-and-up {
                margin-right: $sp-8;
                margin-left: $sp-8;
              }

              @include medium-and-up {
                margin-right: 0;
                margin-left: 0;
              }

              @include large-and-up {
                margin-right: 0;
                margin-left: 0;
                padding-left: 28px;
                width: 50%;
              }

              h3.tl-headline-date {
                font-size: var(--font-size-xs--font-family-tertiary);
                margin-bottom: $sp-2;
              }
            }
          }
        }

        .tl-text-content {
          margin-bottom: $sp-3;

          p {
            font-size: var(--font-size-xs--font-family-tertiary);
            line-height: 1.2rem;
            margin-top: 0;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}

// New Styles for Timeline block
.new-timeline-block {
  height: auto;
  background-color: var(--beige-100);
  padding: $sp-7 $sp-2 $sp-3x $sp-2;

  .timeline-block-year,
  .timeline-block-event-title {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-m--font-family-primary);
    line-height: var(--line-height-m--font-family-tertiary);
  }

  .timeline-block-event-title {
    @include clamp-text(4);
  }

  .timeline-block-year {
    text-align: center;
    width: 78px;
    border-radius: $sp-x;
    background-color: var(--white);
    margin: $sp-6 auto;
    padding: $sp-1;
    box-shadow: 0 $sp-x $sp-1x rgba(0, 0, 0, 0.15);
    position: relative;
    z-index: 1;
  }

  .timeline-block-event-day,
  .timeline-block-event-description,
  .timeline-description-toggle,
  .page-section-description {
    font-family: var(--font-family-tertiary);
  }

  .timeline-block-events {
    padding: 0;
  }

  .timeline-block-event {
    list-style: none;

    border: 1px solid var(--grey-500);
    max-width: 340px;
    margin: 0 auto $sp-3 auto;
    border-radius: $sp-1;
    background-color: var(--white);
    padding: $sp-2;

    .timeline-block-event-day {
      display: inline-block;
      border: 1px solid var(--grey-500);
      border-radius: $sp-x;
      text-align: center;
      font-size: var(--font-size-s--font-family-tertiary);
      line-height: var(--line-height-s--font-family-tertiary);
      padding: $sp-x;
      color: var(--grey-800);
    }
  }

  .timeline-block-event-description {
    font-size: var(--font-size-m--font-family-tertiary);
    line-height: var(--line-height-m--font-family-tertiary);
    margin-bottom: $sp-1;
  }

  .timeline-block-event-description.clamped {
    @include clamp-text(3);
  }

  .timeline-block-event-description.expanded {
    display: block;
  }

  .timeline-description-toggle {
    color: var(--gp-green-800);
    background: none;
    outline: none;
    border: none;
    padding: 0;
    display: block;
    font-size: var(--font-size-s--font-family-tertiary);
    font-weight: var(--font-weight-semibold);

    &:hover {
      text-decoration: underline;
    }
  }

  .page-section-header {
    padding: $sp-2 $sp-2 0;
    line-height: var(--line-height-xl--font-family-primary);
  }

  .page-section-description {
    padding: 0 $sp-2;
    font-size: var(--font-size-xs--font-family-primary);
    line-height: var(--line-height-m--font-family-tertiary);
    width: 80%;
    margin: $sp-2x auto $sp-5;

    @include medium-and-less {
      width: 100%;
    }
  }

  & .timeline-group > div:first-child .timeline-block-year {
    margin-top: 0;
  }

  @include large-and-up {
    .timeline-group {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        background-color: var(--grey-500);
        inline-size: 1px;
        block-size: 100%;
        inset-block-start: 0;
        inset-inline-start: 50%;
      }
    }

    .timeline-block-events {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: $sp-8;
    }

    .timeline-block-event {
      max-width: 420px;
      width: 420px;
      height: fit-content;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: var(--gp-green-500);
        inset-block-start: 26px;
        z-index: 1;
        outline: 2px solid var(--beige-100);
      }

      &::before {
        content: "";
        position: absolute;
        background-color: var(--grey-500);
        block-size: 1px;
        inset-block-start: 31px;
      }

      &:nth-child(even) {
        margin-top: $sp-7;

        &::before {
          inline-size: 16px;
          inset-inline-start: -16px;
        }

        &::after {
          inset-inline-start: -31px;
        }
      }

      &:nth-child(odd) {
        &::before {
          inline-size: 18px;
          inset-inline-start: 100%;
        }

        &::after {
          inset-inline-start: calc(100% + 19px);
        }
      }
    }
  }

  @include x-large-and-up {
    .timeline-block-event {
      &:nth-child(even) {
        &::before {
          inline-size: 62px;
          inset-inline-start: -62px;
        }

        &::after {
          inset-inline-start: -76px;
        }
      }

      &:nth-child(odd) {
        &::after {
          inset-inline-start: calc(100% + 64px);
        }

        &::before {
          inline-size: 62px;
        }
      }
    }
  }

  @include xx-large-and-up {
    .timeline-block-event {
      &:nth-child(even) {
        &::before {
          inline-size: 107px;
          inset-inline-start: -107px;
        }

        &::after {
          inset-inline-start: -121px;
        }
      }

      &:nth-child(odd) {
        &::after {
          inset-inline-start: calc(100% + 109px);
        }

        &::before {
          inline-size: 107px;
        }
      }
    }
  }
}
