// Global
@import "styleguide/src/base/variables";
@import "styleguide/src/base/colors";
@import "styleguide/src/base/functions";
@import "styleguide/src/base/mixins";

@import "blocks/Articles";
@import "blocks/Socialmedia";
@import "blocks/Submenu";
@import "blocks/Timeline";
