@import "../../master-theme/assets/src/scss/base/colors";

.splittwocolumns-block-issue-imgs,.splittwocolumns-block-tag_imgs {
  width: 250px;
  padding: 10px 10px;
}

.block-editor a:not([href]).split-two-column-item-tag {
  text-decoration: none;
  color: var(--p4-action-yellow-600);

  &:hover {
    color: var(--p4-action-yellow-600);
    text-decoration: underline;
  }
}

.block-editor .split-two-column a {
  pointer-events: auto;
}

// Fix Safari issue with forced min-width:1px in editor
.split-two-column-item-button {
  overflow: initial;
}
