// primary theme color of the styleguide.
$cowabunga:       #074365;

// secondary colors.
$black:           #222222;
$gray:            #d3d3d3;
$light-gray:      #f0f0f0;
$white:           #ffffff;
$creme:           #ecf1f3;

// utility colors.
$blue:            #3498db;
$dark-blue:       #01223d;
$green:           #2ecc71;
$orange:          #f1c40f;
$red:             #e74c3c;
