$kss-title-color: $cowabunga;

.kss-title {
  margin: 0;
  color: $cowabunga;
  text-align: center;
  font-size: rem(24px);
  font-family: var(--font-roboto);
  text-transform: none;
  letter-spacing: normal;
}

.kss-logo {
  display: block;
  max-width: 100%;

  @include mq(max, 1024px) {
    max-height: 42px;
  }
}
