.article-listing-intro {
  display: flex;

  & > div:first-of-type {
    padding-left: 0;
  }
}

.article-list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparentize($white, .2);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  margin: 16px 0;

  @include medium-and-up {
    flex-direction: row;
  }

  @include large-and-up {
    background-color: transparent;
    box-shadow: none;
  }

  .article-hover {
    text-decoration: underline;
  }

  &:first-of-type {
    margin-top: 0;

    @include medium-and-up {
      margin-top: 10px;
    }
  }

  a {
    color: inherit;
  }
}

.article-list-item-image-max-width {
  img {
    width: 100%;
    height: 190px;
    object-fit: cover;
    object-position: 50% 50%;

    @include small-and-up {
      height: 310px;
    }

    @include medium-and-up {
      height: 170px;
    }

    @include large-and-up {
      height: 210px;
    }
  }
}

.article-list-item-image {
  order: 2;

  @include medium-and-up {
    flex-basis: 30%;
    order: 0;
  }

  @include large-and-up {
    flex-basis: 30%;
  }
}

.article-list-item-body {
  padding: 15px;

  @include medium-and-up {
    flex-basis: 68%;
  }

  @include large-and-up {
    flex-basis: 68%;
    padding: 0;
  }
}

.article-list-item-headline {
  font-size: 1.25rem;
  line-height: 1.3;
  font-weight: 500;
  color: $black;
  margin: 5px 0;

  @include large-and-up {
    font-size: 1.375rem;
  }

  @include x-large-and-up {
    font-size: 1.5rem;
  }
}

.article-list-item-meta {
  font-family: $roboto;
  font-style: italic;
  font-size: 0.875rem;
  font-weight: 300;
  color: $grey-60;
  margin: 0;

  @include large-and-up {
    font-size: 0.875rem;
  }

  @include x-large-and-up {
    font-size: 0.9375rem;
  }
}

.article-list-item-author {
  &:after {
    content: "\2022";
    display: inline-block;
    padding-left: 5px;
  }
}

.article-list-item-content {
  display: none;

  @include large-and-up {
    display: block;
    font-weight: 300;
    line-height: 1.6;
    margin: 10px 0 0;
    width: 80%;
  }

  @include x-large-and-up {
    font-size: 1.125rem;
  }
}

.article-image-holder {
  background-image: repeating-linear-gradient(0deg, transparent -53%, rgba(157, 187, 190, 0.1) 100%, rgba(236, 241, 243, 1) 0);
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: auto;
  }

  img[data-src] {
    opacity: 0;
  }

  @include small-and-up {
    img {
      max-height: 340px;
    }
  }
  @include medium-and-up {
    img {
      max-height: 138px;
    }
  }
  @include large-and-up {
    img {
      max-height: 186px;
    }
  }

  @include x-large-and-up {
    img {
      max-height: 222px;
    }
  }
}
