.campaign-thumbnail-block {
  margin-bottom: 30px;
  padding-top: 0;

  @include medium-and-up {
    padding-bottom: 40px;
  }

  @include large-and-up {
    padding-bottom: 60px;
  }

  @include x-large-and-up {
    margin-bottom: 0;
  }

  .container {
    padding-left: 0;
    padding-right: 0;

    @include medium-and-up {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .thumbnail-largeview-container {
    @include medium-and-up {
      margin-left: -7.5px;
      margin-right: -7.5px;
    }

    .campaign-card-column {
      padding: 8px inherit;
    }

    .thumbnail-large {
      margin-bottom: 5px;
      max-height: 70px;
      position: relative;
      overflow: hidden;
      @include background-before-opacity(rgba(22,22,22,0.1));

      @include medium-and-up {
        margin-bottom: 0;
        max-height: 100%;
      }

      @include large-and-up {
        @include background-before-opacity(rgba(22,22,22,0.65));

        &:hover {
          &:before {
            opacity: 0.1;
          }
        }
      }

      img {
        width: 100%;
        height: 260px;
        margin: -50px 0 -10px 0;
        object-fit: cover;

        @include medium-and-up {
          margin: 0;
        }
      }

      .yellow-cta {
        text-align: center;
        font-size: 1.25rem;
        font-family: $roboto;
        color: $yellow;
        font-weight: 500;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: 2;
        margin-bottom: 18px;
        text-shadow: 1px 1px $black;

        @include medium-and-up {
          margin-bottom: 20px;
          font-size: 0.9375rem;
        }

        @include large-and-up {
          margin-bottom: 40px;
          font-size: 1.25rem;
        }

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

// Visibility  of campaigns in different screens
// remove limit visibility class on load more button click
.show-3-covers .limit-visibility {
  .campaign-card-column:nth-child(-n+4) {
    display: block;
  }

  .campaign-card-column:nth-child(n+4) {
    display: none;
  }
}

.show-6-covers .limit-visibility {
  .campaign-card-column:nth-child(-n+7) {
    display: block;
  }

  .campaign-card-column:nth-child(n+7) {
    display: none;
  }
}

.show-all-covers .limit-visibility {
  .campaign-card-column:nth-child(n+5) {
    display: block;
  }
}
