// $slide-transition-speed should match SLIDE_TRANSITION_SPEED in carousel-header.js
$slide-transition-speed: 1s;

@mixin preview-wrap-width($size) {
  width: $size;
  margin-left: 100% - $size;
}

@mixin preview-width($size) {
  width: $size * (100% / $size);
}

.carousel-header {
  position: relative;
  width: 100vw;

  &::after {
    content: "";
    display: block;
    margin-bottom: 40px;

    @include large-and-up {
      margin-bottom: 60px;
    }

    @include x-large-and-up {
      margin-bottom: 80px;
    }
  }

  .carousel-inner {
    position: relative;
    overflow: visible;
    height: 454px;

    @include medium-and-up {
      height: 560px;
    }

    @include large-and-up {
      height: 600px;
    }

    @include x-large-and-up {
      height: 712px;
    }
  }

  .carousel-item {
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    background-size: 0;
    opacity: 0;
    z-index: 1;
    transform: rotate(0);
    transition: opacity $slide-transition-speed;

    img {
      display: none;
    }

    &.active {
      z-index: 2;
      opacity: 1;
      transition: unset;
    }

    &.next {
      z-index: 1;
      opacity: 1;
      transition: unset;
    }

    &.fade-out {
      opacity: 0;
      transition: opacity #{ $slide-transition-speed / 2 };
    }

    &::before {
      @include fill-container;
      content: "";
      background-image: inherit;
      background-size: cover;
      filter: grayscale(100%);
    }

    &::after {
      @include fill-container;
      content: "";
      z-index: 0;
      background: linear-gradient(210deg, rgba(136, 196, 213, 0.2) 0%, rgba(184, 216, 232, 1) 100%);
    }

    .carousel-preview-wrap {
      position: absolute;
      z-index: 1;
      transform: skew(-29deg);
      transform-origin: bottom left;
      overflow: hidden;
      top: 0;
      height: 100%;
      @include preview-wrap-width(75%);

      @include small-and-up {
        @include preview-wrap-width(50%);
      }
      @include large-and-up {
        @include preview-wrap-width(42%);
      }
      @include x-large-and-up {
        @include preview-wrap-width(40%);
      }
    }

    .carousel-preview {
      transform: skew(29deg);
      transform-origin: bottom left;
      background-size: cover;
      height: 100%;
      @include preview-width(75%);

      @include small-and-up {
        @include preview-width(50%);
      }
      @include large-and-up {
        @include preview-width(42%);
      }
      @include x-large-and-up {
        @include preview-width(40%);
      }

      &::after {
        @include fill-container;
        content: "";
        opacity: 0;
        background: linear-gradient(210deg, rgba(136, 196, 213, 0.2) 0%, rgba(184, 216, 232, 1) 100%);
      }
    }

    .carousel-caption {
      @include fill-container;
      z-index: 2;
      text-align: left;
      transition: opacity $slide-transition-speed;
      padding-bottom: 0;
      padding-right: 15px;
      padding-left: 15px;
    }

    &.slide-over {
      .carousel-preview-wrap {
        z-index: 1;
        transform: skew(0);
        transition: transform $slide-transition-speed, width $slide-transition-speed, margin $slide-transition-speed;
        width: 100%;
        margin: 0;
      }

      .carousel-preview {
        transform: skew(0);
        transition: transform $slide-transition-speed, width $slide-transition-speed, filter $slide-transition-speed;
        width: 100%;
        filter: grayscale(100%);

        &::after {
          z-index: 1;
          opacity: 1;
          transition: opacity $slide-transition-speed;
        }
      }

      @include small-and-up {
        .carousel-caption {
          opacity: 0;
        }
      }
    }
  }

  .main-header {
    color: $article-heading-color;
    padding-top: 70px;
    padding-bottom: 0;
    height: 100%;

    @include medium-and-up {
      padding-bottom: 0;
      padding-top: 84px;
      height: auto;
    }

    @include large-and-up {
      padding-top: 124px;
      padding-bottom: 32px;
    }

    @include x-large-and-up {
      padding-top: 124px;
      padding-bottom: 54px;
    }

    h2 {
      font-size: 1.75rem;
      margin-bottom: 10px;
      width: 70%;
      line-height: 1.2;
      font-weight: bold;
      color: $black;
      padding-left: 15px;

      @include medium-and-up {
        font-size: 2.5rem;
      }

      @include large-and-up {
        margin-bottom: 20px;
        line-height: 1.2;
        width: 50%;
      }

      @include x-large-and-up {
        font-size: 3.5rem;
        line-height: 1.1;
        width: 60%;
      }
    }

    h3 {
      font-size: 1.25rem;
      line-height: 1.3;
      font-weight: 400;
      width: 55%;
      color: $black;
      margin-bottom: 0;
      padding-left: 15px;

      @include medium-and-up {
        font-size: 1.5rem;
        margin-bottom: 34px;
        font-weight: 300;
      }

      @include large-and-up {
        line-height: 1.2;
        width: 50%;
      }

      @include x-large-and-up {
        font-size: 2.25rem;
        margin-bottom: 30px;
        font-weight: 300;
      }
    }

    p {
      display: none;

      @include medium-and-up {
        padding-left: 15px;
        line-height: 1.6;
        color: $dark-shade-black;
        margin-bottom: 24px;
        width: 60%;
        display: block;
      }

      @include large-and-up {
        margin-bottom: 36px;
        width: 50%;
      }

      @include x-large-and-up {
        font-size: 1.125rem;
        line-height: 1.6;
      }
    }

    .action-button {
      bottom: -1.5em;
      left: 0;
      right: 0;
      position: absolute;
      font-family: $roboto;

      @include small-and-up {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
      }

      @include medium-and-up {
        padding-left: 15px;
        margin-left: 0;
        width: auto;
        bottom: inherit;
        position: inherit;
      }

      .btn {
        font-size: 0.875rem;
        line-height: 2.8;

        @include medium-and-up {
          font-size: 1rem;
          line-height: 3;
          width: auto;
        }

        @include large-and-up {
          width: 100%;
        }
      }
    }
  }

  .carousel-control-prev {
    display: none;
  }

  .carousel-control-next {
    height: 100%;
    top: 0;
    width: 30%;
    z-index: 3;

    @include small-and-up {
      width: 50%;
      margin-right: -25%;
    }

    .carousel-control-next-icon {
      display: block;
      text-align: center;
      width: 40px;
      height: 40px;
      cursor: pointer;
      background: url("images/carousel-marker-next.png");
      background-size: cover;

      @include small-and-up {
        margin-right: 113px;
        background: url("images/carousel-marker-next-S-M.png");
        width: 45px;
        height: 45px;
      }

      @include medium-and-up {
        margin-right: 25%;
      }

      @include large-and-up {
        margin-right: 133px;
        background: url("images/carousel-marker-next.png");
        width: 65px;
        height: 65px;

        &:hover {
          background-position-x: 66px;
        }
      }

      @include x-large-and-up {
        margin-right: 45%;
      }
    }
  }

  .carousel-indicators {
    z-index: 4;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 35px;
    margin: 0;

    @include small-and-up {
      margin-right: 40px;
      margin-bottom: 40px;
      bottom: 0;
      left: auto;
    }

    @include medium-and-up {
      margin-right: 0;
    }

    @include large-and-up {
      margin-right: 30px;
      margin-bottom: 32px;
      right: 0;
    }

    @include x-large-and-up {
      margin-right: 8.33%;
      margin-bottom: 50px;
    }

    li {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: $white;
      margin: 12px;
      cursor: pointer;
      display: inline-table;

      @include small-and-up {
        width: 12px;
        height: 12px;
        margin: 0 12px;
      }

      @include medium-and-up {
        margin: 0 8px;

        &:last-child {
          margin-right: 0;
        }
      }

      &.active {
        background: $carousel-indi-color;
      }
    }
  }
}
