.split-carousel-wrap {
  h1 {
    font-size: 1.625rem;
    color: $black;
    margin-bottom: 33px;
    line-height: 1.2;

    @include small-and-up {
      font-size: 2.125rem;
      margin-left: 0;
      margin-bottom: 22px;
    }

    @include x-large-and-up {
      font-size: 2.375rem;
      margin-bottom: 30px;
    }
  }

  &.not-header {
    padding-top: 0;
    overflow: hidden;
    margin-bottom: 0;
    padding-bottom: 153px;

    @include small-and-up {
      margin-bottom: 0;
      padding-bottom: 129px;
    }

    @include large-and-up {
      padding-bottom: 143px;
    }

    @include x-large-and-up {
      padding-bottom: 195px;
    }

    .carousel-item {
      .carousel-item-credit {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 0.6875rem;
        margin: -20px 5px 15px 15px;
        font-weight: normal;
        color: $credit-color;

        @include small-and-up {
          margin: 16px 15px;
          color: $white;
          font-size: 0.75rem;
        }

        @include large-and-up {
          font-size: 0.8125rem;
        }

        @include x-large-and-up {
          font-size: 0.875rem;
        }
      }
    }

    .carousel-item.active,
    .carousel-item-next,
    .carousel-item-prev {
      display: block;

      img {
        width: 100%;
      }
    }

    .carousel-caption {
      text-align: left;
      left: auto;
      bottom: 0;
      right: 0;
      width: 100%;
      padding: 30px 200px 30px 50px;
      background: linear-gradient(210deg, rgba(10, 51, 81, 0.2) 0%, rgba(10, 51, 81, 1) 100%);

      @include small-and-up {
        bottom: 0;
        width: 100%;
        padding: 20px 35px;
      }

      @include large-and-up {
        height: 144px;
        padding: 26px 45px;
      }

      @include x-large-and-up {
        height: 195px;
        padding: 31px 96px;
      }

      h3 {
        @include small-and-up {
          font-size: 1.1875rem;
        }

        @include x-large-and-up {
          font-size: 1.375rem;
          margin-bottom: 15px;
          line-height: normal;
        }
      }

      p {
        @include small-and-up {
          font-size: 0.875rem;
          width: 100%;
          line-height: 24px;
        }

        @include large-and-up {
          font-size: 1rem;
          width: 80%;
        }

        @include x-large-and-up {
          font-size: 1.0625rem;
          width: 60%;
          margin-bottom: 0;
        }
      }
    }

    .carousel-indicators {
      right: 0;
      bottom: 0;
      left: auto;
      margin-right: 33%;

      @include small-and-up {
        bottom: -128px;
        margin-right: 29px;
      }

      @include x-large-and-up {
        bottom: -170px;
        right: 0;
      }

      li {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: $white;
        margin: 0 15px;
        cursor: pointer;

        &.active {
          background: $carousel-active;
        }
      }
    }

    .carousel-control-next {
      background: transparent;
      width: 45%;
      margin-right: -25%;
      transform: skew(-209deg);
      background-position: right;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      width: 45px;
      height: 45px;
      background: none;
    }

    .carousel-control-prev,
    .carousel-control-next {
      opacity: 1;
      height: 100%;

      @include small-and-up {
        top: 0;
      }

      .carousel-control-next-icon {
        transform: skew(209deg);
        margin-right: 45%;
        background: url("images/carousel-marker-next-S-M.png");

        @include large-and-up {
          height: 65px;
          width: 65px;
          background: url("images/carousel-marker-next.png");
        }

        &:hover {
          @include large-and-up {
            background-position-x: 66px;
          }
        }
      }

      .carousel-control-prev-icon {
        background: url("images/carousel-marker-next-S-M.png");
        transform: rotate(180deg);

        @include large-and-up {
          background: url("images/carousel-marker-next.png");
          transform: rotate(180deg);
          height: 65px;
          width: 65px;
        }

        &:hover {
          @include large-and-up {
            background-position-x: 66px;
          }
        }
      }
    }

    .carousel-inner {
      overflow: initial;

      .carousel-caption {
        bottom: -115px;
        padding: 18px 15px;

        h3 {
          font-size: 1.0625rem;
        }

        p {
          font-size: 0.8125rem;
          width: 100%;
          font-family: $roboto;
        }
      }
    }
  }

  .light-blue-bg {
    background: $light-blue-bg;
  }
}
