.split-three-column {
  margin-top: 0;
  margin-bottom: 40px;

  @include medium-and-up {
    margin-top: 0;
    margin-bottom: 40px;
  }

  @include large-and-up {
    margin-top: 0;
    margin-bottom: 60px;
  }

  .three-column-box {
    .three-column-info {
      margin-bottom: 24px;
      padding-left: 0;
      padding-right: 0;

      @include medium-and-up {
        padding-top: 0;
        margin-bottom: 0;
      }

      @include large-and-up {
        margin-bottom: 0;
      }

      p {
        display: block;
        font-size: 1rem;
        line-height: 1.6;
        color: $black;
        margin-bottom: 20px;

        @include medium-and-up {
          margin-bottom: 20px;

          &:last-child {
            margin-bottom: 40px;
          }
        }

        @include large-and-up {
          &:last-child {
            margin-bottom: 34px;
          }
        }

        @include x-large-and-up {
          font-size: 1.125rem;
          margin-bottom: 20px;
        }
      }
    }

    .three-column-images {
      min-height: 184px;
      position: relative;
      overflow: hidden;
      max-width: 100%;
      margin: auto;

      @include medium-and-up {
        min-height: 330px;
        margin-left: 0;
        margin-right: 0;
      }

      @include x-large-and-up {
        min-height: 430px;
        margin-bottom: 80px;
      }
    }

    .split-image {
      position: absolute;

      img {
        height: 184px;
        position: relative;
        left: -35%;
        max-width: inherit;

        @include medium-and-up {
          height: 330px;
        }

        @include large-and-up {
          left: -25%;
        }

        @include x-large-and-up {
          left: -30%;
          height: 430px;
        }
      }
    }

    .first-column {
      margin-left: -50px;
      margin-right: -130px;

      img {
        left: 35px;
      }
    }

    .second-column {
      transform: skew(25deg);
      border-left: 10px solid $brown-bg;
      border-right: 10px solid $brown-bg;
      z-index: 2;
      width: 110%;
      left: 0;
      top: 0;
      overflow: hidden;

      img {
        transform: skew(-25deg);
        @include mobile-only {
          left: -50px;
        }
      }
    }

    .third-column {
      z-index: 1;
    }
  }
}
