.four-column {
  margin: 40px 0;

  @include medium-and-up {
    margin: 40px 0 60px 0;
  }

  @include large-and-up {
    margin: 60px 0;
  }

  @include x-large-and-up {
    margin: 0 0 80px 0;
  }

  h2 {
    font-size: 1.625rem;
    line-height: 1.2;
    text-align: center;
    margin: 60px 0 35px 0;
    color: $deep-sea-green;

    @include medium-and-up {
      font-size: 2.375rem;
      margin-top: 74px;
      margin-bottom: 57px;
    }

    @include large-and-up {
      text-align: left;
      font-size: 3rem;
      font-weight: 900;
      margin-top: 84px;
      margin-bottom: 66px;
    }

    @include x-large-and-up {
      font-size: 2.5rem;
      margin-bottom: 30px;
    }
  }

  a {
    text-decoration: none;
    font-weight: bold;
    color: $dark-blue;
  }

  h3 {
    font-weight: 700;
    font-size: 1.875rem;
    color: $dark-shade-black;
  }
}

.four-column-wrap {
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 10px;
  }

  @include medium-and-up {
    margin-bottom: 36px;
  }

  @include large-and-up {
    margin-bottom: 0;
  }
}

.four-column-symbol-container {
  margin: 0 auto 5px auto;
  display: block;
  width: 102px;
  height: 102px;

  @include medium-and-up {
    margin: 0 0 10px 0;
    text-align: inherit;
  }

  @include x-large-and-up {
    margin-bottom: 24px;
  }

  img {
    width: 102px;
    height: 102px;
  }
}

.four-column-information {
  float: left;

  h5 {
    text-align: center;
    line-height: normal;
    margin-bottom: 15px;

    a {
      font-weight: 700;
      font-family: $roboto;

      @include medium-and-up {
        font-size: 1.125rem;
      }

      @include x-large-and-up {
        font-size: 1.25rem;
      }
    }

    @include medium-and-up {
      text-align: left;
      margin-bottom: 16px;
    }

    @include large-and-up {
      margin-bottom: 12px;
      font-weight: 500;
    }

    @include x-large-and-up {
      margin-bottom: 20px;
    }
  }

  p {
    font-size: 0.9375rem;
    line-height: 1.6;
    color: $dark-shade-black;

    @include medium-and-up {
      font-size: 0.875rem;
      margin-bottom: 24px;
    }

    @include large-and-up {
      margin-bottom: 12px;
    }

    @include x-large-and-up {
      font-size: 0.9375rem;
      margin-bottom: 24px;
    }
  }

  a {
    font-family: $roboto;

    @include medium-and-up {
      font-size: 0.9375rem;
    }

    @include large-and-up {
      font-size: 0.875rem;
    }

    @include x-large-and-up {
      font-size: 0.9375rem;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
