.submenu-block {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 5px 5px 5px 0 rgba(128, 128, 128, 0.5);
  margin-bottom: 40px;
  padding: 20px;

  h1,
  h2 {
    padding-left: 16px;
    color: $grey-60;
    font-family: $roboto;
  }

  .submenu-menu {
    display: flex;
    flex-wrap: wrap;

    ul.submenu-item {
      flex-basis: 100%;
      padding: 0;

      @include large-and-up {
        flex-basis: 50%;
      }
    }

    a {
      color: $menu-blue;
      text-decoration: none;
    }

    ul {
      margin: 0.75em 0;
      list-style: none;
      padding: 0 16px;
    }

    li {
      padding-left: 16px;

      &:before {
        display: inline-block;
        font: normal normal normal 14px/1 ForkAwesome;
        font-weight: 900;
        content: "\f105";
        color: $menu-blue;
        margin-right: 5px;
        font-size: 0.8em;
      }
    }
  }

  &.submenu-short {
    .submenu-menu {
      ul.submenu-item {
        flex-basis: 100%;

        @include large-and-up {
          flex-basis: 33%;
        }

        li:before {
          content: "";
        }
      }
    }
  }

  &.submenu-sidebar {
    z-index: 4;

    @include medium-and-up {
      float: right;
      max-width: 350px;
      margin: 0 0 15px 15px;
    }

    .submenu-menu {
      ul.submenu-item {
        flex-basis: 100%;

        @include large-and-up {
          flex-basis: 100%;
        }
      }
    }
  }
}

.back-top,
div.page-template > .back-top {
  background-image: url("images/arrow-up.svg");
  background-repeat: no-repeat;
  position: fixed;
  height: 44px;
  width: 44px;
  left: calc(85% - 26px);
  bottom: 50px;
  background-color: #074365;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
  display: none;
  z-index: 1000;

  @include x-large-and-up {
    height: 60px;
    width: 60px;
  }

  &:hover {
    text-decoration: none;
  }
}
