.what-you-can-do-wrapper {
  margin-bottom: 40px;

  @include medium-and-up {
    margin-bottom: 0;
  }

  h3 {
    font-size: 1.375rem;
    font-weight: 700;
    margin-bottom: 15px;
    line-height: 1.2;
    padding-top: 0;

    @include small-and-up {
      padding-top: 20px;
    }

    @include medium-and-up {
      padding-top: 0;
      font-size: 1.5rem;
    }

    @include large-and-up {
      font-size: 1.75rem;
    }

    @include x-large-and-up {
      padding-top: 0;
      font-size: 1.875rem;
      margin-bottom: 20px;
    }
  }

  .col-md-12 {
    padding-top: 30px;

    @include small-and-up {
      padding-top: 0;
    }
  }

  .add-action-list-wrap {
    @include small-and-up {
      margin: 20px 0 0;
    }

    @include medium-and-up {
      margin: 20px 0 0;
    }

    .btn-primary {
      @include small-and-up {
        width: 57%;
        font-size: 0.75rem;
      }

      @include medium-and-up {
        width: 60%;
      }
    }
  }

  p {
    color: $dark-para-text;
    font-size: 1.0625rem;
    line-height: 1.6;

    @include medium-and-up {
      font-size: 1.1875rem;
    }

    @include large-and-up {
      font-size: 1.25rem;
    }

    @include x-large-and-up {
      font-size: 1.375rem;
    }
  }
}

.can-do-steps {
  cursor: default;
  margin-top: 35px;
  position: relative;

  @include medium-and-up {
    margin-bottom: 50px;
  }

  @include medium-and-up {
    margin-bottom: 60px;
  }

  @include large-and-up {
    margin: 35px 0 0 0;
  }

  @include x-large-and-up {
    @include clearfix;
    margin: 35px 0 80px;
  }

  .step-number {
    float: left;
    display: block;
    margin-right: 20px;
    width: 74px;
    height: 74px;
    line-height: 74px;
    text-align: center;
    font-size: 2.75rem;
    background: $grey;
    border-radius: 50%;
    color: $white;
    opacity: 0.7;
    text-transform: uppercase;
    font-weight: 500;

    @include large-and-up {
      float: none;
      width: 126px;
      height: 126px;
      vertical-align: middle;
      line-height: 114px;
      font-size: 4.375rem;
      position: relative;
      background-color: $dark-blue;
      opacity: 1;
    }

    &.active {
      background: $grey;
      opacity: 0.8;
      color: $white;

      @include large-and-up {
        background-color: $allports;
        opacity: 1;
      }

      .step-number-inner {
        @include large-and-up {
          background-color: $allports;
          border-color: $spray;
        }
      }
    }

    .step-number-inner {
      font-family: $roboto;

      @include large-and-up {
        position: absolute;
        background-color: $dark-blue;
        border-color: $spray;
        border-style: solid;
        border-width: 2px;
        border-radius: 50%;
        right: 5px;
        left: 5px;
        top: 5px;
        bottom: 5px;
      }
    }
  }

  .step-info {
    h5 {
      font-size: 0.9375rem;
      line-height: 19px;
      font-weight: 700;
      color: $percentage-text;

      @include medium-and-up {
        font-weight: 500;
        color: $darkb-blue-text;
        font-size: 1.25rem;
        line-height: 30px;
      }

      @include large-and-up {
        padding-top: 48px;
        color: $dark-shade-black;
      }

      @include x-large-and-up {
        margin-bottom: 18px;
      }
    }

    p {
      color: $dark-shade-black;
      font-size: 0.875rem;
      opacity: 0.75;

      @include x-large-and-up {
        font-size: 0.9375rem;
        line-height: 1.6;
        margin-bottom: 20px;
      }
    }

    .blue-button {
      width: 100%;
    }

    .steps-action {
      margin-top: 20px;

      a.btn {
        width: 210px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 35px;

        @include x-large-and-up {
          width: 250px;
        }
      }

      img {
        width: 100%;
        height: 210px;
        object-fit: cover;
        object-position: 10% 10%;
        margin-bottom: 35px;

        @include x-large-and-up {
          height: 250px;
        }
      }
    }
  }
}

.can-do-steps-mobile {
  margin: 6px 15px 0 0;
  width: 100%;

  .card {
    background: none;
    border: none;
    box-shadow: none;

    .card-header {
      font-weight: 400;
      font-size: 0.9375rem;
      font-family: $roboto;
      text-decoration: none;
      padding: 10px 10px 5px 10px;
      margin-bottom: 10px;
      background: $dark-blue;
      border: none;
      color: $white;

      &:hover {
        text-decoration: none;
      }
    }

    .info-with-image-wrap {
      .mobile-accordion-info {
        width: 90%;
        margin: 0 10px;
        color: $percentage-text;
        font-size: 0.875rem;
      }

      .accordion-image-wrap {
        padding-bottom: 35px;

        img {
          width: 90%;
          height: 190px;
          object-fit: cover;
          object-position: 10% 10%;

          @include small-and-up {
            width: 70%;
          }

          @include medium-and-up {
            width: 50%;
            height: 220px;
          }
        }
      }

      .btn-secondary {
        margin-bottom: 20px;
      }
    }

    .card-block {
      padding: 8px 0 8px 28px;
      border-bottom: none;
      margin-bottom: 10px;

      p {
        color: $dark-shade-black;
        font-size: 0.875rem;
        line-height: 22px;
        margin-left: -10px;
        padding-right: 20px;
      }
    }

    .step-number {
      font-family: $roboto;
      font-size: 1rem;
      font-weight: 900;
      color: $white;
      line-height: 1.5;
      padding-right: 9px;
      float: left;
      vertical-align: bottom;
      padding-bottom: 5px;
    }
  }
}
