.content-two-column-block {
  padding-top: 0;

  @include large-and-up {
    padding-top: 0;
    padding-bottom: 60px;
  }

  @include x-large-and-up {
    padding-top: 0;
    padding-bottom: 80px;
  }

  .page-child & {

    @include medium-and-up {
      padding-top: 0;
    }

    @include large-and-up {
      padding-bottom: 60px;
    }

    @include x-large-and-up {
      padding-top: 0;
      padding-bottom: 80px;
    }
  }

  .heading {
    padding-left: 0;
  }

  h2 {
    font-size: 1.375rem;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 15px;
    width: 100%;
    color: $black;

    @include medium-and-up {
      font-size: 1.5rem;
      width: 80%;
    }

    @include large-and-up {
      font-size: 1.75rem;
      margin-bottom: 20px;
      width: 90%;
    }

    @include x-large-and-up {
      font-size: 1.875rem;
      margin-bottom: 20px;
      line-height: 1.2;
    }
  }

  p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 16px;
    color: $dark-shade-black;

    @include medium-and-up {
      width: 80%;
    }

    @include large-and-up {
      line-height: 1.6;
      width: auto;
    }

    @include x-large-and-up {
      font-size: 1.125rem;
      width: 92%;
    }
  }

  .btn {

    @include x-large-and-up {
      .page-child & {
        max-width: 100%;
        width: auto;
      }
    }

    &:hover {
      border-color: $dark-blue;
    }
  }
}
