// Beta blocks
@import "blocks/ActionsList/ActionsListStyle";
@import "blocks/PostsList/PostsListStyle";

// P4 Blocks
@import "blocks/Accordion/AccordionStyle";
@import "blocks/Articles/ArticlesStyle";
@import "blocks/CarouselHeader/CarouselHeaderStyle";
@import "blocks/Columns/ColumnsStyle";
@import "blocks/Cookies/CookiesStyle";
@import "blocks/Counter/CounterStyle";
@import "blocks/Covers/CoversStyle";
@import "blocks/HappyPoint/HappyPointStyle";
@import "blocks/SocialMedia/SocialMediaStyle";
@import "blocks/Spreadsheet";
@import "blocks/TableOfContents/TableOfContentsStyle";
@import "blocks/TakeActionBoxout/TakeActionBoxoutStyle";
@import "blocks/Timeline/TimelineStyle";

// Patterns
@import "blocks/PageHeader";

// Native Blocks
@import "blocks/core-overrides/Image";
@import "blocks/core-overrides/BlockSpacing";
@import "blocks/core-overrides/Separator";
@import "blocks/core-overrides/Table";
@import "blocks/core-overrides/MediaText";
@import "blocks/core-overrides/Columns";
@import "blocks/core-overrides/Heading";
@import "blocks/core-overrides/Embed";

// Other
@import "blocks/WideBlocks";

.is-style-space-evenly {
  gap: 24px !important;

  & > * {
    flex-grow: 1;
    flex-basis: 100%;
    align-self: stretch;

    @include medium-and-up {
      flex-grow: 0;
      flex-basis: calc(50% - 12px);
    }

    @include large-and-up {
      flex-basis: calc(25% - 18px);
    }
  }
}

.is-style-reset-margin {
  margin: 0 !important;
}
