@import "./base/tokens";

// Moved from another repo, for history please see https://github.com/greenpeace/planet4-plugin-gutenberg-blocks/blame/f5c532ed5704738136224cde305e9a0ffe614ceb/assets/src/styles/editorOverrides.scss
.editor-post-title__block textarea.editor-post-title__input {
  --headings-- {
    font-family: var(--font-family-heading);
  }

  font-size: $font-size-xl;
  line-height: 1.225;
  margin-bottom: 30px;

  @include large-and-up {
    font-size: $font-size-xxl;
    margin-bottom: 48px;
  }
  @include x-large-and-up {
    font-size: $font-size-xxxl;
  }
}

.edit-post-visual-editor {
  @include table;
}

.components-panel__body {
  label, .text-capitalize legend {
    font-size: 13px !important;
    text-transform: none !important;
  }
}

.components-radio-control__option {
  input.components-radio-control__input {
    margin-right: 5px;
  }

  label {
    margin-bottom: 0;
  }
}

.wp-block-button .wp-block-button__link[role="textbox"],
.wp-block-file .wp-block-file__button {
  display: inline-block;
  font-family: var(--font-family-button);
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  padding: $sp-1x $sp-4;
  appearance: none;
  transition-property: color, background-color, border-color;
  transition-duration: 150ms;
  transition-timing-function: linear;
  font-size: $font-size-sm;

  [data-rich-text-placeholder]::after {
    color: inherit;
  }
}

.wp-block-button .wp-block-button__link[role="textbox"],
.wp-block-button.is-style-secondary .wp-block-button__link[role="textbox"],
[class="wp-block-button"] .wp-block-button__link[role="textbox"],
.wp-block-file .wp-block-file__button {
  --button-secondary-- {
    background: var(--white);
    border-color: var(--p4-dark-green-800);
    color: var(--p4-dark-green-800);
  }
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &.has-background {
    border-color: transparent;
  }
}

.wp-block-file .wp-block-file__button {
  overflow: unset;
  padding: 0 1em;
  margin-inline-start: 1em;
  font-size: .8em;
}

.wp-block-button.is-style-cta .wp-block-button__link[role="textbox"] {
  --button-primary-- {
    background: var(--p4-action-yellow-500);
    border-color: transparent;
    color: var(--grey-900);
  }

  &.has-background {
    border-color: transparent;
  }
}

.wp-block-button.is-style-transparent .wp-block-button__link[role="textbox"] {
  --transparent-button-- {
    border-color: var(--white);
    color: var(--white);
    background: transparent;
  }
}

.editor-styles-wrapper {
  padding: 0 1rem !important;
}

.block-editor-block-list__layout.is-root-container {
  p {
    // Matches https://github.com/greenpeace/planet4-master-theme/blob/ab3ee3a5fd7975fcdb71f633d9ce8704003306e8/assets/src/scss/base/_typography.scss#L11-L19.
    // We need to redeclare with a different selector here, because a core script sets a higher specificity.
    --text-- {
      font-size: $font-size-sm;
      line-height: 1.6rem;

      @include x-large-and-up {
        font-size: $font-size-md;
        line-height: 1.75rem;
      }
    }

    > a {
      @include shared-link-styles;
    }
  }

  > ul li a,
  > ol li a {
    @include shared-link-styles;
  }
}

.editor-rich-text__editable.wp-block-button__link:not([role="textbox"]) {
  background: var(--white);
  border-radius: 0;
  border: none;
  color: var(--color-text-body) !important;
}

// The color picker cannot be configured to show a clear button without giving the ability to enter any color with its
// hex code.
// So as a workaround undo the hiding of the wrapper and hide only the text input.
.palette-only {
  span.wp-picker-input-wrap {
    display: inline-block !important;
  }

  .wp-picker-input-wrap label {
    display: none !important;
  }
}

// By default the selected color is barely visible because of the white circle with check mark covering it.
.components-color-palette__item.is-active {
  box-shadow: inset 0 0 0 6px;
}

.edit-post-sidebar {
  .block-editor-block-styles + .components-base-control {
    display: none;
  }

  .components-form-token-field__label {
    font-weight: bold;
    text-transform: none;
  }

  .components-input-control__label {
    font-size: 13px !important;
    font-weight: bold !important;
    text-transform: none !important;
  }

  // By default all but the first .component-base-control have margin-bottom, causing weird spacing.
  .components-base-control {
    margin-bottom: 0;

    .components-base-control__label {
      font-weight: bold;
      text-transform: none;
    }
  }
}

.edit-post-visual-editor .editor-block-list__block-edit,
.edit-post-visual-editor,
.editor-styles-wrapper {
  --body-- {
    font-family: "Noto Serif", serif;
  }

  h1, h2, h3, h4, h5 {
    --headings-- {
      font-family: var(--font-family-heading);
    }
  }
}

.edit-post-sidebar-header > .components-icon-button.is-toggled {
  display: none !important;
}

#icl_div_config {
  display: none !important;
}

input.describe[type=text][data-setting=caption] {
  pointer-events: none;
}

.p4-plugin-pre-publish-panel-error {
  ul {
    background: var(--red-500);
    color: var(--white);
  }
}

.cmb2_required_field_error {
  border-color: var(--p4-action-yellow-600) !important;
}

.input_error {
  font-family: var(--font-family-primary);
  font-size: 13px;
  color: var(--color-text--error);
}

// Sidebar help texts
.components-base-control__help,
.components-form-token-field__help,
.FieldHelp {
  font-size: 13px;
  line-height: 1.5;
}

// Allow button edition via click on Safari
.btn {
  user-select: auto;
}

// Adjust CSS Customizer for readability
.CodeMirror-code {
  font-size: $font-size-xs;
  line-height: 1rem;
}

.block-editor-block-preview__content-iframe .wp-block-button.is-style-transparent {
  background: var(--p4-dark-green-800);
}

.block-editor-block-patterns-list__item {
  display: flex;
  flex-direction: column-reverse;

  .block-editor-block-patterns-list__item-title {
    color: var(--color-text-body);
    font-weight: bold;
    margin-bottom: $sp-1;
  }
}

// Media Archive Style Override
.media-archive-content {
  .archive-picker-title,
  .nav-bulk-select {
    display: none;
  }

  .archive-picker {
    gap: 0;
  }

  .archive-picker-toolbar {
    margin-top: 65px;
  }

  #import-to-library,
  #import-to-library:disabled {
    display: none;
  }

  .multiple-search {
    margin-inline-start: 20px;
  }

  .multiple-search-nav button:first-child {
    display: none;
  }

  .multiple-search-wrapper-input input {
    width: 100%;
    margin: 0;
    height: 100%;
    background: transparent;
    border-radius: 0;
    font-size: 14px;
    outline: 0;
    border: none;
    border-bottom: 1px solid transparent;
  }

  .picker-list {
    padding: 15px;
    margin-top: 23px;
  }

  .help {
    display: none;
  }

  .media-archive-help {
    position: absolute;
    top: 75px;
    right: 18px;
    display: flex;
    flex-direction: column;

    span {
      background: #7e7e7e;
      border-radius: 50%;
      text-align: center;
      line-height: 24px;
      font-weight: 500;
      cursor: pointer;
      width: 24px;
      height: 24px;
      color: var(--white);
    }

    .tooltip {
      display: none;
    }

    &:hover .tooltip {
      display: block;
      position: absolute;
      background: var(--white);
      width: 330px;
      font-size: 12px;
      line-height: 1.5;
      border-radius: 4px;
      padding: 16px;
      margin-bottom: 8px;
      color: black;
      opacity: 1;
      top: -14px;
      right: 34px;
      border: 1px solid #ccc;
      box-shadow: 0 7px 10px rgba(0, 0, 0, 0.6);
    }

    &:hover .tooltip:after {
      content: "";
      position: absolute;
      top: 15px;
      right: -16px;
      border: 8px solid transparent;
      border-left-color: var(--white);
    }

    &:hover .tooltip a {
      color: $black;
    }
  }
}

@media (max-width: 767px) {
  .media-archive-content {
    .picker-list {
      grid-template-columns: repeat(2, 1fr);
    }

    .media-archive-help {
      top: 110px;
    }

    .multiple-search {
      margin-inline-start: none;
      width: 95%;
      margin: 20px auto;
    }

    .media-archive-help:hover .tooltip {
      width: 248px;
    }
  }
}

// Override Query Loop within editor
.is-custom-layout-carousel {
  flex-direction: column;

  .wp-block-columns {
    margin-top: 0;
  }

  & > .wp-block-heading.rich-text {
    margin-bottom: 0;
  }

  .wp-block-post-template {
    display: flex;
    padding: 0 8px 8px 8px !important;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
  }

  .wp-block-post {
    flex-basis: 356px;
    flex-shrink: 0;

    &:not(:last-child) {
      margin-inline-end: $sp-2;
    }
  }

  @include large-and-up {
    .wp-block-post:not(:last-child) {
      margin-inline-end: $sp-3;
    }
  }
}
