// Moved from another repo, for history please see https://github.com/greenpeace/planet4-plugin-gutenberg-blocks/blame/f5c532ed5704738136224cde305e9a0ffe614ceb/assets/src/styles/editorOverrides.scss
.editor-post-title__block textarea.editor-post-title__input {
  --headings-- {
    font-family: var(--headings--font-family);
  }

  font-size: $font-size-xl;
  line-height: 1.225;
  margin-bottom: 30px;

  @include large-and-up {
    font-size: $font-size-xxl;
    margin-bottom: 48px;
  }
  @include x-large-and-up {
    font-size: $font-size-xxxl;
  }
}

.editor-styles-wrapper {
  padding: 0 1rem !important;
}

.edit-post-visual-editor {
  li {
    font-size: unset;
  }

  @include table;
}

.wp-block-image {
  display: table;

  // Mimics the behavior of WP's native '.is-resized' CSS class
  .editor-rich-text.block-editor-rich-text {
    display: table-caption;
    caption-side: bottom;

    figcaption {
      display: block;
    }
  }
}

.components-panel__body label {
  font-size: 13px;
}

.components-radio-control__option {
  input.components-radio-control__input {
    margin-right: 5px;
  }

  label {
    margin-bottom: 0;
  }
}

.wp-block-button .wp-block-button__link[role="textbox"],
.wp-block-file .wp-block-file__button {
  display: inline-block;
  font-family: var(--headings--font-family);
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  line-height: 3;
  padding: 0 $sp-4;
  appearance: none;
  transition-property: color, background-color, border-color;
  transition-duration: 150ms;
  transition-timing-function: linear;
  font-size: $font-size-sm;

  [data-rich-text-placeholder]::after {
    color: inherit;
  }
}

.wp-block-button .wp-block-button__link[role="textbox"],
.wp-block-button.is-style-secondary .wp-block-button__link[role="textbox"],
[class="wp-block-button"] .wp-block-button__link[role="textbox"],
.wp-block-file .wp-block-file__button {
  --button-secondary-- {
    background: transparentize($white, .7);
    border-color: $dark-blue;
    color: $dark-blue;
    padding: 2px $sp-4;
  }
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &.has-background {
    border-color: transparent;
  }

  html[dir="rtl"] & {
    line-height: 2.5;
  }
}

.wp-block-button.is-style-cta .wp-block-button__link[role="textbox"] {
  --button-primary-- {
    background: $orange;
    border-color: transparent;
    color: $white;
  }

  &.has-background {
    border-color: transparent;
  }
}

.wp-block-button.is-style-transparent .wp-block-button__link[role="textbox"] {
  --transparent-button-- {
    border-color: $white;
    color: $white;
    background: transparent;
  }
}

.editor-styles-wrapper p {
  // Matches https://github.com/greenpeace/planet4-master-theme/blob/ab3ee3a5fd7975fcdb71f633d9ce8704003306e8/assets/src/scss/base/_typography.scss#L11-L19.
  // We need to redeclare with a different selector here, because a core script sets a higher specificity.
  --text-- {
    font-size: $font-size-sm;
    line-height: 1.6rem;

    @include x-large-and-up {
      font-size: $font-size-md;
      line-height: 1.75rem;
    }
  }
}

.editor-rich-text__editable.wp-block-button__link:not([role="textbox"]) {
  background: $white;
  border-radius: 0;
  border: none;
  color: var(--body--color) !important;
}

// The color picker cannot be configured to show a clear button without giving the ability to enter any color with its
// hex code.
// So as a workaround undo the hiding of the wrapper and hide only the text input.
.palette-only {
  span.wp-picker-input-wrap {
    display: inline-block !important;
  }

  .wp-picker-input-wrap label {
    display: none !important;
  }
}

// By default the selected color is barely visible because of the white circle with check mark covering it.
.components-color-palette__item.is-active {
  box-shadow: inset 0 0 0 6px;
}

.edit-post-sidebar {
  .block-editor-block-styles + .components-base-control {
    display: none;
  }

  .components-form-token-field__label {
    font-weight: bold;
    text-transform: none;
  }

  .components-input-control__label {
    font-size: 13px !important;
    font-weight: bold !important;
    text-transform: none !important;
  }

  // By default all but the first .component-base-control have margin-bottom, causing weird spacing.
  .components-base-control {
    margin-bottom: 0;

    .components-base-control__label {
      font-weight: bold;
      text-transform: none;
    }
  }
}

.edit-post-visual-editor .editor-block-list__block-edit,
.edit-post-visual-editor, .editor-styles-wrapper {
  --body-- {
    font-family: "Noto Serif", serif;
  }

  h1, h2, h3, h4, h5 {
    --headings-- {
      font-family: var(--headings--font-family);
    }
  }
}

.edit-post-sidebar-header > .components-icon-button.is-toggled {
  display: none !important;
}

#icl_div_config {
  display: none !important;
}

input.describe[type=text][data-setting=caption] {
  pointer-events: none;
}

.InlineToggleControl {
  .components-toggle-control {
    display: flex;

    .components-base-control__field {
      margin: 0;
    }

    p {
      margin: 0;
    }
  }
}

.p4-plugin-pre-publish-panel-error {
  background-color: #f9e2e2 !important;
}

.cmb2_required_field_error {
  border-color: $dark-orange !important;
}

.input_error {
  font-family: var(--headings--font-family);
  font-size: 13px;
  color: red;
}

// Sidebar help texts
.components-base-control__help,
.components-form-token-field__help,
.sidebar-blocks-help ul li,
.FieldHelp {
  font-size: 13px;
  line-height: 1.5;
}

// Allow button edition via click on Safari
.btn {
  user-select: auto;
}

// Adjust CSS Customizer for readability
.CodeMirror-code {
  font-size: $font-size-xs;
  line-height: 1rem;
}

.block-editor-block-preview__content-iframe .wp-block-button.is-style-transparent {
  background: $dark-blue;
}

.block-editor-block-patterns-list__item {
  display: flex;
  flex-direction: column-reverse;

  .block-editor-block-patterns-list__item-title {
    color: var(--body--color);
    font-weight: bold;
    margin-bottom: $sp-1;
  }
}

.customize-control[id*="new_identity_styles"] label {
  display: inline;
}

.media-archive-content {
  // border: 1px solid red;
  position: relative;

  .image-picker {
    // border: 1px solid green;
    margin-right: 30px;
  }

  .picker-sidebar {
    // border: 1px solid yellow;
    position: absolute;

    .close-sidebar {
      position: absolute;
      top: 0;
      right: 10px;
    }
  }

  .multiple-search-nav {
    display: none;
  }

  .multiple-search-wrapper-input input {
    width: 100%;
    margin: 0;
    height: 100%;
    background: transparent;
    border-radius: 0;
    font-size: 14px;
    outline: 0;
    border: none;
    border-bottom: 1px solid transparent;
  }

  .multiple-search-form {
    margin: 50px auto 25px;
    width: 95%
  }
}
