@import "~bootstrap/scss/bootstrap-reboot";
@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/buttons";

@import "base/tokens";
@import "base/colors";
@import "base/variables";
@import "base/palette";
@import "base/functions";
@import "base/mixins";
@import "base/fonts";

@import "base/icons";
@import "components/buttons";
@import "components/share-buttons";
@import "components/image-hover-buttons";
@import "base/typography";
@import "layout/tables";
@import "layout/page-header";
@import "layout/breadcrumbs";
@import "layout/forms";
@import "layout/gravity-forms";
@import "layout/query-loop-overrides";

// Overrides
@import "editorOverrides";
@import "core-overrides/image";
@import "core-overrides/heading";

// CSS variables
@import "base/css-variables";

// Blocks
@import "blocks";

// Blocks editor styles
@import "blocks/Accordion/AccordionEditorStyle";
@import "blocks/Articles/ArticlesEditorStyle";
@import "blocks/CarouselHeader/CarouselHeaderEditorStyle";
@import "blocks/Columns/ColumnsEditorStyle";
@import "blocks/Cookies/CookiesEditorStyle";
@import "blocks/Covers/CoversEditorStyle";
@import "blocks/ENForm/ENFormEditorStyle";
@import "blocks/HappyPoint/HappyPointEditorStyle";
@import "blocks/TableOfContents/TableOfContentsEditorStyle";
@import "blocks/TakeActionBoxout/TakeActionBoxoutEditorStyle";
@import "blocks/Timeline/TimelineEditorStyle";

// Beta blocks editor styles
@import "blocks/PostsList/PostsListEditorStyle";
@import "blocks/ActionsList/ActionsListEditorStyle";

// Variations
@import "variations/stretched-link/edit";

.block-editor-block-list__layout.is-root-container > * {
  margin-top: $sp-1;
  margin-bottom: $sp-2;

  @include large-and-up {
    margin-top: $sp-2;
    margin-bottom: $sp-4;
  }
}

.block-edit-mode-warning {
  padding: $sp-2;
  margin: 0;
}
