// Moved from another repo, for history please see https://github.com/greenpeace/planet4-plugin-gutenberg-blocks/blame/f5c532ed5704738136224cde305e9a0ffe614ceb/assets/src/styles/editorOverrides.scss
.editor-post-title__block textarea.editor-post-title__input {
  --headings-- {
    font-family: $roboto;
  }

  font-size: $font-size-xl;
  line-height: 1.225;
  margin-bottom: 30px;

  @include large-and-up {
    font-size: $font-size-xxl;
    margin-bottom: 48px;
  }
  @include x-large-and-up {
    font-size: $font-size-xxxl;
  }
}

.edit-post-visual-editor {
  .wp-block {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  li {
    font-size: unset;
  }
  @include table;
}

.wp-block-image {
  display: table;

  // Mimics the behavior of WP's native '.is-resized' CSS class
  .editor-rich-text.block-editor-rich-text {
    display: table-caption;
    caption-side: bottom;

    figcaption {
      display: block;
    }
  }
}

.components-panel__body label {
  font-size: 13px;
}

.components-radio-control__option {
  input.components-radio-control__input {
    margin-right: 5px;
  }

  label {
    margin-bottom: 0;
  }
}

.wp-block-button .wp-block-button__link[role="textbox"] {
  display: inline-block;
  font-family: $roboto;
  text-align: center;
  text-decoration: none;
  color: $white;
  font-weight: bold;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  line-height: 3;
  padding: 0 $sp-4;
  appearance: none;
  transition-property: color, background-color, border-color;
  transition-duration: 150ms;
  transition-timing-function: linear;
  font-size: $font-size-sm;
}

.wp-block-button.is-style-secondary .wp-block-button__link[role="textbox"],
[class="wp-block-button"] .wp-block-button__link[role="textbox"] {
  --button-secondary-- {
    background: transparentize($white, .7);
    border-color: $dark-blue;
    color: $dark-blue;
    padding: 2px $sp-4;
  }

  box-shadow: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  html[dir="rtl"] & {
    line-height: 2.5;
  }
}

.wp-block-button.is-style-cta .wp-block-button__link[role="textbox"] {
  --button-primary-- {
    background: $orange;
    border-color: $orange;
    color: $white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
  }
}

.wp-block-button.is-style-donate .wp-block-button__link[role="textbox"] {
  --button-donate-- {
    background: $aquamarine;
    color: $grey;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
  }

  line-height: 1.65;
  min-width: 180px;
  margin: 0;
  padding: 2px $sp-4;
  transition: color background-color font-weight 100ms;

  .editor-styles-wrapper & {
    min-width: auto;
    line-height: 3;
  }
}

.wp-block-button.transparent-button .wp-block-button__link[role="textbox"] {
  --transparent-button-- {
    border-color: $white;
    color: $white;
    background: transparent;
  }
}

.editor-styles-wrapper p {
  // Matches https://github.com/greenpeace/planet4-master-theme/blob/ab3ee3a5fd7975fcdb71f633d9ce8704003306e8/assets/src/scss/base/_typography.scss#L11-L19.
  // We need to redeclare with a different selector here, because a core script sets a higher specificity.
  --text-- {
    font-size: $font-size-sm;
    line-height: 1.6rem;

    @include x-large-and-up {
      font-size: $font-size-md;
      line-height: 1.75rem;
    }
  }
}

.editor-rich-text__editable.wp-block-button__link:not([role="textbox"]) {
  background: $white;
  border-radius: 0;
  border: none;
  color: $grey-80 !important;
}

// The color picker cannot be configured to show a clear button without giving the ability to enter any color with its
// hex code.
// So as a workaround undo the hiding of the wrapper and hide only the text input.
.palette-only {
  span.wp-picker-input-wrap {
    display: inline-block !important;
  }

  .wp-picker-input-wrap label {
    display: none !important;
  }
}
// By default the selected color is barely visible because of the white circle with check mark covering it.
.components-color-palette__item.is-active {
  box-shadow: inset 0 0 0 6px;
}

.edit-post-sidebar {
  .block-editor-block-styles + .components-base-control {
    display: none;
  }

  // By default all but the first .component-base-control have margin-bottom, causing weird spacing.
  .components-base-control {
    margin-bottom: 0;

    .components-base-control__label {
      font-weight: bold;
    }
  }
}

.edit-post-visual-editor .editor-block-list__block-edit,
.edit-post-visual-editor, .editor-styles-wrapper {
  --body-- {
    font-family: "Noto Serif", serif;
  }

  h1, h2, h3, h4, h5 {
    --headings-- {
      font-family: $roboto;
    }
  }
}

.edit-post-sidebar-header > .components-icon-button.is-toggled {
  display: none !important;
}

#icl_div_config {
  display: none !important;
}

input.describe[type=text][data-setting=caption] {
  pointer-events: none;
}

.InlineToggleControl {
  .components-toggle-control {
    display: flex;

    .components-base-control__field {
      margin: 0;
    }

    p {
      margin: 0;
    }
  }
}

.p4-plugin-pre-publish-panel-error {
  background-color: #f9e2e2 !important;
}

.cmb2_required_field_error {
  border-color: $dark-orange !important;
}

.input_error {
  font-family: $roboto;
  font-size: 13px;
  color: red;
}

// Sidebar help texts
.components-base-control__help,
.components-form-token-field__help,
.sidebar-blocks-help ul li,
.FieldHelp {
  font-size: 13px;
  line-height: 1.5;
}

// Allow button edition via click on Safari
.btn {
  user-select: auto;
}

// Adjust CSS Customizer for readability
.CodeMirror-code {
  font-size: $font-size-xs;
  line-height: 1rem;
}
