@import "../../master-theme/assets/src/scss/base/variables";
@import "../../master-theme/assets/src/scss/base/colors";
@import "../../master-theme/assets/src/scss/base/mixins";

@import "HubspotFormSidebarStyles";

.hubspot-form-editor {
  padding-right: 32px;
  padding-left: 32px;

  & > .container {
    @media (max-width: #{$large-width}) {
      padding: 0;
    }
  }

  .max-length-message {
    color: $grey-80;
    display: inline-block;
    font-size: 15px;
    margin-bottom: 20px;

    &.dark-theme {
      color: $grey-10;
    }

    &.max-length-error {
      color: $dark-orange;
    }
  }
}

.block-editor-rich-text__editable.form-title {
  color: $grey-80;
  font-size: 20px;
  margin: 0 0 16px 0;
  text-align: start;

  @include large-and-up {
    font-size: 28px;
  }
}

.block-editor-rich-text__editable.form-text {
  color: $grey-80;
  font-family: $roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: start;
}

.block-editor-rich-text__editable.block-title {
  font-size: 28px;
  line-height: 32px;
  text-align: start;
  color: $white;
  margin: 0;
  word-break: break-word;

  @include large-and-up {
    font-size: 40px;
    line-height: 46px;
  }
}

.block-editor-rich-text__editable.block-text {
  font-size: 16px;
  font-family: $lora;
  font-weight: 400;
  color: $white;
  line-height: 26px;
  text-align: start;
  margin-top: 24px;
  margin-bottom: 32px;

  @include large-and-up {
    font-size: 20px;
    line-height: 28px;
  }
}
