.components-panel__row {
  .panel-row-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    .panel-row-label-text {
      font-weight: bold;
      margin-bottom: 8px;

      & ~ div {
        width: 100%;
        margin-bottom: 8px;
      }
    }

    .panel-row-help-text {
      font-size: 12px;
      font-style: normal;
      color: rgb(117, 117, 117);
      margin-bottom: 8px;
    }

    .image-actions-nav {
      display: flex;
      margin: 12px 0 16px;

      & > * {
        &:not(:last-child) {
          margin-right: 8px;
        }
      }
    }

    .button-remove-image {
      padding: 0;
    }
  }

  &:not(:last-child) {
    .panel-row-wrapper {
      margin-bottom: 8px;
      border-bottom: 1px solid #e0e0e0;
    }
  }
}
