@import "../../master-theme/assets/src/scss/base/variables";
@import "../../master-theme/assets/src/scss/base/colors";
@import "../../master-theme/assets/src/scss/base/mixins";
@import "../../master-theme/assets/src/scss/base/fonts";

/* Layouts */
@import "layouts/ImageFullWidthStyles";

.hubspot-form {
  position: relative;
  margin-bottom: 32px;
  font-family: $roboto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: inset 0 0 0 100vw transparentize($grey-80, .45);

  &.alignfull {
    width: 100vw;
    /* A better way is to add these changes into the WideBlocks stylesheet */
    margin-inline-start: calc(((100vw - 100%) / 2) * -1);
  }

  & > .container {
    padding-left: 0;
    padding-right: 0;

    @media (max-width: #{$large-width}) {
      max-width: 100%;
    }
  }
}

.block-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-right: 0;

  @include large-and-up {
    flex-direction: row;
    padding-top: 156px;
    padding-bottom: 156px;
  }
}

.block-wrapper-inner {
  padding-top: 32px;
  padding-bottom: 32px;
}

.block-wrapper-form {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  padding-bottom: 32px;

  @include large-and-up {
    padding-top: 16px;
    padding-bottom: 7px;
    padding-inline-start: 32px;
    padding-inline-end: 32px;
  }

  &.submitted-form {
    align-items: center;
    justify-content: center;
    display: flex;

    @include large-and-up {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    & > .container {
      width: auto;
    }
  }
}

.block-wrapper-form .form-wrapper-field {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px $grey-40;
  background-color: $grey-10;

  label {
    font-size: 14px;
    align-items: center;
    font-weight: 600;
  }

  .rich-text {
    padding: 10px;
    margin-top: 10px;
    border: solid 1px $grey-40;
    font-size: 15px;
    line-height: 1.4;
    background-color: $white;
  }
}

.form-title {
  color: $grey-80;
  font-size: 20px;
  margin: 0 0 16px 0;
  text-align: start;

  @include large-and-up {
    font-size: 28px;
  }
}

.form-text {
  color: $grey-80;
  font-family: $roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: start;
}

.block-title {
  font-size: 28px;
  line-height: 32px;
  text-align: start;
  color: $white;
  margin: 0;
  word-break: break-word;

  @include large-and-up {
    font-size: 40px;
    line-height: 46px;
  }
}

.block-text {
  font-size: 16px;
  font-family: $lora;
  font-weight: 400;
  color: $white;
  line-height: 26px;
  text-align: start;
  margin-top: 24px;
  margin-bottom: 32px;

  @include large-and-up {
    font-size: 20px;
    line-height: 28px;
  }
}

.block-button {
  border: solid 1px $white;
  background: transparent;
  padding: 13px 61px;
  border-radius: 4px;
  color: $white !important;
  line-height: 19px;
  font-size: 16px;
  font-weight: 700;
  width: fit-content;

  &.external-link {
    &::after {
      margin-left: 6px;
    }
  }

  &:hover {
    background-color: $white;
    color: $grey-80 !important;
    text-decoration: none;
  }
}

#hubspot-api-form {
  width: 100%;
}
