---
version: 2.1

workflows:
  main:
    jobs:
      - php72-tests
      - php73-tests
      - acceptance-tests:
          context: org-global
      - a11y-tests:
          context: org-global
      - rips-test:
          context: rips-scans
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /^v\p{Digit}+\.\p{Digit}+.*/

job-references:
  mysql_image: &mysql_image
    circleci/mysql:5.7

  setup_environment: &setup_environment
    name: "Setup Environment Variables"
    command: |
      echo "export PATH=$HOME/.composer/vendor/bin:$PATH" >> $BASH_ENV
      source /home/circleci/.bashrc

  install_dependencies: &install_dependencies
    name: "Install Dependencies"
    command: |
      composer install --dev

  php_job: &php_job
    environment:
      - WP_TESTS_DIR: "/tmp/wordpress-tests-lib"
      - WP_CORE_DIR: "/tmp/wordpress/"
    steps:
      - checkout
      - run: *setup_environment
      - run: *install_dependencies
      - run:
          name: "phpcs"
          command: |
            mkdir -p /tmp/test-results/phpcs
            vendor/bin/phpcs --config-set installed_paths vendor/wp-coding-standards/wpcs
            vendor/bin/phpcs --report=junit --report-file=/tmp/test-results/phpcs/$CIRCLE_STAGE.xml
      - run:
          name: "phpunit"
          when: always
          command: |
            mkdir -p /tmp/test-results/phpunit
            rm -rf $WP_TESTS_DIR $WP_CORE_DIR
            bash bin/install-wp-tests.sh wordpress_test root '' 127.0.0.1 latest
            vendor/bin/phpunit --log-junit /tmp/test-results/phpunit/$CIRCLE_STAGE.xml --coverage-html /tmp/coverage-report --coverage-text
      - run:
          name: "stylelint"
          when: always
          command: stylelint $HOME/project/assets/src/styles/**/*.scss
      - run:
          name: "eslint"
          when: always
          command: eslint public/js/**/*.js tests/js
      - store_test_results:
          path: /tmp/test-results

  p4_instance_conf: &p4_instance_conf
    docker:
      - image: greenpeaceinternational/p4-builder:latest
    working_directory: /home/circleci/
    environment:
      APP_HOSTNAME: www.planet4.test
      APP_HOSTPATH:
      CLOUDSQL_INSTANCE: p4-develop-k8s
      CONTAINER_PREFIX: planet4-base
      GOOGLE_PROJECT_ID: planet-4-151612
      HELM_NAMESPACE: develop
      TYPE: "Build"
      WP_DB_NAME: planet4-base_wordpress
      WP_TITLE: Greenpeace Base Development

commands:
  install-instance:
    steps:  
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Build - Configure
          command: |
            activate-gcloud-account.sh
            mkdir -p /tmp/workspace/var
            mkdir -p /tmp/workspace/src
            echo "${CIRCLE_BUILD_NUM}" > /tmp/workspace/var/circle-build-num
      - run:
          name: Build - Build containers
          working_directory: /home/circleci
          command: |
            echo "Plugin gutenberg blocks branch is ${CIRCLE_BRANCH}"
            sleep 10
            PLUGIN_GUTENBERG_BLOCKS_BRANCH=dev-${CIRCLE_BRANCH} MERGE_SOURCE=git@github.com:greenpeace/planet4-base-fork.git MERGE_REF=develop make
      - run:
          name: Test - Clone planet4-docker-compose
          command: |
            git clone --depth 1 https://github.com/greenpeace/planet4-docker-compose

  run-tests:
    parameters:
      test-name:
        type: string
      test-command:
        type: string
      extract-command:
        type: string
    steps:
      - run: 
          name: << parameters.test-name >>
          command: << parameters.test-command >>
      - run:
          name: Test - Extract test artifacts
          when: always
          command: << parameters.extract-command >>
      - persist_to_workspace:
          root: /tmp/workspace
          paths:
            - var
      - store_test_results:
          path: planet4-docker-compose/artifacts
      - store_artifacts:
          path: planet4-docker-compose/artifacts
      - run:
          name: Build - Notify failure
          when: on_fail
          command: notify-job-failure.sh

jobs:
  php72-tests:
    <<: *php_job
    docker:
      - image: greenpeaceinternational/p4-unit-tests:php7.2-develop
      - image: *mysql_image

  php73-tests:
    <<: *php_job
    docker:
      - image: greenpeaceinternational/p4-unit-tests:php7.3-develop
      - image: *mysql_image

  acceptance-tests:
    <<: *p4_instance_conf
    steps:
      - install-instance
      - run-tests:
          test-name: Test - Run acceptance tests
          test-command: |
            export BUILD_TAG="build-$(cat /tmp/workspace/var/circle-build-num)"
            export APP_IMAGE=gcr.io/planet-4-151612/planet4-base-app:${BUILD_TAG}
            export OPENRESTY_IMAGE=gcr.io/planet-4-151612/planet4-base-openresty:${BUILD_TAG}
            make -C planet4-docker-compose ci test
          extract-command: |
            export BUILD_TAG="build-$(cat /tmp/workspace/var/circle-build-num)"
            export APP_IMAGE=gcr.io/planet-4-151612/planet4-base-app:${BUILD_TAG}
            export OPENRESTY_IMAGE=gcr.io/planet-4-151612/planet4-base-openresty:${BUILD_TAG}
            make -C planet4-docker-compose ci-extract-artifacts

  a11y-tests:
    <<: *p4_instance_conf
    steps:
      - install-instance
      - run-tests:
          test-name: Test - Run accessibility tests
          test-command: |
            export BUILD_TAG="build-$(cat /tmp/workspace/var/circle-build-num)"
            export APP_IMAGE=gcr.io/planet-4-151612/planet4-base-app:${BUILD_TAG}
            export OPENRESTY_IMAGE=gcr.io/planet-4-151612/planet4-base-openresty:${BUILD_TAG}
            make -C planet4-docker-compose ci test-pa11y-ci
          extract-command: |
            export BUILD_TAG="build-$(cat /tmp/workspace/var/circle-build-num)"
            export APP_IMAGE=gcr.io/planet-4-151612/planet4-base-app:${BUILD_TAG}
            export OPENRESTY_IMAGE=gcr.io/planet-4-151612/planet4-base-openresty:${BUILD_TAG}
            make -C planet4-docker-compose ci-extract-a11y-artifacts
            errors=$(jq '.["results"] | .[] | unique_by(.["type"]) | map(select(.["type"] == "error")) | .[]' planet4-docker-compose/artifacts/pa11y/pa11y-ci-results.json)
            if [ ! -z "${errors}" ]; then echo "Errors found, see report in artifacts." && exit 1; else echo "No errors, report available in artifacts."; fi

  rips-test:
    docker:
      - image: rips/rips-cli:3
    environment:
      RIPS_APPLICATION_ID: 5
    steps:
      - checkout
      - run: rips-cli -vvv rips:scan:start -a $RIPS_APPLICATION_ID -p ~/project/ -t 1
