$bucket: "https://www.greenpeace.org/static/planet4-assets/";

$fonts: (
  #{$font-family-primary},
  #{$font-family-secondary},
  #{$font-family-tertiary},
);

@each $font in $fonts {
  @font-face {
    font-family: #{$font};
    font-display: swap;
    src: url(#{$bucket} + #{$font} + ".woff2") format("woff2");
  }
}
