@import "../base/tokens";

:root {
  --body--color: var(--grey-900);
  --site-footer--background: var(--p4-dark-green-800);
  --countries-list--background: var(--p4-dark-green-900);
  --site-footer--copyright--background: var(--p4-dark-green-900);
  --block-columns--step-number--inner--background: var(--gp-green-100);
  --block-columns--step-number--background: var(--gp-green-100);
  --block-columns--step-number--color: var(--grey-900);
  --block-columns--card-header--background: var(--p4-dark-green-800);
}
