@import "../base/tokens";
@import "../base/variables";
@import "../base/mixins";
@import "./fonts";

@mixin shared-link-styles {
  --link--height: 26px;
  --transition--duration: 0.3s;

  border-bottom: 2px solid var(--gp-green-500);
  transition: var(--transition--duration) cubic-bezier(0.5, 0, 0, 1);

  &:hover {
    box-shadow: inset 0 calc(var(--link--height) * -1) rgba($gp-green-500, .15);
  }

  &:hover,
  &:active {
    text-decoration: none !important;
  }

  &:focus {
    --link--focus--border-radius: 0;
  }
}

:root {
  // Colors
  --body--color: var(--grey-900);
  --site-footer--background: var(--p4-dark-green-800);
  --countries-list--background: var(--p4-dark-green-900);
  --site-footer--copyright--background: var(--p4-dark-green-900);
  --block-columns--step-number--inner--background: var(--gp-green-100);
  --block-columns--step-number--background: var(--gp-green-100);
  --block-columns--step-number--color: var(--grey-900);
  --block-columns--card-header--background: var(--p4-dark-green-800);
  --button-primary--background: var(--p4-action-yellow-500);
  --button-primary--disabled--background: var(--p4-action-yellow-500);
  --button-primary--hover--background: var(--p4-action-yellow-600);
  --button-primary--color: var(--grey-900);
  --button-primary--visited--color: var(--grey-900);
  --button-primary--hover--color: var(--grey-900);
  --post-tag-button--active--color: var(--grey-900);
  --post-tag-button--active--background-color: var(--gp-green-200);
  --post-tag-button--background-color: var(--gp-green-100);
  --post-tag-button--border-color: var(--gp-green-100);
  --post-tag-button--color: var(--grey-900);
  --post-tag-button--font-weight: 700;
  --post-tag-button--hover--background-color: var(--gp-green-200);
  --post-tag-button--hover--border-color: var(--gp-green-200);
  --post-tag-button--hover--color: var(--grey-900);
  --post-tag-button--visited--color: var(--grey-900);
  --button-donate--background: var(--gp-green-400);
  --button-donate--color: var(--grey-900);
  --button-donate--visited--color: var(--grey-900);
  --button-donate--hover--color: var(--grey-900);
  --button-donate--hover--background: var(--gp-green-500);
  --author-block--background: var(--beige-100);
  --author-block-description-button--color: var(--gp-green-800);
  --author-block-description-button--hover--color: var(--gp-green-800);
  --top-page-tags--tag-item--visited--color: var(--gp-green-800);
  --top-page-tags--tag-item--color: var(--gp-green-800);
  --button-secondary--background: var(--white);
  --button-secondary--border-color: var(--p4-dark-green-800);
  --button-secondary--color: var(--p4-dark-green-800);
  --button-secondary--disabled--color: var(--p4-dark-green-800);
  --button-secondary--visited--color: var(--p4-dark-green-800);
  --button-secondary--hover--background: var(--p4-dark-green-800);
  --button-secondary--hover--border-color: var(--p4-dark-green-800);
  --button-secondary--hover--color: var(--white);
  --table-footer-new--background: var(--beige-300);
  --table-header-grey--background: var(--grey-800);
  --table-odd-row-grey--background: var(--grey-200);
  --table-even-row-grey--background: var(--grey-100);
  --table-footer-grey--background: var(--grey-300);
  --table-header-green--background: var(--p4-dark-green-800);
  --table-odd-row-green--background: var(--beige-200);
  --table-even-row-green--background: var(--beige-100);
  --table-footer-green--background: var(--table-footer-new--background);
  --table-header-blue--background: var(--blue-green-800);
  --table-odd-row-blue--background: var(--beige-200);
  --table-even-row-blue--background: var(--beige-100);
  --table-footer-blue--background: var(--table-footer-new--background);
  --table-header-gp-green--background: var(--gp-green-800);
  --table-odd-row-gp-green--background: var(--beige-200);
  --table-even-row-gp-green--background: var(--beige-100);
  --table-footer-gp-green--background: var(--table-footer-new--background);
  --link--color: var(--grey-900);
  --link--visited--color: var(--grey-900);
  --link--hover--color: var(--grey-900);
  --accordion-block-dark-style--background: var(--p4-dark-green-800);
  --accordion-block-dark-style--hover--background: var(--p4-dark-green-900);
  --accordion-block-light-style--background: var(--beige-100);
  --accordion-block-light-style--border-color: transparent;
  --accordion-block-light-style--hover--background: var(--beige-200);
  --top-navigation--color: var(--grey-900);
  --nav-link--color: var(--grey-900);
  --nav-link--hover--color: var(--grey-900);
  --nav-link--active--color: var(--grey-900);
  --nav-link--visited--color: var(--grey-900);
  --clear--search--background-color: var(--grey-900);
  --top-navigation--separation: 1px solid var(--grey-300);
  --campaign-covers-block--covers--thumbnail-large--yellow-cta--color: var(--p4-action-yellow-500);
  --split-two-column-item-tag--color: var(--p4-action-yellow-500);
  --split-two-column-item-tag--hover--color: var(--p4-action-yellow-500);
  --split-two-column-item-tag--visited--color: var(--p4-action-yellow-500);
  --search-bar--border: 1px solid var(--grey-300);
  --search--filteritem--border-color: var(--grey-300);
  --search--filteritem--border-bottom-width: 2px;
  --search--filteritem--text-transform: none;
  --filter-modal--closebtn--border: none;
  --filter-modal--closebtn--background-color: var(--white);
  --filter-modal--closebtn--hover--border-color: none;
  --filter-modal--closebtn--hover--background-color: var(--grey-200);
  --search-result--border-bottom: 1px solid var(--grey-300);
  --search-result-item-info--color: var(--grey-600);
  --search-activefilter-tag--border: none;
  --search-activefilter-tag--color: var(--grey-900);
  --search-activefilter-tag--background: var(--grey-200);
  --search-activefilter-tag--border-radius: 4px;
  --search-results-alternative-label--color: var(--white);
  --search-results-alternative-label--background: var(--blue-green-800);
  --search-results-alternative-label--border-radius: 4px;
  --comments-block--comment-respond--background: var(--color-background-comments_block);

  // Typography
  --animated-label--font-family: var(--font-family-paragraph-secondary);
  --animated-label--font-weight: var(--font-weight-regular);
  --animated-label--font-size: var(--font-size-xs--font-family-tertiary);
  --author-block-info-name--font-size: var(--font-size-m--font-family-tertiary);
  --author-block-info-name--font-weight: var(--font-weight-semibold);
  --boxout--boxout-excerpt--medium-and-up--font-size: var(--font-size-s--font-family-tertiary);
  --boxout--boxout-excerpt--medium-and-up--line-height: var(--line-height-s--font-family-tertiary);
  --cookie-notice--font-family: var(--font-family-paragraph-secondary);
  --cookies-settings--p--font-size: var(--font-size-xs--font-family-tertiary);
  --cookies-settings--p--large-and-up--font-size: var(--font-size-xs--font-family-tertiary);
  --cookies-settings--p--line-height: var(--line-height-xs--font-family-tertiary);
  --cookies-block--custom-control-description--font-family: var(--font-family-heading);
  --cookies-block--custom-control-description--font-size: var(--font-size-xl--font-family-primary);
  --cookies-block--custom-control-description--x-large-and-up--font-size: var(--font-size-2xl--font-family-primary);
  --cookies-block--custom-control--input--type--checkbox--custom-control-description--font-family: var(--font-family-tertiary);
  --cookies-block--custom-control--input--type--checkbox--custom-control-description--font-size: var(--font-size-m--font-family-tertiary);
  --cookies-block--custom-control--input--type--checkbox--custom-control-description--x-large-and-up--font-size: 20px;
  --cookies-block--always-enabled--font-family: var(--font-family-tertiary);
  --cover-card-excerpt--font-family: var(--font-family-paragraph-secondary);
  --cover-card-excerpt--font-size: var(--font-size-s--font-family-tertiary);
  --cover-card-excerpt--line-height: var(--line-height-s--font-family-tertiary);
  --footer-menu--li--font-size: var(--font-size-m--font-family-tertiary);
  --form-elements--font-family: var(--font-family-paragraph-secondary);
  --gdpr-comments-compliance--gdpr-comments-label--font-size: var(--font-size-m--font-family-tertiary);
  --gform_wrapper--font-family: var(--font-family-paragraph-secondary);
  --gfield-validation-message--font-size: var(--font-size-xs--font-family-tertiary);
  --gfield-validation-message--font-weight: var(--font-weight-semibold);
  --label--font-family: var(--font-family-paragraph-secondary);
  --label--font-size: var(--font-size-m--font-family-tertiary);
  --search-results-alternative-label--font-weight: var(--font-weight-regular);
  --single-comment--font-family: var(--font-family-paragraph-secondary);
  --single-post-meta--font-family: var(--font-family-tertiary);
  --single-post-meta--font-size: var(--font-size-s--font-family-tertiary);
  --single-post-meta--line-height: var(--line-height-m--font-family-tertiary);
  --single-post-author--font-weight: var(--font-weight-semibold);
  --site-footer--font-family: var(--font-family-paragraph-secondary);
  --site-footer--copyright--span--font-size: var(--font-size-xs--font-family-tertiary);
  --site-footer--copyright--span--line-height: var(--line-height-xs--font-family-tertiary);
  --top-page-tags--font-family: var(--font-family-paragraph-secondary);
  --top-page-tags--font-size: var(--font-size-m--font-family-tertiary);
  --top-page-tags--tag-item--font-weight: var(--font-weight-semibold);
  --top-navigation--font-family: var(--font-family-primary);
  --button--font-family: var(--font-family-primary);
  --button--font-weight: var(--font-weight-regular);
  --ui-datepicker--font-family: var(--font-family-paragraph-secondary);
}

#nav-mobile-menu {
  --nav-link--active--color: var(--grey-900);
}

// Spreadsheet block new color.
table.spreadsheet-table.is-color-gp-green {
  th {
    background-color: var(--table-header-gp-green--background);
  }

  tr {
    background-color: var(--table-even-row-gp-green--background);
  }

  tr:nth-child(odd) {
    background: var(--table-odd-row-gp-green--background);
  }
}

// Table background colors (header, footer, odd/even rows)
.wp-block-table {
  table {
    // GP-Green background
    &.has-gp-green-background-color {
      th {
        background-color: var(--table-header-gp-green--background);
      }

      tr {
        background-color: var(--table-even-row-gp-green--background);
      }

      tfoot td {
        background-color: var(--table-footer-gp-green--background);
      }
    }
  }

  &.is-style-stripes table {
    &.has-gp-green-background-color tr:nth-child(odd) {
      background-color: var(--table-odd-row-gp-green--background);
    }
  }
}

// Body links
.post-content,
.page-content {
  p > a,
  > ul li a,
  > ol li a {
    @include shared-link-styles;
  }
}

// Cookies box links
.cookies-text,
.cookies-settings-details {
  a {
    @include shared-link-styles;
    transition-timing-function: cubic-bezier(0.5, 0, 0, 0.5);
  }
}

.cookies-settings-header h4 {
  font-family: var(--font-family-paragraph-secondary);
}

// Comments block
.single-comment-meta {
  font-family: var(--headings--font-family);
}

.comments-block .comment-respond button {
  height: 48px;
}

#gdpr-comments-compliance #gdpr-comments-label {
  line-height: var(--line-height-m--font-family-tertiary);
}

// Standalone links
.standalone-link,
.comment-reply-link,
.split-two-column-item-link {
  @include shared-link-styles;

  display: inline-block;
  width: fit-content;
  height: var(--link--height);
  font-weight: var(--font-weight-regular);
  font-family: var(--font-family-primary) !important;
}

.split-two-column-item-link {
  --link--color: var(--white);
  --link--hover--color: var(--white);

  text-shadow: none !important;

  @include x-large-and-up {
    --transition--duration: 0.4s;
    --link--height: 34px;
  }
}

// Colors for transparent buttons.
$palette: (
  "green-400": var(--gp-green-400),
  "green-500": var(--gp-green-500),
  "green-800": var(--gp-green-800),
  "action-yellow": var(--p4-action-yellow-500),
  "dark-green-800": var(--p4-dark-green-800),
  "beige-100": var(--beige-100),
  "blue-green-800": var(--blue-green-800),
  "red-500": var(--red-500),
  "white": var(--white),
  "grey-100": var(--grey-100),
  "grey-200": var(--grey-200),
  "grey-600": var(--grey-600),
  "grey-800": var(--grey-800),
  "grey-900": var(--grey-900),
);

@each $name, $color in $palette {
  .has-#{$name}-color {
    --transparent-button--border-color: #{$color};
    --transparent-button--color: #{$color};
    --transparent-button--hover--background: #{$color};
  }

  .has-#{$name}-background-color {
    --transparent-button--hover--color: #{$color};
    --transparent-button--active--color: #{$color};
  }
}

// Accordion block new color.
.accordion-block.is-style-outline .accordion-content .accordion-headline {
  --accordion-block-outline-style-- {
    border-color: var(--grey-500);
    background: var(--white);
    color: var(--grey-900);

    &:hover {
      background: var(--grey-100);
    }
  }
}

.logged-in-as a {
  color: var(--gp-green-800);

  &:hover,
  &:visited {
    color: var(--gp-green-800);
  }
}

// Gravity Forms
.gfield .gchoice {
  font-family: var(--font-family-paragraph-secondary);
}

.gform_description {
  font-family: var(--font-family-paragraph-secondary);
}

// Overridden from /plugins/gravityforms/assets/css/dist/theme.min.css
.gform_wrapper.gravity-theme input[type]:not(input[type="submit"]),
.gform_wrapper.gravity-theme textarea,
.gform_wrapper.gravity-theme select {
  font-size: var(--font-size-m--font-family-tertiary) !important;
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m--font-family-tertiary);
}

// Take action boxout
.boxout .boxout-excerpt {
  font-family: var(--font-family-paragraph-secondary);
}

// Author block
.author-block-info-name {
  font-family: var(--font-family-paragraph-secondary);
}

.author-block-info div[itemprop="description"],
.author-block-description-button {
  font-family: var(--font-family-paragraph-secondary);
  font-size: var(--font-size-m--font-family-tertiary);
  font-weight: var(--font-weight-regular);
}

// Footer
.footer-menu li {
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-m--font-family-tertiary);

  a {
    font-family: var(--font-family-paragraph-secondary);
  }
}

// Post page
.single-post-author {
  font-family: var(--font-family-paragraph-secondary);
}

.top-page-tags {
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-m--font-family-tertiary);
}

// Articles
.article-list-item-headline {
  font-family: var(--font-family-heading);
}
