.p4image-container {
  height: 300px;
  background-size: cover;
  background-position: 50%;
  padding-top: 0;
  margin: calc(var(--box-padding-vert) * -1) calc(var(--box-padding-hori) * -1) var(--box-padding-vert) !important;
  width: calc(100% + var(--box-padding-hori) * 2);
}

.ch-image-upload-placeholder {
  position: relative;
  margin-top: 10px;
  cursor: copy;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  img {
    display: block;
  }
}

.ch-image-upload-has-placeholder {
  background: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 100%;

  svg {
    width: 100%;
    max-height: 50px;
    fill: #ddd;
    max-width: 40%;
  }

  &:hover {
    background: #fafafa;
  }

  &:focus {
    background: #fafafa;
    box-shadow: 0 0 0 2px rgba(30, 140, 190, 0.8);
  }
}

.ch-image-upload-has-image {
  &:hover {
    opacity: 0.8;
  }
}

.ch-image-upload-remove {
  background: none !important;
  color: #ddd;
  border: none;
  position: absolute;
  top: 10px;
  right: 4px;
  cursor: pointer;
  display: none;
  z-index: 9 !important;

  svg {
    stroke: rgba(0, 0, 0, 0.3);
    stroke-width: 1px;
    fill: #ccc;
    max-width: none;
  }
}

// Only display the X button when selected/hovered.
.editor-block-list__block {
  &.is-selected,
  &.is-hovered {
    .ch-image-upload-remove {
      display: block;
    }
  }
}

.slide-number-row {
  vertical-align: middle;
}

.slide-arrow {
  padding-left: 10px;

  svg {
    transition: transform .3s ease-in-out;
    transform: rotate(0deg);
  }
}

.slide-open {
  svg {
    transform: rotate(180deg);
  }
}

.ch-url-input-control {
  display: block !important;
  margin-top: 8px !important;
  padding-top: 18px;
  width: 70%;
}

.ch-url-input-control__wrapper {
  display: inline-flex;
  width: 100%;
}

.ch-url-input-control__input {
  width: 80%;

  input {
    padding: 6px 8px !important;
    box-shadow: 0 0 0 transparent;
    transition: box-shadow .1s linear;
    border-radius: 4px !important;
    border: 1px solid #8d96a0 !important;
    width: 100% !important;
  }
}

.editor-url-input {
  flex: 1;
  margin: 0;

  input {
    //width: 100% !important;
    min-width: 100px;
  }
}

.ch-url-input-control__more-button {
  padding: 9px;
  flex-shrink: 0;
}

.ch-url-input-control__new-tab {
  //border-top: 1px solid #eee;
  padding: 0 4px 0 8px;

  .components-form-toggle {

    margin-right: 2px !important;
  }

  .components-base-control__field {
    margin-bottom: 0;
  }
}

.carouselh-header-input {
  width: 75%;
  margin-right: 15px;
}

.carousel-header-link-text-input {
  margin-right: 10px;
  width: 30%;
}

.slide-hr {
  margin: 10px 0;
}

.carousel-header-image-container {
  position: relative;
}

.carousel-header-slide-container:hover {
  box-shadow: 0 0 5px 5px rgba(18, 63, 82, 0.075);
  padding: 6px;
}
