.media-block {
  .video-embed {
    video[poster] {
      object-fit: inherit;
    }
  }
}

.embed-container,
.wp-block-embed-youtube .wp-block-embed__wrapper,
.wp-block-embed-vimeo .wp-block-embed__wrapper,
.wp-block-embed-dailymotion .wp-block-embed__wrapper,
.wp-block-embed-kickstarter .wp-block-embed__wrapper {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  // This combination of height: 0, and padding-bottom: 56.25%
  // is to force the aspect ratio of the video to 16:9, based
  // on the width. See: https://css-tricks.com/fluid-width-video/
  padding-bottom: 56.25%;
  height: 0;
}

.embed-container iframe, .wp-block-embed-youtube iframe, .wp-block-embed-vimeo iframe, .wp-block-embed-dailymotion iframe, .wp-block-embed-kickstarter iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wp-block-embed-youtube, .wp-block-embed-vimeo, .wp-block-embed-dailymotion, .wp-block-embed-kickstarter {
  margin-top: $sp-1;
  margin-bottom: $sp-2;

  @include large-and-up {
    margin-top: $sp-2;
    margin-bottom: $sp-4;
  }
}

.wp-block-embed-twitter, .wp-block-embed-instagram, .wp-block-embed-soundcloud, .wp-block-embed-reddit, .wp-block-embed-flickr {
  margin-top: $sp-1;
  margin-bottom: $sp-2;

  @include medium-and-up {
    width: 510px;
  }

  @include large-and-up {
    margin-top: $sp-2;
    margin-bottom: $sp-4;
    width: 610px;
  }

  @include x-large-and-up {
    width: 630px;
  }
}

.wp-block-embed-twitter iframe, .wp-block-embed-instagram iframe, .wp-block-embed-soundcloud iframe, .wp-block-embed-reddit iframe, .wp-block-embed-flickr iframe {
  width: 100% !important;
}

lite-youtube {
  width: 100% !important;
  max-width: 100%;
}

.wp-block-embed-twitter {
  .wp-block-embed__wrapper {
    padding-bottom: unset;
  }
}

.instagram-media {
  width: 100% !important;
  max-width: 100% !important;
}

.wp-block-embed-reddit {
  .wp-block-embed__wrapper {
    padding-bottom: unset;
  }

  .embedly-card-hug {
    max-width: 100% !important;
    margin: unset !important;
  }
}

.wp-block-embed-flickr img {
  width: 100%;
}

.video-embed-container {
  max-width: 100%;
  width: 100%;
}

.edit-post-visual-editor .wp-block {
  .video-embed, .wp-block-embed-youtube, .wp-block-embed-vimeo, .wp-block-embed-dailymotion, .wp-block-embed-kickstarter {
    max-height: 100%;
  }
}
