.counted-field-wrapper {
  position: relative;

  textarea {
    // Needed to ensure same spacing as input[type=text].
    display: block;
  }
}

.character-counter {
  position: absolute;
  bottom: -1.7em;
  right: 0;
  font-size: .7em;
  color: $grey-60;

  &.character-limit-exceeded {
    color: red;
  }

  &.character-limit-warning {
    color: orange;
  }
}
