.Preview {
  .PreviewBar {
    border-bottom: 1px solid $gp-green-80;
    font-style: italic;
    padding: $space-sm;
  }

  // Unset social media embed float to make block render within the preview component.
  .social-media-embed {
    float: unset !important;
  }
}
