.Preview {
  float: none !important;

  .PreviewBar {
    border-bottom: 1px solid var(--gp-green-400);
    font-style: italic;
    padding: $sp-1x;
  }

  // Unset social media embed float to make block render within the preview component.
  .social-media-embed {
    float: unset !important;
  }
}
