.var-picker {
}

.var-picker * {
  font-family: Roboto, sans-serif !important;
  color: black !important;
  line-height: initial !important;
}

.var-picker > ul  {
  padding: 0;
  max-height: 80vh;
  width: 300px;
  overflow-y: scroll;
  resize: 'horizontal';

  &::-webkit-scrollbar {
    width: 9px;
  }

  &::-webkit-scrollbar-track {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgba(140, 140, 140, 0.2);
  }

  &::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgba(140, 140, 140, 0.4);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba(140, 140, 140, 0.5);
  }

  &::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(140, 140, 140, 0.05);
  }
}

.var-picker > ul > li {
  //max-height: 400px;
  background: white !important;
  border: 1px solid black !important;
  margin-bottom: 3px !important;
  border-radius: 7px !important;
  padding: 2px 7px 7px !important;

  h5 {
    margin-bottom: 2px;
  }
}

.usages-collapsed {

  max-height: 32px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.usages-open {
  clear: both;
}

div[id^=font-picker] ul {
  position: static !important;
}

#theme-editor-root {

  //display: none;
  position: fixed;
  top: 64px;
  left: 50px;
  z-index: 99999999;

  #drag-me {
    z-index: 99;
    position: static;
    top: -32px;
    left: 0;
    font-size: 8px;
    padding: 2px 4px;
    background: rgba(255,255,255,.7);
    border-radius: 6px;
    border: 2px dotted grey;
  }
}


body.logged-in #theme-editor-root {
  top: 92px;
}

.usages-wrapper {
  position: relative;
  max-height: 32px;
  overflow: hidden;
}

.usages-wrapper:hover {
  overflow: visible;
}
