.content-covers-block {
  &.grid-layout .covers {
    @supports (display: grid) {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: $sp-1;

      @include medium-and-up {
        grid-column-gap: $sp-3;
        grid-template-columns: repeat(3, 1fr);
      }

      @include large-and-up {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }

  .content-covers-block-wrap {
    .content-covers-block-image {
      position: relative;
      margin-bottom: $sp-1;
      height: 220px;

      @include medium-and-up {
        margin-bottom: $sp-2;
        height: 320px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
      }
    }

    .content-covers-block-info {
      h5 {
        padding: 0;
        margin: 0;
        @include clamp-text(3);
      }

      .post-excerpt {
        display: none;

        @include medium-and-up {
          margin-bottom: 0;
          @include clamp-text(3);
        }

        @include x-large-and-up {
          font-size: $font-size-sm;
        }
      }

      .publication-date --block-covers--publication-date-- {
        font-family: var(--font-family-paragraph-secondary);
        font-size: $font-size-xxs;
        line-height: 1.6;
        font-style: italic;
        font-weight: 300;
        color: var(--grey-800);
        margin: $sp-1 0;

        @include large-and-up {
          font-size: $font-size-xxs;
        }

        @include x-large-and-up {
          font-size: $font-size-xs;
        }
      }
    }
  }
}
