@font-face {
  font-family: Sanctuary;
  src: url("public/fonts/SanctuaryLC-Regular.otf");
}

@font-face {
  font-family: "Save the Arctic";
  src: url("public/fonts/save-the-arctic.otf");
}

@font-face {
  font-family: Jost;
  src: url("public/fonts/Jost-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Jost;
  src: url("public/fonts/Jost-BookItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: Jost;
  src: url("public/fonts/Jost-Black.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Jost;
  src: url("public/fonts/Jost-BlackItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Kanit:400,500,600,800");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,800");
@import url("https://fonts.googleapis.com/css?family=Anton:400,500,600,800");
@import url("https://fonts.googleapis.com/css?family=Amiko:400,500,600,800");
