@mixin monochrome {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

@mixin letter-spacing($spacing) {
  letter-spacing: #{$spacing/1000}rem;
}

@mixin button($background, $foreground, $font, $letter-spacing) {
  background: $background;
  border-width: 1111px;
  box-sizing: content-box;
  color: $foreground;
  text-transform: uppercase;
  box-shadow: none;
  border: 0;
  font-family: $font;
  @include letter-spacing($letter-spacing);
  height: 50px;
  line-height: 50px;
  font-size: $font-size-sm;
  transition: background $transition ease-in-out;
  padding: 0 40px;
  display: inline-block;
  width: auto;
  text-decoration: none !important;

  &:not(:disabled):not(.disabled) {
    &:active {
      color: $foreground;
      background: $background;
    }
  }
}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin overlay($top: 0, $right: 0, $bottom: 0, $left: 0) {
  content: "";
  position: absolute;
  left: $left;
  top: $top;
  bottom: $bottom;
  right: $right;
  @content;
}

@mixin arrow-right($arrow-offset: 4px) {
  content: "";
  display: inline-block;
  margin-left: $arrow-offset;
  @content;
}

@keyframes fadeIn {
  50% {
    visibility: hidden;
  }

  100% {
    visibility: visible;
  }
}

@mixin page-section-header($font-family, $color: black, $font-weight: $regular, $line-height: 4.375rem) {
  color: $color;
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $font-size-xxxl;
  line-height: $line-height;
  text-transform: uppercase;
}

@mixin page-header-block($font) {
  overflow-y: hidden;
  margin-bottom: 2rem;
  position: relative;
  padding-top: 78px;

  .page-header-background {
    overflow: hidden;

    @include mobile-only {
      height: 100%;

      img {
        position: absolute;
        left: -99999px;
        right: -99999px;
        margin: auto;
        height: 100%;
        width: auto;
        max-width: none;
      }
    }
  }

  @include small-and-up {
    padding-top: 84px;
  }

  .page-header-title,
  .page-header-subtitle {
    font-family: $font;
    text-transform: uppercase;
    font-weight: $regular;

    @include mobile-only {
      max-width: none;
    }
  }

  .page-header-content {
    font-family: $roboto;
    font-size: 1.125rem;
    line-height: 1.875rem;
    font-weight: $regular;
  }

  .page-header-btn {
    display: none;
  }
}
