.content-covers-block {
  &.carousel-layout {
    .cover {
      min-width: 154px;

      &:not(:last-child) {
        margin-inline-end: $sp-1;
      }

      @include medium-and-up {
        min-width: 200px;

        &:not(:last-child) {
          margin-inline-end: $sp-3;
        }
      }

      @include large-and-up {
        min-width: 216px;
      }

      @include x-large-and-up {
        min-width: 261px;
      }
    }

    .carousel-control-prev,
    .carousel-control-next {
      top: 136px;
    }
  }

  &.grid-layout .covers {
    @supports (display: grid) {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: $sp-1;

      @include medium-and-up {
        grid-column-gap: $sp-3;
        grid-template-columns: repeat(3, 1fr);
      }

      @include large-and-up {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }

  .content-covers-block-wrap {
    .content-covers-block-image {
      position: relative;
      margin-bottom: $sp-1;
      height: 220px;

      @include medium-and-up {
        margin-bottom: $sp-2;
        height: 320px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
      }
    }

    .content-covers-block-info {
      h5 {
        padding: 0;
        margin: 0;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        /* stylelint-disable property-no-vendor-prefix */
        /*! autoprefixer: off */
        -webkit-box-orient: vertical;
        /*! autoprefixer: on */
        /* stylelint-enable property-no-vendor-prefix */
        overflow: hidden;

        > a {
          color: $grey-80;
        }
      }

      .post-excerpt {
        display: none;

        @include medium-and-up {
          margin-bottom: 0;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          /* stylelint-disable property-no-vendor-prefix */
          /*! autoprefixer: off */
          -webkit-box-orient: vertical;
          /*! autoprefixer: on */
          /* stylelint-enable property-no-vendor-prefix */
          overflow: hidden;
        }

        @include x-large-and-up {
          font-size: $font-size-sm;
        }
      }

      .publication-date --block-covers--publication-date-- {
        font-family: $roboto;
        font-size: $font-size-xxs;
        line-height: 1.6;
        font-style: italic;
        font-weight: 300;
        color: $grey-60;
        margin: $sp-1 0;

        @include large-and-up {
          font-size: $font-size-xxs;
        }

        @include x-large-and-up {
          font-size: $font-size-xs;
        }
      }
    }
  }
}
