.content-covers-block {
  &.carousel-layout .covers-container {
    .covers {
      justify-content: flex-start;

      .cover {
        width: 133px;
        min-width: 133px;
        padding: 0;

        .content-covers-block-image {
          min-width: 100%;
        }

        &:not(:last-child) {
          margin-inline-end: 8px;
        }

        @include medium-and-up {
          width: 200px;

          &:not(:last-child) {
            margin-inline-end: 24px;
          }
        }

        @include large-and-up {
          width: 216px;
        }

        @include x-large-and-up {
          width: 261px;
        }
      }
    }

    .carousel-control-prev,
    .carousel-control-next {
      top: 136px;
    }
  }

  .covers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include mobile-only {
      overflow-x: scroll;
      flex-wrap: nowrap;
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    @media (max-width: 768px) {
      .cover {
        width: calc(50% - 4px);
      }
    }

    @include medium-and-up {
      .cover {
        width: 216px;
      }
    }

    @include x-large-and-up {
      .cover {
        width: 261px;
      }
    }
  }

  .content-covers-block-wrap {
    .content-covers-block-image {
      position: relative;
      margin-bottom: 8px;
      height: 180px;

      @include small-and-up {
        margin: $sp-2 0;
      }

      @include medium-and-up {
        margin-bottom: $sp-2;
        height: 300px;
      }

      @include large-and-up {
        margin: 0 0 $sp-2 0;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
      }
    }

    .content-covers-block-info {
      h5 {
        padding: 0;
        margin: 0;

        > a {
          color: $grey-80;
        }
      }

      .post-excerpt {
        display: none;

        @include medium-and-up {
          margin-bottom: 24px;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          /* stylelint-disable property-no-vendor-prefix */
          /*! autoprefixer: off */
          -webkit-box-orient: vertical;
          /*! autoprefixer: on */
          /* stylelint-enable property-no-vendor-prefix */
          overflow: hidden;
        }

        @include x-large-and-up {
          font-size: $font-size-sm;
        }
      }

      .publication-date --block-covers--publication-date-- {
        font-family: $roboto;
        font-size: $font-size-xxs;
        line-height: 1.6;
        font-style: italic;
        font-weight: 300;
        color: $grey-60;
        margin: 8px 0;

        @include large-and-up {
          font-size: $font-size-xxs;
        }

        @include x-large-and-up {
          font-size: $font-size-xs;
        }
      }
    }
  }

  .load-more-btn {
    display: block;
    margin: 24px auto 0 auto;
  }
}
