body.theme-plastic {
  $montserrat: "Montserrat", sans-serif;

  $plastics-black: #1d2120;
  $plastics-peach: #f7aea9;
  $plastics-peach-darker: #f98667;
  $plastics-blue: #044362;
  $plastics-blue-mid: #00748f;
  $plastics-blue-light: #1a9db8;

  @mixin plastics-button($background: $plastics-peach-darker, $foreground: white) {
    //todo: check letter spacing
    //todo: sort out transition
    @include button($background, $foreground, $montserrat, 60);
    font-weight: $extra-bold;
    border-radius: 25px;
  }

  font-family: $roboto;
  background: white;

  .btn-primary {
    @include plastics-button;

    &:hover {
      background: $plastics-peach;
      color: white;
    }
  }

  .btn-secondary {
    &:not(#hidecookie) {
      @include plastics-button($plastics-blue-light);

      &:hover {
        background: $plastics-blue-mid;
        color: white;
      }
    }
  }

  .page-section-header {
    @include page-section-header($montserrat, $plastics-blue, $extra-bold, 3.75rem);
  }

  a {
    color: $plastics-blue-mid;

    &:hover {
      color: $plastics-blue-light;
    }
  }

  .page-header {
    .page-header-title,
    .page-header-subtitle {
      color: $plastics-blue;
      font-family: $montserrat;
      text-transform: uppercase;
    }

    .page-header-title {
      font-size: 3.125rem;
      line-height: 4.375rem;
    }

    .page-header-subtitle {
      font-size: $font-size-xl;
      line-height: 2.5rem;
    }
  }
}
