body.theme-antarctic {

  $sanctuary: "Sanctuary", sans-serif;
  $montserrat: "Montserrat", sans-serif;

  $antarctic-black: #1f262a;
  $antarctic-purple: #c44bc4;
  $antarctic-pink: #ff80e9;
  $antarctic-dark-blue: #0a4461;
  $antarctic-blue: #035880;
  $antarctic-light-blue: #52c9f4;
  $antarctic-orange: #f98667;
  $antarctic-grey: #e6ecef;
  $antarctic-gradient: linear-gradient(to right, $antarctic-light-blue, $antarctic-pink);

  @mixin antarctic-button($background: $antarctic-purple, $foreground: white) {
    @include button($background, $foreground, $sanctuary, 60);
  }

  font-family: $roboto;
  background: white;

  .btn-primary {
    @include antarctic-button;

    &:hover {
      color: white;
      background: $antarctic-pink;
    }
  }

  .btn-secondary {
    &:not(#hidecookie) {
      @include antarctic-button($antarctic-dark-blue);

      &:hover {
        color: white;
        background: $antarctic-light-blue;
      }
    }
  }

  .skewed-overlay {
    display: none;
  }

  .page-section-header {
    @include page-section-header($sanctuary, $antarctic-blue);
  }

  a {
    color: $antarctic-purple;
    text-transform: uppercase;

    &:hover {
      color: $antarctic-pink;
    }
  }

  .page-header {
    @include page-header-block($sanctuary);

    .page-header-title {
      font-size: 3.125rem;
      line-height: 4.375rem;
      color: $antarctic-blue;
    }

    .page-header-subtitle {
      font-size: $font-size-xl;
      line-height: 2.5rem;
      color: $antarctic-dark-blue;
    }

    .page-header-background:after {
      background: linear-gradient(to top, white 0%, white 1%, $transparent);
      bottom: -0.1%;
      height: 50%;
    }

    // secondary gradient for when image is taller than container
    &:after {
      content: "";
      display: block;
      background: linear-gradient(to top, white 0%, white 1%, $transparent);
      position: absolute;
      bottom: -0.5%;
      height: 50%;
      left: 0;
      right: 0;
    }
  }
}
