body.theme-plastic {
  $montserrat: "Montserrat", sans-serif;

  $plastics-black: #1d2120;
  $plastics-peach: #f7aea9;
  $plastics-peach-darker: #f98667;
  $plastics-blue: #044362;
  $plastics-blue-mid: #00748f;
  $plastics-blue-light: #1a9db8;

  @mixin plastics-button($background: $plastics-peach-darker, $foreground: white) {
    //todo: check letter spacing
    //todo: sort out transition
    @include button($background, $foreground, $montserrat, 60);
    font-weight: $extra-bold;
    border-radius: 25px;
  }

  font-family: $roboto;
  background: white;

  .btn-primary {
    @include plastics-button;

    &:hover {
      background: $plastics-peach;
      color: white;
    }
  }

  .btn-secondary {
    &:not(#hidecookie) {
      @include plastics-button($plastics-blue-light);

      &:hover {
        background: $plastics-blue-mid;
        color: white;
      }
    }
  }

  .page-section-header {
    @include page-section-header($montserrat, $plastics-blue, $extra-bold, 3.75rem);
  }

  a {
    color: $plastics-blue-mid;

    &:hover {
      color: $plastics-blue-light;
    }
  }

  .page-header {
    @include page-header-block($montserrat);

    overflow: hidden;

    .page-header-title {
      font-size: 3.125rem;
      line-height: 4.375rem;
      color: white;
    }

    .page-header-subtitle {
      font-size: $font-size-xl;
      line-height: 2.5rem;
      color: white;
    }

    .page-header-content {
      color: white;
    }

    .page-header-background {
      bottom: 0;

      @include small-and-up {
        left: -50vw;
        right: -50vw;
        margin: auto;

        img {
          min-height: 100vh;
          width: auto;
          max-width: none;
          min-width: 100vw;
        }
      }

      &:after {
        background: linear-gradient(to top left, white, $plastics-blue);
        bottom: 0;
        height: 100%;
        opacity: 0.8;
      }
    }
  }
}
