div.search-filter-results {
  margin-top: 48px;
  z-index: auto;

  @include small-and-up {
    margin-top: 75px;
  }

  @include large-and-up {
    margin-top: 100px;
  }
}

.sort-filter {
  width: 50%;
  float: right;

  @include small-and-up {
    width: 100%;
    float: none;
  }

  label {
    font-size: 1.125rem;
    margin-right: 90px;
    font-weight: bold;

    @include small-and-up {
      margin-right: 0;
    }

    @include large-and-up {
      font-size: 1.625rem;
    }

    @include large-and-up {
      font-size: 1.75rem;
    }
  }

  select {
    height: 40px;
    width: 151px;
    font-size: 1rem;
    padding: 0 10px;
    border-color: $faded-jade;
    background: transparent;

    @include small-and-up {
      width: 210px;
    }

    @include large-and-up {
      height: 44px;
      width: 224px;
      font-size: 1.25rem;
    }

    @include large-and-up {
      width: 270px;
      font-size: 1.375rem;
    }
  }

  div {
    text-align: right;
    margin-top: -7px;

    @include small-and-up {
      text-align: inherit;
    }
  }
}
