.suggested-search-terms {
  margin: 50px 0 104px;

  h3 {
    font-size: 1.625rem;
    margin-bottom: 16px;

    @include small-and-up {
      font-size: 2.125rem;
    }

    @include large-and-up {
      font-size: 2.25rem;
    }
  }
}

.suggested-list {
  background-color: transparentize($white, .6);
  padding: 32px 17px;
  margin: 0;

  ul {
    margin-bottom: 0;
  }

  li {
    text-align: center;

    @include medium-and-up {
      text-align: left;
    }

    a {
      color: $blue-elm;
      text-decoration: none;
      font-size: 1.125rem;
      line-height: 2.3;

      @include medium-and-up {
        font-size: 1.375rem;
      }

      @include large-and-up {
        font-size: 1.125rem;
      }

      @include x-large-and-up {
        font-size: 1.375rem;
      }
    }
  }
}
