<div class="form-group">
	<label for="comments-name-input">{{ __( 'Name' )  }} *</label>
	<input type="text" class="form-control" id="author" name="author" placeholder="{{ __( 'Your Name', 'planet4-master-theme' ) }}" required />
</div>