<div class="form-group">
	<label for="comments-name-input">{{ __( 'Name', 'planet4-master-theme' )  }} *</label>
	<input id="author" name="author" type="text" class="form-control" placeholder="{{ __( 'Your Name', 'planet4-master-theme' ) }}">
</div>