<div class="form-group animated-label">
	{% set your_name = __( 'Your Name', 'planet4-master-theme' ) %}
	<input type="text" class="form-control" id="comments-name-input" name="author" placeholder="{{ your_name }}" required />
	<label for="comments-name-input">{{ __( 'Name', 'planet4-master-theme' )  }}*</label>
</div>
