<div class="comment-author mb-3">
    {% set placeholder = __( 'Your Name', 'planet4-master-theme' ) %}
    {% set commenter_name = function('wp_get_current_commenter').comment_author ?? '' %}
    <label for="comments-name-input">{{ __( 'Name (required)', 'planet4-master-theme' )  }}</label>
    <input
        value="{{ commenter_name }}"
        type="text"
        class="form-control"
        id="comments-name-input"
        name="author"
        placeholder="{{ placeholder }}"
        required
    />
</div>
