<div class="form-group mb-0">
	<label for="comments-textarea">{{ __( 'Comment' )  }} *</label>
	<textarea class="form-control" id="comment" name="comment" rows="6" placeholder="{{ __( 'Your Comment', 'planet4-master-theme' )  }}" required></textarea>
</div>