<div class="mb-3 mt-2">
    {% set your_comment = __( 'Your Comment', 'planet4-master-theme' ) %}
    <label for="comments-textarea">{{ __( 'Comment (required)', 'planet4-master-theme' ) }}</label>
    <textarea class="form-control" id="comments-textarea" name="comment" rows="6" placeholder="{{ your_comment }}" required></textarea>
</div>
