<div class="form-group animated-label">
    {% set your_comment = __( 'Your Comment', 'planet4-master-theme' ) %}
    <textarea class="form-control" id="comments-textarea" name="comment" rows="6" placeholder="{{ your_comment }}" required></textarea>
    <label for="comments-textarea">{{ __( 'Comment', 'planet4-master-theme' ) }}*</label>
</div>
