<div class="form-group mb-0">
	<label for="comments-textarea">{{ __( 'Your Comment', 'planet4-master-theme' )  }} *</label>
	<textarea class="form-control" id="comment" name="comment" rows="6" required></textarea>
</div>
