<div class="form-group mb-0">
	<label for="comments-email-input">{{ __( 'Email', 'planet4-master-theme' ) }} *</label>
	<input type="email" class="form-control" id="email" name="email" placeholder="{{ __( 'Your Email', 'planet4-master-theme' ) }}" required />
</div>