{% do action('enqueue_toggle_comment_submit_script') %}
{% if gdpr_checkbox %}
<div id="gdpr-comments-compliance" class="form-group comments-gdpr">
    <input id="gdpr-comments-checkbox" type="checkbox" name="gdpr_comments_checkbox" value="1" required="required">
    <label id="gdpr-comments-label" for="gdpr-comments-checkbox">{{ gdpr_label }}</label>
</div>
{% endif %}

<button type="submit" class="btn btn-small btn-primary">{{ __( 'Post comment', 'planet4-master-theme' ) }}</button>
