{% if gdpr_checkbox %}
<div id="gdpr-comments-compliance" class="form-group comments-gdpr">
    <input id="gdpr-comments-checkbox" type="checkbox" name="gdpr_comments_checkbox" value="1" required="required">
    <label id="gdpr-comments-label" for="gdpr-comments-checkbox">{{ gdpr_label }}</label>
</div>

{{ function(
    'wp_enqueue_script',
    'toggle-comment-submit-script',
    function('get_template_directory_uri') ~ '/assets/build/toggleCommentSubmit.js',
    [],
    files_version['toggle_comment_submit_version'],
    true) 
}}

{% endif %}

<button type="submit" class="btn btn-small btn-primary">{{ __( 'Post comment', 'planet4-master-theme' ) }}</button>
