// Keep the admin bar fixed on mobile screens for consistency.
@media screen and (max-width: 600px) {
  #wpadminbar {
    position: fixed;
  }
}

// Style pdf icon on links
a.pdf-link::before {
  content: "\f1c1";
  display: inline-block;
  margin-right: 7px;
  font: normal normal normal 14px/1 ForkAwesome;
}

// Backwards compatibility with Font-Awesome
.fas,
.fab {
  display: inline-block;
  font: normal normal normal 14px/1 ForkAwesome;
  font-size: inherit;
  text-rendering: auto;
}
