@use "../../base/mixins";
@use "../../base/variables";

.actions-list {
  margin-bottom: variables.$sp-4;

  .group-stretched-link {
    position: unset;
  }

  .load-more-actions-container {
    margin-top: variables.$sp-4;
  }

  .carousel-item-wrapper {
    padding: variables.$sp-x;
  }

  &.is-custom-layout-carousel {
    @include mixins.medium-and-less {
      .wp-block-post {
        width: 354px;
      }
    }

    @include mixins.large-and-up {
      .carousel-item-wrapper {
        grid-template-columns: repeat(3, 1fr);
        padding: variables.$sp-1x variables.$sp-1;
      }
    }

    .load-more-actions-container {
      display: none;
    }
  }

  ul li {
    position: relative;
  }

  .carousel-controls,
  .carousel-indicators {
    display: none;
  }

  .carousel-indicators {
    margin-top: variables.$sp-1x;
  }

  & > .wp-block-heading, & > p {
    width: 100%;
  }

  .wp-block-post {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.16);
    transition: box-shadow 0.2s;
    border-radius: 4px;
    background: var(--white);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    min-height: 490px;

    &:hover,
    &:focus {
      box-shadow: 0 5px 15px rgba(0, 0, 0, .3);

      .btn-primary {
        background: var(--p4-action-yellow-600);
        color: var(--button-primary--hover--color, var(--color-text-button--cta));
        border: var(--button-primary--hover--border, 1px solid transparent);
      }

      .wp-block-post-title a {
        text-decoration: underline;
        text-underline-offset: 1px;
      }
    }

    .read-more-nav {
      display: flex;
      position: absolute;
      bottom: 0;
      right: 0;

      html[dir="rtl"] & {
        right: inherit;
        left: 0;
      }

      a {
        margin-bottom: 0;
        margin-inline-end: 0;
      }
    }
  }

  .wp-block-group.is-layout-flow {
    padding: variables.$sp-3;
  }

  .wp-block-post-title {
    font-size: var(--font-size-m--font-family-primary);
    margin-bottom: variables.$sp-1;

    a {
      @include mixins.clamp-text(2);
    }
  }

  .wp-block-post-excerpt p {
    font-family: var(--font-family-tertiary);
    font-size: var(--font-size-xxs--font-family-primary);
    line-height: var(--line-height-m--font-family-tertiary);
    @include mixins.clamp-text(3);

    @include mixins.large-and-up {
      line-height: var(--line-height-m--font-family-tertiary);
    }
  }

  .wp-block-post-featured-image img {
    height: 196px;
    object-fit: cover;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    @include mixins.large-and-up {
      height: 220px;
    }
  }

  .wp-block-post-terms {
    margin-bottom: variables.$sp-1;
    color: var(--grey-600);
    font-size: var(--font-size-s--font-family-tertiary);
    font-weight: var(--font-weight-bold);
    font-family: var(--font-family-tertiary);
    line-height: var(--line-height-s--font-family-tertiary);
    @include mixins.clamp-text(1);
  }

  &.is-custom-layout-grid {
    display: block !important;

    .wp-block-post-template {
      display: grid;
      gap: variables.$sp-2;

      @include mixins.medium-and-up {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }

      @include mixins.large-and-up {
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }
    }

    @include mixins.mobile-only {
      .wp-block-post:nth-child(n+4) {
        display: none;
      }
    }

    @include mixins.medium-and-less {
      .wp-block-post:nth-child(n+5) {
        display: none;
      }
    }

    @include mixins.large-and-up {
      .wp-block-post:nth-child(n+7) {
        display: none;
      }
    }
  }
}
