.actions-list {
  margin-bottom: $sp-4;

  .load-more-actions-container {
    margin-top: $sp-4;
  }

  &.is-custom-layout-carousel {
    @include medium-and-less {
      .wp-block-post {
        width: 354px;
      }
    }

    @include large-and-up {
      .carousel-item-wrapper {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    .load-more-actions-container {
      display: none;
    }
  }

  ul li {
    position: relative;
  }

  .actions-list-links {
    text-decoration: none;
    height: 100%;

    & > *:first-child:not(.wp-block-post-featured-image) {
      // This padding-top is added only when the figure is not being rendered
      padding-top: calc(196px + $sp-3);

      @include large-and-up {
        padding-top: calc(220px + $sp-3);
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
    }
  }

  .carousel-controls,
  .carousel-indicators {
    display: none;
  }

  & > .wp-block-heading, & > p {
    width: 100%;
  }

  .wp-block-post {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.16);
    transition: box-shadow 0.2s;
    border-radius: 4px;
    background: var(--white);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    min-height: 490px;

    &:hover,
    &:focus {
      box-shadow: 0 5px 15px rgba(0, 0, 0, .3);

      .btn-primary {
        background: var(--p4-action-yellow-600);
        color: var(--button-primary--hover--color, var(--color-text-button--cta));
        border: var(--button-primary--hover--border, 1px solid transparent);
      }

      .wp-block-post-title a {
        text-decoration: underline;
      }
    }

    .read-more-nav {
      display: flex;
      position: absolute;
      bottom: 0;
      right: 0;

      html[dir="rtl"] & {
        right: inherit;
        left: 0;
      }

      a {
        margin-bottom: 0;
        margin-inline-end: 0;
      }
    }
  }

  .wp-block-group.is-layout-flow {
    padding: $sp-3;
  }

  .wp-block-post-title {
    font-size: var(--font-size-m--font-family-primary);
    margin-bottom: $sp-1;

    a {
      @include clamp-text(2);
    }
  }

  .wp-block-post-excerpt p {
    font-family: var(--font-family-tertiary);
    font-size: var(--font-size-xxs--font-family-primary);
    line-height: var(--line-height-m--font-family-tertiary);
    @include clamp-text(3);

    @include large-and-up {
      line-height: var(--line-height-m--font-family-tertiary);
    }
  }

  .wp-block-post-featured-image img {
    height: 196px;
    object-fit: cover;

    @include large-and-up {
      height: 220px;
    }
  }

  .wp-block-post-terms {
    margin-bottom: $sp-1;

    a {
      color: var(--grey-600);
      font-size: var(--font-size-s--font-family-tertiary);
      font-weight: var(--font-weight-bold);
      font-family: var(--font-family-tertiary);
      line-height: var(--line-height-s--font-family-tertiary);
      @include clamp-text(1);
    }
  }

  &.is-custom-layout-grid {
    display: block !important;

    .wp-block-post-template {
      display: grid;
      gap: $sp-2;

      @include medium-and-up {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }

      @include large-and-up {
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }
    }

    @include mobile-only {
      .wp-block-post:nth-child(n+4) {
        display: none;
      }
    }

    @include medium-and-less {
      .wp-block-post:nth-child(n+5) {
        display: none;
      }
    }

    @include large-and-up {
      .wp-block-post:nth-child(n+7) {
        display: none;
      }
    }
  }
}
