.block {
  display: inline-block;
  width: 100%;
  margin-top: $space-xs;
  margin-bottom: $space-md;

  @include large-and-up {
    margin-top: $space-md;
    margin-bottom: $space-lg;
  }
}

.block-header {
  margin-top: 0;
  margin-bottom: $space-md;

  @include large-and-up {
    margin-bottom: $space-lg;
  }
}

.block-footer {
  margin-top: $space-xs;
  margin-bottom: 0;

  @include large-and-up {
    margin-top: $space-md;
  }
}
