@mixin blockquote {
  font-size: 1.5rem;
  line-height: 1.4;
  font-style: italic;
  margin: $n15 0;
  padding: 13px 0 16px 0;

  @include medium-and-up {
    font-size: 2.375rem;
  }

  @include large-and-up {
    max-width: 80%;
  }

  @include x-large-and-up {
    font-size: 2.5rem;
  }
}

blockquote,
blockquote > p {
  @include blockquote;
}

blockquote > h5 {
  @include blockquote;
  font-family: $lora;
  color: $dark-shade-black;
  font-size: 2.5rem;
}

blockquote > h6 {
  @include blockquote;
  font-family: $lora;
  color: $dark-shade-black;
  font-size: 1.5rem;
}
