@import "../../scss/base/tokens";
@import "../../scss/base/variables";
@import "../../scss/base/mixins";

// On outer element as otherwise it will not be clickable when floating on the right.
div[data-render="planet4-blocks/submenu"] {
  z-index: 4;
}

.table-of-contents-block {
  border-radius: 4px;
  box-shadow: 0 3px 8px 0 rgba(28, 28, 28, 0.2);
  background-color: var(--white);
  padding: $sp-5 $sp-6 $sp-6 $sp-6;

  h2 {
    line-height: 1;
    margin-bottom: $sp-2;
  }

  .table-of-contents-menu {
    display: flex;
    flex-wrap: wrap;

    ul.table-of-contents-item {
      flex-basis: 100%;

      @include large-and-up {
        flex-basis: 50%;
      }
    }

    a {
      color: var(--color-text-body);
    }

    ul {
      font-family: var(--font-family-tertiary);
      color: var(--color-text-body);
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      &.list-style-bullet {
        margin-inline-end: 0;
        margin-inline-start: $sp-2;
        list-style: disc;
      }

      &.list-style-number {
        margin-inline-start: $sp-2;
        list-style: decimal;
      }
    }
  }

  &.table-of-contents-short {
    .table-of-contents-menu {
      @include medium-and-up {
        ul.table-of-contents-item {
          flex-basis: 100%;
          column-count: 3;

          li:before {
            content: "";
          }
        }
      }
    }
  }

  &.table-of-contents-long {
    .table-of-contents-menu {
      ul.table-of-contents-item {
        flex-basis: 100%;
        column-count: 1;

        @include medium-and-up {
          column-count: 2;
        }
      }
    }
  }

  &.table-of-contents-sidebar {
    z-index: 4;

    @include medium-and-up {
      float: right;
      max-width: 350px;
      margin-bottom: $sp-2;
      margin-inline-start: $sp-2;

      html[dir="rtl"] & {
        float: left;
      }
    }

    .table-of-contents-menu {
      ul.table-of-contents-item {
        flex-basis: 100%;

        @include large-and-up {
          flex-basis: 100%;
        }
      }
    }
  }
}

// Editor styles
.editor-styles-wrapper {
  .table-of-contents-level-link label {
    margin-bottom: 0;
  }

  [data-type="planet4-blocks/submenu"] {
    clear: both;
  }

  // Links should not be clickable in the editor.
  .table-of-contents-link {
    pointer-events: none;
  }

  // Needed to make it easily selectable in the editor
  .table-of-contents-sidebar {
    float: none;
    margin-inline-end: 0;
    margin-inline-start: auto;
  }
}
