.form-caption {
  float: none;
  width: 100%;
  padding-top: 53px;
  padding-bottom: 53px;
  padding-left: $n15;
  padding-right: $n15;

  @include medium-and-up {
    padding-top: 106px;
    padding-bottom: 106px;
  }

  @include large-and-up {
    float: left;
    padding-top: 117px;
    width: 50%;
    padding-left: 0;
    padding-right: 0;

    html[dir="rtl"] & {
      float: right;
    }

    .form-caption-background {
      display: none;
    }
  }

  h1, h2, h3 {
    color: white;
    font-family: $roboto;
  }

  h1 {
    margin-bottom: 24px;
    line-height: 1.1;

    @include large-and-up {
      margin-bottom: $space-lg;
    }
  }

  h2 {
    margin-bottom: 18px;
    line-height: 1.2;

    @include large-and-up {
      margin-bottom: 24px;
    }
  }

  h3 {
    margin-bottom: 8px;
    font-size: 1.25rem;

    @include medium-and-up {
      font-size: 1.675rem;
    }

    @include large-and-up {
      font-size: 1.75rem;
    }
  }

  p {
    color: white;
    font-family: $roboto;
    font-size: 1rem;
    line-height: 1.37rem;

    html[dir="rtl"] & {
      font-size: 1rem;
    }
  }
}

.enform {
  margin-top: 36px;
  font-family: $roboto;
  height: inherit;
  padding: $n20;
  background: #074365;
  width: 100%;

  form {
    margin: 0;

    input,
    .custom-select,
    select.form-control.en__field__input--select,
    button {
      height: 44px;
      border-radius: 0;
      border-color: transparent;
      margin-bottom: $space-md;
      min-width: 200px;

      @include medium-and-up {
        margin-bottom: inherit;
      }

      @include  large-and-up {
        width: 100% !important;
      }

      &.is-invalid {
        border-color: #ff3333;
      }

      + .invalid-feedback {
        background: #ff3333;
        color: white;
        padding: $n5;
      }
    }

    .custom-checkbox input {
      height: auto;
    }

    .disable-checkbox {
      opacity: 0.5;
    }

    .formblock-flex {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      @include medium-and-up {
        justify-content: space-between;
      }

      .en__field {
        width: 100%;

        @include large-and-up {
          width: 32%;
        }
      }
    }

    .submit {
      margin: 0;
      margin-top: 19px;
      line-height: 1;

      @include medium-and-up {
        display: flex;
        flex-direction: row-reverse;
      }

      button {
        min-width: 200px;
        margin-bottom: 0;
        margin-top: $space-lg;

        @include  large-and-up {
          min-width: 330px;
        }

        html[dir="rtl"] & {
          line-height: 1;
          font-size: 1.375rem;
          font-weight: bold;
        }
      }
    }

    input[type=submit] {
      margin-bottom: 0;
      line-height: 1;
    }

    .form-check-label-block {
      display: inline-block;
      padding: $n10 0 0 0;
      margin-bottom: $n5;

      .enform-full-width-bg & {
        color: $black;
      }

      input[type=checkbox], input[type=radio] {
        & + .custom-control-description {
          font-size: 0.85rem;
        }

        & + .custom-control-description:before {
          border: 1px solid #1a1a1a;
          vertical-align: middle;

          .enform-full-width-bg & {
            border: 3px solid $med-blue;
          }
        }
      }
    }

    .submit-container {
      .enform-side-style & {
        width: 100%;
      }
    }

    .enform-legal {
      margin-top: $space-md;

      html[dir="rtl"] & {
        margin-top: $space-xl;

        @include large-and-up {
          margin-top: $space-lg;
        }
      }

      p {
        font-size: .625rem;
        line-height: 1rem;
        margin-bottom: 0;
        float: none;
      }
    }
  }

  h2 {
    .enform-full-width & {
      color: white;

      html[dir="rtl"] & {
        font-size: 2rem;

        @include large-and-up {
          font-size: 1.75rem;
        }
      }
    }

    &.thankyou {
      margin-bottom: 0;
    }

    @include medium-and-up {
      font-size: 1.75rem;
      line-height: 2.5rem;
    }

    @include large-and-up {
      font-size: 2.125rem;
    }

    @include x-large-and-up {
      font-size: 2.25rem;
    }
  }

  .thankyou-subtitle {
    font-weight: normal;
  }
}

.en-spinner {
  border-color: $white !important;
  border-right-color: transparent!important;
  display: none;
  vertical-align: middle;
}

body.wp-admin {
  .enform-side-style,
  .enform-full-width-bg {
    pointer-events: none;
    width: 100%;

    .container {
      z-index: 1;
    }
  }

  .enform .form-container {
    input {
      box-sizing: border-box;
    }
  }
}

.thankyou {
  position: relative;
  min-height: inherit;

  @include mobile-only {
    margin: 0 20px;
  }

  &.full-width {
    max-width: 444px;
    left: 33%;
  }

  .page-section-header {
    line-height: 1.2;
  }

  .page-section-description {
    line-height: 1.4;
  }

  .btn {
    width: 100% !important;
    box-sizing: border-box !important;
  }

  .sub-section {
    margin-bottom: 2em;
    width: 100%;

    .form-group {
      margin-bottom: 2em;
    }

    .social-media {
      .share-buttons {
        float: none;
      }

      .share-btn {
        width: 32.5%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
      }

      .twitter {
        background: #00acee none repeat scroll 0 0;
      }
    }
  }
}

.en__field--select {
  border: 1px solid #1a1a1a;
  border-radius: 0;
  width: 100%;
  margin-bottom: 1rem;

  .en__field__element--select {
    margin-bottom: 0;

    select.form-control.en__field__input--select {
      width: 100%;
      display: block;
      margin-bottom: 0;

      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
  }
}
