.counter-block {
  font-family: var(--font-family-primary);
  text-align: center;
  margin-top: $sp-6;
  margin-bottom: $sp-6;
  border-radius: 4px;
  padding: $sp-4;
  color: var(--grey-900);

  &.editing .counter-text {
    cursor: default;
  }

  .page-section-header {
    font-family: var(--font-family-heading);
  }

  .page-section-description {
    white-space: pre-wrap;
    font-family: var(--font-family-paragraph-secondary);
  }

  &.counter-style-4 {
    display: none;
  }

  .counter-target {
    color: var(--gp-green-800);
    font-size: inherit;
    margin-bottom: $sp-4;
    display: inline-block;
    line-height: 1;
  }

  &.counter-style-1 {
    .counter-target {
      font-size: 3rem;
      font-weight: bold;
      margin-bottom: $sp-4;
    }
  }

  .progress-container {
    background: var(--grey-200);
    height: 30px;
    margin-bottom: $sp-4;
    overflow: hidden;
    border-radius: 4px;
  }

  .progress-bar {
    background: var(--gp-green-500);
    height: 100%;
    margin-left: -10px;
  }

  .counter-text {
    font-size: 1rem;
    margin-bottom: 0;
  }

  .counter-text-goal_reached {
    font-weight: bold;
  }
}
