.wp-block-image,
.wp-block-quote,
.wp-block-file,
.wp-block-table,
.wp-block-button,
.page-template > h2,
.page-template > ul {
  margin-top: $space-md;
  margin-bottom: $space-xl;

  @include large-and-up {
    margin-top: $space-lg;
    margin-bottom: $space-xxl;
  }
}

.page-template > p {
  margin-top: $space-md;
  margin-bottom: $space-lg;
}
