.wp-block-quote,
.wp-block-file,
.wp-block-button,
.page-content > h2,
.page-content > ul > li:last-of-type,
.page-content > p,
.post-details > h2,
.post-details > ul > li:last-of-type,
.post-details > p,
.post-details > p:first-of-type {
  margin-top: $space-xs;
  margin-bottom: $space-md;

  @include large-and-up {
    margin-top: $space-md;
    margin-bottom: $space-lg;
  }
}

.page-content > ul > li,
.post-details > ul > li {
  margin-top: $space-xs;
  margin-bottom: $space-xs;

  @include large-and-up {
    margin-top: $space-md;
    margin-bottom: $space-md;
  }
}

.wp-block-quote,
.wp-block-file,
.wp-block-button,
.page-content > h2,
.post-details > h2 {
  display: inline-block;
}

.page-content > ul,
.post-details > ul {
  width: 100%;
}

.post-details > h2 {
  padding-top: 0;
}
