.wp-block-image {
  position: relative;
  width: auto;
  max-width: 100%;
  margin-top: $sp-1;
  margin-bottom: $sp-2;

  &:not(.force-no-lightbox) {
    cursor: pointer;
  }

  @include large-and-up {
    margin-top: $sp-2;
    margin-bottom: $sp-4;
  }

  figure {
    position: relative;
  }

  .alignleft {
    margin: 0 $sp-1 $sp-1 0;
    padding-top: 6px;
  }

  .alignright {
    margin: 0 0 $sp-1 $sp-1;
    padding-top: 6px;
  }

  @include medium-and-up {
    .image-credit {
      position: absolute;
      text-align: right;
      right: 10px;
      width: 100%;
      color: $white;
      z-index: 2;
    }
  }

  img {
    height: auto;
  }

  figcaption {
    font-size: $font-size-xxs;
    font-family: $roboto;
    line-height: 1.4;
    margin-bottom: 0;
    color: $grey-60;
    text-align: center;
  }

  &.caption-alignment-left figcaption {
    text-align: left;
  }

  &.caption-alignment-right figcaption {
    text-align: right;
  }
}
