
// Table background colors (header, footer, odd/even rows)
.wp-block-table {
  table {
    // Grey background (defaut)
    th {
      background-color: var(--table-header-grey--background, $table-header-grey);
    }

    tr {
      background-color: var(--table-even-row-grey--background, $table-even-row-grey);
    }

    tfoot td {
      background-color: var(--table-footer-grey--background, $table-footer-grey);
      font-weight: bold;
    }

    // Green background
    &.has-green-background-color {
      th {
        background-color: var(--table-header-green--background, $table-header-green);
      }

      tr {
        background-color: var(--table-even-row-green--background, $table-even-row-green);
      }

      tfoot td {
        background-color: var(--table-footer-green--background, $table-footer-green);
      }
    }

    // Blue background
    &.has-blue-background-color {
      th {
        background-color: var(--table-header-blue--background, $table-header-blue);
      }

      tr {
        background-color: var(--table-even-row-blue--background, $table-even-row-blue);
      }

      tfoot td {
        background-color: var(--table-footer-blue--background, $table-footer-blue);
      }
    }
  }

  // Table caption
  figcaption {
    text-align: center;
    font-size: $font-size-xxs;
    font-family: var(--headings--font-family);
    color: $grey-60;
    line-height: 1.4;
  }

  &.is-style-stripes table {
    // Grey background (defaut)
    tr:nth-child(odd) {
      background-color: var(--table-odd-row-grey--background, $table-odd-row-grey);
    }

    // Green background
    &.has-green-background-color tr:nth-child(odd) {
      background-color: var(--table-odd-row-green--background, $table-odd-row-green);
    }

    // Blue background
    &.has-blue-background-color tr:nth-child(odd) {
      background-color: var(--table-odd-row-blue--background, $table-odd-row-blue);
    }
  }

  &:not(.is-style-stripes) table tbody tr:not(:last-child) {
    border-bottom: 1px solid $white;
  }
}
