.article-list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  --block-articles--article-- {
    margin-top: $sp-4;
    background-color: transparentize($white, .2);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);

    @include large-and-up {
      background-color: transparent;
      box-shadow: none;
    }
  }

  @include medium-and-up {
    flex-direction: row;
  }

  &:first-of-type {
    margin-top: 0;

    @include medium-and-up {
      margin-top: 0;
    }
  }
}

.article-list-item-image-max-width {
  img {
    width: 100%;
    height: 190px;
    object-fit: cover;
    object-position: 50% 50%;
    margin-right: 16px;

    html[dir="rtl"] & {
      margin-right: 0;
      margin-left: 16px;
    }

    @include small-and-up {
      height: 310px;
    }

    @include medium-and-up {
      height: 170px;
    }

    @include large-and-up {
      height: 210px;
    }
  }
}

.article-list-item-image {
  order: 2;

  a {
    display: block;
  }

  img {
    width: 100% !important;
    object-fit: cover;
  }

  @include medium-and-up {
    flex-basis: 30%;
    order: 0;
  }

  @include large-and-up {
    flex-basis: 30%;
  }
}

.article-list-item-body {
  padding: $sp-2;

  @include medium-and-up {
    flex-basis: 68%;
  }

  @include large-and-up {
    flex-basis: 68%;
    padding: 0;
  }
}

.article-list-item-headline {
  --block-articles--article--headline-- {
    font-weight: 500;
    color: $grey-80;
    margin: 4px 0;
  }

  a {
    color: inherit;
  }
}

.article-list-item-meta {
  --block-articles--article--meta-- {
    color: $grey-60;
    font-family: $roboto;
    font-style: italic;
    font-size: 0.875rem;
    font-weight: 300;
    margin: 0;

    &:hover {
      color: $grey-60;
    }

    @include large-and-up {
      font-size: 0.9375rem;
      width: 80%;
    }
  }

  a {
    color: inherit;
  }
}

.article-list-item-bullet {
  display: inline-block;
  padding: 0 $sp-x;
}

.article-list-item-content {
  --block-articles--article--content-- {
    font-size: inherit;
    width: 80%;
  }
  display: none;
  margin: $sp-1 0 0;

  @include large-and-up {
    display: block;
  }
}

.article-image-holder {
  background-image: repeating-linear-gradient(0deg, transparent -53%, rgba(157, 187, 190, 0.1) 100%, rgba(236, 241, 243, 1) 0);
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: auto;
  }

  @include small-and-up {
    img {
      max-height: 340px;
    }
  }
  @include medium-and-up {
    img {
      max-height: 138px;
    }
  }
  @include large-and-up {
    img {
      max-height: 186px;
    }
  }

  @include x-large-and-up {
    img {
      max-height: 222px;
    }
  }
}

.article-load-more {
  margin-top: $sp-4;
}

.article-list-item-tags .tag-wrap --block-articles--article--tags-- {
  display: inline-block;
}
