.article-list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparentize($white, .2);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  margin-top: $space-lg;

  @include medium-and-up {
    flex-direction: row;
  }

  @include large-and-up {
    background-color: transparent;
    box-shadow: none;
  }

  &:first-of-type {
    margin-top: 0;

    @include medium-and-up {
      margin-top: 0;
    }
  }

  &.editing {
    a,
    .article-list-item-image,
    .top-page-tags .tag-item {
      pointer-events: none;
      cursor: default;
    }

    .article-list-item-date,
    .article-list-item-author,
    .article-list-item-content {
      cursor: default;
    }
  }

  a {
    color: inherit;
  }
}

.article-list-item-image-max-width {
  .topicwise-article-image {
    width: 100%;
    height: 190px;
    object-fit: cover;
    object-position: 50% 50%;
    margin-right: 16px;

    html[dir="rtl"] & {
      margin-right: 0;
      margin-left: 16px;
    }

    @include small-and-up {
      height: 310px;
    }

    @include medium-and-up {
      height: 170px;
    }

    @include large-and-up {
      height: 210px;
    }
  }
}

.article-list-item-image {
  order: 2;

  img {
    width: 100% !important;
    object-fit: cover;
  }

  @include medium-and-up {
    flex-basis: 30%;
    order: 0;
  }

  @include large-and-up {
    flex-basis: 30%;
  }
}

.article-list-item-body {
  padding: $n15;

  @include medium-and-up {
    flex-basis: 68%;
  }

  @include large-and-up {
    flex-basis: 68%;
    padding: 0;
  }
}

.article-list-item-headline {
  font-weight: 500;
  color: var(--article-list-item-headline-color, $grey-80);
  margin: $space-xxs 0;
}

.article-list-item-meta {
  color: var(--article-list-item-meta-color, $grey-60);
  font-family: $roboto;
  font-style: italic;
  font-size: 0.875rem;
  font-weight: 300;
  margin: 0;

  @include large-and-up {
    font-size: 0.9375rem;
    width: 80%;
  }
}

.article-list-item-author {
  &:after {
    content: "\2022";
    display: inline-block;
    padding: 0 3px 0 $n5;
  }
}

.article-list-item-content {
  display: none;
  margin: $space-xs 0 0;
  width: 80%;

  @include large-and-up {
    display: block;
  }
}

.article-image-holder {
  background-image: repeating-linear-gradient(0deg, transparent -53%, rgba(157, 187, 190, 0.1) 100%, rgba(236, 241, 243, 1) 0);
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: auto;
  }

  @include small-and-up {
    img {
      max-height: 340px;
    }
  }
  @include medium-and-up {
    img {
      max-height: 138px;
    }
  }
  @include large-and-up {
    img {
      max-height: 186px;
    }
  }

  @include x-large-and-up {
    img {
      max-height: 222px;
    }
  }
}

.article-load-more {
  margin-top: $space-lg;
}

// Button in the editor
div.btn-secondary.article-load-more.btn.btn-block {
  &:hover,
  &:focus,
  &:active {
    background-color: transparentize($white, .7);
    border-color: $dark-blue;
    color: $dark-blue;
    box-shadow: none;
  }
}
