.img-wrap {
  position: relative;
  display: inline-block;
  font-size: 0;
}

.img-wrap .close {
  position: absolute;
  top: 8px;
  right: 10px;
  z-index: 100;
  background-color: #fff;
  padding: 0 0 2px 2px;
  color: red;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
  text-align: center;
  font-size: 22px;
  line-height: 14px;
}

.column-img-label {
  margin-bottom: 4px;
}
