.columns-block {
  a {
    text-decoration: none;
    font-weight: inherit;
    color: $dark-blue;
  }

  // Specific rules when 1 or 2 columns only.
  .column-wrap:nth-last-child(2):first-child,
  .column-wrap:nth-last-child(1):nth-child(2),
  .column-wrap:nth-last-child(1):first-child {
    h3, h3 > a {
      line-height: 1.2;
      font-size: $font-size-lg;
      font-family: $roboto;
      font-weight: 700;

      @include medium-and-up {
        font-size: 1.5rem;
      }

      @include large-and-up {
        font-size: $font-size-xl;
      }

      @include x-large-and-up {
        font-size: 1.875rem;
        line-height: 1.2;
      }
    }

    p {
      font-size: $font-size-sm;
      color: $dark-shade-black;

      @include x-large-and-up {
        font-size: 1.125rem;
        line-height: 1.6;
      }
    }
  }

  // Columns block, layout no-image.
  &.block-style-no_image {
    .row {
      margin-top: -$space-xl;

      @include large-and-up {
        margin-top: 0;
      }
    }

    .column-wrap {
      margin-top: $space-xl;

      @include large-and-up {
        margin-top: 0;
      }

      &.has-cta {
        @include medium-and-up {
          padding-bottom: $space-xl; // Leave enough room for the CTA button
        }
      }

      h3 {
        font-size: $font-size-lg;
        font-weight: bold;
        line-height: 1.2;
        margin-bottom: $space-md;
        color: $black;

        @include medium-and-up {
          font-size: 1.5rem;
          width: 80%;
        }

        @include large-and-up {
          font-size: $font-size-md;
          width: 75%;
        }
      }

      p {
        font-size: $font-size-sm;
        line-height: 1.6;
        margin-bottom: $space-lg;
        color: $dark-shade-black;

        @include medium-and-up {
          width: auto;
        }

        @include large-and-up {
          margin-bottom: $space-xxl;
          font-size: $font-size-xxs;
          width: 82%;
        }

        @include x-large-and-up {
          font-size: $font-size-xs;
          width: 76%;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      .btn {
        position: relative;
        margin-bottom: 0;

        @include medium-and-up {
          position: absolute;
          bottom: 0;
        }
      }
    }
  }

  // Columns block, layout icons.
  &.block-style-icons {
    .row {
      margin-bottom: -$space-lg; // Compensate for last row margin

      @include large-and-up {
        margin-bottom: 0;
      }
    }

    .column-wrap {
      margin-bottom: $space-xl;

      @include large-and-up {
        margin-bottom: 0;
      }

      &.has-cta {
        @include large-and-up {
          padding-bottom: $space-md; // Leave enough room for the CTA link
        }
      }

      h3,
      .icon-container {
        text-align: center;

        @include medium-and-up {
          text-align: inherit;
        }
      }

      h3 {
        line-height: 1.2;
        margin-bottom: $space-md;
        font-size: $font-size-md;

        @include large-and-up {
          font-weight: 500;
        }

        a {
          font-weight: 700;

          @include medium-and-up {
            font-size: 1.125rem;
          }

          @include x-large-and-up {
            font-size: $font-size-md;
          }
        }
      }

      p {
        font-size: $font-size-sm;
        line-height: 1.6;
        color: $dark-shade-black;

        @include medium-and-up {
          font-size: $font-size-xxs;
          margin-bottom: $space-lg;
        }

        @include x-large-and-up {
          font-size: $font-size-xs;
        }

        &:last-child {
          margin-bottom: 0;
        }

        a {
          font-family: $lora;
        }
      }

      a {
        font-family: $roboto;

        @include medium-and-up {
          font-size: $font-size-xs;
        }

        @include large-and-up {
          font-size: $font-size-xxs;
        }

        @include x-large-and-up {
          font-size: $font-size-xs;
        }

        &:hover {
          text-decoration: underline;
        }

        &.call-to-action-link {
          position: relative;

          @include medium-and-up {
            position: absolute;
            bottom: 0;
          }
        }
      }

      .attachment-container {
        text-align: center;
        margin-bottom: $space-md;

        @include medium-and-up {
          text-align: inherit;
        }
      }

      img {
        display: inline-block;
        width: 102px;
        height: 102px;

        @include medium-and-up {
          text-align: inherit;
        }

        @include x-large-and-up {
          margin-bottom: 24px;
        }
      }
    }
  }

  // Columns block, layout tasks.
  &.block-style-tasks {
    .can-do-steps {
      cursor: default;
      position: relative;

      @include x-large-and-up {
        @include clearfix;
      }

      .step-number {
        float: left;
        display: block;
        margin-right: 20px;
        margin-bottom: $space-xl;
        width: 74px;
        height: 74px;
        line-height: 74px;
        text-align: center;
        font-size: 2.75rem;
        background: $grey;
        border-radius: 50%;
        color: $white;
        opacity: 0.7;
        text-transform: uppercase;
        font-weight: 500;

        html[dir="rtl"] & {
          margin-right: 0;
        }

        @include large-and-up {
          float: none;
          width: 126px;
          height: 126px;
          vertical-align: middle;
          line-height: 114px;
          font-size: 4.375rem;
          position: relative;
          background-color: $dark-blue;
          opacity: 1;
        }

        &.active {
          background: $grey;
          opacity: 0.8;
          color: $white;

          @include large-and-up {
            background-color: $allports;
            opacity: 1;
          }

          .step-number-inner {
            @include large-and-up {
              background-color: $allports;
              border-color: $spray;
            }
          }
        }

        .step-number-inner {
          font-family: $roboto;

          @include large-and-up {
            position: absolute;
            background-color: $dark-blue;
            border-color: $spray;
            border-style: solid;
            border-width: 2px;
            border-radius: 50%;
            right: 5px;
            left: 5px;
            top: 5px;
            bottom: 5px;
          }
        }
      }

      .step-info {
        h5 {
          font-size: $font-size-xs;
          line-height: 19px;
          font-weight: 700;
          color: $percentage-text;
          margin-bottom: $space-md;

          @include medium-and-up {
            font-weight: 500;
            color: $darkb-blue-text;
            font-size: $font-size-md;
            line-height: 30px;
          }

          @include large-and-up {
            color: $dark-shade-black;
          }
        }

        p {
          color: $dark-shade-black;
          font-size: $font-size-xxs;
          opacity: 0.75;
          margin-bottom: 0;

          @include x-large-and-up {
            font-size: $font-size-xs;
            line-height: 1.6;
          }

          &.has-cta {
            margin-bottom: $space-lg;
          }
        }

        .blue-button {
          width: 100%;
        }

        .steps-action {
          a.btn {
            width: 210px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            @include x-large-and-up {
              width: 250px;
            }
          }

          img {
            width: 100%;
            height: 210px;
            object-fit: cover;
            object-position: 10% 10%;
            margin-bottom: $space-lg;

            @include x-large-and-up {
              height: 250px;
            }
          }
        }
      }
    }

    .can-do-steps-mobile {
      width: 100%;

      .card-accordion {
        margin-bottom: -$space-sm;
      }

      .card {
        background: none;
        border: none;
        box-shadow: none;

        .card-header {
          display: block;
          cursor: pointer;
          font-weight: 400;
          font-size: $font-size-xs;
          font-family: $roboto;
          text-decoration: none;
          padding: $n10 $n10 $n5 $n10;
          margin-bottom: $space-sm;
          background: $dark-blue;
          border: none;
          color: $white;

          &:hover {
            text-decoration: none;
          }
        }

        .info-with-image-wrap {
          .mobile-accordion-info {
            width: 100%;
            margin: 0;
            color: $percentage-text;
            font-size: $font-size-xxs;
          }

          .accordion-image-wrap {
            padding-bottom: $space-lg;

            img {
              width: 100%;
              height: 190px;
              object-fit: cover;
              object-position: 10% 10%;

              @include small-and-up {
                width: 100%;
              }

              @include medium-and-up {
                height: 220px;
              }

              @include large-and-up {
                width: 50%;
              }
            }
          }

          .btn-secondary {
            margin-bottom: 0;
            width: 100%;
          }
        }

        .card-block {
          padding: calc(#{$space-lg} - #{$space-md}) 28px $space-lg 28px;
          border-bottom: none;

          p {
            color: $dark-shade-black;
            font-size: $font-size-xxs;
            line-height: 22px;
            margin-left: 0;
            margin-bottom: 0;
            padding-right: 0;

            &.has-cta {
              margin-bottom: $space-lg;
            }
          }
        }

        .step-number {
          font-family: $roboto;
          font-size: $font-size-sm;
          font-weight: 900;
          color: $white;
          line-height: 1.5;
          padding-right: 9px;
          float: left;
          vertical-align: bottom;
          padding-bottom: 5px;
        }
      }
    }

    // Specific rules when 1 or 2 columns exist.
    .row .col:nth-last-child(2):first-child,
    .row .col:nth-last-child(1):nth-child(2),
    .row .col:nth-last-child(1):first-child {
      h5, h3 {
        line-height: 1.2;
        font-size: $font-size-lg;
        font-family: $roboto;
        font-weight: 700;

        @include medium-and-up {
          font-size: 1.5rem;
        }

        @include large-and-up {
          font-size: $font-size-xl;
        }

        @include x-large-and-up {
          font-size: 1.875rem;
          line-height: 1.2;
        }
      }

      p {
        font-size: $font-size-sm;
        color: $dark-shade-black;

        @include x-large-and-up {
          font-size: 1.125rem;
          line-height: 1.6;
        }
      }
    }
  }

  &.block-style-image {
    .column-wrap {
      margin-bottom: $space-lg;

      @include large-and-up {
        margin-bottom: 0;
      }

      &.has-cta {
        @include large-and-up {
          padding-bottom: $space-md; // Leave enough room for the CTA link
        }
      }

      h3,
      .icon-container {
        text-align: center;

        @include medium-and-up {
          text-align: inherit;
        }
      }

      h3 {
        line-height: 1.2;
        margin-bottom: $space-md;
        font-size: $font-size-md;

        @include large-and-up {
          font-weight: 500;
        }

        a {
          font-weight: 700;

          @include medium-and-up {
            font-size: 1.125rem;
          }

          @include x-large-and-up {
            font-size: $font-size-md;
          }
        }
      }

      p {
        font-size: $font-size-sm;
        line-height: 1.6;
        color: $dark-shade-black;

        @include medium-and-up {
          font-size: $font-size-xxs;
          margin-bottom: $space-lg;
        }

        @include x-large-and-up {
          font-size: $font-size-xs;
        }

        &:last-child {
          margin-bottom: 0;
        }

        a {
          font-family: $lora;
        }
      }

      a {
        font-family: $roboto;

        @include medium-and-up {
          font-size: $font-size-xs;
        }

        @include large-and-up {
          font-size: $font-size-xxs;
        }

        @include x-large-and-up {
          font-size: $font-size-xs;
        }

        &:hover {
          text-decoration: underline;
        }

        &.call-to-action-link {
          position: relative;

          @include medium-and-up {
            position: absolute;
            bottom: 0;
          }
        }
      }

      .attachment-container {
        text-align: center;
        margin-bottom: $space-md;

        @include medium-and-up {
          text-align: inherit;
        }
      }

      img {
        width: 100%;
        height: 250px;
        object-fit: cover;
      }
    }
  }
}

.post-content {
  .columns-block {

    @include large-and-up {
      .column-wrap {
        flex-basis: 100%;
        flex-grow: 0;
        max-width: 50%;
        margin-top: 48px;
      }
    }

    &.block-style-no_image {
      .column-wrap {
        h3 {
          @include large-and-up {
            font-size: 1.5rem;
            width: 80%;
          }
        }

        p {
          margin-bottom: $space-md;

          @include medium-and-up {
            width: auto;
            margin-bottom: $space-lg;
          }

          @include large-and-up {
            width: auto;
            margin-bottom: $space-lg;
          }

          @include x-large-and-up {
            width: auto;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    &.block-style-icons {
      .column-wrap {
        img {
          @include x-large-and-up {
            margin-bottom: 0;
          }
        }

        &.has-cta {
          @include large-and-up {
            padding-bottom: 0; // Leave enough room for the CTA link
          }
        }
      }
    }

    &.block-style-image {
      .column-wrap {
        &.has-cta {
          @include large-and-up {
            padding-bottom: 0; // Leave enough room for the CTA link
          }
        }
      }
    }

    &.block-style-tasks {
      .can-do-steps {
        .step-number {
          @include large-and-up {
            width: 100px;
            height: 100px;
            font-size: 3rem;
            line-height: 90px;
            margin-bottom: $space-lg;
          }

          @include x-large-and-up {
            width: 126px;
            height: 126px;
            font-size: 4.375rem;
            line-height: 114px;
            margin-bottom: $space-xl;
          }
        }

        .step-info {
          .steps-action {
            a.btn {
              width: 100%;

              @include x-large-and-up {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
