.cookies-block {
  .custom-control-description,
  .custom-control input[type="checkbox"] ~ .custom-control-description {
    _-- {
      font-size: $font-size-sm;
      font-family: var(--headings--font-family);
    }

    @include x-large-and-up {
      _-- {
        font-size: $font-size-md;
      }
    }
  }

  .always-enabled {
    _-- {
      font-family: var(--headings--font-family);
      font-size: 12px;
      font-weight: 700;
    }
    background: var(--body--color);
    color: white;
    border-radius: 4px;
    padding: $sp-x;
    margin-inline-start: $sp-1;
  }
}
