.media-block {
  .video-embed {
    video[poster] {
      object-fit: inherit;
    }
  }

  .container {
    padding-left: 0;
    padding-right: 0;

    @include medium-and-up {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
