.split-two-column {
  background-color: $black;
  color: $white;
  display: flex;
  position: relative;
  overflow: hidden;
  z-index: 2;
  width: 100vw;

  body.wp-admin & {
    width: 100%;
  }

  @include small-and-up {
    height: 400px;
  }

  @include medium-and-up {
    height: 360px;
  }

  @include large-and-up {
    height: 416px;
  }

  @include x-large-and-up {
    height: 516px;
  }
}

.split-two-column-item-image {
  position: absolute;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  top: 0;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(190deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));

    html[dir="rtl"] & {
      right: 0;
      left: auto;
    }
  }

  img {
    width: 100%;
    height: 100% !important;
    object-fit: cover;
  }
}

.split-two-column-item-title {
  font-size: $font-size-xl;

  a {
    color: $white;
    text-shadow: 1px 1px 3px $black;
  }

  @include small-and-up {
    font-size: $font-size-xl;
    margin-top: -.5em;
    margin-bottom: 1.25em;
  }

  @include medium-and-up {
    font-size: $font-size-xxl;
    line-height: 1.2;
    margin-bottom: 12px;
  }

  @include large-and-up {
    font-size: 4.125rem;
  }

  @include x-large-and-up {
    font-size: $font-size-xxl;
    margin-top: -.5em;
    margin-bottom: 20px;
  }
}

.split-two-column-item-tag {
  font-family: $roboto;
  font-size: $font-size-xl;
  font-weight: 700;
  color: $yellow;
  display: block;
  margin-bottom: .75em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
    color: $yellow;
    text-shadow: 1px 1px 3px $black;
  }

  @include medium-and-up {
    font-size: 1.5rem;
    margin-bottom: 15px;
    margin-top: 5px;
  }

  @include large-and-up {
    font-size: $font-size-xxl;
  }

  @include x-large-and-up {
    margin-bottom: 20px;
    margin-top: -30px;
  }
}

.split-two-column-item-subtitle,
.split-two-column-item-link {
  font-family: $roboto;
  font-weight: 500;
  font-size: $font-size-sm;
  line-height: 1.75;
  margin-bottom: 10px;

  @include medium-and-up {
    font-size: $font-size-xs;
    font-weight: 400;
    text-shadow: 1px 1px 1px $black;
    line-height: 1.6;
    margin-bottom: 18px;
  }

  @include large-and-up {
    font-size: 1.0625rem;
    line-height: 1.5;
    margin-bottom: 36px;
  }

  @include x-large-and-up {
    font-size: $font-size-md;
    margin-left: 0;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 30px;
  }
}

.split-two-column-item-link {
  text-decoration: none;
  color: $yellow;

  &:hover {
    color: $yellow;
    text-decoration: underline;
  }
}

.split-two-column-item-content {
  @include small-and-up {
    .item--left & {
      width: 45%;
      right: 15%;

      html[dir="rtl"] & {
        right: auto;
        left: 15%;
      }
    }

    .item--right & {
      width: 45%;
      left: 15%;

      html[dir="rtl"] & {
        left: auto;
        right: 15%;
      }
    }
  }

  @include medium-and-up {
    .item--left & {
      width: 50%;
      right: 10%;

      html[dir="rtl"] & {
        right: auto;
        left: 10%;
      }
    }

    .item--right & {
      width: 50%;
      left: 12%;

      html[dir="rtl"] & {
        left: auto;
        right: 12%;
      }
    }
  }

  @include large-and-up {
    .item--left & {
      width: 42%;
      right: 15%;

      html[dir="rtl"] & {
        left: 15%;
        right: auto;
      }
    }

    .item--right & {
      width: 42%;
      left: 15%;

      html[dir="rtl"] & {
        left: auto;
        right: 15%;
      }
    }
  }

  @include x-large-and-up {
    .item--left & {
      width: 40%;
    }

    .item--right & {
      width: 40%;
    }
  }
}

.split-two-column-item-button {
  white-space: nowrap;

  @include large-and-up {
    width: 70%;
  }

  @include x-large-and-up {
    width: 60%;
  }
}

/**
* Including mobile-only styles as the mobile view is dramatically different from desktop.
*/
@include mobile-only {
  .item--right,
  .split-two-column-item-subtitle,
  .split-two-column-item-tag,
  .split-two-column-item-button,
  .split-two-column-item-link {
    display: none;
  }

  .item--left {
    width: 100%;
  }

  .split-two-column-item-title {
    margin: 0;
    position: relative;

    @include large-and-up {
      font-size: $font-size-xxl;
      line-height: 1.2;
      margin-bottom: 20px;
    }

    a {
      display: block;
      padding: 45px $n15;

      &:after {
        content: "";
        position: absolute;
        top: 40%;
        right: 15px;
        pointer-events: none;
        background-image: url("../../public/images/icons/angle-right.svg");
        background-position: 50% 50%;
        background-size: 1rem 1rem;
        background-repeat: no-repeat;
        margin-right: 2px;
        height: 2.2rem;
        width: 2.2rem;
        margin-bottom: -2px;
        display: inline-block;
        @supports (mask-repeat: no-repeat) or (-webkit-mask-repeat: no-repeat) {
          & {
            background-image: none;
            background-color: $yellow;
            -webkit-mask-image: url("../../public/images/icons/angle-right.svg");
            mask-image: url("../../public/images/icons/angle-right.svg");
            mask-repeat: no-repeat;
            -webkit-mask-repeat: no-repeat;
            margin-right: 0;
          }
        }

        html[dir="rtl"] & {
          right: auto;
          left: 15px;
        }
      }
    }
  }

  .split-two-column-item-content {
    position: relative;
  }
}

/**
* Tablet and up split-panel view.
*/
@include small-and-up {
  .split-two-column-item {
    top: 0;
    height: 100%;
    width: 75%;
    position: absolute;
    overflow: hidden;
    transform: skew(30deg, 0deg);
  }

  .item--left {
    left: -25%;
    width: 80%;

    html[dir="rtl"] & {
      left: auto;
      right: -25%;
    }

    .split-two-column-item-image {
      left: 24%;

      html[dir="rtl"] & {
        left: auto;
        right: 24%;
      }
    }

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      background: linear-gradient(100deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0));

      html[dir="rtl"] & {
        left: auto;
        right: 0;
      }
    }
  }

  .item--right {
    right: -25%;

    html[dir="rtl"] & {
      right: auto;
      left: -25%;
    }

    .split-two-column-item-image {
      right: 0;
      left: -25%;

      html[dir="rtl"] & {
        left: auto;
        right: -25%;
      }
    }

    .split-two-column-item-subtitle {
      display: none;
    }

    &:before {
      content: "";
      position: absolute;
      z-index: 1;
      height: 100%;
      width: 25%;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0));
    }
  }

  .split-two-column-item-content,
  .split-two-column-item-image {
    position: absolute;
    transform: skew(-30deg, 0deg);
  }

  .split-two-column-item-content {
    top: 50%;
    transform: translate(0, -50%) skew(-30deg, 0deg);
    z-index: 1;
    width: 40%;
  }
}

@include medium-and-up {
  .item--right .split-two-column-item-subtitle {
    display: block;
  }
}
