.spreadsheet-table {
  margin: 20px 0;

  tr {
    th {
      padding: 10px 20px;
      border-bottom: 1px solid #fff;
      cursor: pointer;
      font-size: $font-size-sm;
    }

    td {
      font-size: $font-size-xs;
      padding: 5px 20px;
      @include x-large-and-up {
        font-size: $font-size-xs;
      }
    }
  }

  @include mobile-only {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.spreadsheet-search {
  width: 350px;
  max-width: 100%;
  margin: 10px 0;
  padding: 3px 8px;
  border: 1px solid;
}

.spreadsheet-sorted-by {
  &:after {
    content: "\25BC";
  }

  &[data-sort-dir="desc"]:after {
    content: "\25B2";
  }
}

.spreadsheet-default-sort {
  display: none;
  border: 1px solid;
  letter-spacing: .06rem;
  line-height: 38px;
  margin-left: 5px;
}

.spreadsheet-empty-message {
  display: none;
}
