.block-spreadsheet {
  display: inline-block;
  margin-top: $space-xs;
  margin-bottom: $space-md;

  @include large-and-up {
    margin-top: $space-md;
    margin-bottom: $space-lg;
  }
}

.table-wrapper {
  overflow: auto;

  max-height: 320px;
  margin-top: 1.5rem;

  @include medium-and-up {
    max-height: 520px;
    margin-top: 2rem;
  }

  @include large-and-up {
    max-height: 575px;
  }
}

table.spreadsheet-table {
  min-width: 100%;

  margin-bottom: 0;

  @include mobile-only {
    overflow: visible;
  }

  th {
    --block-spreadsheet--header-- {
      background-color: $table-header-grey;
      border-bottom-color: $table-header-grey;
    }
    color: $white;
    border-bottom: 1px solid;
    cursor: pointer;
    font-size: $font-size-sm;
    position: sticky;
    top: 0;

    svg {
      width: $space-md;
      margin-left: $space-xs;
      // Compensate for a small baseline misalignment
      margin-top: -2px;
      // Use opacity instead of `display: none` to avoid jumpyness on headers
      opacity: 0;
      transition: opacity .3s, transform .4s;
    }

    &.spreadsheet-sorted-by {
      svg {
        opacity: 1;
      }

      &.sort-desc {
        svg {
          transform: rotate(180deg);
        }
      }
    }
  }

  tr {
    color: $table-font-color;

    td {
      --block-spreadsheet--even-row-- {
        background: $table-even-row-grey;
      }
      padding: 5px 20px;
      font-size: $font-size-xs;

      @include x-large-and-up {
        font-size: $font-size-xs;
      }

      .highlighted-text {
        font-weight: bold;
      }
    }

    &:nth-child(odd) {
      td {
        --block-spreadsheet--odd-row-- {
          background: $table-odd-row-grey;
        }
      }
    }
  }
}

.spreadsheet-loading {
  padding: $space-xl;
  text-align: center;
}

.spreadsheet-search {
  width: 350px;
  max-width: 100%;
  height: 2rem;
  padding: 0 8px;

  --block-spreadsheet--header-- {
    border-color: $table-header-grey;
  }
  border: 1px solid;
  font-family: $roboto;
}

.spreadsheet-empty-message {
  padding: $space-md;
  font-size: 1.12rem;
  line-height: 1.375rem;

  @include medium-and-up {
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin: 0 0 24px 0;
  }
}
