// On outer element as otherwise it will not be clickable when floating on the right.
div[data-render="planet4-blocks/submenu"] {
  z-index: 4;
}

.submenu-block {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 5px 5px 5px 0 rgba(128, 128, 128, 0.5);

  h1,
  h2 {
    padding-inline-start: 16px;
    color: $grey-60;
    font-family: var(--headings--font-family);
  }

  .submenu-menu {
    display: flex;
    flex-wrap: wrap;

    ul.submenu-item {
      flex-basis: 100%;

      @include large-and-up {
        flex-basis: 50%;
      }
    }

    a {
      color: var(--body--color);
      font-family: var(--headings--font-family);
    }

    ul {
      margin: .5em 0 .5em .5em;
      list-style: none;
      padding: 0 16px;
    }

    li {
      &.list-style-bullet {
        list-style: disc;
        margin-right: 20px;
      }

      &.list-style-number {
        list-style: decimal;
        margin-left: 20px;
      }
    }
  }

  &.submenu-short {
    .submenu-menu {
      @include medium-and-up {
        ul.submenu-item {
          flex-basis: 100%;
          column-count: 3;

          li:before {
            content: "";
          }
        }
      }
    }
  }

  &.submenu-long {
    .submenu-menu {
      ul.submenu-item {
        flex-basis: 100%;
        column-count: 1;

        @include medium-and-up {
          column-count: 2;
        }
      }
    }
  }

  &.submenu-sidebar {
    z-index: 4;

    @include medium-and-up {
      float: right;
      max-width: 350px;
      margin-bottom: 16px;
      margin-inline-start: 16px;

      html[dir="rtl"] & {
        float: left;
      }
    }

    .submenu-menu {
      ul.submenu-item {
        flex-basis: 100%;

        @include large-and-up {
          flex-basis: 100%;
        }
      }
    }
  }
}
