.submenu-block-attribute-wrapper {
  display: inline-block;
  margin-right: 20px;
}

.submenu-level-link {
  display: inline-block;
  margin-right: 20px;

  .components-base-control__field {
    margin-bottom: 13px;
  }
}
