// On outer element as otherwise it will not be clickable when floating on the right.
div[data-render="planet4-blocks/submenu"] {
  z-index: 4;
}

.submenu-block {
  _-- {
    border-radius: 0;
    box-shadow: 5px 5px 5px 0 rgba(128, 128, 128, 0.5);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0;
  }

  h1,
  h2 {
    --submenu-block-heading-- {
      font-family: var(--headings--font-family);
      color: $grey-60;
      padding-inline-start: 16px;
    }
  }

  .submenu-menu {
    display: flex;
    flex-wrap: wrap;

    ul.submenu-item {
      flex-basis: 100%;

      @include large-and-up {
        flex-basis: 50%;
      }
    }

    a {
      color: var(--body--color);
    }

    ul {
      --submenu-block-menu-- {
        font-family: var(--body--font-family);
        color: var(--body--color);
        margin: .5em 0 .5em .5em;
        padding: 0 16px;
      }
      list-style: none;
    }

    li {
      &.list-style-bullet {
        --submenu-block-bullet-item-- {
          margin-inline-end: 20px;
          margin-inline-start: 0;
        }
        list-style: disc;
      }

      &.list-style-number {
        --submenu-block-number-item-- {
          margin-inline-start: 20px;
        }
        list-style: decimal;
      }
    }
  }

  &.submenu-short {
    .submenu-menu {
      @include medium-and-up {
        ul.submenu-item {
          flex-basis: 100%;
          column-count: 3;

          li:before {
            content: "";
          }
        }
      }
    }
  }

  &.submenu-long {
    .submenu-menu {
      ul.submenu-item {
        flex-basis: 100%;
        column-count: 1;

        @include medium-and-up {
          column-count: 2;
        }
      }
    }
  }

  &.submenu-sidebar {
    z-index: 4;

    @include medium-and-up {
      float: right;
      max-width: 350px;
      margin-bottom: 16px;
      margin-inline-start: 16px;

      html[dir="rtl"] & {
        float: left;
      }
    }

    .submenu-menu {
      ul.submenu-item {
        flex-basis: 100%;

        @include large-and-up {
          flex-basis: 100%;
        }
      }
    }
  }
}
