.block-wide {
  width: 100vw;
  //     Screen width - block width
  //  -  --------------------------
  //                  2
  margin-left: calc(((100vw - 100%) / 2) * -1);

  html[dir="rtl"] & {
    margin-right: calc(((100vw - 100%) / 2) * -1);
  }
}
