.page-section {
  margin: 0 auto $n40 auto;

  @include medium-and-up {
    margin: 0 auto $n40 auto;
  }

  @include large-and-up {
    margin: 0 auto $n60 auto;
  }

  @include x-large-and-up {
    margin: 0 auto $n80 auto;
  }
}

.page-section-header {
  font-family: $roboto;
  font-size: 1.375rem;
  line-height: 1.2;
  font-weight: 700;
  color: $black;
  margin-bottom: $space-lg;

  @include large-and-up {
    font-size: 1.75rem;
  }

  @include x-large-and-up {
    font-size: 1.875rem;
  }
}

.page-section-description {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: $space-xl;

  @include medium-and-up {
    width: 100%;
  }

  @include x-large-and-up {
    font-size: 1.125rem;

    .row & {
      margin-top: 0;
    }
  }
}
