.page-section-header {
  font-family: $roboto;
  font-size: 1.375rem;
  line-height: 1.2;
  font-weight: 700;
  color: $black;
  margin-bottom: $space-md;

  @include large-and-up {
    font-size: 1.75rem;
    margin-bottom: $space-lg;
  }

  @include x-large-and-up {
    font-size: 1.875rem;
  }
}

.page-section-description {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: $space-xl;

  @include medium-and-up {
    width: 100%;
  }

  @include x-large-and-up {
    font-size: 1.125rem;

    .row & {
      margin-top: 0;
    }
  }
}
