html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

body {
  position: relative;
  overflow-y: hidden;

  &.search {
    font-family: var(--font-family-heading);
  }

  .mejs-container {
    clear: initial;
  }

  @include medium-and-less {
    &.with-mobile-tabs {
      .page-header {
        padding-top: 140px;
      }

      .no-page-title {
        padding-top: 110px;
      }
    }
  }
}

.container > * {
  position: relative;
  z-index: 2;
}

a:hover {
  color: inherit;
}
