html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

body {
  _-- {
    color: $grey-80;
    font-family: $lora;
    background-color: $white;
  }
  position: relative;
  overflow-y: hidden;

  &.search {
    font-family: $roboto;
  }

  .mejs-container {
    clear: initial;
  }
}

.container > * {
  position: relative;
  z-index: 2;
}
