html,
body {
  overflow-x: hidden;
}

body {
  color: $dark-shade-black;
  font-family: $lora;
  position: relative;
  overflow-y: hidden;

  &.white-bg {
    background-color: $white;
  }

  &.brown-bg {
    background: $brown-bg;
  }

  &.home {
    background-color: #ecf1f3;
  }

  &.search {
    font-family: $roboto;
  }

  .mejs-container {
    clear: initial;
  }

  .container > * {
    position: relative;
    z-index: 2;
  }
}

a {
  color: $blue;

  &.external-link {
    white-space: nowrap;

    .external-icon {
      height: .55rem;
      width: .55rem;
      margin-left: .3rem;
      margin-right: .4rem;

      html[dir="rtl"] & {
        margin-left: .4rem;
        margin-right: .3rem;
        transform: scaleX(-1);
      }
    }
  }

  &:hover {
    color: $blue;
    text-decoration: underline;
  }
}
