html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

body {
  position: relative;
  overflow-y: hidden;

  &.search {
    font-family: var(--font-family-heading);
  }

  .mejs-container {
    clear: initial;
  }
}

.container > * {
  position: relative;
  z-index: 2;
}

a:hover {
  color: inherit;
}
