$white: #fff;
$black: #000;

// Grey
$grey-80: #020202;
$grey: #23292d;
$grey-60: #45494c;
$grey-40: #6f7376;
$grey-20: #a3a5a7;
$grey-10: #ececec;
$grey-05: #f5f7f8;

// Green
$gp-green: #66cc00;
$gp-green-80: #8bcc49;
$gp-green-20: #e3f2d3;

// Blue
$blue: #2077bf;

// Link color
$link-color: #006dfd;
$link-color-visited: #68009e;

// Yellow
$yellow: #ffd204;
$yellow-20: #fff6cd;

// Orange
$orange: #f36b35;
$dark-orange: #f75848;
$orange-hover: #ee562d;

// Various blues:
$x-dark-blue:  #042233;
$dark-blue:    #074365;
$active-blue:  #05324c;
$aquamarine:   #68dfde;

// Various reds:
$peach:       #eaccbb;

// Social buttons
$facebook: #4267b2;
$twitter:  #55acee;
$email:    #8a49de;
$whatsapp: #25d366;

// Used colors
$light-blue-bg:         #d6e6f2;

// Colors to be fixed/addressed:
$cookie-bkg:            #c0dbe2;

// Table/spreadsheet colors
$table-font-color: #020202;

// Background colors
// Grey variant (default)
$table-header-grey: #45494c;
$table-odd-row-grey: #ececec;
$table-even-row-grey: #f5f7f8;
$table-footer-grey: #e0e4e7;

// Green variant
$table-header-green: #073d14;
$table-odd-row-green: #d0fac9;
$table-even-row-green: #eafee7;
$table-footer-green: #d1e8cd;

// Blue variant
$table-header-blue: $dark-blue;
$table-odd-row-blue: #c9e7fa;
$table-even-row-blue: #e7f5fe;
$table-footer-blue: #c3d7e2;
