:root {
  --body--font-family: var(--font-family-secondary);
  --headings--font-family: var(--font-family-primary);
  --headings--font-weight: bold;
  --body--background-color: #{$white};
  --body--color: #{$grey-80};
  --link--color: #{$link-color};
  --link--hover--color: #{$link-color};
  --link--text-decoration: none;
  --link--hover--text-decoration: underline;
  --link--visited--color: #{$link-color-visited};
  --navbar-height: 60px;
  --navbar-menu-height: 68px;
  --navbar-menu-min-height: 40px;
  --navbar-menu-height--small: 60px;
  --navbar-menu-height--large: 68px;
}
