:root {
  --body--background-color: var(--white);
  --body--font-family: var(--font-family-secondary);
  --link--hover--text-decoration: underline;
  --link--color: var(--grey-900);
  --link--visited--color: var(--grey-900);
  --link--hover--color: var(--grey-900);
  --link--text-decoration: none;
  --navbar-menu-height: 68px;
  --navbar-menu-min-height: 40px;
  --navbar-menu-height--small: 60px;
  --navbar-menu-height--large: 68px;
  --top-navigation--separation: 1px solid var(--grey-300);

  // New tokens
  --gp-green-600: #55bc00;

  --color-background-button--primary--passive: var(--p4-action-yellow-500);
  --color-background-button--primary--hover: var(--p4-action-yellow-600);
  --color-background-button--primary--active: var(--p4-action-yellow-700);
  --color-background-button--primary--disabled: var(--p4-action-yellow-500);

  --color-background-button--cta--passive: var(--p4-action-yellow-500);
  --color-background-button--cta--hover: var(--p4-action-yellow-600);
  --color-background-button--cta--active: var(--p4-action-yellow-700);
  --color-background-button--cta--disabled: var(--p4-action-yellow-500);

  --color-background-button--donate--passive: var(--gp-green-400);
  --color-background-button--donate--hover: var(--gp-green-500);
  --color-background-button--donate--active: var(--gp-green-600);
  --color-text-button--donate: var(--grey-900);
  --color-text-button--donate--hover: var(--grey-900);
  --color-text-button--donate--visited: var(--grey-900);
}
