@use "tokens" as tokens;

$bucket: "https://www.greenpeace.org/static/planet4-assets/";

$fonts: (
  #{tokens.$font-family-primary},
  #{tokens.$font-family-secondary},
  #{tokens.$font-family-tertiary},
);

@each $font in $fonts {
  @font-face {
    font-family: #{$font};
    font-display: swap;
    src: url(#{$bucket} + #{$font} + ".woff2") format("woff2");
  }
}

$font-base-size: 16px;
$font-size-xxxs: 0.75rem;
$font-size-xxs: 0.875rem;
$font-size-xs: 0.9375rem;
$font-size-sm: 1rem;
$font-size-md: 1.25rem;
$font-size-lg: 1.375rem;
$font-size-xl: 1.75rem;
$font-size-xxl: 2.5rem;
$font-size-xxxl: 3rem;
$font-size-xxxxl: 4rem;
