.icon {
  position: relative;
  top: .125em;
  flex-shrink: 0;
  height: 1em;
  width: 1em;
  fill: currentColor;
  transition: fill .3s;
}

a.standalone-link {
  &::after {
    content: "";
    pointer-events: none;
    margin-inline-start: .2rem;
    height: .7rem;
    width: .7rem;
    display: inline-block;
    mask-image: url("../../images/chevron.svg");
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    background-repeat: no-repeat;
    background-color: currentColor;
  }
}

a.pdf-link {
  &::after {
    content: "";
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-bottom: -2px;
    margin-inline-start: .2rem;
    margin-inline-end: .1rem;
    background-color: currentColor;
    mask-image: url("../../images/file-pdf.svg");
    mask-repeat: no-repeat;
    mask-position: center;
  }
}

a.external-link {
  &::after {
    content: "";
    display: inline-block;
    height: .7rem;
    width: .7rem;
    margin-inline-start: .2rem;
    margin-inline-end: .1rem;
    background-color: currentColor;
    mask-image: url("../../images/external-link.svg");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
  }
}
