.icon {
  position: relative;
  top: .125em;
  flex-shrink: 0;
  height: 1em;
  width: 1em;
  fill: currentcolor;
  transition: fill .3s;
}

a.standalone-link {
  @include shared-link-styles;

  display: inline-block;
  width: fit-content;

  &::after {
    content: "";
    display: inline-block;
    background-color: currentcolor;
    pointer-events: none;
    margin-inline-start: .2rem;
    height: .7rem;
    width: .7rem;
    background-repeat: no-repeat;
    mask-image: url("../../images/chevron.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
  }
}

a.pdf-link {
  &::after {
    content: "";
    display: inline-block;
    background-color: currentcolor;
    height: 1rem;
    width: 1rem;
    margin-bottom: -2px;
    margin-inline-start: .2rem;
    margin-inline-end: .1rem;
    mask-image: url("../../images/file-pdf.svg");
    mask-repeat: no-repeat;
    mask-position: center;
  }
}

h1, h2, h3, h4, h5, h6 {
  a.pdf-link {
    &::after {
      display: none
    }
  }
}

a.pdf-link img
{
  &::after {
    display: none
  }
}

a.external-link {
  &::after {
    content: "";
    display: inline-block;
    background-color: currentcolor;
    height: .7rem;
    width: .7rem;
    margin-inline-start: .2rem;
    margin-inline-end: .1rem;
    mask-image: url("../../images/external-link.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
  }
}
