// Allower colors for blocks palette
$palette: (
  "grey-80": $grey-80,
  "grey-60": $grey-60,
  "grey-40": $grey-40,
  "grey-20": $grey-20,
  "grey-10": $grey-10,
  "grey": $grey,
  "gp-green": $gp-green,
  "x-dark-blue": $x-dark-blue,
  "dark-blue": $dark-blue,
  "blue": $blue,
  "orange-hover": $orange-hover,
  "yellow": $yellow
);

@each $name, $color in $palette {
  .has-#{$name}-color {
    color: $color;
  }

  .has-#{$name}-background-color {
    background-color: $color;
  }
}
