html[dir="rtl"] body {
  text-align: right;

  @include large-and-up {
    .offset-lg-1 {
      margin-left: 0;
      margin-right: 8.333333%;
    }
  }

  .list-unstyled {
    .custom-control {
      padding-right: 1.5rem;
    }
  }
}
