$color-background-tag-button--passive: $gp-green-100;
$gp-green-100: #d9f1c5;
$color-background-link--hover: $gp-green-100;
$gp-green-200: #b9e696;
$color-background-tag-button--hover: $gp-green-200;
$gp-green-400: #80d643;
$color-background-button--primary-passive: $gp-green-400;
$gp-green-500: #66cc00;
$color-background-button--primary-hover: $gp-green-500;
$color-border-navigation-link--hover: $gp-green-500;
$gp-green-800: #198700;
$color-text-tag-item: $gp-green-800;
$p4-action-yellow-100: #fff6bd;
$color-background--alert: $p4-action-yellow-100;
$p4-action-yellow-500: #ffe100;
$color-background-button--cta: $p4-action-yellow-500;
$p4-action-yellow-600: #fece00;
$color-background-button--cta-hover: $p4-action-yellow-600;
$p4-action-yellow-700: #fcb600;
$color-background-icon--yellow: $p4-action-yellow-700;
$p4-dark-green-800: #1f4912;
$color-background-footer: $p4-dark-green-800;
$color-background-button--secondary-hover: $p4-dark-green-800;
$color-border-button--secondary: $p4-dark-green-800;
$color-text-button--secondary: $p4-dark-green-800;
$p4-dark-green-900: #1a3c10;
$color-background-country-list-block: $p4-dark-green-900;
$color-background-copyright-block: $p4-dark-green-900;
$beige-100: #f6f4ef;
$color-background-button-share--secondary-passive: $beige-100;
$color-background-author-block: $beige-100;
$color-background-comments-block: $beige-100;
$beige-200: #eceae4;
$color-background-button-share--secondary-hover: $beige-200;
$red-100: #fad1da;
$color-background--warning: $red-100;
$red-500: #d43b57;
$color-text--error: $red-500;
$color-background-tooltip--error: $red-500;
$white: #ffffff;
$color-text-button-inverse: $white;
$color-background-take-action-cover-block: $white;
$color-background-navigation-bar: $white;
$grey-100: #f5f7f8;
$color-background-block: $grey-100;
$grey-200: #ececec;
$color-background-block-dark: $grey-200;
$grey-300: #d1d2d3;
$color-border-separator: $grey-300;
$grey-500: #a3a5a7;
$color-border-input: $grey-500;
$grey-600: #6f7376;
$color-text-meta-item: $grey-600;
$color-border-input--hover: $grey-600;
$grey-800: #45494c;
$color-text-image-caption: $grey-800;
$grey-900: #1c1c1c;
$color-text-body: $grey-900;
$color-text-heading: $grey-900;
$color-text-nav-link: $grey-900;
$color-text-button--primary: $grey-900;
$color-text-button--cta: $grey-900;
$color-test-color: $grey-900;
