:root {
	/* Primitives */
	--beige-100: #f6f4ef;
	--beige-200: #eceae4;
	--gp-green-100: #d9f1c5;
	--gp-green-200: #b9e696;
	--gp-green-400: #80d643;
	--gp-green-500: #66cc00;
	--gp-green-800: #198700;
	--grey-100: #f5f7f8;
	--grey-200: #ececec;
	--grey-300: #d1d2d3;
	--grey-500: #a3a5a7;
	--grey-600: #6f7376;
	--grey-800: #45494c;
	--grey-900: #1c1c1c;
	--p4-action-yellow-100: #fff6bd;
	--p4-action-yellow-500: #ffe100;
	--p4-action-yellow-600: #fece00;
	--p4-action-yellow-700: #fcb600;
	--p4-dark-green-800: #1f4912;
	--p4-dark-green-900: #1a3c10;
	--red-100: #fad1da;
	--red-500: #d43b57;
	--white: #ffffff;
	/* Component Specific */
	--color-background--alert: var(--p4-action-yellow-100);
	--color-background--warning: var(--red-100);
	--color-background-author_block: var(--beige-100);
	--color-background-block: var(--grey-100);
	--color-background-block-dark: var(--grey-200);
	--color-background-button--cta: var(--p4-action-yellow-500);
	--color-background-button--cta-hover: var(--p4-action-yellow-600);
	--color-background-button--primary-hover: var(--gp-green-500);
	--color-background-button--primary-passive: var(--gp-green-400);
	--color-background-button--secondary-hover: var(--p4-dark-green-800);
	--color-background-button_share--secondary-hover: var(--beige-200);
	--color-background-button_share--secondary-passive: var(--beige-100);
	--color-background-comments_block: var(--beige-100);
	--color-background-copyright_block: var(--p4-dark-green-900);
	--color-background-country_list_block: var(--p4-dark-green-900);
	--color-background-footer: var(--p4-dark-green-800);
	--color-background-icon--yellow: var(--p4-action-yellow-700);
	--color-background-link--hover: var(--gp-green-100);
	--color-background-navigation_bar: var(--white);
	--color-background-tag_button--hover: var(--gp-green-200);
	--color-background-tag_button--passive: var(--gp-green-100);
	--color-background-take_action_cover_block: var(--white);
	--color-background-tooltip--error: var(--red-500);
	--color-border-button--secondary: var(--p4-dark-green-800);
	--color-border-input: var(--grey-500);
	--color-border-input--hover: var(--grey-600);
	--color-border-navigation_link--hover: var(--gp-green-500);
	--color-border-separator: var(--grey-300);
	--color-text--error: var(--red-500);
	--color-text-body: var(--grey-900);
	--color-text-button--cta: var(--grey-900);
	--color-text-button--primary: var(--grey-900);
	--color-text-button--secondary: var(--p4-dark-green-800);
	--color-text-button-inverse: var(--white);
	--color-text-heading: var(--grey-900);
	--color-text-image_caption: var(--grey-800);
	--color-text-meta_item: var(--grey-600);
	--color-text-nav_link: var(--grey-900);
	--color-text-tag_item: var(--gp-green-800);
}