html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,
li {
  hyphens: none;

  --text-- {
    font-size: var(--font-size-m--font-family-secondary);
    line-height: var(--line-height-m--font-family-secondary);

    @include x-large-and-up {
      font-size: var(--font-size-xl--font-family-secondary);
      line-height: var(--line-height-xl--font-family-secondary);
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-heading);
  color: var(--color-text-heading);

  &.has-text-align-center,
  &.has-text-align-right,
  &.has-text-align-left {
    width: 100%;
  }

  a,
  a:hover,
  a:active,
  a:visited {
    font-family: var(--font-family-heading);
    color: inherit;
  }
}

h1 {
  _-- {
    line-height: 1.225;
    font-size: $font-size-xxl;
  }
  margin-bottom: 30px;

  @include medium-and-up {
    _-- {
      font-size: $font-size-xxxxl;
    }
  }

  @include large-and-up {
    margin-bottom: 48px;
  }
}

h2 {
  _-- {
    line-height: 1.38;
    font-size: $font-size-xl;
  }
  margin-bottom: 5px;

  @include medium-and-up {
    _-- {
      font-size: $font-size-xxl;
    }
  }

  @include x-large-and-up {
    margin-bottom: 24px;
  }
}

h3 {
  _-- {
    font-size: $font-size-lg;
  }

  @include medium-and-up {
    _-- {
      font-size: $font-size-xl;
    }
  }
}

h4 {
  _-- {
    font-size: $font-size-md;
  }

  @include medium-and-up {
    _-- {
      font-size: $font-size-lg;
    }
  }
}

h5 {
  _-- {
    font-size: $font-size-sm;
  }

  @include medium-and-up {
    _-- {
      font-size: $font-size-md;
    }
  }
}

h6 {
  _-- {
    font-size: $font-size-sm;
  }
}

.white-text {
  color: var(--white);
}

a --link-- {
  &:focus {
    outline: 2px solid #99c3ff;
    outline-offset: 2px;
    border-radius: 4px;
  }
}

a:focus:not(:focus-visible) {
  outline: 0;
}

mark {
  padding: 0;
}

figcaption a {
  @include shared-link-styles;
}
