// Fonts
$roboto:     "Roboto", sans-serif;
$lora:       "Lora", serif;

// Media queries
$extra-small-width:       320px;
$small-width:             576px;
$medium-width:            768px;
$large-width:             992px;
$extra-large-width:       1200px;
$extra-extra-large-width: 1600px;

// Units:
$au: auto;
$n5: 5px;
$n10: 10px;
$n15: 15px;
$n20: 20px;
$n25: 25px;
$n30: 30px;
$n35: 35px;
$n40: 40px;
$n50: 50px;
$n60: 60px;
$n70: 70px;
$n80: 80px;
$n90: 90px;
$n100: 100px;

// Spacing
$space-xxs: 4px;
$space-xs:  8px;
$space-sm:  12px;
$space-md:  16px;
$space-lg:  32px;
$space-xl:  48px;
$space-xxl: 64px;
