<div id="take-action clearfix" class="page-content-wrap">
  <div class="fixed-element clearfix">
    <div class="container">
      <div class="top-tags-wrap">
      {% if page_tags %}
        {% for page_tag in page_tags %}
          <span>#{{ page_tag.name }}</span>
        {% endfor %}
      {% endif %}
      </div>
      {{header_title}}
      <h1>Show You're a food warrior</h1>
    </div>
  </div>
  <div class="container">
  </div>
</div>