/* Modify Iris ColorPicker */
.palette-only .iris-picker {
  height: auto !important;
  width: auto !important;
  padding: 0 !important;
  margin-right: 25px;
}

.palette-only .iris-picker .iris-picker-inner {
  display: none !important;
}

.palette-only .wp-color-picker {
  pointer-events: none;
}

.palette-only .wp-picker-input-wrap {
  display: none !important;
}

.palette-only .wp-picker-holder {
  max-width: 400px;
}

.palette-only .iris-picker .iris-palette {
  margin: 0;
  cursor: pointer;
  display: inline-block !important;
  height: 30px !important;
  width: 30px !important;
  float: none;
}

.palette-only .iris-palette-container {
  position: relative !important;
  left: 0 !important;
  bottom: 0 !important;
  padding: 8px 10px 4px;
}
