.enform-side-style {
  width: 100vw;
  min-height: 444px;
  overflow: hidden;
  display: flex;
  align-items: center;

  &:only-child {
    margin-bottom: 0;
  }

  .caption-overlay {
    display: block;
    background: url("../../images/carousel-blurred-overlay.png");
    background-position: bottom right;
    background-size: cover;
    height: 100%;
    width: 90%;
    position: absolute;
    margin-left: 0;
    z-index: 1;

    html[dir="rtl"] & {
      background-position: bottom left;
    }

    @include medium-and-up {
      width: 50%;
    }
  }

  // Darken background
  &::after {
    @include fill-container;
    content: "";
    background: rgba(30, 30, 30, 0.45);
  }

  picture {
    align-self: start;

    @include large-and-up {
      display: block;
    }

    img {
      position: absolute;
      height: auto;
      width: 100%;
      object-fit: cover;
      object-position: center center;
      opacity: 1;

      @supports (object-fit: cover) {
        & {
          height: 100%;
        }
      }
    }
  }

  .enform {
    overflow: hidden;
    align-items: center;
    min-height: 444px;
    background: white;
    padding-top: 28px;
    float: none;
    width: 100vw;
    margin-top: 0;
    margin-bottom: 0;

    margin-left: calc(((100vw - 100%) / 2) * -1);
    padding-left: calc(((100vw - 100%) / 2));
    padding-right: calc(((100vw - 100%) / 2));

    @include large-and-up {
      margin-top: 96px;
      margin-bottom: 60px;
      float: right;

      html[dir="rtl"] & {
        float: left;
      }

      width: 40%;
      max-width: 444px;
      box-sizing: content-box;
      box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
      padding: $sp-6 30px 34px;
    }

    .en__field--check {
      margin-top: $sp-2;

      .form-group {
        padding-top: 0;
        margin-bottom: 0;
      }

      label {
        margin-bottom: 0;
      }

      p {
        html[dir="rtl"] & {
          display: inline;
        }
      }
    }
  }

  .title-and-description {
    padding: $sp-2;

    @include large-and-up {
      padding: 0;
    }

    .enform-extra-header-placeholder {
      .container {
        padding-top: 0;
      }

      .counter-block _-- {
        margin-bottom: 0;
        margin-top: 32px;
      }

      .progress-container {
        margin-bottom: $sp-2;
        height: $sp-1x;

        html[dir="rtl"] & {
          margin-bottom: $sp-4;
        }
      }

      .counter-text {
        margin-bottom: 0;

        html[dir="rtl"] & {
          text-align: right;
        }
      }
    }

    .form-description {
      margin-bottom: $sp-4;

      html[dir="rtl"] & {
        font-size: 0.75rem;
      }
    }
  }

  .form-container {
    background: var(--white);
    padding: $sp-2;

    @include large-and-up {
      padding: 0;
    }

    .formblock-flex .en__field {
      width: 100%;
    }
  }
}
