// Moved from https://github.com/greenpeace/planet4-plugin-gutenberg-blocks/blob/main/assets/src/styles/blocks/core-overrides/Image.scss
.wp-block-image {
  position: relative;
  width: auto;
  max-width: 100%;
  margin-top: $sp-1;
  margin-bottom: $sp-2;

  // Mimics the behavior of WP's native '.is-resized' CSS class
  .editor-rich-text.block-editor-rich-text {
    display: table-caption;
    caption-side: bottom;

    .wp-block-image & {
      display: table;
    }

    figcaption {
      display: block;
    }
  }

  &.is-style-rounded-180 {
    @include rounded-image-size(180px);
  }

  &.is-style-rounded-90 {
    @include rounded-image-size(90px);
  }

  &:not(.force-no-lightbox) img {
    cursor: pointer;
  }

  &.force-no-caption figcaption {
    display: none !important;
  }

  &.square-40 {
    @include square-image-size(40px);
  }

  &.square-80 {
    @include square-image-size(80px);
  }

  @include large-and-up {
    margin-top: $sp-2;
    margin-bottom: $sp-4;
  }

  figure {
    position: relative;
  }

  &.alignleft {
    float: left;
    margin-inline-end: $sp-1;
  }

  &.alignright {
    float: right;
    margin-inline-start: $sp-1;
  }

  &.aligncenter {
    margin-left: auto;
    margin-right: auto;
  }

  @include medium-and-up {
    .image-credit {
      position: absolute;
      text-align: right;
      right: 10px;
      width: 100%;
      color: var(--white);
      z-index: 2;
    }
  }

  img {
    height: auto;
  }

  &.caption-alignment-left figcaption {
    text-align: left;
  }

  &.caption-alignment-right figcaption {
    text-align: right;
  }
}
