{% set container_id = is_modal ? 'item-modal-issue' : 'item-issue' %}
{% set input_class = is_modal ? 'modal-checkbox' : '' %}

{% if ( categories|length > 0 ) %}
<div class="filteritem">
    <a data-bs-toggle="collapse" href="#{{ container_id }}" aria-expanded="true">
        {{ __( 'Category', 'planet4-master-theme' ) }} <span></span>
    </a>
    <div id="{{ container_id }}" class="collapse show" role="tabpanel">
        {# Here we render the CategoriesFilter component #}
    </div>
</div>
{% endif %}
