// P4 Blocks
@import "blocks/Articles";
@import "blocks/Columns";
@import "blocks/Counter";
@import "blocks/File";
@import "blocks/Happypoint";
@import "blocks/Media";
@import "blocks/SocialMediaCards";
@import "blocks/SplitTwoColumns";
@import "blocks/Submenu";
@import "blocks/Cookies";

@import "blocks/TakeActionBoxout/style";

// Native Blocks
@import "blocks/core-overrides/Image";
@import "blocks/core-overrides/BlockSpacing";
@import "blocks/core-overrides/Separator";
@import "blocks/core-overrides/Table";
@import "blocks/core-overrides/media-text";
@import "blocks/core-overrides/columns";
@import "blocks/core-overrides/Heading";

// Other
@import "blocks/WideBlocks";

.is-style-small-padding {
  padding: 8px;
}

.is-style-medium-padding {
  padding: 16px;
}

.is-style-large-padding {
  padding: 32px;
}

.is-style-space-evenly {
  & > * {
    flex-grow: 1;
    flex-basis: 100%;
    align-self: stretch;

    @include medium-and-up {
      flex-grow: 0;
      flex-basis: calc(50% - calc(var(--wp--style--block-gap, 2em) / 2));
    }

    @include large-and-up {
      flex-basis: 0;
      flex-grow: 1;
    }
  }
}

.is-style-roboto-font-family {
  font-family: $roboto;
}

// Variations
@import "../variations/stretched-link";
