@import "master-theme/assets/src/scss/base/tokens";
@import "master-theme/assets/src/scss/base/colors";
@import "master-theme/assets/src/scss/base/variables";
@import "master-theme/assets/src/scss/base/colors";
@import "master-theme/assets/src/scss/base/functions";
@import "master-theme/assets/src/scss/base/mixins";
@import "master-theme/assets/src/scss/base/fonts";

@import "blocks";

@import "blocks/ColumnsEditor";
@import "blocks/SubmenuEditor";
@import "blocks/HappypointEditor";
@import "blocks/ENForm/ENFormEditorStyle";
@import "blocks/TakeActionBoxout/edit";
@import "blocks/CookiesEditor";
@import "blocks/core-overrides/HeadingEditor";
@import "../variations/stretched-link/edit";

@import "components/LayoutSelector";
@import "components/EmptyMessage";
@import "components/Preview";
@import "components/CharacterCounter";
@import "components/FormSectionTitle";
@import "components/FormHelp";
@import "components/InlineFormFeedback";
@import "components/ValidationMessage";
@import "components/FormField";
@import "components/HTMLSidebarHelp";
@import "components/ImageHoverButtons";
@import "editorFonts";

.block-edit-mode-warning {
  padding: $sp-2;
  margin: 0;
}

.block-editor-block-list__layout > * {
  margin-top: $sp-1;
  margin-bottom: $sp-2;

  @include large-and-up {
    margin-top: $sp-2;
    margin-bottom: $sp-4;
  }
}
