// Global
@import "styleguide/src/base/variables";
@import "styleguide/src/base/colors";
@import "styleguide/src/base/functions";
@import "styleguide/src/base/mixins";
@import "styleguide/src/base/fonts";

// P4 Blocks
@import "blocks/Articles";
@import "blocks/Columns";
@import "blocks/CarouselHeader";
@import "blocks/CarouselHeader_full_width_classic";
@import "blocks/Covers/TakeActionCovers";
@import "blocks/Covers/CampaignCovers";
@import "blocks/Covers/ContentCovers";
@import "blocks/Counter";
@import "blocks/Gallery_carousel";
@import "blocks/Gallery_content_three_column";
@import "blocks/Gallery_grid";
@import "blocks/File";
@import "blocks/Happypoint";
@import "blocks/Media";
@import "blocks/Socialmedia";
@import "blocks/SocialMediaCards";
@import "blocks/SplitTwoColumns";
@import "blocks/Submenu";
@import "blocks/Timeline";

// Native Blocks
@import "blocks/core-overrides/Image";
