.filter-sidebar {
  position: relative;

  h4 {
    font-size: $font-size-xl;
    margin-bottom: $sp-6;
    font-weight: bold;
  }

  .filteritem {
    a {
      border-color: var(--grey-300);
      text-transform: none;
      border-bottom-width: 2px;
      border-style: solid;
      display: block;
      border-top: 0;
      border-left-width: 1px;
      border-right-width: 1px;
      padding: $sp-1x $sp-4;
      text-decoration: none;
      color: var(--color-text-body);
      font-weight: bold;
      position: relative;
      font-size: $font-size-sm;
      margin-bottom: $sp-3;

      @include small-and-up {
        padding: $sp-1x $sp-4;
        font-size: 1.125rem;
        margin-bottom: $sp-4;
      }

      @include large-and-up {
        padding: $sp-1x $sp-4;
        font-size: $font-size-md;
      }

      span {
        position: absolute;
        width: 14px;
        height: 14px;
        right: 0;
        top: 0;
        background-color: transparent;
        margin: $sp-2;

        html[dir="rtl"] & {
          right: auto;
          left: 0;
        }

        &:before,
        &:after {
          content: "";
          position: absolute;
          background-color: var(--grey-900);
          transition: transform 0.25s ease-out;
        }

        &:before {
          top: 0;
          left: 50%;
          width: 4px;
          height: 100%;
          margin-left: -2px;
          transform: rotate(90deg);
        }

        &:after {
          top: 50%;
          left: 0;
          width: 100%;
          height: 4px;
          margin-top: -2px;
        }
      }

      &.collapsed {
        border-bottom-width: 2px;

        span {
          &:before {
            transform: rotate(180deg);
          }

          &:after {
            transform: rotate(180deg);
          }
        }
      }
    }

    ul {
      li {
        height: 42px;
        display: block;
      }
    }

    .custom-control .custom-control-description {
      font-size: $font-size-sm;
    }
  }

  .filter-button {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: $sp-4;
    z-index: 2;

    html[dir="rtl"] & {
      right: 0;
      left: auto;
    }

    @include small-and-up {
      margin-top: -$sp-2;
    }

    .btn-filter {
      height: 48px;
      padding: 0 $sp-3;
      margin-top: -$sp-2;

      svg {
        margin-inline-end: $sp-x;
        vertical-align: baseline;
        transition: none;
      }

      @include small-and-up {
        font-size: $font-size-sm;
      }
    }
  }
}
