.filter-modal {
  .modal-dialog {
    max-width: 90%;
  }

  .modal-body {
    padding: $sp-4 15px;

    @include small-and-up {
      padding: $sp-6x;
    }
  }

  .modal-title {
    font-size: 1.625rem;
    margin-bottom: 24px;

    @include small-and-up {
      font-size: 2.125rem;
    }
  }

  .cancelbtn,
  .btn-secondary {
    min-width: 45%;
  }

  .cancelbtn {
    border-color: var(--p4-action-yellow-500);
    color: var(--p4-action-yellow-500);
    padding-left: 0;
    padding-right: 0;

    &:hover {
      background: transparent;
      color: var(--grey-900);
    }
  }

  .applybtn {
    width: 50%;
    float: right;
    padding-left: 0;
    padding-right: 0;
  }

  .closebtn {
    background-color: var(--white);
    border: none;
    margin-top: -5px;
    border-radius: 50%;
    padding: 8px 12px;
    margin-right: 0;
    transition: color, border-color, background-color 150ms linear;

    &:hover {
      background-color: var(--grey-200);
    }

    .icon {
      top: 0;
    }

    .icon-cross {
      font-size: 0.75rem;
    }
  }
}
