.filter-modal {
  @include medium-and-up {
    .modal-dialog {
      max-width: 90%;
    }
  }
  .modal-body {
    padding: $sp-3 $sp-2;
  }

  .modal-title {
    font-size: 1.625rem;
    margin-bottom: $sp-3;
  }

  .cancelbtn,
  .btn-secondary {
    min-width: 45%;
  }

  .cancelbtn {
    border-color: var(--p4-action-yellow-500);
    color: var(--p4-action-yellow-500);
    padding-left: 0;
    padding-right: 0;

    &:hover {
      background: transparent;
      color: var(--grey-900);
    }
  }

  .applybtn {
    width: 50%;
    float: right;
    padding-left: 0;
    padding-right: 0;
  }

  .closebtn {
    background-color: var(--white);
    border: none;
    margin-top: -5px;
    border-radius: 50%;
    padding: $sp-1x $sp-1;
    transition: color, border-color, background-color 150ms linear;

    &:hover {
      background-color: var(--grey-200);
    }

    .icon {
      top: 0;
      height: 24px;
      width: 24px;
    }
  }
}
