.search-info {
  font-size: $font-size-xxs;
  margin-bottom: 0;
  font-family: var(--font-family-primary);
  font-style: italic;
  color: var(--grey-800);
  line-height: normal;

  @include medium-and-up {
    font-size: 1.125rem;
  }

  @include large-and-up {
    font-size: $font-size-xl;
  }

  @include x-large-and-up {
    font-size: 2rem;
  }
}
