.search-bar {
  width: 100%;
  background: rgba($white, 0.7);
  padding: 24px 15px;
  border-radius: 4px;
  border: 1px solid var(--grey-300);

  @include small-and-up {
    padding: 32px;
  }

  input {
    font-size: $font-size-sm;
    line-height: 2.75;
    appearance: none;

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }

    // Hack to hide the input:-internal-autofill-selected style from webkit
    &:-webkit-autofill,
    &:-webkit-autofill:focus {
      transition: background-color 600000s 0s, color 600000s 0s;
    }

    &:placeholder-shown ~ button.clear-search {
      visibility: hidden;
    }

    @include large-and-up {
      font-size: 1.125rem;
      line-height: 3;
    }
  }

  .search-input-container {
    display: flex;
    position: relative;
  }

  .clear-search {
    @include clear-input-styles;
    position: absolute;
    right: $sp-3;
    top: 0;
    bottom: 0;
    margin: auto;

    html[dir="rtl"] & {
      right: auto;
      left: $sp-3;
    }
  }

  .search-btn {
    font-size: $font-size-sm;

    svg {
      margin-right: 4px;
      vertical-align: baseline;
      margin-top: -3px;
    }

    @include medium-and-up {
      margin-inline-start: $sp-3;
    }

    i {
      font-size: 1.125rem;
      line-height: 0;
      float: left;
      margin-top: 22px;

      @include large-and-up {
        margin-top: 27px;
      }
    }
  }
}
