.search-result-list {
  height: 150px;

  @include small-and-up {
    height: 120px;
  }

  @include large-and-up {
    height: 235px;
  }

  @include x-large-and-up {
    height: 208px;
  }
}

.multiple-search-result {
  height: 100%;
  padding-top: 100px;

  @include small-and-up {
    padding-top: $sp-4;
  }

  ul {
    li {
      padding-bottom: $sp-4;
      margin: 0 auto $sp-3;
      position: relative;
      align-items: flex-start;
      border-bottom: 1px solid var(--grey-300);

      .search-result-item-image {
        width: 0;
        margin-right: 0;
        visibility: hidden;

        img {
          width: 100%;
        }

        @include small-and-up {
          width: 25%;
          min-width: 25%;
          margin-inline-end: $sp-4;
          visibility: visible;
        }
      }

      .search-result-item-image:hover ~ * .search-result-item-headline {
        text-decoration: underline;
      }
    }
  }

  .more-btn {
    margin-top: $sp-3;

    @include large-and-up {
      margin-top: $sp-4;
    }
  }
}

.search-result-item-body {
  .search-result-item-flex-title {
    width: 100%;

    > div:first-child {
      width: 100%;
    }

    @include medium-and-up {
      display: flex;
    }
  }

  .btn {
    margin-top: $sp-3;
    width: 100%;

    @include medium-and-up {
      width: auto;
    }

    &.btn-secondary {
      margin-bottom: $sp-3;
      white-space: nowrap;

      @include medium-and-up {
        padding: 0 $sp-2;
        margin-left: $sp-2;
        margin-top: 0;
      }
    }
  }

  .search-results-alternative-label {
    display: none;
    background: var(--blue-green-800);
    color: var(--white);
    border-radius: 4px;
    width: auto;
    height: 40px;
    line-height: 40px;
    padding: 0 $sp-2;
    font-size: $font-size-sm;
    font-weight: var(--font-weight-regular);
    text-align: center;
    word-break: keep-all;

    &.search-results-alternative-label-mobile {
      display: inline-block;
      height: $sp-4;
      line-height: $sp-4;
      margin-bottom: $sp-1;

      @include medium-and-up {
        display: none;
      }
    }

    @include medium-and-up {
      padding: 0 $sp-3;
      display: block;
      width: auto;
      position: relative;
      top: $sp-x;
      margin-left: $sp-1x;
    }

    i {
      font-size: $font-size-sm;
      font-weight: bold;
      margin-right: $sp-1;
      float: left;
      line-height: 2.2rem;
    }
  }
}

.search-result-item-actionbox {
  position: relative;
  display: block;
  width: 100%;
  float: left;

  @include small-and-up {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.search-result-item-info {
  color: var(--grey-800);
  line-height: normal;
  margin-bottom: $sp-1;
  font-size: $font-size-xxs;

  @include large-and-up {
    font-size: $font-size-xs;
  }
}

.search-result-item-content {
  font-size: $font-size-sm;
  font-family: var(--font-family-secondary);
  line-height: 1.6;
  margin-bottom: $sp-1;

  @include large-and-up {
    font-size: 1.125rem;
  }
}

.search-result-item-author {
  font-weight: 500;

  &:after {
    content: "\2022";
    display: inline-block;
    padding-left: $sp-x;
    padding-right: $sp-x;
  }

  a {
    color: var(--grey-800);
  }
}

.search-result-tags {
  .search-result-item-title {
    background: var(--grey-500);
    color: var(--white);
    font-weight: bold;
    padding: 2px $sp-1;
    text-decoration: none;
    margin-inline-end: $sp-1;
    display: inline-block;
  }

  .tags {
    @include mobile-only {
      margin-top: $sp-x;
    }
  }

  .search-result-item-tag {
    &:before {
      top: -2px;
    }
  }
}
