.search-bar {
  width: 100%;
  background: transparentize($white, .7);
  border: 1px solid $faded-jade;
  padding: 24px 15px;

  @include small-and-up {
    padding: 32px;
  }

  input {
    font-size: $font-size-sm;
    height: 2.75em;
    line-height: 2.75;
    appearance: none;

    @include large-and-up {
      font-size: 1.125rem;
      height: 3em;
      line-height: 3;
    }
  }

  .search-btn {
    font-size: $font-size-sm;
    line-height: 2.75;

    @include large-and-up {
      margin-top: 2px;
      line-height: 3;
    }

    i {
      font-size: 1.125rem;
      line-height: 0;
      float: left;
      margin-top: 22px;

      @include large-and-up {
        margin-top: 27px;
      }
    }
  }
}
