.search {
  @include linear-gradient(to bottom, transparentize($green-20, .15) 0%, transparentize($grey-10, .5) 100%);

  .multiple-search-result .more-btn {
    width: auto;
    margin-bottom: $space-xxl;
  }
}

.search-block {
  padding-top: 56px;

  @include small-and-up {
    padding-top: 64px;
  }
}

.result-statement {
  font-size: $font-size-xl;
  margin-bottom: 8px;
  line-height: 1.2;

  @include small-and-up {
    font-size: $font-size-xxxl;
  }

  @include large-and-up {
    font-size: 3.5rem;
  }

  @include x-large-and-up {
    font-size: 4.125rem;
  }
}

.without-search-result,
.search-result {
  margin-top: 48px;

  @include small-and-up {
    margin-top: 0;
  }

  @include large-and-up {
    margin-top: 94px;
  }

  @include x-large-and-up {
    margin-top: 120px;
  }

  .search-help-info {
    font-size: $font-size-sm;
    margin-bottom: 24px;
    padding-left: 20px;
    color: $grey-60;
    line-height: 1.8;

    @include small-and-up {
      font-size: 1.125rem;
      margin-bottom: 32px;
      padding-left: 20px;
    }

    @include large-and-up {
      margin-bottom: 45px;
      padding-left: 30px;
    }

    @include x-large-and-up {
      font-size: $font-size-lg;
      margin-bottom: 40px;
      padding-left: 50px;
    }
  }
}

.toggle-wrapper {
  display: inline-block;
  margin-left: 48px;

  .toggle-button {
    display: inline-block;

    label {
      margin-bottom: -0.6rem;
    }
  }

  span {
    font-family: $roboto;
    font-size: 1.12rem;
    font-weight: bold;
    color: #074365;
    margin-left: 10px;
  }
}
