div.search-filter-results {
  margin-top: 48px;
  z-index: auto;

  .skip-link {
    background: var(--white);
    padding: $sp-x;
    position: absolute;
    transform: translateX(-100vw);
    border-radius: 4px;
    top: -$sp-5;
    width: fit-content;
    font-size: var(--font-size-m--font-family-tertiary);
    font-family: var(--font-family-tertiary);
  }

  .skip-link:focus {
    transform: translateX(0%);
    text-decoration: none;
  }

  @include small-and-up {
    margin-top: 75px;
  }

  @include large-and-up {
    margin-top: 100px;
  }
}

.sort-filter {
  width: 100%;
  text-align: right;
  float: none;

  html[dir="rtl"] & {
    text-align: left;
  }

  @include medium-and-less {
    display: none;
  }

  .select-container {
    margin-top: -14px;
  }

  label {
    font-weight: bold;
    margin-inline-end: 0.5rem;
    font-size: $font-size-xl;
  }

  select {
    width: 270px;
    display: inline-block;
  }
}
