div.search-filter-results {
  margin-top: 48px;
  z-index: auto;

  @include small-and-up {
    margin-top: 75px;
  }

  @include large-and-up {
    margin-top: 100px;
  }
}

.sort-filter {
  width: 50%;
  float: right;
  text-align: right;

  html[dir="rtl"] & {
    float: left;
    text-align: left;
  }

  @include small-and-up {
    width: 100%;
    float: none;

    html[dir="rtl"] & {
      float: none;
    }
  }

  .select-container {
    margin-top: -7px;

    @include small-and-up {
      margin-top: -14px;
    }
  }

  label {
    font-size: 1.125rem;
    margin-inline-end: 90px;
    font-weight: bold;

    @include small-and-up {
      margin-inline-end: 0.5rem;
    }

    @include large-and-up {
      font-size: 1.625rem;
    }

    @include large-and-up {
      font-size: $font-size-xl;
    }
  }


  select,
  ::picker(select) {
    appearance: base-select;
    width: 151px;
    vertical-align: top;
    padding: $sp-1x $sp-2;
    font-family: var(--font-family-tertiary);
    font-size: var(--font-size-m--font-family-tertiary);
    border-radius: 4px;

    &:focus {
      box-shadow: 0 0 0 2px var(--gp-green-800);
      border-color: transparent;
      background-color: white;
      outline: 0;
    }

    &::picker-icon {
      content: url("../../images/select-arrow.svg");
      transition: 0.4s rotate;
    }

    &:open::picker-icon {
      rotate: 180deg;
    }

    @include small-and-up {
      width: 210px;
    }

    @include large-and-up {
      width: 224px;
    }

    @include large-and-up {
      width: 270px;
    }
  }
}
