div.search-filter-results {
  margin-top: 48px;
  z-index: auto;

  @include small-and-up {
    margin-top: 75px;
  }

  @include large-and-up {
    margin-top: 100px;
  }
}

.sort-filter {
  width: 50%;
  float: right;
  text-align: right;

  html[dir="rtl"] & {
    float: left;
    text-align: left;
  }

  @include small-and-up {
    width: 100%;
    float: none;

    html[dir="rtl"] & {
      float: none;
    }
  }

  .select-container {
    margin-top: -7px;

    @include small-and-up {
      margin-top: -14px;
    }
  }

  label {
    font-size: 1.125rem;
    margin-inline-end: 90px;
    font-weight: bold;

    @include small-and-up {
      margin-inline-end: 0.5rem;
    }

    @include large-and-up {
      font-size: 1.625rem;
    }

    @include large-and-up {
      font-size: $font-size-xl;
    }
  }

  select {
    width: 151px;
    display: inline-block;

    @include small-and-up {
      width: 210px;
    }

    @include large-and-up {
      width: 224px;
    }

    @include large-and-up {
      width: 270px;
    }
  }
}
