@import "../../base/variables";
@import "../../base/mixins";

.social-media-block {
  z-index: 3;

  .social-media-embed {
    &.aligncenter {
      text-align: center;

      > * {
        margin-left: auto !important;
        margin-right: auto !important;
      }
    }

    &.alignright {
      float: right;
    }

    &-facebook {
      border: none;
      overflow: hidden;
      height: 500px;
      width: 240px;

      @include medium-and-up {
          width: 500px;
      }
    }
  }
}
