@import "../../base/colors";
@import "../../base/variables";
@import "../../base/mixins";

.social-media-block {
  z-index: 3;

  .social-media-embed {
    &.aligncenter {
      text-align: center;

      > * {
        margin-left: auto !important;
        margin-right: auto !important;
      }
    }

    &.alignright {
      float: right;
    }

    &-facebook {
      border: none;
      overflow: hidden;
      height: 500px;

      &--small {
        width: 240px;
        display: block;

        @include medium-and-up {
          display: none;
        }
      }

      &--large {
        width: 500px;
        display: none;

        @include medium-and-up {
          display: block;
        }
      }
    }
  }
}
