@import "../../scss/base/colors";
@import "../../scss/base/variables";
@import "../../scss/base/colors";
@import "../../scss/base/functions";
@import "../../scss/base/mixins";
@import "../../scss/base/fonts";

@import "blocks";

.block-edit-mode-warning {
  padding: $sp-2;
  margin: 0;
}

.block-editor-block-list__layout > * {
  margin-top: $sp-1;
  margin-bottom: $sp-2;

  @include large-and-up {
    margin-top: $sp-2;
    margin-bottom: $sp-4;
  }
}
