div.page-template {
  width: 540px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @include medium-and-up {
    width: 720px;
  }

  @include large-and-up {
    width: 960px;
  }

  @include x-large-and-up {
    width: 1140px;
  }

  .container {
    padding-left: 0;
    padding-right: 0;
  }

  > * {
    position: relative;
    z-index: 2;
  }

  img {
    max-width: 100%;
    height: auto;

    &.alignnone {
      margin-top: $space-md;
      margin-bottom: $space-xl;

      @include large-and-up {
        margin-top: $space-lg;
        margin-bottom: $space-xxl;
      }
    }
  }

  .alignleft {
    @include small-and-up {
      float: left;
      margin: 0 $n10 $n10 0;
      padding-top: 6px;
    }
  }

  .alignright {
    @include small-and-up {
      float: right;
      margin: 0 0 $n10 $n10;
      padding-top: 6px;
    }
  }

  .aligncenter {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .single-campaign & {
    section:first-child {
      padding-top: $n50;
    }
  }
}
