.page-content-wrap {
  padding-top: 100px;

  @include small-and-up {
    padding-top: 80px;
  }

  @include medium-and-up {
    padding-top: 50px;
  }

  @include large-and-up {
    margin-top: -7px;
  }

  @include x-large-and-up {
    padding-top: 200px;
  }

  h2 {
    @include small-and-up {
      font-size: rem(25);
      font-weight: 500;
      margin-top: 20px;
    }
  }

  .fixed-element {
    transition: all 0.2s ease 0s;

    h1 {
      color: $blue-heading;

      @include small-and-up {
        font-size: rem(40);
        font-weight: 400;
        line-height: 40px;
      }
    }

    &.sticky {
      position: fixed;
      font-size: rem(24);
      width: 100%;
      text-align: left;
      z-index: 500;
      top: 0;
      background: $fixed-nav-bg;
      opacity: 0.95;
      padding: 5px 0;

      @include medium-and-up {
        width: 100%;
      }

      @include large-and-up {
        top: 0;
      }

      h1 {
        display: inline-block;
        font-size: rem(35);
        color: $white;

        @include medium-and-up {
          font-size: rem(25);
        }
      }

      .top-tags-wrap {
        span {
          color: $white;
          display: none;
        }
      }
    }
  }

  .top-tags-wrap {
    font-size: rem(14);
    line-height: rem(16.8);
    color: $blue-heading;

    @include medium-and-up {
      font-size: rem(16);
      line-height: rem(22);
    }

    @include large-and-up {
      font-size: rem(18);
      line-height: rem(22);
    }

    @include x-large-and-up {
      font-size: rem(20);
      line-height: rem(26);
    }

    .category-topic-title {
      font-weight: bold;
      margin-right: 5px;
    }

    .category-topic-title-seprater {
      background: $percentage-text;
      width: 5px;
      height: 5px;
      display: inline-block;
      border-radius: 5px;
      vertical-align: middle;
      margin-right: 5px;
    }
  }

  .about-info {
    @include x-large-and-up {
      margin-bottom: 72px;
    }

    h2 {
      margin-top: 30px;
      color: $blue-heading;
    }

    p {
      font-size: rem(17);
      line-height: rem(28.9);

      @include medium-and-up {
        font-size: rem(19);
        line-height: rem(33);
      }

      @include large-and-up {
        font-size: rem(20);
        line-height: rem(34);
      }

      @include x-large-and-up {
        font-size: rem(22);
        line-height: rem(38);
      }
    }
  }

  .home-page-carousel-wrap {
    .carousel-caption {
      text-align: left;
      left: auto;
      bottom: 0;
      right: 0;
      width: 100%;
      padding: 30px 200px 30px 50px;
      background: -moz-linear-gradient(66.31% -110.5% -120deg, rgba(10, 51, 81, 0) 0%, rgba(10, 51, 81, 1) 100%);
      background: -webkit-linear-gradient(-120deg, rgba(10, 51, 81, 0) 0%, rgba(10, 51, 81, 1) 100%);
      background: -webkit-gradient(linear, 66.31% -110.5%, 33.69% 210.5%, color-stop(0, rgba(10, 51, 81, 0)), color-stop(1, rgba(10, 51, 81, 1)));
      background: -o-linear-gradient(-120deg, rgba(10, 51, 81, 0) 0%, rgba(10, 51, 81, 1) 100%);
      background: -ms-linear-gradient(-120deg, rgba(10, 51, 81, 0) 0%, rgba(10, 51, 81, 1) 100%);
      background: linear-gradient(210deg, rgba(10, 51, 81, 0) 0%, rgba(10, 51, 81, 1) 100%);
      filter: progid:dximagetransform.microsoft.gradient(startColorstr="#0a3351", endColorstr="#0a3351", GradientType=1);
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#0A3351', endColorstr='#0A3351' ,GradientType=0)";

      @include small-and-up {
        padding: 30px;
      }
    }

    h3 {
      @include small-and-up {
        font-size: rem(18);
        line-height: normal;
      }
    }

    p {
      @include small-and-up {
        line-height: normal;
        font-size: rem(12);
      }
    }

    .carousel-indicators {
      right: 0;
      bottom: 30px;
      left: auto;
      margin-right: 5%;

      @include small-and-up {
        bottom: 5px;
      }

      li {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: $white;
        margin: 0 15px;
        cursor: pointer;

        &.active {
          background: $carousel-active;
        }

        @include small-and-up {
          margin: 0 5px;
        }
      }
    }

    .carousel-control-prev,
    .carousel-control-next {
      opacity: 1;

      .carousel-control-prev-icon,
      .carousel-control-next-icon {
        background-image: none;
        border: solid 1px $white;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        display: block;
        text-align: center;
        background-color: $carr-arrow;
        opacity: 0.4;

        @include small-and-up {
          height: 40px;
          width: 40px;
        }

        i {
          background: url("images/sprite.png");
          height: 32px;
          width: 22px;
          vertical-align: middle;
          display: inline-block;
          margin: 6px 2px 0 0;

          @include small-and-up {
            margin: 2px 2px 0 0;
          }
        }
      }

      .carousel-control-next-icon {
        i {
          background-position: -21px 1px;
        }
      }
    }
  }
}

.what-you-can-do-wrapper {
  margin-bottom: 40px;

  @include medium-and-up {
    margin-bottom: 0;
  }

  h3 {
    font-size: rem(22);
    font-weight: 700;
    margin-bottom: 15px;
    line-height: 1.2;
    padding-top: 0;

    @include small-and-up {
      padding-top: 20px;
    }

    @include medium-and-up {
      padding-top: 0;
      font-size: rem(24);
    }

    @include large-and-up {
      font-size: rem(28);
    }

    @include x-large-and-up {
      padding-top: 0;
      font-size: rem(30);
      margin-bottom: 20px;
    }
  }

  .col-md-12 {
    font-family: $lora;
    padding-top: 30px;

    @include small-and-up {
      padding-top: 0;
    }
  }

  .add-action-list-wrap {
    @include small-and-up {
      margin: 20px 0 0;
    }

    @include medium-and-up {
      margin: 20px 0 0;
    }

    .btn-primary {
      @include small-and-up {
        width: 57%;
        font-size: rem(12);
      }

      @include medium-and-up {
        width: 60%;
      }
    }
  }

  p {
    color: $dark-para-text;
    font-size: rem(17);
    line-height: 1.6;

    @include medium-and-up {
      font-size: rem(19);
    }

    @include large-and-up {
      font-size: rem(20);
    }

    @include x-large-and-up {
      font-size: rem(22);
    }
  }
}

.can-do-steps {
  cursor: default;
  margin-top: 35px;
  position: relative;

  @include medium-and-up {
    margin-bottom: 50px;
  }

  @include medium-and-up {
    margin-bottom: 60px;
  }

  @include large-and-up {
    margin: 35px 0 0 0;
  }

  @include x-large-and-up {
    @include clearfix;
    margin: 35px 0 80px;
  }

  .step-number {
    float: left;
    display: block;
    margin-right: rem(20);
    width: 74px;
    height: 74px;
    line-height: 74px;
    text-align: center;
    font-size: rem(44);
    background: $grey;
    border-radius: 50%;
    color: $white;
    opacity: 0.7;
    text-transform: uppercase;
    font-weight: 500;

    @include large-and-up {
      float: none;
      width: 126px;
      height: 126px;
      vertical-align: middle;
      line-height: 118px;
      font-size: rem(70);
      position: relative;
      background-color: $dark-blue;
      opacity: 1;
    }

    @include x-large-and-up {
      width: 126px;
      height: 126px;
      font-size: rem(70);
    }

    &.active {
      background: $grey;
      opacity: 0.8;
      color: $white;

      @include large-and-up {
        background-color: $allports;
        opacity: 1;
      }

      .step-number-inner {
        @include large-and-up {
          background-color: $allports;
          border-color: $spray;
        }
      }
    }

    .step-number-inner {
      @include large-and-up {
        position: absolute;
        background-color: $dark-blue;
        border-color: $spray;
        border-style: solid;
        border-width: 2px;
        border-radius: 50%;
        right: 5px;
        left: 5px;
        top: 5px;
        bottom: 5px;
      }
    }
  }

  .step-info {
    h5 {
      font-size: rem(15);
      line-height: rem(19.5);
      font-weight: 700;
      color: $percentage-text;

      @include medium-and-up {
        font-weight: 500;
        color: $darkb-blue-text;
        font-size: rem(20);
        line-height: rem(30);
      }

      @include large-and-up {
        padding-top: 48px;
        font-size: rem(20);
        line-height: rem(30);
        color: $dark-shade-black;
      }

      @include x-large-and-up {
        margin-bottom: 18px;
      }
    }

    p {
      font-family: $lora;
      color: $dark-shade-black;
      font-size: rem(14);
      opacity: 0.75;

      @include x-large-and-up {
        font-size: rem(15);
        line-height: 1.6;
        margin-bottom: 20px;
      }
    }

    .blue-button {
      width: 100%;
    }

    .steps-action {
      margin-top: 20px;
    }
  }
}

.can-do-steps-mobile {
  margin: 6px 15px 0 0;
  width: 100%;

  .card-header {
    background: $grey;
    border: none;
    color: $white;
    font-weight: 400;
    font-size: rem(15);
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  .card {
    background: none;
    border: none;
    box-shadow: none;

    .card-header {
      padding: 10px 10px 5px 10px;
      margin-bottom: 10px;
    }

    .info-with-image-wrap {
      .accordion-image-wrap {
        float: left;
        width: 50%;

        img {
          width: 100%;
        }
      }

      .mobile-accordion-info {
        width: 60%;
        float: left;
        margin-left: 10px;
        color: $percentage-text;
        font-size: rem(14);
      }
    }

    .card-block {
      padding: 8px 0 8px 28px;
      border-bottom: none;
      margin-bottom: 10px;

      p {
        font-family: $lora;
        color: $dark-shade-black;
        font-size: rem(14);
        line-height: rem(22);
        margin-left: -10px;
        padding-right: 20px;
      }
    }

    .step-number {
      font-size: rem(16);
      font-weight: 900;
      color: $white;
      line-height: 1.5;
      padding-right: 9px;
      float: left;
      vertical-align: bottom;
      padding-bottom: 5px;
    }
  }
}

.friends-take-action-button {
  width: 100%;
  padding: 20px 0;
  margin: 10px 0;

  @include medium-and-up {
    width: 100%;
    padding: 20px 0;
  }

  .btn-primary {
    display: block;
  }
}

@include large-and-up {
  .sub-navigation-md {
    width: 100%;
    background: $fixed-nav-bg;
    opacity: 0.8;
    text-align: center;
    padding: 12px 0;

    ul {
      margin: 0;
    }

    li {
      width: 33.33%;
      float: left;
      line-height: 38px;

      &:first-child {
        border-right: solid 2px $border-color;
      }

      a {
        color: $white;
        font-size: rem(18);
        font-weight: 500;
      }
    }

    &.sticky {
      position: fixed;
      top: 0;
      opacity: 0.8;
      z-index: 500;
      transition-duration: .5s;
      background: $top-nav;
    }
  }
}
