// Buttons
//
// Markup:
// <div class="mb-2">
//   <a href="/international/act/protect-the-oceans/" class="btn {{modifier_class}}">Protect our seas</a>
// </div>
//
// .btn-primary - Primary button
// .btn-secondary - Secondary button
//
// Styleguide Components.buttons
.btn,
.wp-block-button a {
  display: inline-block;
  position: relative;
  font-family: $roboto;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: $white;
  font-weight: 500;
  border-radius: 0;
  border: 1px solid transparent;
  cursor: pointer;
  line-height: 3;
  padding: 0 $n30;
  appearance: none;
  transition-property: color, background-color, border-color;
  transition-duration: 150ms;
  transition-timing-function: linear;

  &:hover,
  &:focus,
  &:active {
    color: $white;
    text-decoration: none;
    outline: none;
  }

  &:disabled {
    opacity: .5;
  }
}

.btn-small {
  font-size: $font-size-xxs;
  line-height: 2.8;
}

.btn-medium {
  font-size: $font-size-sm;
  line-height: 3;
}

.btn-large {
  font-size: $font-size-md;
  line-height: 3.1;
}

.btn-primary,
.wp-block-button.is-style-cta a {
  background-color: $orange;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .25);

  &:hover,
  &:focus {
    background-color: $orange-hover;
    border-color: $orange-hover;
  }

  &:active,
  &:not(:disabled):not(.disabled):active {
    background-color: $orange-active;
    border-color: $orange-active;
  }
}

.btn-secondary,
.wp-block-button.is-style-secondary a,
[class="wp-block-button"] a {
  background-color: transparentize($white, .7);
  border-color: $dark-blue;
  color: $dark-blue;
  box-shadow: none;
  font-size: $font-size-xxs;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 40px;
  width: 100%;
  padding: 2px $n30;

  html[dir="rtl"] & {
    font-size: $font-size-sm;
    line-height: 2.5;
  }

  @include medium-and-up {
    margin-bottom: 40px;
    width: 50%;

    html[dir="rtl"] & {
      font-size: $font-size-md;
    }
  }

  @include large-and-up {
    margin-bottom: 0;
    width: 80%;
  }

  @include x-large-and-up {
    margin-bottom: 0;
    width: 60%;
  }

  &:visited {
    color: $dark-blue;
  }

  &:hover,
  &:focus {
    background-color: $dark-blue;
    border-color: $dark-blue;
    color: $white;
  }

  &:active,
  &:not(:disabled):not(.disabled):active {
    background-color: $active-blue;
    border-color: $active-blue;
  }
}

.btn-action {
  background-color: transparentize($white, .8);
  border-color: $white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .25);

  &:hover,
  &:focus {
    background-color: $orange;
    border-color: $orange;
  }

  &:active {
    background-color: $orange-hover;
    border-color: $orange-hover;
  }
}

.btn-donate,
.wp-block-button.is-style-donate a {
  background-color: $aquamarine;
  color: $grey;
  font-size: $font-size-sm;
  line-height: 1.65;
  min-width: 180px;
  margin: 0;
  padding: 2px $n30;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
  transition: color background-color font-weight 100ms;

  &:hover,
  &:focus {
    background-color: $spray;
    color: $black;
  }

  &:active {
    background-color: $java-dark;
  }

  @include large-and-up {
    font-size: $font-size-md;
  }
}

.btn-navbar-toggle {
  cursor: pointer;
  color: $gp-green;
  background-color: transparent;
  transition: background-color color font-weight 100ms;
  display: inline-block;

  &:hover,
  &:focus,
  &:active {
    color: $white;
    box-shadow: none;
    background-color: $x-dark-blue;
    border: 1px solid transparent;
  }

  @include small-and-up {
    background-color: $dark-blue;
    border-radius: 0;
    border: 1px solid transparent;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
  }
}

.btn-filter-item {
  background-color: transparent;
  border-color: $blue-tiber;
  color: $blue-tiber;
  padding: 0 $n50 0 $n30;
  position: relative;
  font-weight: 400;

  &:hover,
  &:focus {
    background-color: $blue-tiber;
    border-color: $blue-tiber;
  }

  &:active {
    background-color: $dark-tiber;
    border-color: $dark-tiber;
  }

  i {
    position: absolute;
    font-size: $font-size-xxs;
    right: 10px;
    top: 50%;
    transform: translate(0, -40%);
  }
}

.btn-filter-item-solid {
  background-color: $blue-tiber;
  border-color: $blue-tiber;
  padding: 0 $n50 0 $n30;
  position: relative;
  text-transform: none;

  &:hover,
  &:focus {
    background-color: $genoa;
    border-color: $genoa;
  }

  &:active {
    background-color: $dark-tiber;
    border-color: $dark-tiber;
  }

  i {
    position: absolute;
    font-size: $font-size-xxs;
    right: 10px;
    top: 50%;
    transform: translate(0, -40%);
  }
}

.no-btn {
  background: transparent;
  border: transparent;
  padding: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}
