/**
* Global functions.
*/

/**
* Test if `$value` is a valid direction
*
* @param {*} $value - Value to test
* @return {Bool}
*/

@function is-direction( $value ) {
  $is-keyword: index((to top, to top right, to right top, to right, to bottom right, to right bottom, to bottom, to bottom left, to left bottom, to left, to left top, to top left), $value);
  $is-angle: type-of($value) == "number" and index("deg" "grad" "turn" "rad", unit($value));

  @return $is-keyword or $is-angle;
}

/**
* Convert a direction to legacy syntax
*
* @param {Keyword | Angle} $value - Value to convert
* @require {function} is-direction
* @require {function} convert-angle
*/
@function legacy-direction( $value ) {
  $conversion-map: (
    to top : bottom,
    to top right : bottom left,
    to right top : left bottom,
    to right : left,
    to bottom right : top left,
    to right bottom : left top,
    to bottom : top,
    to bottom left : top right,
    to left bottom : right top,
    to left : right,
    to left top : right bottom,
    to top left : bottom right
  );

  @if map-has-key($conversion-map, $value) {
    @return map-get($conversion-map, $value);
  }

  @return 90deg - $value;
}
