@mixin adapt-padding-inline-start($containerWidth) {
  padding-inline-start: calc(100% - (#{$containerWidth} / 2) + 0.75rem);
}

@mixin adapt-padding-inline-end($containerWidth) {
  padding-inline-end: calc(100% - (#{$containerWidth} / 2) + 0.75rem);
}

.wp-block-media-text {
  &.is-style-parallax .wp-block-media-text__media {
    overflow: hidden;
  }

  // 601px is when the block is no longer stacked
  @media (max-width: 600px) {
    &.alignfull .wp-block-media-text__content {
      max-width: 540px;
      width: 100%;
      margin: auto;
    }

    .wp-block-media-text__content {
      padding: $sp-2;
    }

    .wp-block-button,
    .wp-block-button a {
      width: 100%;
    }
  }

  @media (min-width: 601px) {
    &.alignfull.has-media-on-the-right .wp-block-media-text__content {
      @include adapt-padding-inline-start(540px);
    }

    &.alignfull:not(.has-media-on-the-right) .wp-block-media-text__content {
      @include adapt-padding-inline-end(540px);
    }

    &.has-media-on-the-right .wp-block-media-text__content {
      padding-inline-end: $sp-3;
    }

    &:not(.has-media-on-the-right) .wp-block-media-text__content {
      padding-inline-start: $sp-3;
    }
  }

  &.alignfull.has-media-on-the-right .wp-block-media-text__content {
    @include medium-and-up {
      max-width: none;
      @include adapt-padding-inline-start(720px);
    }

    @include large-and-up {
      @include adapt-padding-inline-start(960px);
    }

    @include x-large-and-up {
      @include adapt-padding-inline-start(1140px);
    }

    @include xx-large-and-up {
      @include adapt-padding-inline-start(1320px);
    }
  }

  &.alignfull:not(.has-media-on-the-right) .wp-block-media-text__content {
    @include medium-and-up {
      max-width: none;
      @include adapt-padding-inline-end(720px);
    }

    @include large-and-up {
      @include adapt-padding-inline-end(960px);
    }

    @include x-large-and-up {
      @include adapt-padding-inline-end(1140px);
    }

    @include xx-large-and-up {
      @include adapt-padding-inline-end(1320px);
    }
  }

  @include large-and-up {
    &.has-media-on-the-right .wp-block-media-text__content {
      padding-inline-end: $sp-6;
    }

    &:not(.has-media-on-the-right) .wp-block-media-text__content {
      padding-inline-start: $sp-6;
    }
  }
}
