.wp-block-media-text {
  @include mobile-only {
    .wp-block-media-text__content {
      margin-top: $sp-3;
    }
  }

  &:not(.force-no-lightbox) img {
    cursor: pointer;
  }

  &.is-style-parallax .wp-block-media-text__media {
    overflow: hidden;
  }

  &.alignfull .wp-block-media-text__content {
    max-width: 440px;
    width: 100%;

    @include x-large-and-up {
      max-width: 522px;
    }

    @include xx-large-and-up {
      max-width: 612px;
    }
  }

  .wp-block-media-text__content {
    padding: $sp-2;
  }

  .wp-block-button,
  .wp-block-button a {
    width: 100%;
  }

  @include x-large-and-up {
    &.has-media-on-the-right .wp-block-media-text__content {
      padding-inline-end: $sp-6;
    }

    &:not(.has-media-on-the-right) .wp-block-media-text__content {
      padding-inline-start: $sp-6;
    }
  }
}
