.wp-block-quote {
  font-style: italic;
  quotes: auto;

  > p,
  > p.block-editor-rich-text__editable { // This is for the editor.
    font-size: $font-size-lg;
    line-height: 1.2;

    &:before {
      content: open-quote;
      display: block;
      font-weight: bold;
      font-size: 5rem;
      margin-bottom: -$sp-5;
      font-style: normal;
    }

    &:after {
      content: close-quote;
      font-weight: bold;
      margin-inline-start: $sp-x;
    }

    @include medium-and-up {
      font-size: $font-size-xl;
    }

    @include x-large-and-up {
      font-size: $font-size-xl;
    }
  }

  cite {
    font-style: normal;
  }
}
