.page-section {
  margin: 0 auto 40px auto;

  @include medium-and-up {
    margin: 0 auto 40px auto;
  }

  @include large-and-up {
    margin: 0 auto 60px auto;
  }

  @include x-large-and-up {
    margin: 0 auto 80px auto;
  }
}

.page-section-header {
  font-family: $roboto;
  font-size: 1.375rem;
  font-weight: 700;
  color: $black;
  margin-bottom: 15px;

  @include medium-and-up {
    font-size: 1.5rem;
    line-height: 1.2;
  }

  @include large-and-up {
    font-size: 1.75rem;
    margin-bottom: 20px;
  }

  @include x-large-and-up {
    font-size: 1.875rem;
  }
}

.page-section-description {
  font-size: 1rem;
  line-height: 1.6;
  margin: 0 0 24px;

  @include medium-and-up {
    width: 100%;
  }

  @include large-and-up {
    font-size: 1rem;
  }

  @include x-large-and-up {
    font-size: 1.125rem;
    margin: 20px 0;

    .row & {
      margin-top: 0;
    }
  }
}
