.covers-block.grid-layout {
  .covers {
    @supports (display: grid) {
      display: grid;
      grid-row-gap: $sp-3;
    }
  }

  .load-more-btn {
    display: block;
    margin: $sp-3 auto 0 auto;
  }
}
