.take-action-covers-block {
  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .load-more-covers-button-div {
    margin-top: $sp-1;
    text-align: center;
  }
}

.cover-card {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.16);
  transition: box-shadow 0.2s;
  min-height: 440px;
  border-radius: 4px;
  background: white;
  cursor: pointer;
  position: relative;
  font-family: $roboto;
  margin: auto;
  margin-bottom: 24px;

  &:hover {
    box-shadow: 0 1px 14px rgba(0, 0, 0, 0.3);

    .cover-card-heading {
      text-decoration: underline;
    }

    .btn {
      background: var(--button-primary--hover--background, #ee562d);
    }
  }

  img {
    height: 196px;
    max-height: 196px;
    min-height: 196px;
    width: 100%;
    object-fit: cover;
    margin-inline-end: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    position: relative;
    z-index: 1;
  }

  .cover-card-overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }

  .cover-card-content {
    padding: 24px;

    .cover-card-tag {
      color: $grey-40;
      font-size: 14px;
      font-weight: bold;
    }

    .cover-card-heading {
      position: relative;
      z-index: 1;
      color: black;
      font-size: 18px;
      font-weight: 700;
      margin: 8px 0;
      line-height: 1.2;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      /* stylelint-disable property-no-vendor-prefix */
      /*! autoprefixer: off */
      -webkit-box-orient: vertical;
      /*! autoprefixer: on */
      /* stylelint-enable property-no-vendor-prefix */
      overflow: hidden;
    }

    .cover-card-excerpt {
      font-family: $lora;
      font-size: 14px;
      line-height: 1.5;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      margin: 0;
      /* stylelint-disable property-no-vendor-prefix */
      /*! autoprefixer: off */
      -webkit-box-orient: vertical;
      /*! autoprefixer: on */
      /* stylelint-enable property-no-vendor-prefix */
      overflow: hidden;
    }
  }

  .cover-card-btn {
    font-size: 14px;
    line-height: 1;
    padding: 10px 20px;
    right: 24px;
    bottom: 24px;
    left: auto;
    position: absolute;
    margin: 0;
    border: none;

    html[dir="rtl"] & {
      left: 24px;
      right: auto;
    }
  }

  @include medium-and-up {
    min-height: 490px;
    width: auto;

    img {
      height: 220px;
      max-height: 220px;
      min-height: 220px;
    }

    .cover-card-content {
      padding-top: 32px;

      .cover-card-heading {
        font-size: 20px;
      }
    }
  }
}
