{% extends "base.twig" %}

{% block content %}
    <div class="clearfix"></div>

    {% include 'listing-page.twig' with {
        listing_page_title: __( 'All actions', 'planet4-master-theme' )
    } %}
{% endblock %}
