{% block html_head_container %}

{% include 'html-header.twig' %}

{% endblock %}

<body>
	<div class="hero-img-wrap">
		{% include 'navigation-bar.twig' with data_nav_bar %}
		{% include 'blocks/header.twig' %}
	</div>

	{% block content %}
		Sorry, no content
	{% endblock %}

	{% if sidebar %}
		<aside class="layout-sidebar">
			{{sidebar}}
		</aside>
	{% endif %}

	{% block footer %}
		{% include 'footer.twig' %}
	{{ function('wp_footer') }}
	{% endblock %}

</body>
</html>
