{% block html_head_container %}

{% include 'html-header.twig' %}

{% endblock %}

<body>
	<div class="hero-img-wrap">
		{% include 'navigation-bar.twig' with data_nav_bar %}
		{% include 'blocks/header.twig' %}
	</div>
	{% if google_tag_value %}
		<!-- Google Tag Manager (noscript) -->
			<iframe src="https://www.googletagmanager.com/ns.html?id={{ google_tag_value }}"
		<noscript>
					height="0" width="0" style="display:none;visibility:hidden"></iframe>
		<!-- End Google Tag Manager (noscript) -->
		</noscript>
	{% endif %}

	{% block content %}
		Sorry, no content
	{% endblock %}

	{% if sidebar %}
		<aside class="layout-sidebar">
			{{sidebar}}
		</aside>
	{% endif %}

	{% block footer %}
		{% include 'footer.twig' %}
	{{ function('wp_footer') }}
	{% endblock %}

<!-- JS Libs that we include -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

<!-- File for all the custom JS that we write -->
<script type="text/javascript" src="custom.js"></script>
<!-- <script type="text/javascript" src="take-action.js"></script> -->

</body>
</html>
