{% if ( cookies.text ) %}
	<div class="cookie-notice" id="set-cookie">
		{% include 'cookies/cookies_settings.twig' with { enable_analytical: cookies.enable_analytical, settings_copy: cookies.settings_copy } %}
		<div class="cookies-intro">
			<div class="cookies-text">
				{{ cookies.text|e('wp_kses_post')|raw }}
			</div>
			<div class="cookies-buttons">
				<button class="btn btn-secondary p-0" id="show-cookies-settings">{{ __( 'Settings', 'planet4-master-theme' ) }}</button>
				<button class="btn btn-primary p-0 allow-all-cookies">{{ __( 'Accept all cookies', 'planet4-master-theme' ) }}</button>
			</div>
		</div>
	</div>
{% endif %}
