{% if ( cookies.text ) %}
	<div class="cookie-notice" id="set-cookie">
		<div>
			{{ cookies.text|e('wp_kses_post')|raw }}
		</div>
		<button class="btn p-0" id="hidecookie">{{ __( 'GOT IT!', 'planet4-master-theme' ) }}</button>
	</div>
{% endif %}
