{% block countries %}
	<a href="http://www.greenpeace.org/international" class="default-lang">International (English)</a>
	<ul class="list-unstyled country-list">
		<ul class="list-unstyled a-country-list">
			<li class="list-title"><span class="country-alphabet">A</span> <a href="http://www.greenpeace.org/afrique/" class="">Africa - Senegal (Francias)</a></li>
			<li class=""><a href="http://www.greenpeacearabic.org" class="">Arabic (العربية)</a></li>
			<li class=""><a href="http://www.greenpeace.org/argentina/" class="">Argentina (Español)</a></li>
			<li class=""><a href="http://www.greenpeace.org/australia/" class="">Australia (English)</a></li>
			<li class=""><a href="http://www.greenpeace.org/austria/" class="">Austria (Deutsch)</a></li>
		</ul>
		<ul class="list-unstyled b-country-list">
			<li class="list-title"><span class="country-alphabet">B</span> <a href="http://www.greenpeace.org/belgium/" class="">Belgium (Nederlands/Français)</a></li>
			<li class=""><a href="http://www.greenpeace.org/brasil/" class="">Brazil (Português)</a></li>
			<li class=""><a href="http://www.greenpeace.org/bulgaria/" class="">Bulgaria (български)</a></li>
		</ul>
		<ul class="list-unstyled c-country-list">
			<li class="list-title active"><span class="country-alphabet">C</span> <a href="http://www.greenpeace.org/canada/" class="">Canada (English/Français)</a></li>
			<li class=""><a href="http://www.greenpeace.org/chile/" class="">Chile (Español)</a></li>
			<li class=""><a href="http://www.greenpeace.org.cn" class="">China Mainland (简体中文)</a></li>
			<li class=""><a href="http://www.greenpeace.org/colombia/" class="">Colombia (Español)</a></li>
			<li class=""><a href="http://www.greenpeace.org/croatia" class="">Croatia (Hrvatski)</a></li>
			<li class=""><a href="http://www.greenpeace.cz" class="">Czech Republic (Česky)</a></li>
		</ul>
		<ul class="list-unstyled d-country-list">
			<li class="list-title"><span class="country-alphabet">D</span> <a href="http://www.greenpeace.dk" class="">Denmark (Dansk)</a></li>
		</ul>
		<ul class="list-unstyled c-country-list">
			<li class="list-title"><span class="country-alphabet">E</span> <a href="http://www.greenpeace.org/eastasia/" class="">East Asia (English)</a></li>
			<li class=""><a href="http://www.greenpeace.org/eu-unit" class="">European Union (English)</a></li>
		</ul>
		<ul class="list-unstyled d-country-list">
			<li class="list-title"><span class="country-alphabet">F</span> <a href="http://www.greenpeace.org/finland" class="">Finland (Suomea)</a></li>
			<li class=""><a href="http://www.greenpeace.org/france" class="">France (Français)</a></li>
		</ul>
		<ul class="list-unstyled c-country-list">
			<li class="list-title"><span class="country-alphabet">G</span> <a href="http://www.greenpeace.de" class="">Germany (Deutsch)</a></li>
			<li class=""><a href="http://www.greenpeace.gr" class="">Greece (Ελληνικά)</a></li>
		</ul>
		<ul class="list-unstyled a-country-list">
			<li class="list-title"><span class="country-alphabet">H</span> <a href="http://www.greenpeace.org/hk/" class="">Hong Kong (繁體中文)</a></li>
			<li class=""><a href="http://www.greenpeace.hu" class="">Hungary (Magyar)</a></li>
		</ul>
		<ul class="list-unstyled b-country-list">
			<li class="list-title"><span class="country-alphabet">I</span> <a href="http://www.greenpeace.org/india/" class="">India (English/Hindi)</a></li>
			<li class=""><a href="http://www.greenpeace.org/seasia/id/" class="">Indonesia (Indonesia)</a></li>
			<li class=""><a href="http://www.greenpeace.org/israel/" class="">Israel (עברית)</a></li>
			<li class=""><a href="http://www.greenpeace.org/italy/" class="">Italy (Italiano)</a></li>
		</ul>
		<ul class="list-unstyled c-country-list">
			<li class="list-title"><span class="country-alphabet">J</span> <a href="http://www.greenpeace.org/japan/" class="">Japan (日本語)</a></li>
		</ul>
		<ul class="list-unstyled d-country-list">
			<li class="list-title"><span class="country-alphabet">K</span> <a href="http://www.greenpeace.org/korea/" class="">Korea (한국어)</a></li>
		</ul>
		<ul class="list-unstyled a-country-list">
			<li class="list-title"><span class="country-alphabet">L</span> <a href="http://www.greenpeace.lu" class="">Luxembourg (Français)</a></li>
		</ul>
		<ul class="list-unstyled b-country-list">
			<li class="list-title"><span class="country-alphabet">M</span> <a href="http://www.greenpeace.org/mexico/" class="">Mexico (Español)</a></li>
		</ul>
		<ul class="list-unstyled c-country-list">
			<li class="list-title"><a href="" class="country-alphabet">N</a> <a href="http://www.greenpeace.nl" class="">Netherlands (Nederlands)</a></li>
			<li class=""><a href="http://www.greenpeace.org.nz" class="">New Zealand (English)</a></li>
			<li class=""><a href="http://www.greenpeace.no" class="">Norway (Norsk)</a></li>
		</ul>
		<ul class="list-unstyled b-country-list">
			<li class="list-title"><span class="country-alphabet">P</span> <a href="http://www.greenpeace.org/seasia/ph/" class="">Philippines (English)</a></li>
			<li class=""><a href="http://www.greenpeace.pl" class="">Poland (Polska)</a></li>
		</ul>
		<ul class="list-unstyled a-country-list">
			<li class="list-title"><span class="country-alphabet">R</span> <a href="http://www.greenpeace.ro" class="">Romania (Român)</a></li>
			<li class=""><a href="http://www.greenpeace.org/russia/ru/" class="">Russia (Русский)</a></li>
		</ul>
		<ul class="list-unstyled b-country-list">
			<li class="list-title"><span class="country-alphabet">S</span> <a href="http://www.greenpeace.sk" class="">Slovakia (Slovenčina)</a></li>
			<li class=""><a href="http://www.greenpeace.org/slovenia/" class="">Slovenia (Slovenjia)</a></li>
			<li class=""><a href="http://www.greenpeace.org/seasia/" class="">Southeast Asia (English)</a></li>
			<li class=""><a href="http://www.greenpeace.org/espana/" class="">Spain (Español)</a></li>
			<li class=""><a href="http://www.greenpeace.se" class="">Sweden (Svenska)</a></li>
			<li class=""><a href="http://www.greenpeace.org/switzerland/de/" class="">Switzerland (Deutsch/Français)</a></li>
		</ul>
		<ul class="list-unstyled c-country-list">
			<li class="list-title"><span class="country-alphabet">T</span> <a href="http://www.greenpeace.org/taiwan/" class="">Taiwan (正體中文)</a></li>
			<li class=""><a href="http://www.greenpeace.org/seasia/th/" class="">Thailand (ไทย)</a></li>
			<li class=""><a href="http://www.greenpeace.org/turkey/" class="">Turkey (Türk)</a></li>
		</ul>
		<ul class="list-unstyled a-country-list">
			<li class="list-title"><span class="country-alphabet">U</span> <a href="http://www.greenpeace.org.uk" class="">United Kingdom (English)</a></li>
			<li class=""><a href="http://www.greenpeace.org/usa/" class="">USA (English)</a></li>
		</ul>
	</ul>
{% endblock %}