<div id="country-selector-banner" class="collapse">
	<div class="d-flex">
		<div>
			You are visiting the Greenpeace International website. Do you want to <a href="#country-selector">change location</a>?
		</div>
		<div
			class="close-banner"
			aria-expanded="true"
			data-bs-toggle="collapse"
			data-bs-target="#country-selector-banner"
		/>
	</div>
</div>
