{% block countries %}
	<div id="country-list" class="country-list">
		<a href="http://www.greenpeace.org/international">International | English</a>

		<ul>
			<li>
				<h3 class="country-group-letter">A</h3>
				<ul>
					<li><a href="https://www.greenpeace.org/africa/en/">Africa | English</a></li>
					<li><a href="https://www.greenpeace.org/africa/fr/">Africa | Français</a></li>
					<li><a href="https://www.greenpeacearabic.org">Arabic | العربية</a></li>
					<li><a href="https://www.greenpeace.org/argentina/">Argentina | Español</a></li>
					<li><a href="https://www.greenpeace.org/australia/">Australia | English</a></li>
					<li><a href="https://www.greenpeace.org/austria/">Austria | Deutsch</a></li>
				</ul>
			</li>
			<li>
				<h3 class="country-group-letter">B</h3>
				<ul>
					<li><a href="https://www.greenpeace.org/belgium/fr/">Belgium | Français</a></li>
					<li><a href="https://www.greenpeace.org/belgium/nl/">Belgium | Nederlands</a></li>
					<li><a href="https://www.greenpeace.org/brasil/">Brazil | Português</a></li>
					<li><a href="https://www.greenpeace.org/bulgaria/">Bulgaria | български</a></li>
				</ul>
			</li>
			<li>
				<h3 class="country-group-letter">C</h3>
				<ul>
					<li><a href="http://www.greenpeace.org/canada/en/">Canada | English</a></li>
					<li><a href="http://www.greenpeace.org/canada/fr/">Canada | Français</a></li>
					<li><a href="http://www.greenpeace.org/chile/">Chile | Español</a></li>
					<li><a href="http://www.greenpeace.org.cn">China Mainland | 简体中文</a></li>
					<li><a href="http://www.greenpeace.org/colombia/">Colombia | Español</a></li>
					<li><a href="http://www.greenpeace.org/croatia">Croatia | Hrvatski</a></li>
					<li><a href="http://www.greenpeace.cz">Czech Republic | Česky</a></li>
				</ul>
			</li>
			<li>
				<h3 class="country-group-letter">D</h3>
				<ul>
					<li><a href="http://www.greenpeace.org/denmark/da/">Denmark | Dansk</a></li>
				</ul>
			</li>
			<li>
				<h3 class="country-group-letter">E</h3>
				<ul>
					<li><a href="https://www.greenpeace.org/eastasia/">East Asia | English</a></li>
					<li><a href="https://www.greenpeace.org/eu-unit">European Union | English</a></li>
				</ul>
			</li>
			<li>
				<h3 class="country-group-letter">F</h3>
				<ul>
					<li><a href="https://www.greenpeace.org/finland">Finland | Suomea</a></li>
					<li><a href="https://www.greenpeace.org/france">France | Français</a></li>
				</ul>
			</li>
			<li>
				<h3 class="country-group-letter">G</h3>
				<ul>
					<li><a href="https://www.greenpeace.de">Germany | Deutsch</a></li>
					<li><a href="https://www.greenpeace.org/greece">Greece | Ελληνικά</a></li>
				</ul>
			</li>
			<li>
				<h3 class="country-group-letter">H</h3>
				<ul>
					<li><a href="https://www.greenpeace.org/hk/">Hong Kong | 繁體中文</a></li>
					<li><a href="http://www.greenpeace.org/hungary/hu/">Hungary | Magyar</a></li>
				</ul>
			</li>
			<li>
				<h3 class="country-group-letter">I</h3>
				<ul>
					<li><a href="https://www.greenpeace.org/india/en/">India | English</a></li>
					<li><a href="https://www.greenpeace.org/india/hi/">India | Hindi</a></li>
					<li><a href="https://www.greenpeace.org/seasia/id/">Indonesia | Indonesia</a></li>
					<li><a href="https://www.greenpeace.org/israel/">Israel | עברית</a></li>
					<li><a href="https://www.greenpeace.org/italy/">Italy | Italiano</a></li>
				</ul>
			</li>
			<li>
				<h3 class="country-group-letter">J</h3>
				<ul>
					<li><a href="https://www.greenpeace.org/japan/">Japan | 日本語</a></li>
				</ul>
			</li>
			<li>
				<h3 class="country-group-letter">K</h3>
				<ul>
					<li><a href="https://www.greenpeace.org/korea/">Korea | 한국어</a></li>
				</ul>
			</li>
			<li>
				<h3 class="country-group-letter">L</h3>
				<ul>
					<li><a href="http://www.greenpeace.org/luxembourg/fr/">Luxembourg | Français</a></li>
				</ul>
			</li>
			<li>
				<h3 class="country-group-letter">M</h3>
				<ul>
					<li><a href="https://www.greenpeace.org/seasia/about-us/Malaysia/">Malaysia | English</a></li>
					<li><a href="https://www.greenpeace.org/mexico/">Mexico | Español</a></li>
					<li><a href="https://www.greenpeace.org/mena/">Middle East and North Africa | English</a></li>
				</ul>
			</li>
			<li>
				<h3 class="country-group-letter">N</h3>
				<ul>
					<li><a href="http://www.greenpeace.nl">Netherlands | Nederlands</a></li>
					<li><a href="https://www.greenpeace.org/new-zealand">New Zealand | English</a></li>
					<li><a href="http://www.greenpeace.org/norway/no/">Norway | Norsk</a></li>
				</ul>
			</li>
			<li>
				<h3 class="country-group-letter">P</h3>
				<ul>
					<li><a href="https://www.greenpeace.org/seasia/ph/">Philippines | English</a></li>
					<li><a href="https://www.greenpeace.pl">Poland | Polska</a></li>
				</ul>
			</li>
			<li>
				<h3 class="country-group-letter">R</h3>
				<ul>
					<li><a href="http://www.greenpeace.org/romania/ro/">Romania | Română</a></li>
					<li><a href="https://www.greenpeace.org/russia/ru/">Russia | Русский</a></li>
				</ul>
			</li>
			<li>
				<h3 class="country-group-letter">S</h3>
				<ul>
					<li><a href="http://www.greenpeace.org/slovakia/sk/">Slovakia | Slovenčina</a></li>
					<li><a href="https://www.greenpeace.org/slovenia/">Slovenia | Slovenjia</a></li>
					<li><a href="https://www.greenpeace.org/seasia/">Southeast Asia | English</a></li>
					<li><a href="https://es.greenpeace.org/es/">Spain | Español</a></li>
					<li><a href="https://es.greenpeace.org/ca/">Spain | Català</a></li>
					<li><a href="https://es.greenpeace.org/eu/">Spain | Euskara</a></li>
					<li><a href="https://es.greenpeace.org/gl/">Spain | Galego</a></li>
					<li><a href="http://www.greenpeace.org/sweden/se/">Sweden | Svenska</a></li>
					<li><a href="https://www.greenpeace.ch/">Switzerland | Deutsch</a></li>
					<li><a href="https://www.greenpeace.ch/fr/">Switzerland | Français</a></li>
				</ul>
			</li>
			<li>
				<h3 class="country-group-letter">T</h3>
				<ul>
					<li><a href="https://www.greenpeace.org/taiwan/">Taiwan | 正體中文</a></li>
					<li><a href="https://www.greenpeace.org/seasia/th/">Thailand | ไทย</a></li>
					<li><a href="https://www.greenpeace.org/turkey/">Turkey | Türk</a></li>
				</ul>
			</li>
			<li>
				<h3 class="country-group-letter">U</h3>
				<ul>
					<li><a href="https://www.greenpeace.org.uk">United Kingdom | English</a></li>
					<li><a href="https://www.greenpeace.org/usa/">USA | English</a></li>
				</ul>
			</li>
		</ul>
	</div>
{% endblock %}
