{% extends "base.twig" %}

{% block content %}
    <main class="page-content container" id="content">
        {% if not post.password_required %}
            {% include 'blocks/header.twig' %}
        {% endif %}

        {{ post.content|raw }}
    </main>
{% endblock %}
