{% extends "base.twig" %}

{% block content %}
	<article id="page-{{ post.ID }}">
		<div class="container">
			<div class="post-content">
				<div class="row">
					<div class="col-lg-9">
						<article class="post-details">
							{{ post.content|e('wp_kses_post')|raw }}
						</article>
					</div>
				</div>
			</div>
		</div>
	</article>
{% endblock %}
