{% if true %}
    <section id="featured-posts">
        <div class="container">
            {% for post in featured_post_ids %}
                <div class="pedro">
                    {{ post.title }}
                </div>
            {% endfor %}
        </div>
    </section>
{% endif %}
