<div id="footer">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <ul class="footer-social-media list-unstyled">
            <li><a href="#"><i class="fa fa-facebook-official"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          </ul>
          <ul class="list-unstyled footer-links">
            <li><a href="#">News</a><span class="hidden-md-down">/</span></li>
            <li><a href="#">about</a><span class="hidden-md-down">/</span></li>
            <li><a href="#">faq</a><span class="hidden-md-down">/</span></li>
            <li><a href="#">press</a><span class="hidden-md-down">/</span></li>
            <li><a href="#">terms privacy</a><span class="hidden-md-down">/</span></li>
            <li><a href="#">code of conduct</a><span class="hidden-md-down">/</span></li>
            <li><a href="#">jobs</a></li>
          </ul>
          <p class="copyright-text">&copy; Unless otherwise stated, the content on this website is licensed under a <a href="">CC-BY-SA International License</a></p>
          <p class="text-center">Greenpeace 2017</p>
        </div>
      </div>
    </div>
  </div>
