{% extends "base.twig" %}

{% block content %}

    {% include 'blocks/header.twig' %}
	<div class="content-wrapper">
		<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
			<section class="article-content">
				<div class="article-body">
					{{ post.content|raw }}
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->

{% endblock %}
