{% extends "base.twig" %}

{% block content %}

	<div class="clearfix"></div>
	<div class="skewed-overlay"></div>

	<header class="page-header">
		<div class="container">
			<h1 class="page-header-title">{{ page_type.name }}</h1>
			<div class="row">
				<div class="col-md-12">
					<p>{{ page_type.description }}</p>
				</div>
			</div>
		</div>
	</header>

	<div class="page-template">
		<h3>{{ __( 'Results', 'planet4-master-theme' ) }}</h3>

		<div class="row">
			<div class="col-lg-8 multiple-search-result">
				<ul class="list-unstyled">
					{% for post in posts %}
						{% include 'tease-page-type.twig' %}
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
{% endblock %}
