{% block questions_settings %}

	<div id="settings_div" class="wrap">
		<h2>{{ __( 'Engaging Networks Questions/Optins Settings', 'planet4-gutenberg-engagingnetworks' ) }}</h2>
		<p>{{ __( 'In this page you can define engaging networks questions and opt-ins that you want to be used for the forms.', 'planet4-gutenberg-engagingnetworks' ) }}</p>
	</div>
	<div class="wrap">
		<div id="en_settings_notices"></div>
	</div>
	<div id="existing-questions-div" class="wrap"></div>
	<hr>
	<div id="selected-questions-div" class="wrap"></div>
	<div class="clear"></div>

{% endblock %}
