{% extends "base.twig" %}

{% block content %}
    {% set is_action = taxonomy.taxonomy == 'action-type' %}

    <div class="clearfix"></div>

    <header class="page-header">
        <div class="container">
            <div class="top-page-tags">
                {% if ( news_page_link and not is_action ) %}
                    <a class="back-to-news tag-item" href="{{ news_page_link }}">
                        {{__( 'News & stories', 'planet4-master-theme' )}}
                    </a>
                {% endif %}
            </div>
            <h1 class="page-header-title">{{ taxonomy.name }}</h1>
            <div class="page-header-content">
                <p>{{ taxonomy.description|e('wp_kses_post')|raw }}</p>
            </div>
            {% if ( featured_action ) %}
                {% include 'featured-action.twig'
                    with {
                        'image': featured_action_image,
                        'post_title': featured_action.post_title,
                        'post_excerpt': featured_action.post_excerpt,
                        'url': featured_action_url
                    }
                %}
            {% endif %}
        </div>
    </header>

    {% include 'listing-page.twig' with {
        listing_page_title: is_action ?
            __( 'All actions', 'planet4-master-theme' ) :
            __( 'All articles', 'planet4-master-theme' )
    } %}
{% endblock %}
