.site-footer {
  background-color: --campaigns-footer-color !important;

	a,
	li,
	.gp-year,
	.copyright-text {
		color: --campaigns-footer-links-color !important;
  }

  .gp-year {
		font-family: $roboto !important;
  }
}

.site-footer_min {
  padding-top: 32px;

  @include medium-and-up {
    padding-top: 64px;
  }

  div.copyright-text {
    margin-top: 0;
    padding-top: 16px;
    font-family: $roboto;
  }

  .gp-year {
    margin-top: 0;
    padding-top: 16px;
    font-family: $roboto;
  }

  .container {
    padding-top: 0;
  }

	.icon {
		fill: --campaigns-footer-links-color !important;
	}
}
