.site-footer_min {
  padding-top: 32px;

  @include medium-and-up {
    padding-top: 64px;
  }

  div.copyright-text {
    margin-top: 0;
    padding-top: 16px;
    font-family: $roboto;
  }

  .gp-year {
    margin-top: 0;
    padding-top: 16px;
    font-family: $roboto;
  }

  .container {
    padding-top: 0;
  }
}
