$transition-duration: .2s;

@mixin slide-from-start() {
  &:not(.open) {
    transition: transform $transition-duration ease-in, opacity;
    transition-delay: 0s, $transition-duration;
    transform: translateX(-100%);
    opacity: 0;
    left: 0;

    html[dir="rtl"] & {
      transform: translateX(100%);
      left: auto;
      right: 0;
    }
  }

  &.open {
    transition: transform $transition-duration ease-out;
  }
}

.burger-menu {
  _-- {
    background: var(--white);
    font-family: var(--font-family-primary);
  }

  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  top: 0;
  padding: 18px $sp-3;
  z-index: 9999999999;
  overflow: hidden;
  height: 100%;

  @include slide-from-start;

  ul {
    padding: 0;
    list-style: none;
  }

  a.nav-link {
    color: var(--color-text-nav_link);
    width: auto;
  }

  .admin-bar & {
    @include medium-and-less {
      top: 46px;
      height: calc(100% - 46px);
    }

    @media (min-width: 783px) {
      top: 32px;
      height: calc(100% - 32px);
    }
  }

  @include small-and-less {
    width: 100vw;
  }

  @include small-and-up {
    width: 400px;
  }
}

.burger-menu-header {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  border-bottom: var(--top-navigation--separation);
  padding-block-end: $sp-2;

  .site-logo {
    display: block;
    width: fit-content;
    margin-inline-start: 0;
    margin-bottom: $sp-1x;
    line-height: 1;

    img {
      height: 23px;
    }
  }

  .nav-languages {
    width: 100%;
    margin-top: $sp-1x;
    margin-bottom: $sp-1x;

    ul {
      margin-inline: 0;
      padding: 0;
      margin-bottom: 0;
    }
  }
}

.nav-wrapper {
  overflow-y: scroll;

  .nav-items {
    width: 100%;
    padding: $sp-1x $sp-x 0;
  }

  @include scrollbar-layout;
}

.burger-menu-footer {
  display: flex;
  justify-self: flex-end;
  flex-shrink: 0;
  margin-top: auto;
  width: 100%;
  padding: $sp-3 0 0;
  border-top: var(--top-navigation--separation);

  .btn-donate {
    width: 100%;
    padding-top: $sp-1x;
    padding-bottom: $sp-1x;
  }
}

.burger-menu-item {
  width: 100%;

  &:not(:first-child) {
    margin-block-end: $sp-1x;
  }

  &:not(:last-child) {
    margin-block-start: $sp-1x;
  }

  > a.nav-link, > * > a.nav-link {
    font-size: 20px;
    padding: 6px 0;
  }
}

.nav-subitems {
  --burger-menu-subitems-- {
    font-family: var(--font-family-tertiary);
  }
  padding-inline-start: $sp-2;
  padding-block-start: $sp-1x;
  padding-block-end: $sp-1x;

  .nav-item.active {
    pointer-events: inherit;

    a.nav-link {
      font-weight: bold;

      &:before {
        border-bottom: none !important;
      }
    }
  }

  a.nav-link {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    width: auto;
    padding: $sp-1x 0;
  }
}

.burger-menu-item-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.collapsable-btn {
  width: 30px;
  height: 30px;
  background: transparent;
  border: none;

  &::before {
    content: "";
    height: 12px;
    width: 8px;
    display: inline-block;
    mask-image: url("../../images/chevron.svg");
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    background-repeat: no-repeat;
    background-color: currentColor;
    transform: rotate(-90deg);
    transition: transform 0.3s linear;
    color: var(--color-text-nav_link);
  }

  &.collapsed {
    &::before {
      transform: rotate(90deg);
    }
  }

  &:focus,
  &:focus-within,
  &:focus-visible {
    @include focus-styles;
  }
}

.nav-menu-close {
  display: block;
  position: absolute;
  inset-inline-end: $sp-3;
  border: none;
  height: 20px;
  width: 20px;
  top: 18px;
  z-index: 5;
  background-color: transparent;
  background-image: url("../../images/black-cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-size: 12px;
  border-radius: 100%;

  &:focus,
  &:focus-visible {
    @include focus-styles;
  }

  @supports not (inset-inline-end: $sp-3) {
    right: $sp-3;
    left: auto;

    html[dir="rtl"] & {
      left: $sp-3;
      right: auto;
    }
  }
}

.burger-menu-overlay {
  background: var(--grey-900);
  transition: opacity $transition-duration ease-in, z-index;

  .burger-menu.open ~ & {
    z-index: 99;
    opacity: 0.5;
  }

  .burger-menu:not(.open) ~ & {
    z-index: -1;
    opacity: 0;
    transition: z-index $transition-duration step-end, opacity $transition-duration linear;
  }

  height: 100%;
  pointer-events: all;
  position: fixed;
  top: 0;
  width: 100vw;
}
