#country-selector-banner {
  position: absolute;
  top: 100%;
  width: 100%;
  background: $x-dark-blue;
  padding: $sp-2 $sp-3;
  transition: height 3s, opacity 0.3s;

  &:not(.show) {
    opacity: 0;
  }

  > div {
    justify-content: space-between;
  }

  .close-banner {
    background-color: var(--top-navigation--color, $white);
    mask: url("../../images/cross.svg") center no-repeat;
    width: 16px;
    height: 24px;
    min-width: 16px;
    margin-inline-start: 16px;
    cursor: pointer;
  }

  a {
    color: white;
    font-weight: bold;
    text-decoration: underline;
  }

  @include large-and-up {
    padding-inline-start: calc((100vw - 960px) / 2);
  }

  @include x-large-and-up {
    padding-inline-start: calc((100vw - 1140px) / 2);
  }

  @include xx-large-and-up {
    padding-inline-start: calc((100vw - 1320px) / 2);
  }
}
