@use "../../base/tokens" as tokens;

.nav-languages-toggle {
  background: transparent;
  border: none;
  color: inherit;
  display: none;
  font-size: $font-size-sm;
  font-weight: 700;
  padding: 0 $sp-2;

  @include large-and-up {
    border-inline-start: var(--top-navigation--separation);
    display: inline-block;
    line-height: var(--navbar-menu-height);

    &::after {
      content: "";
      display: inline-block;
      width: 10px;
      height: 10px;
      margin-inline-start: $sp-x;
      mask: url("../../images/chevron.svg") 0 0/10px 10px;
      transform: rotate(90deg);
      transition: transform 150ms linear;
      background-color: currentcolor;
      background-repeat: no-repeat;
    }

    .nav-languages {
      display: none;
    }

    &:hover {
      &::after {
        transform: rotate(-90deg);
      }

      .nav-languages {
        display: block;
      }
    }
  }
}

.nav-languages {
  box-shadow: none;
  position: unset;
  width: 100%;
  padding-top: 8px;
  padding-inline: 8px;

  a.nav-link {
    padding: 0;
    width: auto;
  }

  ul {
    display: inline-block;
    flex-grow: 1;
    margin-block: 0;
    padding-bottom: 36px;
    padding-top: 40px;
    width: 100%;
  }

  li {
    display: inline-block;
    font-weight: 700;
    margin: 0;
    padding: 0;
    opacity: 0.6;
  }

  .current-language {
    opacity: 1;
  }

  .current-language::after {
    background: none;
    mask: none;
  }

  li > span[aria-hidden="true"] {
    opacity: 1;
  }

  li:last-of-type > span[aria-hidden="true"] {
    display: none;
  }

  @include large-and-up {
    inset-inline-end: 0;
    min-width: 140px;
    position: absolute;
    text-align: start;
    width: unset;
    z-index: 3;

    ul {
      border: 0;
      list-style: none;
      margin: 0;
      padding: 16px 0;
      background: var(--top-navigation--background, var(--white));
      border-radius: 4px;
      box-shadow: 0 1px 4px rgba(tokens.$grey-900, 0.88);
    }

    li {
      display: block;
      font-size: 16px;
      font-weight: 400;
      line-height: 48px;
      margin: 0;
      opacity: 1;
      padding-block: 0;
    }

    li:hover {
      background: rgba(216, 216, 216, 0.4);

      a.nav-link:before {
        border-bottom: none !important;
      }
    }

    li > span[aria-hidden="true"] {
      display: none;
    }

    a.nav-link {
      color: var(--color-text-nav_link);
      display: inline-block;
      padding-inline: 16px 12px;
      text-decoration: none;
      width: 100%;
    }

    a.nav-link:hover {
      text-decoration: none;
    }

    .current-language a::after {
      background-color: var(--grey-900);
      content: "";
      float: right;
      height: 48px;
      mask: url("../../images/checkmark.svg") 50% 50%/16px 12px no-repeat;
      width: 16px;

      html[dir="rtl"] & {
        float: left;
      }
    }
  }
}
