.nav-search-form {
  background-color: var(--body--background-color);
  border: none;
  border-top: var(--top-navigation--separation);
  box-shadow: 0 2px 4px rgba($grey-900, 0.15);
  display: none;
  height: 56px;
  inset-inline-start: 0;
  position: fixed;
  top: var(--navbar-menu-height--small);
  z-index: 3;
  width: 100%;
  align-items: center;

  .admin-bar & {
    top: calc(var(--navbar-menu-height--small) + 46px);

    @media (min-width: 783px) {
      top: calc(var(--navbar-menu-height--small) + 32px);
    }

    @include large-and-up {
      top: calc(var(--navbar-menu-height) + 32px);
    }
  }

  &.open {
    display: flex;

    @include medium-and-less {
      @supports not (inset-inline-start: 0) {
        left: 100%;
        margin: auto;
        width: 100vw;

        html[dir="rtl"] & {
          left: auto;
          right: 100%;
        }
      }

      #nav-main.open & {
        display: none;
      }
    }

    @include small-and-less {
      @supports not (inset-inline-start: 0) {
        left: 100vw;

        html[dir="rtl"] & {
          left: -100vw;
        }
      }
    }
  }

  @include large-and-up {
    top: var(--navbar-menu-height);
  }

  @include x-large-and-up {
    background: var(--top-navigation--background, inherit);
    border-inline-start: var(--top-navigation--separation);
    border-top: none;
    box-shadow: none;
    display: inline-flex;
    height: 100%;
    inset-inline-end: auto;
    min-width: 25%;
    padding: 0 16px;
    position: unset;
    width: auto;
  }
}

#search_input {
  background: transparent;
  border: none;
  border-radius: unset;
  box-shadow: none;
  color: var(--grey-900);
  display: inline-block;
  flex-grow: 1;
  font-size: $font-size-sm;
  line-height: var(--navbar-menu-height);
  padding-inline: 12px 8px;
  width: auto;

  @include small-and-less {
    @supports not (padding-inline: 12px 8px) {
      padding-right: 12px;
      padding-left: 8px;

      html[dir="rtl"] & {
        padding-right: 8px;
        padding-left: 12px;
      }
    }
  }

  @include x-large-and-up {
    color: inherit;
    width: calc(100% - 48px);
  }

  &::placeholder {
    color: var(--grey-600);
  }
}

#search_input:placeholder-shown ~ button.nav-search-clear {
  visibility: hidden;
}

#search_input:placeholder-shown ~ button.nav-search-btn {
  pointer-events: none;
}

#search_input::-webkit-search-decoration,
#search_input::-webkit-search-cancel-button,
#search_input::-webkit-search-results-button,
#search_input::-webkit-search-results-decoration {
  display: none;
}
// Hack to hide the input:-internal-autofill-selected style from webkit
#search_input:-webkit-autofill,
#search_input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.nav-search-btn {
  background: transparent;
  border: none;
  display: none;
  float: left;
  padding: 0;

  html[dir="rtl"] & {
    float: right;
  }

  @include x-large-and-up {
    display: inline-block;
    line-height: var(--navbar-menu-height);
  }
}

.nav-search-clear {
  border: none;
  float: right;
  margin-inline-end: 36px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-image: url("../../images/cancel.svg");
  background-repeat: no-repeat;
  background-position: center;

  &:focus,
  &:focus-visible {
    outline: 2px solid #99c3ff;
    outline-offset: 2px;
    border-radius: 2px;
    border-radius: 100%;
  }

  html[dir="rtl"] & {
    float: left;
  }

  @include small-and-less {
    margin-inline-end: 16px;
  }

  @include x-large-and-up {
    display: inline-block;
    margin-inline-end: 0;
  }
}

.nav-search-toggle-container {
  display: none;
  padding: $sp-1 $sp-1x;

  &.medium-and-less {
    display: inline-block;
    @include large-and-up {
      display: none;
    }
  }

  @include large-and-up {
    border-inline-start: var(--top-navigation--separation);
    display: inline-block;
    padding: $sp-1x;
  }

  @include x-large-and-up {
    display: none;
  }
}

.nav-search-toggle {
  background: transparent;
  border: none;
  border-radius: 4px;
  height: 44px;
  width: 44px;

  &.open --top-navigation--search-toggle-- {
    background: var(--grey-200);
  }
}
