@import "../base/colors";

#nav-mobile {
  _-- {
    height: 50px;
  }

  display: flex;
  flex: 1 1 100%;
  flex-grow: 1;
  justify-content: center;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  transition: height 0.2s linear;

  @include large-and-up {
    display: none;
  }

  &.mobile-menu-hidden {
    height: 0;
    transition: height 0.2s linear;
  }
}

#nav-mobile::-webkit-scrollbar {
  display: none;
}

#nav-mobile-menu {
  display: flex;
  width: 100%;

  ul {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding-inline: 1rem 1rem;
  }

  .nav-item {
    line-height: 50px;
    margin: 0 20px;
  }

  .nav-link {
    white-space: nowrap;
    padding: 0;

    &:not(:hover) {
      opacity: 0.5;
    }

    &:hover {
      text-decoration-line: none;
      text-decoration-thickness: 3px;
    }
  }

  .active .nav-link {
    opacity: 1;
    text-decoration: none;
  }

  // Underline animation with border-bottom
  a.nav-link:hover:before,
  .active a.nav-link:before {
    transform: scaleX(1);
    transition: transform 0.25s;
  }
}
