.author-block {
  background: var(--color-background-author_block);
  overflow: hidden;
  padding: 24px 16px;
  border-radius: 4px;
  margin-bottom: 24px;

  @include medium-and-up {
    display: flex;
    padding: 24px;

    > .author-block-image {
      min-width: 200px;
      margin-inline-end: 32px;
      margin-top: 0;
    }
  }

  @include large-and-up {
    max-width: 776px;
  }

  @include x-large-and-up {
    max-width: 736px;
  }
}

.author-block-info-title {
  font-weight: var(--font-weight-regular);
  font-size: 20px;
  text-align: center;
  margin-bottom: 16px;
}

.author-block-image {
  width: 200px;
  height: 200px;

  img {
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
  }

  @include small-and-less {
    margin: auto;
  }
}

.author-block-info-name {
  font-size: var(--font-size-m--font-family-tertiary);
  font-weight: var(--font-weight-semibold);
  color: var(--gp-green-800);
  margin: 16px 0;
  text-align: center;
}

.author-block-info-name,
.author-block-info-title {
  @include medium-and-up {
    text-align: inherit;
    margin: 8px 0;
  }
}

.author-bio {
  p {
    font-size: $font-size-sm;
    line-height: 1.5;
    margin: 0;

    .collapsing {
      display: none;
      transition: none;
    }
  }

  a {
    @include shared-link-styles;
  }
}

.author-block-info-name a,
.author-block-info-name a:hover,
.author-bio,
.author-block-description-button {
  font-family: var(--font-family-tertiary);
}

.author-block-description-button {
  color: var(--gp-green-800);
  background: none;
  outline: none;
  border: none;
  padding: 0;
  display: block;

  .show-less {
    display: none;
  }

  .show-more {
    display: inline-block;
  }

  &:hover {
    color: var(--gp-green-800);

    span {
      text-decoration: underline;
    }
  }

  &:focus {
    @include focus-styles;
  }

  &:after {
    content: "";
    height: 10px;
    width: 8px;
    display: inline-block;
    mask-image: url("../../images/chevron.svg");
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    background-repeat: no-repeat;
    background-color: currentColor;
    transform: rotate(90deg);
    margin-inline-start: $sp-x;
  }

  &[aria-expanded="true"] {
    .show-less {
      display: inline-block;
    }

    .show-more {
      display: none;
    }

    &:after {
      transform: rotate(-90deg);
    }
  }
}
