.comments-block {
  color: $grey-40;
  font-family: $roboto;
  width: 100%;
  padding-top: 32px;
  border-top: 1px solid $grey-20;

  .form-section,
  .comments-section {
    width: 100%;
  }

  .comments-section {
    padding-top: 32px;
    border-top: 1px solid $grey-20;
  }

  @include medium-and-up {
    padding-top: 40px;
  }

  @include large-and-up {
    max-width: 70%;
    padding-left: 48px;
    padding-right: 48px;
  }

  .comment-reply-title,
  .comments-section-title {
    font-size: $font-size-sm;
    font-family: $roboto;
    color: $grey-40;
    font-weight: bold;

    @include large-and-up {
      font-size: $font-size-md;
    }
  }

  .comment-reply-title {
    margin-bottom: 24px;

    @include medium-and-up {
      margin-bottom: 32px;
    }
  }

  .comments-section-title {
    margin-bottom: 0;
  }
}

// Adds nesting on comments
@include comment-level;

.single-comment {
  padding: 32px 0;
  font-size: $font-size-sm;
  line-height: 1.5;
  font-family: $lora;

  &:not(:last-of-type) {
    border-bottom: 1px solid $grey-20;
  }

  .single-comment-text {
    font-weight: normal;
    margin: 0;
  }

  @include medium-and-up {
    padding: 40px 0;
  }

  @include large-and-up {
    padding: 40px 0 16px 0;
  }
}

.single-comment-meta {
  text-decoration: none;
  display: block;

  .author-info {
    font-weight: bold;

    &:after {
      content: "\2022";
      padding-left: 5px;

      @include medium-and-up {
        padding-left: 7px;
      }
    }
  }

  & > * {
    display: inline-block;
    margin-bottom: 0;
  }

  .comment-date {
    font-weight: normal;
    font-style: italic;
  }

  .comment-reply-btn {
    clear: both;
    display: block;
    margin-top: 24px;
    width: 100%;

    @include medium-and-up {
      margin-top: 40px;
    }

    @include large-and-up {
      width: 180px;
      height: 32px;
      line-height: 32px;
      margin-right: 0;
      margin-left: auto;
      margin-top: 8px;
    }
  }
}
