@use "../../base/mixins";
@use "../../base/tokens";
@use "../../base/variables";

// Adds nesting on comments
@include mixins.comment-level;

.comments-block {
  h3 {
    font-size: 16px;
    margin-bottom: variables.$sp-2;
  }
}

.single-comment {
  font-family: var(--font-family-paragraph-secondary);
  padding-bottom: variables.$sp-3;

  &:not(:first-of-type) {
    border-top: 1px solid rgba(tokens.$grey-500, 0.5);
    padding-top: variables.$sp-3;
  }
}

.single-comment-text {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: variables.$sp-1;
  overflow-wrap: break-word;

  a {
    @include mixins.shared-link-styles;
  }
}

.single-comment-meta {
  font-family: var(--font-family-paragraph-secondary);
  font-size: 14px;
  color: var(--grey-600);

  .author-info,
  .comment-date {
    display: inline-block;
  }

  .author-info::after {
    content: "\2022";
    padding-inline-start: variables.$sp-1;
    padding-inline-end: variables.$sp-x;
  }

  .comment-reply-link {
    display: block;
    font-weight: bold;
    font-size: 14px;
    margin-top: variables.$sp-2;
    width: fit-content;
    @include mixins.shared-link-styles;
  }
}

@include mixins.medium-and-up {
  .single-comment-meta {
    .comment-reply-link {
      font-family: var(--font-family-primary);
      font-weight: var(--font-weight-regular);
      float: right;
      margin-top: 0;

      html[dir="rtl"] & {
        float: left;
      }
    }
  }
}

@include mixins.large-and-up {
  .comments-block {
    max-width: 696px;
  }
}

@include mixins.x-large-and-up {
  .comments-block {
    max-width: 736px;
  }
}
