// Adds nesting on comments
@include comment-level;

.comments-block {
  h3 {
    font-size: 16px;
    margin-bottom: $sp-2;
  }

  .comment-respond button {
    height: 48px;
  }
}

.single-comment {
  font-family: var(--font-family-paragraph-secondary);
  padding-bottom: $sp-3;

  &:not(:first-of-type) {
    border-top: 1px solid rgba($grey-500, 0.5);
    padding-top: $sp-3;
  }
}

.single-comment-text {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: $sp-1;
  overflow-wrap: break-word;

  a {
    @include shared-link-styles;
  }
}

.single-comment-meta {
  font-family: var(--font-family-paragraph-secondary);
  font-size: 14px;
  color: var(--grey-600);

  .author-info,
  .comment-date {
    display: inline-block;
  }

  .author-info::after {
    content: "\2022";
    padding-inline-start: $sp-1;
    padding-inline-end: $sp-x;
  }

  .comment-reply-link {
    display: block;
    font-weight: bold;
    font-size: 14px;
    margin-top: $sp-2;
    @include shared-link-styles;

    &:hover {
      color: var(--grey-900);
    }
  }
}

@include medium-and-up {
  .single-comment-meta {
    .comment-reply-link {
      _-- {
        font-family: var(--font-family-primary);
        font-weight: var(--font-weight-regular);
      }

      float: right;
      margin-top: 0;

      html[dir="rtl"] & {
        float: left;
      }
    }
  }
}

@include large-and-up {
  .comments-block {
    max-width: 696px;
  }
}

@include x-large-and-up {
  .comments-block {
    max-width: 736px;
  }
}
