.comments-block {
  .form-section .comment-respond {
    background: var(--color-background-comments_block);
    border-radius: 4px;
    padding: 24px 16px;
  }

  .comment-respond {
    font-size: 0;
    margin-bottom: 32px;

    input,
    textarea {
      width: 100%;
    }

    .form-submit {
      margin-bottom: 0;
    }

    button {
      margin-top: 8px;
      margin-bottom: 0;
    }

    @include medium-and-up {
      .comment-author,
      .comment-email {
        width: calc(50% - 8px);
        display: inline-block;
        vertical-align: bottom;
      }

      .comment-author {
        margin-inline-end: 16px;
      }
    }
  }
}

#gdpr-comments-compliance {
  --comments-compliance-- {
    font-family: var(--font-family-primary);
  }
  margin-bottom: 8px;
  position: relative;

  #gdpr-comments-checkbox {
    display: inline-block;
    margin-inline-end: 8px;
    width: $checkbox-size !important;
    height: $checkbox-size;
    top: calc($sp-1 - 1px);
  }

  #gdpr-comments-label {
    line-height: var(--line-height-m--font-family-tertiary);
    font-size: var(--font-size-m--font-family-tertiary);
    display: inline-block;
  }
}

.comment-form-cookies-consent input[type="checkbox"] ~ .custom-control-description {
  font-size: 14px;
}

.logged-in-as {
  font-size: var(--font-size-s--font-family-tertiary);
  font-family: var(--font-family-tertiary);

  a {
    color: var(--gp-green-800);

    &:hover,
    &:visited {
      color: var(--gp-green-800);
    }
  }
}

#cancel-comment-reply-link {
  margin-inline-start: 8px;
  color: var(--grey-600);

  &:hover,
  &:focus {
    color: var(--grey-600);
  }
}

@include medium-and-up {
  .comment-form-cookies-consent {
    margin-top: 8px;
  }

  .comments-block .form-section .comment-respond {
    padding: 32px;

    .logged-in-as {
      position: absolute;
      top: 32px;
      right: 32px;
      max-width: 70%;
      line-height: 1.3;

      html[dir="rtl"] & {
        left: 32px;
        right: auto;
      }
    }
  }

  .comments-block .comment-respond {
    position: relative;

    .logged-in-as {
      position: absolute;
      top: 0;
      right: 0;

      html[dir="rtl"] & {
        left: 0;
        right: auto;
      }
    }
  }

  .logged-in-as {
    position: absolute;
    top: 32px;
    right: 32px;

    html[dir="rtl"] & {
      left: 32px;
      right: auto;
    }
  }
}
