.comments-block {
  font-family: var(--font-family-paragraph-secondary);

  .required-field-message {
    display: none;
  }

  .form-section .comment-respond {
    background: var(--color-background-comments_block);
    border-radius: 4px;
    padding: $sp-3 $sp-2;
  }

  .comment-respond {
    margin-bottom: $sp-4;

    input,
    textarea {
      width: 100%;
    }

    .form-submit {
      margin-bottom: 0;
    }

    button {
      margin-top: $sp-1;
      margin-bottom: 0;
    }

    @include medium-and-up {
      .comment-author,
      .comment-email {
        width: calc(50% - $sp-1);
        display: inline-block;
        vertical-align: bottom;
      }

      .comment-author {
        margin-inline-end: $sp-1x;
      }
    }
  }
}

#gdpr-comments-compliance {
  --comments-compliance-- {
    font-family: var(--font-family-primary);
  }
  margin-bottom: $sp-1;

  #gdpr-comments-checkbox {
    display: inline-block;
    margin-inline-end: $sp-1;
    width: $checkbox-size !important;
    height: $checkbox-size;
    top: calc($sp-1 - 1px);
  }

  #gdpr-comments-label {
    line-height: var(--line-height-m--font-family-tertiary);
    font-size: var(--font-size-m--font-family-tertiary);
    display: inline-block;
  }
}

.logged-in-as {
  font-size: var(--font-size-s--font-family-tertiary);
  font-family: var(--font-family-tertiary);

  a {
    color: var(--gp-green-800);

    &:hover,
    &:visited {
      color: var(--gp-green-800);
    }
  }
}

#cancel-comment-reply-link {
  margin: 0 $sp-1;
  color: var(--grey-600);

  &:hover,
  &:focus {
    color: var(--grey-600);
  }
}

@include medium-and-up {
  .comments-block .form-section .comment-respond {
    padding: $sp-4;
  }
}
