.comment-form {
  display: block;
  padding-bottom: 60px;

  .form-group {
    margin-bottom: 32px;

    @include small-and-up {
      margin-bottom: 32px;
    }

    @include medium-and-up {
      padding-bottom: 40px;
    }
  }

  textarea {
    margin-bottom: 20px;

    @include small-and-up {
      margin-bottom: 56px;
    }

    @include medium-and-up {
      margin-bottom: 40px;
    }

    @include large-and-up {
      margin-bottom: 30px;
    }
  }

  input {
    width: 100%;

    @include medium-and-up {
      width: 50%;
    }

    @include medium-and-up {
      width: 80%;
    }
  }

  button {
    width: 100%;
    margin-top: 60px;

    @include medium-and-up {
      width: 50%;
      margin-top: 30px;
    }

    @include large-and-up {
      width: 40%;
      margin-top: 30px;
    }
  }
}
