.comment-form {
  display: block;
  padding-bottom: 32px;

  @include medium-and-up {
    padding-bottom: 56px;
  }

  .form-submit {
    margin-bottom: 0;
  }

  .form-group {
    position: relative;
  }

  input,
  textarea {
    font-size: $font-size-xs;
    padding: 16px;
    margin-bottom: 32px;
    font-weight: normal;
    border-radius: 0;
    border: solid 1px $grey-40;
    background-color: $white;

    @include large-and-up {
      font-size: $font-size-sm;
    }
  }

  textarea {
    resize: none;
  }

  label {
    position: absolute;
    margin: 0;
    font-size: $font-size-xxs;
    font-weight: bold;
    margin-top: -10px;
    margin-left: 16px;
    background-color: white;
    padding: 0 6px;

    @include large-and-up {
      padding: 0 8px;
      font-size: $font-size-xs;
    }
  }

  input {
    width: 100%;

    @include medium-and-up {
      width: 50%;
    }
  }

  button {
    width: 100%;
    margin: 0;

    @include large-and-up {
      width: 220px;
    }
  }
}
