.single-post,
.single-idea {
  .skewed-overlay {
    mask-image: none;
  }

  .page-header {
    padding: $n90 0 $n20;

    @include medium-and-up {
      padding: 104px 0 26px;
    }

    @include large-and-up {
      padding: 144px 0 $n30;
    }

    @include x-large-and-up {
      padding: 144px 0 $n40;
    }

    .page-header-title {
      max-width: 100%;
    }

    .page-header-background {
      opacity: .3;
    }

    h1 {
      color: $grey-80;
      hyphens: none;
      line-height: 1.2;

      @include x-large-and-up {
        line-height: 1.1;
        font-size: 3.5rem;
        margin-bottom: 20px;
      }
    }

    .single-post-meta {
      color: $grey-80;
      margin: 0 0 16px 0;
      font-size: 0.8125rem;
      font-weight: 300;
      font-family: $roboto;

      a {
        color: inherit;
      }

      span.separator {
        margin: 0 $n5;
      }

      .comment-link {
        &:hover {
          text-decoration: none;
        }

        img {
          width: 14px;
          margin-right: 3px;
        }

        .quantity {
          text-decoration: underline;

          @include large-and-up {
            text-decoration: none;
          }
        }

        .quantity:hover {
          text-decoration: underline;
        }

        .display-text {
          visibility: hidden;

          @include medium-and-up {
            visibility: visible;
          }
        }
      }

      @include medium-and-up {
        font-size: $font-size-xxs;
        font-weight: 300;
        color: $grey-60;
        margin: 0;
      }

      @include large-and-up {
        font-size: $font-size-xs;
        margin: -10px 0 0 0;
      }

      @include x-large-and-up {
        margin: 0;
        font-size: $font-size-sm;
      }
    }

    .single-post-author,
    .single-post-time {
      font-style: italic;
      display: inline-block;
      margin: 0;
    }

    .single-post-author {
      margin-right: 20px;
      position: relative;

      html[dir="rtl"] & {
        margin-right: 0;
        margin-left: 20px;
      }

      .author-pic {
        border-radius: 50%;
        object-fit: cover;
      }

      &:after {
        content: "\2022";
        pointer-events: none;
        display: inline-block;
        position: absolute;
        right: -15px;
        top: 0;

        html[dir="rtl"] & {
          right: auto;
          left: -15px;
        }
      }
    }
  }

  div.post-content {
    .container {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
