.single-post,
.single-attachment,
.single-idea {
  .skewed-overlay {
    mask-image: none;
  }

  .page-header {
    .page-header-background {
      opacity: .3;
    }

    h1 {
      color: $grey-80;
      hyphens: none;
    }

    .single-post-meta {
      color: $grey-40;
      font-size: 14px;
      font-family: $roboto;
      border-bottom: solid 1px $grey-20;
      padding-bottom: 16px;
      line-height: 24px;
      margin-bottom: 16px;

      a {
        color: inherit;
      }

      .single-post-author,
      .single-post-time,
      .comment-link {
        display: inline-block;
        margin: 0;
      }

      .single-post-author {
        font-weight: 500;

        &:after {
          content: "\2022";
          pointer-events: none;
          display: inline-block;
          font-weight: normal;
          margin: 0 8px;
          top: 0;
        }
      }

      .comment-link {
        font-weight: 500;

        &:before {
          content: "\2022";
          pointer-events: none;
          display: inline-block;
          font-weight: normal;
          margin: 0 8px;
          top: 0;
        }

        img {
          width: 14px;
          margin-right: 3px;
        }
      }
    }
  }

  div.post-content {
    .container {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
