@include large-and-up {
  .narrow-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 776px;
    padding: 0;
  }
}

@include x-large-and-up {
  .narrow-container {
    max-width: 736px;
  }
}

.page-header-title {
  hyphens: none;
  max-width: none;
  margin-bottom: 8px;
  line-height: 1.2;
}

.single-post-meta {
  font-size: var(--font-size-s--font-family-tertiary);
  font-family: var(--font-family-tertiary);
  line-height: var(--line-height-m--font-family-tertiary);
  color: var(--color-text-meta_item);
  border-bottom: 1px solid rgba($grey-500, 0.5);
  padding-bottom: 16px;
  margin-bottom: 16px;
  display: flex;
  gap: 8px;
  align-items: flex-end;

  a {
    color: inherit;

    &:visited,
    &:active,
    &:hover {
      color: inherit;
    }
  }
}

.single-post-meta-bullet {
  margin: 0 8px;
}

.author-pic {
  border-radius: 50%;
  object-fit: cover;
  max-height: 50px;
}

.single-post-author {
  font-family: var(--font-family-paragraph-secondary);
  font-weight: var(--font-weight-semibold);
  color: var(--color-text-meta_item);
  display: block;
  margin: 0;
}

.single-post-time,
.comment-link {
  display: inline-block;
  margin: 0;
}

.comment-link {
  font-weight: 500;

  img {
    width: 17px;
  }

  svg {
    top: -2px;
  }
}

.articles-block {
  border-top: 1px solid rgba($grey-500, 0.5);
  padding-top: 16px;

  @include medium-and-up {
    padding-top: 24px;
  }
}

.post-tags {
  margin-bottom: $sp-2;
}
