$placeholder-color: #001317;

.page-sign-petition-page {
  &.page-header {
    padding-top: 61px;
    padding-bottom: 0;
    .custom-title {
      max-width: 90%;
      margin-top: 49px;
      font-size: rem(28);
      margin-bottom: 48px;
      @include small-and-up {
        font-size: rem(40);
        max-width: 100%;
        margin-top: 80px;
      }

      @include medium-and-up {
        font-size: rem(40);
        max-width: 75%;
        margin-top: 80px; 
      }
      @include large-and-up {
        font-size: rem(48);
        max-width: 75%;
        margin-top: 80px; 
      }

      @include x-large-and-up {
        font-size: rem(66);
        margin-top: 120px; 
      }
    }
    .subhead-custom-title {
      font-size: rem(26);
      margin-bottom: 32px;
      @include medium-and-up {
        font-size: rem(30);
      }
      @include large-and-up {
        font-size: rem(36);
      }

      @include x-large-and-up {
        font-size: rem(36);
      }
      &.normaltxt {
        font-weight: normal;
        span {
          font-weight: bold;
        }
      }  
    }
    .subhead-para {
      font-size: rem(16);
      line-height: 22px;
      @include medium-and-up {
        font-size: rem(17);
        line-height: 26px;
      }
      @include large-and-up {
        font-size: rem(20);
        line-height: 32px;
      }

      @include x-large-and-up {
        font-size: rem(20);
        line-height: 34px;
      }
    }
    .petition-form {
      background-color:rgba(0,19,23,0.6);
      padding: 16px;
      @include medium-and-up {
        margin-bottom: 64px;
      }
      @include large-and-up {
        margin-bottom: 80px;
      }
      @include x-large-and-up {
        margin-bottom: 88px;
      }
      .form-group {
        margin-bottom: 20px;
        @include medium-and-up {
          margin-bottom: 32px;
        }
        @include large-and-up {
          margin-bottom: 32px;
        }

        @include x-large-and-up {
          margin-bottom: 32px;
        }
        .form-control {
          height: 48px;
          border-radius: 0;
          color:rgb(0,19,23);
          font-size: rem(16);
          font-family: $roboto;
          @include large-and-up {
            height: 56px;
            font-size: rem(18);
          }
          &::placeholder {
            font-family: $roboto;
            color: $placeholder-color;
          }
        }
        .form-check-label {
          font-size: rem(14);
          font-style: italic;
          @include large-and-up {
            font-size: rem(16);
          }
        }

        .styled-checkbox {
          position: absolute; // take it out of document flow
          opacity: 0; // hide it

          & + label {
            position: relative;
            cursor: pointer;
            padding: 0;
          }

          // Box.
          & + label:before {
            content: '';
            margin-right: 10px;
            display: inline-block;
            vertical-align: text-top;
            width: 20px;
            height: 20px;
            background: $white;
          }

          // Box hover
          &:hover + label:before {
            background: #02484E;
          }

          // Box focus
          &:focus + label:before {
            box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
          }

          // Box checked
          &:checked + label:before {
            background: #02484E;
          }

          // Disabled state label.
          &:disabled + label {
            color: #b8b8b8;
            cursor: auto;
          }

          // Disabled box.
          &:disabled + label:before {
            box-shadow: none;
            background: #ddd;
          }

          // Checkmark. Could be replaced with an image
          &:checked + label:after {
            content: '';
            position: absolute;
            left: 5px;
            top: 9px;
            background: white;
            width: 2px;
            height: 2px;
            box-shadow: 
            2px 0 0 white,
            4px 0 0 white,
            4px -2px 0 white,
            4px -4px 0 white,
            4px -6px 0 white,
            4px -8px 0 white;
            transform: rotate(45deg);
          }
        }
      }
      .btn {
        margin-bottom: 8px;
      }
      .message-box {
        max-height: 350px;
        overflow-y: scroll;
        background: $white;
        margin-bottom: 20px;
        color: $grey;
        padding: 16px;
        p {
          font-family: $roboto;
          font-size: rem(16);
          line-height: 20px;
          @include large-and-up {
            font-size: rem(18);
            line-height: 22px;
          }
        }
        .message-label {
          color: $grey-40;
          font-size: rem(12);
        }
      }
      .customselect-country { 
        position: relative;
        .select-gred {
          color: $white;
          background: rgba(0,99,110,1);
          background: -moz-linear-gradient(left, rgba(0,99,110,1) 0%, rgba(44,148,171,1) 100%);
          background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,99,110,1)), color-stop(100%, rgba(44,148,171,1)));
          background: -webkit-linear-gradient(left, rgba(0,99,110,1) 0%, rgba(44,148,171,1) 100%);
          background: -o-linear-gradient(left, rgba(0,99,110,1) 0%, rgba(44,148,171,1) 100%);
          background: -ms-linear-gradient(left, rgba(0,99,110,1) 0%, rgba(44,148,171,1) 100%);
          background: linear-gradient(to right, rgba(0,99,110,1) 0%, rgba(44,148,171,1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00636e', endColorstr='#2c94ab', GradientType=1 );
          height:48px; 
          width: 100%;
          display: block;
          padding: 0 16px;
          margin-bottom: 32px;
          cursor: pointer;
          span {
            line-height: 48px;
          }
          &.active {
            .arrow-selected {
              transform: rotate(90deg);
            }
          }
          .arrow-selected {
            background: url(images/selectarrow.png);
            width: 18px;
            height: 18px;
            float: right;
            margin-top: 14px;
            transition: all 1s ease;
          }
        }
        .option-contry {
          background: $white;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          margin-top: 48px;
          height: 200px;
          z-index: 2;
          overflow-y: auto;
          display: none;
          box-shadow: 0px 1px $grey-20;
          &.active {
            display: block;
          }
          ul {
            li {
              a {
                text-decoration: none;
                padding: 8px 16px;
                color: $black;
                border-bottom: 1px solid $grey-20;
                cursor: pointer;
                display: block;
              }  
            }
          }
        }
      }
    }
    p.thankmsg {
      margin-bottom: 56px;
    }
    .socialshare {
      margin-bottom: 120px;
      clear: both;
      height: auto;
      a {
        width: 40%;
        display: block;
        text-decoration: none;
        margin-right: 20px;
        float: left;
        img {
          width: 100%;
        }
      }
    }
  }
}
