.cookies-block {
  .cookies-checkbox-description.rich-text {
    display: inline-block;
  }

  .field-reset-button {
    display: inline-block;
    color: var(--link--color);
    margin-inline-start: 16px;
    font-family: var(--font-family-primary);
    font-size: 14px;
    vertical-align: middle;
    white-space: nowrap;

    .cta {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    .info {
      margin-inline-start: 8px;
      border-radius: 50%;
      width: 18px;
      height: 18px;
      display: inline-block;
      text-align: center;
      border: solid 1px var(--grey-900);
    }
  }
}
