@import "../../master-theme/assets/src/scss/base/variables";
@import "../../master-theme/assets/src/scss/base/mixins";

.cookies-block {
  .custom-control-description,
  .custom-control input[type="checkbox"] ~ .custom-control-description {
    _-- {
      font-size: var(--font-size-xl--font-family-primary);
      font-family: var(--font-family-primary);
    }

    @include x-large-and-up {
      _-- {
        font-size: var(--font-size-2xl--font-family-primary);
      }
    }
  }

  .always-enabled {
    _-- {
      font-size: 12px;
      font-weight: 700;
    }

    font-family: var(--font-family-tertiary);
    background: var(--grey-900);
    color: white;
    border-radius: 4px;
    padding: $sp-x;
    margin-inline-start: $sp-1;
  }
}
