{% block pages_content %}

    <div class="clear"></div>

    <p>Search <input type="text" id="search_gpi_image" name="search_gpi_image"/>
        <button id="search_gpi_img_btn">Search</button></p>
    <div class="row">
        <div id="gpi_images_results">

        </div>
    </div>

{% endblock %}