{% block ml_additional_fields %}
    <div class="ml-additional-fields">
        <hr>
        <label class="ml-org-lang-label">{{ __( 'In original language:', 'planet4-medialibrary' ) }}</label>
        <div class="uploaded ml-org-lang"></div>
        <label class="ml-restrictions-label"><BR>{{ __( 'Restrictions:', 'planet4-medialibrary' ) }}</label>
        <div class="uploaded ml-restrictions"></div>
    </div>
{% endblock %}
