.page-template-sitemap {
  .skewed-overlay {
    &:before {
      @include skewed-gradient(
        transparent,
        transparentize($eden, .7),
        transparentize($eden, .7),
        transparentize($eden, .95),
        transparentize($eden, .8)
      );
    }

    mask-image: linear-gradient(170deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, .2), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    -webkit-mask-image: linear-gradient(170deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, .2), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    mask-size: 100%;
    mask-repeat: no-repeat;
    mask-position: left top;
  }

  .page-sitemap {
    margin-bottom: 100px;

    a {
      color: $menu-blue;
      text-decoration: none;
    }

    h5 {
      margin-bottom: 1rem;
    }
  }
}
