@use '../base/abstract';
@use '../base/mixins';
@use '../base/typography';

@mixin blockquote {
  font-size: abstract.$font-size-lg;
  line-height: 1.4;
  font-style: italic;

  @include mixins.medium-and-up {
    font-size: abstract.$font-size-xxl;
  }

  @include mixins.large-and-up {
    max-width: 80%;
  }

  @include mixins.x-large-and-up {
    font-size: abstract.$font-size-xxl;
  }
}

blockquote,
blockquote > p {
  @include blockquote;
}

blockquote > h5 {
<<<<<<< Updated upstream
  @include blockquote;
  font-family: var(--body--font-family);
  font-size: $font-size-xxl;
=======
  font-size: abstract.$font-size-xxl;
>>>>>>> Stashed changes

  @include mixins.medium-and-up {
    font-size: abstract.$font-size-xxl;
  }
}

blockquote > h6 {
<<<<<<< Updated upstream
  @include blockquote;
  font-family: var(--body--font-family);
  font-size: $font-size-xl;
=======
  font-size: abstract.$font-size-xl;
>>>>>>> Stashed changes

  @include mixins.medium-and-up {
    font-size: abstract.$font-size-xl;
  }

  @include mixins.x-large-and-up {
    font-size: abstract.$font-size-xl;
  }
}
