@mixin blockquote {
  font-size: $font-size-lg;
  line-height: 1.4;
  font-style: italic;

  @include medium-and-up {
    font-size: $font-size-xxl;
  }

  @include large-and-up {
    max-width: 80%;
  }

  @include x-large-and-up {
    font-size: $font-size-xxl;
  }
}

blockquote,
blockquote > p {
  @include blockquote;
}

blockquote > h5 {
  @include blockquote;
  font-family: $lora;
  color: $grey-80;
  font-size: $font-size-xxl;

  @include medium-and-up {
    font-size: $font-size-xxl;
  }
}

blockquote > h6 {
  @include blockquote;
  font-family: $lora;
  color: $grey-80;
  font-size: $font-size-xl;

  @include medium-and-up {
    font-size: $font-size-xl;
  }

  @include x-large-and-up {
    font-size: $font-size-xl;
  }
}
