.btn,
.wp-block-button a,
.wp-block-file a.wp-block-file__button {
  --button-- {
    font-family: $roboto;
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
    padding: 0 30px;
    transition-property: color, background-color, border-color;
    transition-duration: 150ms;
    transition-timing-function: linear;

    &:focus {
      outline: 2px solid rgba(0, 106, 255, 0.4);
      outline-offset: 2px;
    }
  }

  &:focus:not(:focus-visible) {
    outline: 0;
  }

  *, &::before, &:after {
    transition-property: inherit;
    transition-duration: inherit;
    transition-timing-function: inherit;
  }

  display: inline-block;
  position: relative;
  font-size: $font-size-sm;
  text-decoration: none;
  border: 1px solid transparent;
  cursor: pointer;
  line-height: 3;
  appearance: none;

  &:hover,
  &:active,
  &:visited {
    text-decoration: none;
  }

  &:disabled,
  &.disabled,
  &[disabled] {
    opacity: .5;
    cursor: default;
  }

  &.has-background {
    border-color: transparent !important;
  }

  &.has-grey-80-color {
    color: $grey-80 !important;

    &:hover,
    &:active {
      color: $grey-80 !important;
    }
  }
}

.btn-small {
  font-size: $font-size-xxs;
  line-height: 2.8;
}

.btn-large {
  font-size: $font-size-md;
  line-height: 3.1;
}

$primary-button-box-shadow: 0 2px 5px rgba(0, 0, 0, .25);

.btn-primary,
.wp-block-button.is-style-cta a {
  --button-primary-- {
    background: $orange;
    color: $white;
    // Adding this here so that the variable exists, though technically not needed.
    // This allows for the hover variable to be previewed.
    border-color: transparent;
    box-shadow: $primary-button-box-shadow;

    &:hover,
    &:active {
      background: $orange-hover;
      color: $white;
      border: 1px solid $orange-hover;
      box-shadow: $primary-button-box-shadow;
    }

    &:disabled,
    &.disabled,
    &[disabled] {
      background: $orange;
    }
  }
}

.btn-secondary,
.wp-block-button.is-style-secondary a,
[class="wp-block-button"] a,
.wp-block-file a.wp-block-file__button {
  --button-secondary-- {
    background: transparentize($white, .7);
    border-color: $dark-blue;
    color: $dark-blue;
    box-shadow: none;

    &:visited {
      color: $dark-blue;
    }

    &:hover {
      background: $dark-blue;
      border-color: $dark-blue;
      color: $white;
    }

    &:active {
      background: $active-blue;
      border-color: $active-blue;
    }

    &:disabled,
    &.disabled,
    &[disabled] {
      background: $white;
      color: $dark-blue;
    }
  }

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// The new core buttons block wrap in "wp-block-buttons" class which apply
// extra css properties which break old button block UI.
.wp-block-buttons .wp-block-button {
  display: block !important;
  margin-left: unset;
  margin-right: unset;
}

.btn-action {
  background-color: transparentize($white, .8);
  border-color: $white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .25);

  &:hover {
    background-color: $orange;
    border-color: $orange;
  }

  &:active {
    background-color: $orange-hover;
    border-color: $orange-hover;
  }
}

$donate-button-box-shadow: 0 2px 5px rgba(0, 0, 0, .25);

.btn-donate,
.wp-block-button.is-style-donate a {
  --button-donate-- {
    background: $aquamarine;
    color: $grey-80;
    min-width: 180px;
    padding: 2px 30px;
    box-shadow: $donate-button-box-shadow;
    border-width: 1px;
    border-color: transparent;

    &:hover {
      background: $aquamarine;
      color: transparentize($grey-80, 0.2);
      box-shadow: $donate-button-box-shadow;
      border: 1px solid transparent;
    }

    @include large-and-up {
      font-size: $font-size-md;
    }
  }
  line-height: 1.65;
  margin: 0;
  text-transform: none;
}

.btn-navbar-toggle {
  // Use label because auto-generate doesn't work yet with multiple selectors.
  --btn-navbar-toggle-- {
    font-size: $font-size-sm;
    color: $gp-green;
    background-color: transparent;

    &:hover,
    &:active {
      color: $white;
      box-shadow: none;
      background-color: $x-dark-blue;
      border: 1px solid transparent;
    }

    @include small-and-up {
      background-color: $dark-blue;
      border-radius: 0;
      border: 1px solid transparent;
      box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
    }
  }
  cursor: pointer;
  transition: background-color color font-weight 100ms;
  display: inline-block;
}

.btn-filter-item {
  background-color: transparent;
  border-color: $dark-blue;
  color: $dark-blue;
  padding: 0 $sp-6x 0 $sp-4;
  position: relative;
  font-weight: 400;

  &:hover {
    background-color: $dark-blue;
    border-color: $dark-blue;
  }

  &:active {
    background-color: $grey-80;
    border-color: $grey-80;
  }

  i {
    position: absolute;
    font-size: $font-size-xxs;
    right: 10px;
    top: 50%;
    transform: translate(0, -40%);
  }
}

.no-btn {
  background: transparent;
  border: transparent;
  padding: 0;
  cursor: pointer;
}

button.load-more-mt {
  &.hide-load-more {
    opacity: 0;
    transition: opacity 400ms;
  }
}

.post-tag-button {
  _-- {
    border-color: $link-color;
    color: $link-color;
    background-color: $white;
    font-weight: 500;

    &:visited {
      color: $link-color;
    }

    &:hover {
      background-color: $link-color;
      color: $white;
    }

    &:active {
      background-color: $link-color;
      color: $white;
    }
  }
  margin-inline-end: $sp-2;
  margin-bottom: $sp-2;
  line-height: 2.3;
  padding: 0 $sp-2;
  transition-duration: 100ms;
}
