.btn,
.wp-block-button a,
.wp-block-button button,
.wp-block-file a.wp-block-file__button,
.gfield button:not(.add_list_item):not(.delete_list_item):not([id^="mceu"]),
.gform_button_select_files,
[id^="gform_submit_button"] {
  font-family: var(--font-family-primary);
  font-size: $font-size-sm;
  text-align: center;
  font-weight: var(--font-weight-regular);
  border-radius: 4px;
  padding: $sp-1x $sp-3x;
  transition-property: color, background-color, border-color;
  transition-duration: 150ms;
  transition-timing-function: linear;

  &:focus {
    @include focus-styles;
  }

  display: inline-block;
  position: relative;
  text-decoration: none;
  border: 1px solid transparent;
  cursor: pointer;
  appearance: none;

  &:focus:not(:focus-visible) {
    outline: 0;
  }

  *, &::before, &:after {
    transition-property: inherit;
    transition-duration: inherit;
    transition-timing-function: inherit;
  }

  &:hover,
  &:active,
  &:visited {
    text-decoration: none;
  }

  &:disabled,
  &.disabled,
  &[disabled] {
    opacity: .5;
    cursor: default;
  }

  &.has-background {
    border-color: transparent !important;
  }

  &.has-grey-80-color {
    color: var(--grey-900) !important;

    &:hover,
    &:active {
      color: var(--grey-900) !important;
    }
  }
}

.btn-small,
.gfield button:not(.add_list_item):not(.delete_list_item):not([id^="mceu"]),
.gform_button_select_files {
  font-size: $font-size-xxs;
  padding: $sp-1 $sp-3;
}

.btn-primary,
.wp-block-button.is-style-cta a,
[id^="gform_submit_button"] {
  background: var(--color-background-button--cta);
  color: var(--color-text-button--primary);
  // Adding this here so that the variable exists, though technically not needed.
  // This allows for the hover variable to be previewed.
  border-color: transparent;

  &:visited {
    color: var(--color-text-button--cta);
  }

  &:hover,
  &:active {
    background: var(--color-background-button--primary-hover);
    color: var(--color-text-button--cta);
    border: 1px solid transparent;
  }

  &:disabled,
  &.disabled,
  &[disabled] {
    background: var(--p4-action-yellow-500);
  }
}

.btn-secondary,
.wp-block-button.is-style-secondary a,
.wp-block-button.is-style-secondary button,
[class="wp-block-button"] a,
.wp-block-file a.wp-block-file__button,
.gfield button:not(.add_list_item):not(.delete_list_item):not([id^="mceu"]),
.gform_button_select_files {
  background: var(--white);
  border-color: var(--color-border-button--secondary);
  color: var(--color-text-button--secondary);

  &:visited {
    color: var(--p4-dark-green-800);
  }

  &:hover {
    background: var(--color-background-button--secondary-hover);
    border-color: var(--p4-dark-green-800);
    color: var(--white);
  }

  &:active {
    background: var(--p4-dark-green-800);
    border-color: var(--p4-dark-green-800);
    color: var(--white);
  }

  &:disabled,
  &.disabled,
  &[disabled] {
    background: var(--white);
    color: var(--p4-dark-green-800);
  }
}

// The new core buttons block wrap in "wp-block-buttons" class which apply
// extra css properties which break old button block UI.
.wp-block-buttons .wp-block-button {
  display: block !important;
  margin-left: unset;
  margin-right: unset;
}

.btn-donate {
  background: var(--gp-green-400);
  color: var(--grey-900);
  min-width: 180px;
  padding: $sp-x $sp-4;
  border-width: 1px;
  border-color: transparent;

  &:hover {
    background: var(--gp-green-500);
    color: var(--grey-900);
    border: 1px solid transparent;
  }

  &:visited {
    color: var(--grey-900);
  }

  @include large-and-up {
    font-size: $font-size-md;
  }

  margin: 0;
  text-transform: none;
}

.nav-donate.has-children .btn-donate {
  padding-inline-end: $sp-4;
}

.no-btn {
  background: transparent;
  border: transparent;
  padding: 0;
  cursor: pointer;
}

.post-tag-button {
  font-weight: var(--font-weight-regular);
  border-color: var(--gp-green-100);
  color: var(--grey-900);
  background-color: var(--color-background-tag_button--passive);
  margin-inline-end: $sp-2;
  margin-bottom: $sp-2;
  transition-duration: 100ms;

  &:visited {
    color: var(--grey-900);
  }

  &:hover {
    background-color: var(--color-background-tag_button--hover);
    border-color: var(--gp-green-200);
    color: var(--grey-900);
  }

  &:active {
    background-color: var(--gp-green-200);
    color: var(--grey-900);
  }
}

.wp-block-button.is-style-transparent a {
  --transparent-button-- {
    border-color: var(--white);
    color: var(--color-text-button-inverse);
    background: transparent;

    &:hover,
    &:active {
      background: var(--white);
      color: var(--color-text-button--secondary);
    }
  }
}
