.share-buttons {
  display: flex;

  .share-btn {
    border: none;
    color: $white;
    font-size: $font-size-md;
    opacity: 0.9;
    outline: none;
    width: 4rem;
    text-align: center;
    line-height: 2.7rem;
    height: 2.7rem;
    border-radius: 4px;
    margin-bottom: 0;

    &:not(:last-child) {
      margin-inline-end: 8px;
    }

    .icon {
      top: -2px;
    }

    &:hover {
      color: $grey-10;
    }

    &:active {
      position: relative;
      top: 2px;
      box-shadow: none;
      color: $grey-10;
      outline: none;
    }
  }

  .twitter {
    background: $twitter none repeat scroll 0 0;
  }

  .facebook {
    background: $facebook none repeat scroll 0 0;
  }

  .email {
    background: $email none repeat scroll 0 0;
  }

  .whatsapp {
    background: $whatsapp none repeat scroll 0 0;

    .icon {
      font-size: 1.5rem;
    }
  }
}
