.share-buttons {
  display: flex;

  .share-btn {
    border: none;
    font-size: $font-size-md;
    opacity: 0.9;
    width: 3rem;
    text-align: center;
    line-height: 2.7rem;
    height: 3rem;
    border-radius: 50%;
    margin-bottom: 0;
    background: var(--color-background-button_share--secondary-passive);

    &:not(:last-child) {
      margin-inline-end: 8px;
    }

    .icon {
      top: -1px;
    }

    &:hover,
    &:active {
      background: var(--color-background-button_share--secondary-hover);
    }
  }

  .twitter {
    color: $twitter;
  }

  .facebook {
    color: $facebook;
  }

  .email {
    .icon {
      fill: none;
      stroke: var(--grey-600);
      stroke-width: 35;
    }
  }

  .whatsapp {
    color: $whatsapp;

    .icon {
      font-size: 1.5rem;
    }
  }

  .twitter, .facebook, .email {
    .icon {
      top: 1px;
    }
  }

  .native {
    display: none;
  }
}
