@use '../base/abstract';
@use '../base/variables';
@use '../base/mixins';

blockquote.twitter-tweet {
  margin: variables.$sp-7x 0;
  padding-left: 30px;
  border-left: 4px solid var(--grey-500);
  display: inline-block;

  @include mixins.medium-and-up {
    padding-left: 70px;
  }

  p {
    font-size: abstract.$font-size-lg;
    line-height: 1.6;
    margin: 0;

    &:first-child {
      margin-bottom: 10px;
    }
  }

  a {
    text-decoration: none;
    outline: 0 none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
