@import "../../master-theme/assets/src/scss/base/colors";
@import "../../master-theme/assets/src/scss/base/variables";
@import "../../master-theme/assets/src/scss/base/mixins";
@import "../../master-theme/assets/src/scss/base/fonts";

.block-spreadsheet {
  display: inline-block;
  margin-top: $sp-1;
  margin-bottom: $sp-2;

  @include large-and-up {
    margin-top: $sp-2;
    margin-bottom: $sp-4;
  }
}

.table-wrapper {
  overflow: auto;

  max-height: 320px;
  margin-top: 1.5rem;

  @include medium-and-up {
    max-height: 520px;
    margin-top: 2rem;
  }

  @include large-and-up {
    max-height: 575px;
  }
}

table.spreadsheet-table {
  min-width: 100%;
  margin-bottom: 0;

  @include mobile-only {
    overflow: visible;
  }

  tr {
    td {
      color: var(--color-text-body);
      padding: 5px 20px;
      font-size: $font-size-xs;
      white-space: pre-wrap;

      @include x-large-and-up {
        font-size: $font-size-xs;
      }

      .highlighted-text {
        font-weight: bold;
      }
    }

    background-color: var(--grey-100);
  }

  tr:nth-child(odd) {
    background-color: var(--grey-200);
  }

  &.is-color-green {
    th {
      background-color: var(--p4-dark-green-800);
    }

    tr {
      background-color: var(--beige-100);
    }

    tr:nth-child(odd) {
      background-color: var(--beige-200);
    }
  }

  &.is-color-blue {
    th {
      background-color: var(--blue-green-800);
    }

    tr {
      background-color: var(--beige-100);
    }

    tr:nth-child(odd) {
      background-color: var(--beige-200);
    }
  }

  &.is-color-gp-green {
    th {
      background-color: var(--gp-green-800);
    }

    tr {
      background-color: var(--beige-100);
    }

    tr:nth-child(odd) {
      background: var(--beige-200);
    }
  }

  th {
    background-color: var(--grey-800);

    button {
      background-color: inherit;
      color: inherit;
      border: none;
    }

    color: var(--white);
    cursor: pointer;
    font-size: $font-size-sm;
    position: sticky;
    top: 0;

    svg {
      width: $sp-2;
      margin-left: $sp-1;
      // Compensate for a small baseline misalignment
      margin-top: -2px;
      // Use opacity instead of `display: none` to avoid jumpyness on headers
      opacity: 0;
      transition: opacity .3s, transform .4s;
    }

    &.spreadsheet-sorted-by {
      svg {
        opacity: 1;
      }

      &.sort-desc {
        svg {
          transform: rotate(180deg);
        }
      }
    }
  }
}

.spreadsheet-loading {
  padding: $sp-6;
  text-align: center;
}

.spreadsheet-search {
  width: 350px;
  max-width: 100%;
}

.spreadsheet-empty-message {
  padding: $sp-2;
  font-size: 1.12rem;
  line-height: 1.375rem;

  @include medium-and-up {
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin: 0 0 24px 0;
  }
}
