.cover-card.action-card {
  position: relative;
  max-width: 33%;
  margin-right: 0;
  margin-left: auto;

  a {
    pointer-events: none;
  }

  html[dir="rtl"] & {
    margin-left: 0;
    margin-right: auto;
  }

  .cover-card-excerpt,
  .cover-card-btn {
    display: block;
  }
}
