/**
 * CSS for the Happy Point embedded form.
 *
 * These styles are meant to be included in the ifram itself are thusly pure CSS.
 *
 * @todo:: remove this from the built files when we have the iframe embedded.
 */

.subscribe-form {
	margin: -15px;
	position: relative;
}

.subscribe-form label {
	display: none;
}

.subscribe-form .en__field {
	width: 100%;
	float: left;
	padding: 0 15px;
	margin-bottom: 10px;
}

.subscribe-form .en__field__input {
	width: 100%;
	height: 42px;
	border-radius: 0;
	border: 0;
	padding: 10px;
}

.subscribe-form .en__field--select {
	float: left;
	padding: 0 15px;
}

.subscribe-form .en__submit {
	width: 25%;
	float: left;
	padding: 0 15px;
}

.subscribe-form .en__submit button {
	background-color: #F36D3A;
	height: 42px;
	line-height: 1;
	color: #fff;
	text-transform: uppercase;
	width: 100%;
	font-size: 16px;
	border: 1px solid transparent;
	padding: 0 15px;
	border-radius: 5px;
}

.subscribe-form .en__submit button:hover {
	background-color: #e02d00;
}

.subscribe-text {
	float: right;
	padding-left: 15px;
}

@media (max-width: 575px) {
	.subscribe-form .en__submit {
		width: 100%;
		margin-bottom: 10px;
	}

	.subscribe-form .en__submit button {
		width: 100%;
	}

	.subscribe-text {
		float: unset;
		width: 94%;
		padding-right: 15px;
	}
}

@media (min-width: 576px) {
	.subscribe-form .en__submit {
		width: 100%;
		margin-bottom: 10px;
		text-align: center;
	}
}

@media (min-width: 768px) {
	.subscribe-form .en__field {
		width: 50%;
		margin-bottom: 16px;
	}

	.subscribe-form .en__submit button {
		width: 330px;
	}

	.subscribe-text {
		margin: 0 auto;
		width: 330px;
		float: unset;
		padding: 0;
	}
}

@media (min-width: 992px) {
	.subscribe-form .en__field {
		width: 41%;
	}

	.subscribe-form .en__field--select {
		width: 33%;
	}

	.subscribe-form .en__submit {
		width: 25%;
		margin-bottom: 10px;
	}

	.subscribe-form .en__submit button {
		width: 100%;
	}

	.subscribe-text {
		float: right;
		width: 24%;
		padding-right: 15px;
	}
}
