@import "../base/mixins";
@import "../base/variables";
@import "../base/colors";
@import "../base/fonts";

$menu-height-large: 3.75rem;
$navbar-default-height: 60px;

.country-dropdown-toggle {
  _-- {
    font-size: $font-size-sm;
    color: transparentize($white, 0.2);
    background-color: $x-dark-blue;

    &:focus {
      color: $white;
    }

    &:hover {
      color: $white;
    }

    @include large-and-up {
      background-color: transparent;
    }
  }

  cursor: pointer;
  border: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: color 100ms;

  &::after {
    content: "";
    width: 8px;
    height: 8px;
    background: url("../../images/down-arrow-white.svg") no-repeat center center;
    background-size: contain;
    display: inline-block;
    margin-left: 10px;
    transition: transform 300ms linear;
  }

  &[aria-expanded="true"] {
    &::after {
      transform: rotate(180deg);
    }
  }
}

.country-list {
  _-- {
    background: $x-dark-blue;
    line-height: 1.5;
  }

  display: none;
  text-transform: none;
  padding: 1.4em 0;
  overflow-y: hidden;
  top: $navbar-default-height;

  &.open {
    display: block;
    overflow-y: scroll !important;
  }

  a {
    display: block;

    _-- {
      color: $white;
    }
  }

  .active a {
    text-decoration: underline;
  }

  .country-group-letter {
    _-- {
      font-size: $font-size-sm;
      font-weight: bold;
      color: $grey-40;
    }

    position: absolute;
    line-height: 1.5;
    @include margin($left: -25px);

    html[dir="rtl"] & {
      @include margin($left: 0, $right: -25px);
      text-transform: lowercase;
    }

    @include large-and-up {
      margin-left: -25px;

      html[dir="rtl"] & {
        margin-left: 0;
        margin-right: -25px;
      }
    }
  }

  > ul {
    padding: 0 0 2em;
    margin-top: 1.5em;
  }

  > a,
  li {
    position: relative;
    list-style: none;
    padding-left: 50px;
    font-size: $font-size-sm;
    break-inside: avoid;

    html[dir="rtl"] & {
      padding-left: 0;
      padding-right: 50px;
    }

    @include large-and-up {
      padding-left: 2em;

      html[dir="rtl"] & {
        padding-right: 2em;
        padding-left: 0;
      }
    }

    ul {
      break-inside: avoid;
      padding: 0;
      margin: 0 1em 1.2em 0;

      html[dir="rtl"] & {
        margin: 0 0 1.2em 1em;
      }
    }

    li {
      padding-left: 0;
      list-style: none;

      html[dir="rtl"] & {
        padding-right: 0;
      }
    }
  }

  @include large-and-up {
    --country-list-- {
      height: 344px;
      width: 80%;
      left: 10%;
    }
    max-height: calc(100vh - #{$menu-height-large});
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden !important;
    padding: 2em 4em 4em;

    .admin-bar & {
      max-height: calc(100vh - #{$menu-height-large} - 32px);
    }

    > ul {
      column-count: 3;
    }
  }
}
