@import "./navigation-bar";

:root {
  --top-navigation--background: #{$white};
  --top-navigation--box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  --top-navigation--color: #{$black};
  --top-navigation--separation: 1px solid #d8d8d8;
  --top-navigation--search-toggle--background: #{$grey-10};
  --top-navigation--input--placeholder--color: #{$grey-40};
  --nav-link--color: #{$black};
  --nav-link--hover--color: #{$black};
  --nav-link--active--color: #{$black};
  --nav-link--visited--color: #{$black};
}

#nav-mobile-menu {
  --nav-link--color: #{$grey-40};
  --nav-link--active--color: #{$black};
  --nav-link--opacity: 1;
}
