@import "../base/mixins";
@import "../base/variables";
@import "../base/colors";
@import "../base/fonts";

@import "../layout/navbar";

:root {
  --top-navigation--background: #{$white};
  --top-navigation--box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  --top-navigation--color: #{$black};
  --top-navigation--separation: 1px solid #d8d8d8;
  --top-navigation--search-toggle--background: #{$grey-10};
  --top-navigation--input-placeholder--color: #{$grey-40};
  --nav-link--color: #{$black};
  --nav-link--hover--color: #{$black};
  --nav-link--hover--text-decoration: underline 3px #{$gp-green};
  --nav-link--hover--text-underline-position: under;
}
