@mixin campaign_content_three_column_images {
  min-height: 0;

  .col {
    padding: 0;
    max-height: 80vh;
    overflow: hidden;
  }

  .split-image {
    margin: unset;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 226px;

    @include medium-and-up {
      min-height: 330px;
    }

    @include large-and-up {
      min-height: 596px;
    }

    img {
      position: absolute;
      height: 100%;
      width: auto;
      left: unset;
    }
  }

  .second-column {
    width: auto;
    border: 0;
    transform: none;

    img {
      transform: none;
    }
  }
}

@mixin campaign_content_three_column_images_border($background, $small-padding: 10px) {
  @include campaign_content_three_column_images;

  background: $background;
  padding: $small-padding;

  @include medium-and-up {
    padding: $small-padding*2;
  }

  @include large-and-up {
    padding: $small-padding*3;
  }
}
