body.theme-climate {
  $jost: "Jost", sans-serif;
  $gradient-color: red;
  $form-caption-transform: uppercase;

  .enform-wrap {
    @include campaign-en-block($jost, $jost, $form-caption-transform);

    &.enform-side-style {
      &::after {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        background: $gradient-color;
        background: linear-gradient(135deg, rgba($gradient-color, 1) 0%, rgba($gradient-color, 0) 100%);
      }

      .form-caption {
        padding-top: 33px;

        @include large-and-up {
          padding-top: 117px;
        }
      }

      .enform {
        @include large-and-up {
          padding: $space-lg;
        }

        .form-description {
          font-family: $jost;
          margin-bottom: $space-md;

          @include large-and-up {
            margin-bottom: $space-lg;
          }

          .first-line {
            font-weight: bold;
            font-size: 1.2rem;
            text-transform: uppercase;
            font-family: $jost;
            margin-bottom: 4px;
            display: inline-block;
          }
        }
      }
    }
  }
}
