body.theme-climate {
  $form-caption-transform: uppercase;

  .enform-wrap {
    @include campaign-en-block($form-caption-transform);

    &.enform-side-style {
      .form-caption {
        padding-top: 33px;

        @include large-and-up {
          padding-top: 117px;
        }
      }

      .enform {
        @include large-and-up {
          padding: $space-lg;
        }

        .form-description {
          font-family: var(--header-primary-font);
          margin-bottom: $space-md;

          p:first-child {
            font-weight: bold;
            font-size: 1.2rem;
            text-transform: uppercase;
            font-family: var(--header-primary-font);
            margin-bottom: 4px;
            display: inline-block;
          }
        }
      }
    }
  }
}
