@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700&subset=latin-ext");

// Fonts
$roboto:     "Roboto", sans-serif;
$lora:       "Lora", serif;
