@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700&subset=latin-ext");

$font-base-size: 16px;

$font-size-xxs: 0.875rem;
$font-size-xs: 0.9375rem;
$font-size-sm: 1rem;
$font-size-md: 1.25rem;
$font-size-lg: 1.375rem;
$font-size-xl: 1.75rem;
$font-size-xxl: 2.5rem;
$font-size-xxxl: 3rem;
$font-size-xxxxl: 4rem;
