.icon {
  position: relative;
  top: .125em;
  flex-shrink: 0;
  height: 1em;
  width: 1em;
  fill: currentColor;
  transition: fill .3s;
}

a.pdf-link::before {
  content: "";
  background-image: url("../../images/file-pdf.svg");
  background-position: 50% 50%;
  background-size: 1rem 1rem;
  background-repeat: no-repeat;
  margin-right: 2px;
  height: 1rem;
  width: 1rem;
  margin-bottom: -2px;
  display: inline-block;

  @supports (mask-repeat: no-repeat) or (-webkit-mask-repeat: no-repeat) {
    & {
      background-image: none;
      background-color: $blue;
      -webkit-mask-image: url("../../images/file-pdf.svg");
      mask-image: url("../../images/file-pdf.svg");
      mask-repeat: no-repeat;
      -webkit-mask-repeat: no-repeat;
      margin-right: 0;
    }
  }
}
