.Preview {
  transition: padding .5s;

  section:first-child {
    margin-top: 0;
  }

  .PreviewContainer {
    position: relative;
  }

  &.FloatingPreview {
    position: fixed;
    right: $space-lg;
    bottom: 0;
    width: 500px;
    background: white;
    padding: $space-md;
    box-shadow: 0 0 10px #66cc00;
    border-radius: $space-md $space-md 0 0;
    z-index: 9999999;
    max-height: 450px;

    .PreviewContainer {
      transform: scale(.5) translateX(-50%) translateY(-50%);
      width: 200%;
    }

    .PreviewBar {
      font-size: 9pt;
      padding: $space-xs;
    }
  }

  .PreviewBar {
    border-bottom: 1px solid $gp-green-80;
    font-style: italic;
    padding: $space-sm;

    .DetachPreview {
      cursor: pointer;
      float: right;
    }
  }

  // Unset submenu sidebar float to make block editable in preview/edit.
  .submenu-sidebar {
    float: unset !important;
  }
}
