@mixin sharedStyles($color) {
  background: $color;

  &:hover,
  &:focus,
  &:active {
    background: darken($color, 20%);
  }
}

.social-share-buttons {
  display: flex;
}

.social-share-button {
  border: none;
  color: #fff;
  font-size: 1.25rem;
  opacity: 0.9;
  width: 4rem;
  text-align: center;
  line-height: 2.7rem;
  height: 2.7rem;
  border-radius: 4px;
  margin-bottom: 0;

  &:not(:last-child) {
    margin-inline-end: 8px;
  }

  .icon {
    top: -2px;
  }

  &.twitter {
    @include sharedStyles($twitter);
  }

  &.facebook {
    @include sharedStyles($facebook);
  }

  &.whatsapp {
    @include sharedStyles($whatsapp);
  }

  &.email {
    @include sharedStyles($email);
  }
}
