.carousel-wrap {
  padding-top: 0;
  padding-bottom: 20px;

  @include small-and-up {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  @include medium-and-up {
    padding-top: 0;
    padding-bottom: 40px;
  }

  @include large-and-up {
    padding-bottom: 60px;
  }

  @include x-large-and-up {
    padding-top: 0;
    padding-bottom: 80px;
  }

  h1 {
    font-size: rem(22);
    color: $black;
    margin-bottom: 22px;
    margin-left: 0;

    @include large-and-up {
      font-size: rem(28);
      margin-bottom: 20px;
    }

    @include x-large-and-up {
      font-size: rem(30);
      margin-bottom: 22px;
    }
  }

  .carousel-item {
    @include mobile-only {
      margin-bottom: 80px;
    }

    .carousal-item-credit {
      position: absolute;
      right: 0;
      top: 0;
      color: $white;
      font-size: rem(14);
      margin: 15px;
      font-weight: normal;
    }
  }

  .carousel-item.active,
  .carousel-item-next,
  .carousel-item-prev {
    display: block;
    img{
      width: 100%;
    }
  }

  .carousel-caption {
    text-align: left;
    left: auto;
    bottom: 0;
    right: 0;
    width: 100%;
    font-family: $roboto;
    padding: 30px 200px 30px 50px;
    background : -moz-linear-gradient(66.31% -110.5% -120deg,rgba(10, 51, 81, 0) 0%,rgba(10, 51, 81, 1) 100%);
    background : -webkit-linear-gradient(-120deg, rgba(10, 51, 81, 0) 0%, rgba(10, 51, 81, 1) 100%);
    background : -webkit-gradient(linear,66.31% -110.5% ,33.69% 210.5% ,color-stop(0,rgba(10, 51, 81, 0) ),color-stop(1,rgba(10, 51, 81, 1) ));
    background : -o-linear-gradient(-120deg, rgba(10, 51, 81, 0) 0%, rgba(10, 51, 81, 1) 100%);
    background : -ms-linear-gradient(-120deg, rgba(10, 51, 81, 0) 0%, rgba(10, 51, 81, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#0A3351', endColorstr='#0A3351' ,GradientType=0)";
    background : linear-gradient(210deg, rgba(10, 51, 81, 0.2) 0%, rgba(10, 51, 81, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0A3351',endColorstr='#0A3351' , GradientType=1);

    @include mobile-only {
      position: absolute;
      z-index: 10;
      padding: 20px 15px 20px;
      color: $white;
      margin-bottom: -80px;
      height: 80px;
    }

    @include medium-and-up {
      padding: 20px 30px;
    }

    h3 {
      font-size: rem(16);

      @include medium-and-up {
        font-size: rem(17);
        width: 60%;
      }
    }

    p {
      font-family: $roboto;
      font-size: rem(13);

      @include medium-and-up {
        width: 70%;
      }

      @include large-and-up {
        width: 60%;
      }
    }
  }

  .carousel-indicators {
    right: 25%;
    bottom: 80px;
    left: auto;

    @include small-and-up {
      bottom: 30px;
      right: 0;
    }

    @include medium-and-up {
      bottom: 10px;
      margin-right: 2%;
    }

    li {
      width: 8px;
      height: 8px;
      margin: 0 8px;
      border-radius: 50%;
      background: $white;
      cursor: pointer;

      @include small-and-up {
        width: 12px;
        height: 12px;
        margin: 0 15px;
      }

      &.active {
        background: $carousel-indi-color;
      }
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    height: 100%;
    top: 0;
    width: 30%;
    z-index: 3;

    @include small-and-up {
      width: 50%;
    }
  }

  .carousel-control-next {
    @include small-and-up {
      margin-right: -25%;
    }
  }

  .carousel-control-prev {
    @include small-and-up {
      margin-left: -25%;
    }
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    display: block;
    text-align: center;
    width: 40px;
    height: 40px;
    cursor: pointer;

    @include small-and-up {
      width: 45px;
      height: 45px;
    }

    @include large-and-up {
      width: 65px;
      height: 65px;
    }
  }

  .carousel-control-prev-icon {
    background: url('images/carousel-marker-prev.png');
    background-size: cover;

    @include small-and-up {
      margin-left: 113px;
      background: url("images/carousel-marker-prev-S-M.png");
    }

    @include medium-and-up {
      margin-left: 25%;
    }

    @include large-and-up {
      margin-left: 133px;
      background: url("images/carousel-marker-prev.png");
      &:hover {
        background-position-x: 66px;
      }
    }

    @include x-large-and-up {
      margin-left: 45%;
    }
  }

  .carousel-control-next-icon {
    background: url('images/carousel-marker-next.png');
    background-size: cover;

    @include small-and-up {
      margin-right: 113px;
      background: url("images/carousel-marker-next-S-M.png");
    }

    @include medium-and-up {
      margin-right: 25%;
    }

    @include large-and-up {
      margin-right: 133px;
      background: url("images/carousel-marker-next.png");
      &:hover {
        background-position-x: 66px;
      }
    }

    @include x-large-and-up {
      margin-right: 45%;
    }
  }
}
