.content-two-column-block {
  padding-top: 0;

  @include large-and-up {
    padding-top: 0;
    padding-bottom: 60px;
  }

  @include x-large-and-up {
    padding-top: 0;
    padding-bottom: 80px;
  }

  .page-child & {

    @include medium-and-up {
      padding-top: 0;
    }

    @include large-and-up {
      padding-bottom: 60px;
    }

    @include x-large-and-up {
      padding-top: 0;
      padding-bottom: 80px;
    }
  }

  .heading {
    padding-left: 0;
  }

  h2 {
    font-size: rem(22);
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 15px;
    width: 100%;
    color: $black;

    @include medium-and-up {
      font-size: rem(24);
      width: 80%;
    }

    @include large-and-up {
      font-size: rem(28);
      margin-bottom: 20px;
      width: 90%;
    }

    @include x-large-and-up {
      font-size: rem(30);
      margin-bottom: 20px;
      line-height: 1.2;
    }
  }

  p {
    font-size: rem(16);
    line-height: 1.6;
    margin-bottom: 16px;
    color: $dark-shade-black;

    @include medium-and-up {
      margin-bottom: 24px;
      width: 80%;
    }

    @include large-and-up {
      margin-bottom: 24px;
      line-height: 1.6;
      width: auto;
    }

    @include x-large-and-up {
      margin-bottom: 24px;
      font-size: rem(18);
      width: 92%;
    }
  }

  .btn {
    margin-bottom: 40px;
    width: 100%;
    font-size: rem(14);
    line-height: 2.8;

    @include medium-and-up {
      margin-bottom: 40px;
      width: 50%;
      font-size: rem(16);
      line-height: 3;
    }

    @include large-and-up {
      margin-bottom: 0;
      width: 80%;
    }

    @include x-large-and-up {
      margin-bottom: 0;
      width: 60%;

      .page-child & {
        max-width: 100%;
        width: auto;
      }
    }

    &:hover {
      border-color: $dark-blue;
    }
  }
}
