.cookies-block {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 5px 5px 5px 0 rgba(128, 128, 128, 0.5);
  margin-bottom: 40px;
  padding: 20px;

  //.cookies-block-title {}

  //.cookies-block-description {}

  //.cookies-checkbox-description {}
}

//.cookies-filtered-content {}
