.main-header {
  color: $dark-blue;
  padding-top: 120px;
  padding-bottom: 70px;

  h1 {
    font-size: rem(64);
    margin-bottom: 48px;
  }

  h3 {
    font-size: rem(44);
    margin-bottom: 56px;
  }

  p {
    font-size: rem(22);
    margin-bottom: 72px;
  }
}

@include mobile-only {
  .main-header {
    padding-top: 120px;
    padding-bottom: 80px;

    h1 {
      font-size: rem(40);
      margin-bottom: 50px;
    }

    h3 {
      font-size: rem(22);
      margin-bottom: 130px;
    }

    p {
      display: none;
    }
  }
}

@include medium-and-up {
  .main-header {
    padding-top: 80px;
    padding-bottom: 80px;

    h1 {
      font-size: rem(48);
      margin-bottom: 40px;
    }

    h3 {
      font-size: rem(24);
      margin-bottom: 50px;
    }

    p {
      font-size: rem(27.5);
    }
  }
}

@include large-and-up {
  .main-header {
    padding-top: 100px;
    padding-bottom: 80px;

    h1 {
      font-size: rem(56);
      margin-bottom: 50px;
    }

    h3 {
      font-size: rem(30);
      margin-bottom: 50px;
    }

    p {
      font-size: rem(20);
    }
  }
}
