/* Header block
* The main block where a heading subheading and description along with
* a CTA button is present
*/

.header-wrapper {
  height: 0;
}

.page-header {
  color: $black;
  padding: 90px 0 40px 0;
  position: relative;

  @include medium-and-up {
    padding: 104px 0 40px;
  }

  @include large-and-up {
    padding: 144px 0 60px;
  }

  @include x-large-and-up {
    padding: 144px 0 80px;
  }

  .container > *:not(.row) {
    @include medium-and-up {
      max-width: 80%;
    }

    @include x-large-and-up {
      max-width: 60%;
    }
  }

  h3 {
    font-size: rem(20);
    font-weight: 300;
    line-height: 1.3;
    margin-bottom: 20px;

    @include medium-and-up {
      font-size: rem(22);
      line-height: 1.2;
    }

    @include large-and-up {
      width: 60%;
    }

    @include x-large-and-up {
      font-size: rem(36);
      margin-bottom: 30px;
      line-height: 1.1;
    }
  }
}

.page-header-background {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  left: 0;

  &:after {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    height: 75%;
    bottom: -.5%;
    left: 0;
    right: 0;
    @include linear-gradient( 360deg, $body-bg 0%, transparent 100% );

    .brown-bg & {
      @include linear-gradient( 360deg, $brown-bg 0%, transparent 100% );
    }

    .white-bg & {
      @include linear-gradient( 360deg, $white 0%, transparent 100% );
    }
  }

  img {
    width: 100%;
    height: auto;
  }
}

.page-header-image {
  max-width: 100%;
  display: block;
  margin: auto;
}

.top-page-tags {
  font-size: rem(14);
  margin-bottom: 6px;
  font-family: $roboto;

  @include medium-and-up {
    font-size: rem(16);
  }

  .tag-item {
    color: $blue;
    font-weight: 400;

    @include x-large-and-up {
      font-size: rem(16);
    }
  }

  .tag-item--main {
    font-weight: 500;
  }
}

.page-header-title {
  font-size: rem(28);
  line-height: 1.2;
  max-width: 80%;
  margin-bottom: 10px;

  @include medium-and-up {
    font-size: rem(40);
    margin-bottom: 12px;
  }

  @include large-and-up {
    margin-bottom: 20px;
  }

  @include x-large-and-up {
    font-size: rem(56);
    line-height: 1.1;
    margin-bottom: 20px;
  }
}

.page-header-subtitle {
  font-size: rem(20);
  line-height: 1.3;
  font-weight: 300;
  max-width: 80%;
  margin: 0;

  @include medium-and-up {
    font-size: rem(24);
    margin: 0 0 22px 0;
  }

  @include large-and-up {
    font-size: rem(30);
  }

  @include x-large-and-up {
    font-size: rem(36);
  }
}

.page-header-btn {
  display: block;
  width: 100%;
  margin-top: 40px;

  @include medium-and-up {
    margin-top: 24px;
  }

  @include large-and-up {
    margin-top: 24px;
  }

  @include x-large-and-up {
    margin-top: 36px;
  }
}

.page-header-content {
  display: none;
  hyphens: none;
  font-family: $lora;
  margin-top: 0;

  @include medium-and-up {
    display: block;
    font-size: rem(16);
    line-height: 1.6;
    margin-bottom: 0;
  }

  @include x-large-and-up {
    font-size: rem(18);
  }
}
