html[dir="rtl"] body {
  text-transform: lowercase;
  text-align: right;

  button,
  .btn {
    text-transform: lowercase;
  }

  .offset-xl-1,
  .offset-lg-1 {
    margin-left: 0;
    margin-right: 8.333333%;
  }

  .list-unstyled {
    padding-right: 0;

    .custom-control {
      padding-right: 1.5rem;
    }
  }
}
