/* Subheader block
* Usually follows after a page-header block
*/

.subheader {

  h2 {
    font-size: rem(22);
    line-height: 1.38;
    margin-bottom: 15px;

    @include medium-and-up {
      font-size: rem(24);
      line-height: 1.2;
    }

    @include large-and-up {
      font-size: rem(28);
      margin-bottom: 12px;
    }

    @include x-large-and-up {
      font-size: rem(30);
      margin-bottom: 20px;
    }
  }

  p {
    margin-top: 0;
    margin-bottom: 15px;

    @include medium-and-up {
      margin-bottom: 24px;
    }

    @include large-and-up {
      margin-top: 0;
      margin-bottom: 20px;
      width: 70%;
    }

    @include x-large-and-up {
      font-size: rem(18);
      line-height: 1.6;
      margin-bottom: 30px;
    }
  }
}
