.tag-cloud {
  padding-top: 104px;

  .tag-cloud-title {
    h2 {
      color: $black;
      font-size: rem(32);
    }

    .tag-cloud-list {
      a {
        color: $brown-bg-tags-link;
        text-decoration: none;
        margin-right: 5px;

        &.tag-xsmall {
          font-size: rem(12);
        }

        &.tag-small {
          font-size: rem(16);
        }

        &.tag-mid {
          font-size: rem(24);
        }

        &.tag-big {
          font-size: rem(28);
        }
      }
    }
  }
}
