// Footer
//
// Markup:
// <footer class="site-footer" id="footer">
//   <div class="container">
//     <ul class="footer-social-media list-unstyled col-md-8 col-lg-5">
//       <li>
//         <a href="#">
//           <svg viewBox="0 0 32 32" class="icon"><use xlink:href="images/symbol/svg/sprite.symbol.svg#facebook-f"></use></svg>
//         </a>
//       </li>
//       <li>
//         <a href="#">
//           <svg viewBox="0 0 32 32" class="icon"><use xlink:href="images/symbol/svg/sprite.symbol.svg#twitter"></use></svg>
//         </a>
//       </li>
//       <li>
//         <a href="#">
//           <svg viewBox="0 0 32 32" class="icon"><use xlink:href="images/symbol/svg/sprite.symbol.svg#instagram"></use></svg>
//         </a>
//       </li>
//     </ul>
//     <ul class="list-unstyled footer-links">
//       <li><a href="#">Primary Link 1</a></li>
//       <li><a href="#">Primary Link 2</a></li>
//       <li><a href="#">Primary Link 3</a></li>
//     </ul>
//     <ul class="list-unstyled footer-links-secondary">
//       <li><a href="#">Secondary Link 1</a></li>
//       <li><a href="#">Secondary Link 2</a></li>
//       <li><a href="#">Secondary Link 3</a></li>
//     </ul>
//     <p class="copyright-text col-md-8">
//       Copyright Line 1
//     </p>
//     <p class="gp-year">
//       <svg viewBox="0 0 32 32" class="icon"><use xlink:href="/kss-assets/img/sprite.symbol.svg#creative-commons"></use></svg>
//       Copyright Line 2 - 2019
//     </p>
//   </div>
// </footer>
//
// Styleguide Layout.footer
.site-footer {
  font-family: $roboto;
  padding: 45px 0 $n25;
  background: $dark-blue;
  position: relative;
  z-index: 2;
  text-align: center;
  transition: margin 1s;
  clear: both;

  @include medium-and-up {
    padding: $n25 0 $n20;
  }

  @include large-and-up {
    padding: 55px 0 $n25;
  }

  p {
    font-family: $roboto;
  }

  a {
    color: inherit;
  }
}

.footer-social-media {
  color: $grey-20;
  font-size: 2rem;
  margin: auto;
  text-align: center;

  @include small-and-up {
    font-size: 3.125rem;
  }

  @supports (justify-content: space-between) {
    & {
      display: flex;
      justify-content: space-between;
    }
  }

  li {
    display: inline-block;
    margin: 0 $n10;
  }

  a {
    transition: color 100ms linear;

    &:hover {
      color: $white;
    }
  }
}

.footer-links,
.footer-links-secondary {
  li {
    @include medium-and-up {
      display: inline-block;

      &:after {
        content: "\002F";
        display: inline-block;
        margin: 0 16px;
      }

      &:last-of-type:after {
        display: none;
      }
    }

    @include large-and-up {
      &:after {
        margin: 0 24px 0;
      }
    }
  }
}

.footer-links {
  color: $white;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 3;
  text-transform: uppercase;
  margin-bottom: 10px;

  @include medium-and-up {
    font-size: $font-size-sm;
    margin-bottom: 0;
  }

  @include large-and-up {
    font-size: 1.125rem;
  }
}

.footer-links-secondary {
  color: $grey-10;
  line-height: 2.5;
  text-transform: uppercase;
  margin-bottom: 30px;

  @include medium-and-up {
    font-size: $font-size-xxs;
  }

  @include large-and-up {
    font-size: $font-size-sm;
  }
}

.copyright-text {
  color: $grey-10;
  font-size: 0.75rem;
  line-height: 1.3;
  margin-left: auto;
  margin-right: auto;
  word-break: keep-all;

  @include medium-and-up {
    line-height: 1;
  }

  i {
    display: block;
    font-size: 1.5625rem;
    margin-bottom: 10px;

    @include medium-and-up {
      display: inline-block;
      position: relative;
      font-size: 1.5em;
      bottom: -.15em;
      margin-right: 5px;
    }
  }

  a {
    color: $white;
  }
}

.gp-year {
  color: $white;
  font-size: 0.75rem;

  @include medium-and-up {
    font-size: $font-size-xxs;
  }

  @include medium-and-up {
    margin-top: 15px;
  }
}

.site-footer_min {
  padding: 40px 0;
  line-height: 1;

  .footer-social-media {
    color: $grey-20;
    font-size: 2rem;
    margin: auto;
    text-align: center;
    width: 12.5rem;

    @supports (justify-content: space-between) {
      & {
        display: flex;
        justify-content: space-between;
      }
    }

    li {
      display: inline-block;
      margin: 0;
    }

    a {
      transition: color 100ms linear;

      &:hover {
        color: $grey-20;
      }
    }

    .list-unstyled {
      width: 200px;
    }
  }

  .gp-year {
    color: $white;
    font-size: 0.8rem;
    font-family: $lora;
    margin: 40px 0 30px 0;
  }

  .icon {
    fill: $white;
  }
}
