// Page Section
//
// Describes **title** and **description** of each block.
//
// Markup:
// <header>
//   <h2 class="page-section-header">Block Title</h2>
// </header>
// <div class="page-section-description">Description Text</div>
//
// Styleguide Layout.page-section
.page-section-header {
  font-family: $roboto;
  font-size: $font-size-lg;
  line-height: 1.2;
  font-weight: 700;
  color: $black;
  margin-bottom: $space-md;

  @include large-and-up {
    font-size: $font-size-xl;
    margin-bottom: $space-lg;
  }

  @include x-large-and-up {
    font-size: 1.875rem;
  }
}

.page-section-description {
  font-size: $font-size-sm;
  line-height: 1.6;
  margin-bottom: $space-xl;

  @include medium-and-up {
    width: 100%;
  }

  @include x-large-and-up {
    font-size: 1.125rem;

    .row & {
      margin-top: 0;
    }
  }
}
