// Page Header
//
// Creates a page header with tags, post title, authorship data and comments.
//
// Markup:
// <header class="page-header">
//   <div class="page-header-background">
//   </div>
//   <div class="container">
//     <div class="top-page-tags">
//       <a class="tag-item tag-item--main page-type" href="#">A page tag</a>
//       <div class="tag-wrap issues">
//         <a class="tag-item tag-item--main" href="#">Some issue</a>
//       </div>
//       <div class="tag-wrap tags">
//         <a class="tag-item tag" href="#">#tag</a>
//       </div>
//     </div>
//     <h1 class="page-header-title">The post title</h1>
//   </div>
//   <div class="row">
//     <div class="col-md-6">
//       <div class="single-post-meta">
//         <address class="single-post-author">
//           by <a href="#">Jane Doe</a>
//         </address>
//         <time class="single-post-time" pubdate>June 6th, 2019</time>
//           <span class="separator">|</span>
//           <span id="comments-link" class="comment-link">
//             <img src="/images/icons/speech_bubble.svg">
//             <a class="quantity"> 11 <span class="display-text">Comments</span> </a>
//           </span>
//       </div>
//     </div>
//     <div class="col-md-6">
//       (share buttons)
//     </div>
//   </div>
// </header>
//
// Styleguide Layout.page-header
.breadcrumbs {
  padding-top: 40px;
  li {
    display: inline-block;
    list-style-type: none;
    position: relative;

    &:not(:first-child) {
      margin-left: 1.5em;
      a:before {
        content: ">";
        position: absolute;
        left: -1em;
      }
    }
  }
}

.header-wrapper {
  height: 0;
}

.page-header {
  color: $black;
  padding: $n90 0 $n40 0;
  position: relative;

  @include medium-and-up {
    padding: 104px 0 $n40;
  }

  @include large-and-up {
    padding: 144px 0 $n60;
  }

  @include x-large-and-up {
    padding: 144px 0 $n80;
  }

  &.page-header-hidden {
    padding: 0 !important;
  }

  .container > *:not(.row) {
    @include medium-and-up {
      max-width: 80%;
    }

    @include x-large-and-up {
      max-width: 60%;
    }
  }

  h3 {
    font-size: $font-size-md;
    font-weight: 300;
    line-height: 1.3;
    margin-bottom: 20px;

    @include medium-and-up {
      font-size: $font-size-lg;
      line-height: 1.2;
    }

    @include large-and-up {
      width: 60%;
    }

    @include x-large-and-up {
      font-size: $font-size-xxl;
      margin-bottom: 30px;
      line-height: 1.1;
    }
  }
}

.page-header-background {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  left: 0;

  &:after {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    height: 75%;
    bottom: -.5%;
    left: 0;
    right: 0;
    @include linear-gradient(360deg, $body-bg 0%, transparent 100%);

    .brown-bg & {
      @include linear-gradient(360deg, $brown-bg 0%, transparent 100%);
    }

    .white-bg & {
      @include linear-gradient(360deg, $white 0%, transparent 100%);
    }
  }

  img {
    width: 100%;
    height: auto;
  }
}

.page-header-image {
  max-width: 100%;
  display: block;
  margin: auto;
}

.page-header-title {
  font-size: $font-size-xl;
  line-height: 1.2;
  max-width: 80%;
  margin-bottom: 10px;

  @include medium-and-up {
    font-size: $font-size-xxl;
    margin-bottom: 12px;
  }

  @include large-and-up {
    margin-bottom: 20px;
  }

  @include x-large-and-up {
    font-size: $font-size-xxxl;
    line-height: 1.1;
    margin-bottom: 20px;
  }
}

.page-header-subtitle {
  font-size: $font-size-md;
  line-height: 1.3;
  font-weight: 300;
  max-width: 80%;
  margin: 0;

  @include medium-and-up {
    font-size: $font-size-lg;
    margin: 0 0 22px 0;
  }

  @include large-and-up {
    font-size: $font-size-xl;
  }

  @include x-large-and-up {
    font-size: $font-size-xxl;
  }
}

.page-header-btn {
  display: inline-block;
  width: 100%;
  margin-top: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @include medium-and-up {
    margin-top: 24px;
    width: auto;
    min-width: 300px;
  }

  @include large-and-up {
    margin-top: 24px;
  }

  @include x-large-and-up {
    margin-top: 36px;
  }
}

.page-header-content {
  display: none;
  hyphens: none;
  font-family: $lora;
  margin-top: 0;

  @include medium-and-up {
    display: block;
    font-size: $font-size-sm;
    line-height: 1.6;
    margin-bottom: 0;
  }

  @include x-large-and-up {
    font-size: $font-size-md;
  }
}
