@mixin table {
  table {
    margin-bottom: 15px;
    font-family: $roboto;

    @include mobile-only {
      display: block;
      overflow: auto;
    }

    th,
    td {
      border: none;
    }

    th {
      background-color: $dark-blue;
      color: $white;
      height: 36px;
      font-size: $font-size-xs;
      padding: 6px $n20;
      box-sizing: border-box;
    }

    td {
      min-height: 120px;
      font-size: $font-size-xs;
      padding: $n20;
      vertical-align: top;

      @include mobile-only {
        min-width: 300px;
      }

      @include x-large-and-up {
        font-size: $font-size-md;
      }
    }

    tr:nth-child(odd) {
      background-color: $table-odd;
    }

    tr:nth-child(even) {
      background-color: $table-even;
    }
  }
}

.post-content,
.page-template {
  @include table;
}
