@mixin table {
  table {
    margin-bottom: 15px;
    font-family: $roboto;

    @include mobile-only {
      display: block;
      overflow: auto;
    }

    thead,
    tfoot,
    th,
    td {
      border: none;
    }

    th {
      color: $white;
      height: 36px;
      font-size: $font-size-xs;
      padding: 6px $n20;
      box-sizing: border-box;
    }

    td {
      min-height: 120px;
      font-size: $font-size-xs;
      padding: $n20;
      vertical-align: top;
      color: $table-font-color;

      @include mobile-only {
        min-width: 300px;
      }

      @include x-large-and-up {
        font-size: $font-size-md;
      }
    }

    // Background colors
    // Grey background (defaut)
    th {
      background-color: $table-header-grey;
    }

    tr:nth-child(odd) {
      background-color: $table-odd-row-grey;
    }

    tr:nth-child(even) {
      background-color: $table-even-row-grey;
    }

    tfoot td {
      background-color: $table-footer-grey;
    }

    // Green background
    &.has-green-background-color {
      th {
        background-color: $table-header-green;
      }

      tr:nth-child(odd) {
        background-color: $table-odd-row-green;
      }

      tr:nth-child(even) {
        background-color: $table-even-row-green;
      }

      tfoot td {
        background-color: $table-footer-green;
      }
    }

    // Blue background
    &.has-blue-background-color {
      th {
        background-color: $table-header-blue;
      }

      tr:nth-child(odd) {
        background-color: $table-odd-row-blue;
      }

      tr:nth-child(even) {
        background-color: $table-even-row-blue;
      }

      tfoot td {
        background-color: $table-footer-blue;
      }
    }
  }
}

.post-content,
.page-template {
  @include table;
}
