@import "../../master-theme/assets/src/scss/styleguide/src/base/colors";

// Only display the X button when selected/hovered.
.editor-block-list__block {
  &.is-selected,
  &.is-hovered {
    .carousel-header-image-upload-remove {
      display: block;
    }
  }
}

.slide-number-row {
  vertical-align: middle;
  cursor: pointer;
  height: 48px;
  line-height: 48px;
  padding: 0 16px;
  border-bottom: 1px solid $grey-40;
}

.slide-arrow {
  padding-left: 10px;

  svg {
    transition: transform .3s ease-in-out;
    transform: rotate(0deg);
  }
}

.slide-open {
  svg {
    transform: rotate(180deg);
  }
}

.editor-url-input {
  flex: 1;
  margin: 0;

  input {
    //width: 100% !important;
    min-width: 100px;
  }
}

.carousel-header-slide-options-wrapper {
  margin: 0;
}

.carousel-header-add-remove-slide {
  padding-top: 16px;
}

.components-panel__body.carousel-header-current-slide-panel {
  // Slightly tint the whole container
  background-color: rgba(0, 124, 186, 0.1);

  .components-button.components-panel__body-toggle {
    background-color: rgba(0, 124, 186, 0.2);

    // A bit more of the same color to show a hover effect
    // (WP default is white)
    &:hover {
      background-color: rgba(0, 124, 186, 0.3) !important;
    }
  }
}

.carousel-header-add-remove-slide {
  display: flex;
  z-index: 2500;
  position: absolute;
  right: 20px;
  bottom: 40px;
}

.carousel-header-top-image-actions {
  display: flex;
  margin: auto;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 3000;

  .carousel-header-exit-to-start &,
  .carousel-header-exit-to-end & {
    display: none;
  }

  .carousel-header-image-upload-remove {
    z-index: 2500;
    display: block;
    margin: auto;

    svg {
      margin-top: -4px;
    }
  }

  .carousel-header-image-upload-change {
    svg {
      margin-top: -4px;
    }
  }
}

.carousel-header-image-placeholder {
  position: absolute;
  width: 100%;
  left: 0;
  opacity: .75;
  z-index: 1000;
  text-align: center;
  height: 120px;
  top: 50%;
  margin-top: -60px;

  p {
    margin: 0 !important;
  }
}

// Overrides for carousel header
.wp-block[data-type="planet4-blocks/carousel-header"] {
  max-width: none !important;
  margin-left: -41px !important;
  margin-right: -41px !important;

  // .block-wide {
  //   // Take the left border into account
  //   left: -17px;
  //   top: -14px;
  //   width: calc(100% + 28px);
  // }
}
