@import "../../master-theme/assets/src/scss/styleguide/src/base/colors";

.visually-hidden {
  display: none;
}

.slide-number-row {
  vertical-align: middle;
  cursor: pointer;
  height: 48px;
  line-height: 48px;
  padding: 0 16px;
  border-bottom: 1px solid $grey-40;
}

.slide-arrow {
  padding-left: 10px;

  svg {
    transition: transform .3s ease-in-out;
    transform: rotate(0deg);
  }
}

.slide-open {
  svg {
    transform: rotate(180deg);
  }
}

.editor-url-input {
  flex: 1;
  margin: 0;

  input {
    //width: 100% !important;
    min-width: 100px;
  }
}

.carousel-header-slide-options-wrapper {
  margin: 0;
}

.components-panel__body.carousel-header-current-slide-panel {
  // Slightly tint the whole container
  background-color: rgba(0, 124, 186, 0.1);

  .components-button.components-panel__body-toggle {
    background-color: rgba(0, 124, 186, 0.2);

    // A bit more of the same color to show a hover effect
    // (WP default is white)
    &:hover {
      background-color: rgba(0, 124, 186, 0.3) !important;
    }
  }
}

.carousel-header-add-remove-slide {
  display: flex;
  z-index: 2500;
  position: absolute;
  right: 20px;
  bottom: 40px;
  padding-top: 16px;

  button:first-child {
    margin-inline-end: 10px;
  }
}

.carousel-header-top-image-actions {
  display: flex;
  margin: auto;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 3000;

  button:first-child {
    margin-inline-end: 10px;
  }

  .carousel-header-exit-to-start &,
  .carousel-header-exit-to-end & {
    display: none;
  }
}

.carousel-header-image-placeholder {
  position: absolute;
  width: 100%;
  left: 0;
  opacity: .75;
  z-index: 1000;
  text-align: center;
  height: 120px;
  top: 50%;
  margin-top: -60px;

  p {
    margin: 0 !important;
  }
}
