@import "../../master-theme/assets/src/scss/base/colors";
@import "../../master-theme/assets/src/scss/base/mixins";
@import "../../master-theme/assets/src/scss/base/variables";
@import "./SidebarSlidesEditor.scss";

.visually-hidden {
  display: none;
}

.slide-number-row {
  vertical-align: middle;
  cursor: pointer;
  height: 48px;
  line-height: 48px;
  padding: 0 16px;
  border-bottom: 1px solid $grey-40;
}

.slide-arrow {
  padding-left: 10px;

  svg {
    transition: transform .3s ease-in-out;
    transform: rotate(0deg);
  }
}

.slide-open {
  svg {
    transform: rotate(180deg);
  }
}

.editor-url-input {
  flex: 1;
  margin: 0;

  input {
    //width: 100% !important;
    min-width: 100px;
  }
}

.carousel-header-editor-controls {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;

  html[dir="rtl"] & {
    left: 20px;
    right: auto;
  }

  .carousel-header-exit-to-start &,
  .carousel-header-exit-to-end & {
    display: none;
  }
}

.carousel-header-editor-controls-menu {
  margin-bottom: 0;

  button {
    width: 100%;
    color: $grey-80;
    background-color: $white;
    font-weight: 700;
    font-size: 14px;
    border: none;
    outline: none;

    .dashicon {
      margin-inline-end: 10px;
    }

    &:hover,
    &:focus:not(:disabled) {
      box-shadow: none;
      background-color: $grey-10;
      color: $grey-80;
    }
  }
}

.carousel-header-image-placeholder {
  position: absolute;
  width: 100%;
  left: 0;
  opacity: .75;
  text-align: center;
  height: 120px;
  top: 50%;
  margin-top: -60px;

  p {
    margin: 0 !important;
  }
}

@include x-large-and-up {
  .carousel-header .carousel-item .carousel-caption .main-header .row {
    padding-inline-start: 110px;
  }
}

// Fix Safari issue with forced min-width:1px in editor
.carousel-header .carousel-item .carousel-caption .main-header .action-button div.btn {
  overflow: initial;
}
