.table-of-contents-level-link label {
  margin-bottom: 0;
}

[data-type="planet4-blocks/submenu"] {
  clear: both;
}

.editor-styles-wrapper {
  .table-of-contents-block h2 {
    padding-left: 16px;
    color: var(--grey-800);
    font-family: var(--font-family-heading);
  }

  // Needed to make it easily selectable in the editor
  .table-of-contents-sidebar {
    float: none;
    margin-right: 0;
    margin-left: auto;

    html[dir="rtl"] & {
      float: none;
      margin-right: auto;
      margin-left: 0;
    }
  }
}

.EmptyMessage {
  font-family: var(--font-family-primary);
  padding: $sp-4;
  background: var(--gp-green-200);
}
