// On outer element as otherwise it will not be clickable when floating on the right.
div[data-render="planet4-blocks/submenu"] {
  z-index: 4;
}

.table-of-contents-block {
  _-- {
    border-radius: 4px;
    box-shadow: 0 3px 8px 0 rgba(28, 28, 28, 0.2);
    background-color: var(--white);
    padding: $sp-5 $sp-6 $sp-6 $sp-6;
  }

  h1,
  h2 {
    --table-of-contents-block-heading-- {
      font-family: var(--font-family-primary);
      color: var(--grey-900);
      padding-inline-start: 0;
    }
  }

  .table-of-contents-menu {
    display: flex;
    flex-wrap: wrap;

    ul.table-of-contents-item {
      flex-basis: 100%;

      @include large-and-up {
        flex-basis: 50%;
      }
    }

    a {
      color: var(--color-text-body);
    }

    ul {
      --table-of-contents-block-menu-- {
        font-family: var(--font-family-tertiary);
        color: var(--color-text-body);
        margin: 0;
        padding: 0;
      }
      list-style: none;
    }

    li {
      &.list-style-bullet {
        --table-of-contents-block-bullet-item-- {
          margin-inline-end: 0;
          margin-inline-start: $sp-4;
        }
        list-style: disc;
      }

      &.list-style-number {
        --table-of-contents-block-number-item-- {
          margin-inline-start: $sp-4;
        }
        list-style: decimal;
      }
    }
  }

  &.table-of-contents-short {
    .table-of-contents-menu {
      @include medium-and-up {
        ul.table-of-contents-item {
          flex-basis: 100%;
          column-count: 3;

          li:before {
            content: "";
          }
        }
      }
    }
  }

  &.table-of-contents-long {
    .table-of-contents-menu {
      ul.table-of-contents-item {
        flex-basis: 100%;
        column-count: 1;

        @include medium-and-up {
          column-count: 2;
        }
      }
    }
  }

  &.table-of-contents-sidebar {
    z-index: 4;

    @include medium-and-up {
      float: right;
      max-width: 350px;
      margin-bottom: $sp-2;
      margin-inline-start: $sp-2;

      html[dir="rtl"] & {
        float: left;
      }
    }

    .table-of-contents-menu {
      ul.table-of-contents-item {
        flex-basis: 100%;

        @include large-and-up {
          flex-basis: 100%;
        }
      }
    }
  }
}

.wp-block-group.table-of-contents {
  border-radius: 4px;
  box-shadow: 0 3px 8px 0 rgba(28, 28, 28, 0.2);
  background-color: var(--white);
  padding: $sp-5 $sp-6 $sp-6 $sp-6;

  ul {
    padding: 0;
  }
  
  li {
    margin: 0 !important;
    list-style: none;
    list-style-type: none;
    font-family: var(--table-of-contents-block-menu--font-family,var(--font-family-tertiary) );
    font-size: var(--text--font-size, var(--font-size-m--font-family-secondary));
    line-height: var(--text--line-height, var(--line-height-m--font-family-secondary));

    &.list-style {
      margin-inline-end: var(--table-of-contents-block-bullet-item--margin-inline-end, 0) !important;
      margin-inline-start: var(--table-of-contents-block-bullet-item--margin-inline-start, 32px) !important;

      &.list-style-bullet {
        list-style: disc;
      }
      &.list-style-number {
        list-style: decimal;
      }
    }

    a {
      color: var(--color-text-body);
      background: none;
      border: 0;

      &:hover {
        text-decoration: var(--link--hover--text-decoration) !important;
      }
    }
  }
}