$menu-height-small: 3.375rem;
$menu-height-large: 3.75rem;
$min-height: 40px;

div.page-template {
  width: 540px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;

  @include medium-and-up {
    width: 720px;
    padding: 0;
  }

  @include large-and-up {
    width: 960px;
  }

  @include x-large-and-up {
    font-size: 1.125rem;
    width: 1140px;
  }

  @include xx-large-and-up {
    width: 1320px;
  }

  > * {
    position: relative;
    z-index: 2;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .page-header-hidden + &.no-page-title {
    padding-top: $menu-height-small;

    @include medium-and-up {
      padding-top: $menu-height-large;
    }

    & > p:first-child {
      padding-top: $space-xs;

      @include small-and-up {
        padding-top: $space-sm;
      }

      @include medium-and-up {
        padding-top: $space-md;
      }

      @include large-and-up {
        padding-top: $space-lg;
      }

      @include x-large-and-up {
        padding-top: $space-xl;
      }
    }

    & > .wp-block-image:first-child {
      margin-top: 0;
    }

    .navigation-bar_min ~ & {
      padding-top: $min-height;
    }
  }
}

.single-campaign {
  .page-template {
    > p:last-child {
      margin-bottom: $space-xxl;
    }

    &:not(.no-page-title) {
      section:first-child {
        margin-top: $n40;
      }
    }
  }
}

.password-form {
  .input-text {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
    margin-bottom: 16px;
    position: relative;
  }

  .input-text input {
    border: 1px solid $grey-20;
    border-radius: 4px;
    display: inline-block;
    font-size: 16px;
    padding: 15px 14px 8px;
    min-width: 400px;
  }

  .input-text input:hover {
    border: 1px solid $grey-40;
  }

  .input-text input:focus {
    border-color: rgba(0, 109, 253, 0.75);
    outline: 0 none;
  }
}
