.page-content {
  > * {
    position: relative;
    z-index: 2;
  }

  img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
  }

  .force-no-lightbox img {
    cursor: auto;
  }

  p:not(.article-list-item-meta) a,
  > ul li a,
  > ol li a {
    @include shared-link-styles;
  }

  &.no-page-title {
    padding-top: var(--navbar-menu-height--small);

    @include large-and-up {
      padding-top: var(--navbar-menu-height--large);
    }

    & > p:first-child {
      padding-top: $sp-1;

      @include small-and-up {
        padding-top: $sp-1x;
      }

      @include medium-and-up {
        padding-top: $sp-2;
      }

      @include large-and-up {
        padding-top: $sp-4;
      }

      @include x-large-and-up {
        padding-top: $sp-6;
      }
    }

    > .wp-block-group,
    > .wp-block-image {
      &:first-child {
        margin-top: 0;
      }
    }

    .navigation-bar_min ~ & {
      padding-top: var(--navbar-menu-min-height);
    }

    .wp-block-group:first-child {
      & > .wp-block-group:first-child {
        margin-top: 0;
      }
    }

    & > .wp-block-media-text:first-child {
      margin-top: 0;
    }
  }
}

.with-mobile-tabs {
  @include medium-and-less {
    & ~ :not(.page-header) + .page-content {
      padding-top: calc(var(--navbar-menu-height--small) + 50px);
    }

    & ~ .featured-posts + .page-content{
      padding: 0;
    }
  }
}

.single-campaign {
  .page-content {
    > p:last-child {
      margin-bottom: $sp-8;
    }

    &:not(.no-page-title) {
      section:first-child {
        margin-top: $sp-5;
      }
    }
  }
}

.password-form {
  .input-text {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;
    margin-bottom: 16px;
    position: relative;
  }

  .input-text input {
    border: 1px solid var(--color-border-input);
    border-radius: 4px;
    display: inline-block;
    font-size: 16px;
    padding: 15px 14px 8px;
    width: 100%;

    @include medium-and-up {
      max-width: 400px;
    }
  }

  .input-text input:hover {
    border: 1px solid var(--grey-600);
  }

  .input-text input:focus {
    border-color: rgba(0, 109, 253, 0.75);
    outline: 0 none;
  }
}

.bottom-navigation {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--font-family-primary);
  font-size: var(--font-size-xxs--font-family-primary);

  a {
    display: flex;
    align-items: center;
  }

  a:hover {
    text-decoration: none;
  }

  &-next {
    margin-inline-start: auto;
    width: 50%;
    justify-content: flex-end;

    span {
      text-align: end;
    }

    &::after {
      background-image: url("../../images/arrow_forward.svg");
      margin-inline-start: $sp-x;
    }
  }

  &-prev {
    width: 50%;

    &::before {
      background-image: url("../../images/arrow_back.svg");
      margin-inline-end: $sp-x;
    }
  }

  .bottom-navigation-link-text {
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @include large-and-up {
    height: 116px;
    font-size: var(--font-size-s--font-family-primary);
  }
}

.bottom-navigation-prev::before,
.bottom-navigation-next::after {
  content: "";
  display: inline-block;
  height: 16px;
  width: 20px;
  background-position: center;
  background-repeat: no-repeat;
}

html[dir="rtl"] {
  .bottom-navigation-prev::before,
  .bottom-navigation-next::after {
    transform: rotateY(190deg);
  }
}

// Remove bottom margin from last element in page-content
.page-content > .wp-block-group:last-child {
  margin-bottom: 0;
}
