.page-sitemap {
  margin-bottom: 100px;

  a {
    color: var(--body--color);
    font-family: var(--headings--font-family);

    &:visited,
    &:active,
    &:hover {
      color: inherit;
    }
  }

  .tag-item {
    margin-left: 30px;
  }

  h5 {
    margin-bottom: 1rem;
  }

  ul {
    list-style: none;
    padding-inline-start: 0;
    @include small-and-less {
      margin-bottom: 0;
    }

    li {
      font-size: inherit;
      line-height: inherit;
    }
  }
}
