.page-sitemap {
  margin-bottom: 100px;

  a {
    color: $grey-80;
    font-family: $roboto;

    &:visited {
      color: $link-color-visited;
    }
  }

  .tag-item {
    margin-left: 30px;
  }

  h5 {
    margin-bottom: 1rem;
  }
}
