.en-attribute-wrapper {
  display: inline-block;
  margin-right: 20px;
}

.shortcake-p4-radio-div {
  display: inline-block;
  margin: 10px;
  padding: 20px;
  max-width: 25%;
  vertical-align: top;
}

.shortcode-ui-edit-shortcake_enform {
  display: flex;
  flex-wrap: wrap;
}

div.shortcode-ui-edit-shortcake_enform > div {
  padding-left: 2%;
  flex: 0 20%;
}

div.shortcode-ui-edit-shortcake_enform > div:nth-child(-n+9) {
  flex: 0 100%;
}

div.shortcode-ui-edit-shortcake_enform > div:nth-child(n+9):nth-child(odd) {
  margin-right: 40%;
}

.shortcode-ui-attribute-content_title {
  display: none;
}

.shortcode-ui-attribute-content_description {
  display: none;
}

.enform-required-field {
  border-color: #ff3333 !important;
}

#fields_list_box, #questions_list_box, #optins_list_box {
  max-height: 400px;
  overflow: auto;
}

#meta-box-selected .inside {
  overflow-x: auto;
}

.add-en-field, .remove-en-field, .pointer {
  cursor: pointer;
}

.ui-tooltip {
  background: #444;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, .75);
  color: white;
  display: inline-block;
  padding: 10px;
  width: 100px;
}

tr.not-tagged-field {
  background-color: #fcffe4 !important;
}
