.cp-item {
  font-size: 14px;
  padding: 5px 0;
}

.cp-item div {
  background-color: rgb(250, 250, 250);
}

#dashboard-widgets .cp-item h3 {
  font-weight: bold;
}

.cp-subitem-response {
  display: none;
  float: right;
}

.cp-success {
  color: #236b2d;
}

.cp-error {
  color: #be2d26;
}

#gf_dashboard_message {
  display: none;
}

/* Temporarily hide notices in the admin area. */
.stateless-admin-notice,
#admin_banner_about_automatic_media_detection {
  display: none !important;
}
