.planet4_options .cmb-row:not(.hidden) {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.planet4_options .cmb-th {
  float: none;
  padding: 15px 10px 15px 0;
}

.planet4_options label {
  padding: 0;
}

.planet4_options .cmb-td {
  float: none;
}

.hidden {
  display: none;
}

.social-share-checkbox {
  margin-inline-end: 16px;
}

.social-share-checkbox input {
  vertical-align: text-bottom;
}

.site-icon-section {
  display: none;
}

@media (min-width: 768px) {
  .planet4_options .cmb-row:not(.hidden) {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }
}

.migration-status {
  overflow-x: auto;

  table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
  }

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    vertical-align: top;
  }

  th {
    background-color: #f2f2f2;
    width: 150px;
  }

  .array-item {
    max-height: 85px;
    overflow: scroll;
    font-family: monospace;
  }

  .error {
    color: #d9534f;
    font-weight: bold;
  }

  .success {
    color: #1a9913;
    font-weight: bold;
  }
}

/* Temporarily hide ElasticPress version mismatch notice */
[data-ep-notice] {
  display: none !important;
}

/* Temporarily hide notices in the admin area. */
#admin_banner_about_automatic_media_detection {
  display: none !important;
}
