.toplevel_page_plugin_blocks_report,
.toplevel_page_planet4_settings_navigation,
.planet-4_page_planet4_settings_defaults_content,
.planet-4_page_planet4_settings_cookies_text,
.planet-4_page_planet4_settings_social,
.planet-4_page_planet4_settings_404_page,
.planet-4_page_planet4_settings_analytics,
.planet-4_page_planet4_settings_features,
.planet-4_page_planet4_settings_search_content,
.blocks_page_plugin_patterns_report,
.blocks_page_postmeta_report,
.blocks_page_edit-post_type-wp_block {
  #wpcontent {
    background-color: #f5f7f8;
  }

  #wpbody-content {
    padding-top: 70px;
  }

  .notice {
    margin: 0 0 10px !important;
  }
}

#patterns-report,
#postmeta-report,
#reusable-blocks-report,
#blocks-report,
.planet4_options {
  margin: 0 auto;
  padding: 20px 0 40px;
  max-width: 1200px;

  a {
    color: #198700;
  }

  .wp-core-ui .button, .wp-core-ui .button-secondary {
    color: #198700 !important;
    border-color: #198700 !important;
  }

  header {
    position: fixed;
    top: 30px;
    left: 36px;
    width: calc(100% - (36px));
    background-color: #1f4912;
    padding: 15px 30px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;

    @media only screen and (min-width: 960px) {
      left: 160px;
      width: calc(100% - (160px));
    }

    nav {
      @media only screen and (max-width: 960px) {
        display: none;
      }

      a {
        color: #fff;
        text-decoration: none;
        margin-left: 10px;
        padding: 10px;
        font-weight: bold;
        border-radius: 4px;

        &.active {
          background-color: #113008;
        }
      }
    }

    img {
      width: 200px;
      height: auto;
      filter: brightness(0) invert(1);
    }
  }

  .description {
    background: #fff;
    margin-bottom: 15px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px rgba(16, 24, 40, .1);
    border-radius: 0 15px 15px 0;
    border-left: 5px solid #d43b57;
  }

  .button-primary {
    padding: 5px 30px !important;
    font-size: 14px !important;
    z-index: 1000;
    background: #ffe100;
    border: #ffe100;
    color: black;
    font-weight: bold;
    margin: 20px 0 40px;
    float: right;
  }

  .form-table {
    box-shadow: 2px 2px 2px rgba(16, 24, 40, .1);
    border-radius: 0 15px 15px 0;
    overflow: hidden;

    .cmb-row {
      background-color: #fff;

      &:nth-child(odd) {
        background-color: #ececec;
      }
    }

    .cmb-row:not(.hidden) {
      display: grid;
      grid-template-columns: 1fr 1fr;

      @media (min-width: 768px) {
        display: grid;
        grid-template-columns: 0fr 4fr;
      }
    }

    .cmb-th {
      float: none;
      padding: 20px;
      box-sizing: border-box;
    }

    .cmb-td {
      float: none;
      padding: 20px;
      box-sizing: border-box;
    }

    label {
      padding: 0;
    }
  }
}

.hidden {
  display: none;
}

.social-share-checkbox {
  margin-inline-end: 16px;
}

.social-share-checkbox input {
  vertical-align: text-bottom;
}

.site-icon-section {
  display: none;
}
