/* Todo: Change to scss, separate styles that are essential to the ImagePicker component to work (if there are any)
     from ArchivePicker styles*/

:root {
  --sidebar-width-large: 450px;
  --sidebar-width-tablet: 400px;
}

#wpcontent {
  padding-right: 10px;
  padding-left: 10px;
}

.archive-picker-search {
  margin-top: 20px;
  display: flex;
}

.picker-list {
  max-height: 75vh;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0 16px;
}

.image-picker li img {
  margin: 0;
  border: 2px solid transparent;
  box-sizing: border-box;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  height: 220px;
}

.image-picker li {
  display: inline-block;
  position: relative;
}

.image-picker li[data-wordpress-id]:after {
  content: "";
  display: block;
  background: url("../../images/added-to-library.svg");
  width: 25px;
  height: 25px;
  position: absolute;
  /* 2px to account for the border width */
  top: 2px;
  left: 2px;
}

.image-picker .added-to-library {
  display: none;
}

.image-picker li[data-wordpress-id]:hover .added-to-library {
  display: block;
  position: absolute;
  top: 2px;
  left: 27px;
  background: white;
  opacity: 90%;
  height: 25px;
  line-height: 25px;
  padding: 0 4px;
  font-size: 10px;
  color: black;
}

.image-picker.open-sidebar li img {
  opacity: 20%;
}

.image-picker.open-sidebar li img:hover {
  opacity: 100%;
}

.image-picker.open-sidebar li img.picker-selected {
  border-color: #1772a5;
  opacity: 100%;
}

.picker-sidebar-fields {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow: auto;
  margin-top: 0;
}

.picker-sidebar-fields dd {
  overflow-wrap: anywhere;
}

.picker-sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  background: white;
  padding: 64px 20px 0 20px;
  border-left: 2px solid black;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.picker-sidebar img {
  object-fit: cover;
  width: 100%;
  margin-bottom: 10px;
}

.picker-sidebar .info {
  position: absolute;
}

.picker-sidebar .sidebar-action {
  width: fit-content;
  align-self: center;
  margin-bottom: 24px;
  margin-top: 16px;
}

.archive-picker-loading {
  text-align: center;
  margin-top: 30px;
}

.picker-sidebar .close-sidebar {
  background: url("../../images/black-cross.svg");
  border: none;
  cursor: pointer;
  min-height: 16px;
  width: 15px;
  background-repeat: no-repeat;
  align-self: flex-end;
}

.close-icon {
  background: url("../../images/black-cross.svg");
  cursor: pointer;
  height: 8px;
  width: 8px;
  background-size: contain;
}

.picker-sidebar .edit-image {
  align-self: flex-end;
  margin-top: 16px;
  margin-bottom: 16px;
  height: 36px;
}

.multiple-search {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #979797;
  border-radius: 0;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.multiple-search-form {
  display: flex;
  margin-top: 8px;
  margin-bottom: 8px;
}

.multiple-search-item {
  display: inline-flex;
  justify-content: space-between;
  padding: 6px 8px;
  margin: 0;
  color: #1b1b1b;
  border-radius: 2px;
  background: #dfddde;
  font-size: 12px;
  align-items: center;
}

.multiple-search-item > span {
  margin-left: 8px;
  cursor: pointer;
}

.multiple-search-wrapper-input input {
  width: 100%;
  margin: 0;
  height: 100%;
  background: transparent;
  border-radius: 0;
  font-size: 14px;
  outline: 0;
  border: none;
  border-bottom: 1px solid transparent;
}

.multiple-search-wrapper-input input:focus {
  outline-width: 0 !important;
  border-bottom-color: transparent;
  box-shadow: none;
}

.multiple-search-nav {
  display: none;
}

.multiple-search-nav > button {
  height: 36px;
}

.multiple-search-nav > button:not(:last-child) {
  margin-right: 8px;
}

.empty-media-items-message {
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.multiple-search-form {
  height: auto;
}

.multiple-search-list {
  box-sizing: border-box;
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 8px;
  width: 100%;
  border-top: 1px solid #979797;
}

.multiple-search-wrapper-input.disabled {
  display: none;
}

@media (min-width: 768px) {
  #wpcontent {
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .picker-sidebar {
    width: var(--sidebar-width-tablet);
  }

  .picker-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .image-picker.open-sidebar .picker-list {
    width: calc(100% - var(--sidebar-width-tablet) - 52px);
    grid-template-columns: repeat(1, 1fr);
  }

  .image-picker li img {
    height: 160px;
  }

  .image-picker li img {
    height: 160px;
  }

  .multiple-search {
    max-width: 400px;
  }

  .multiple-search-wrapper-input {
    min-width: 230px;
  }

  .multiple-search-wrapper-input input {
    height: 36px;
    padding: 8px;
  }

  .multiple-search-nav {
    display: flex;
    margin-left: 8px;
  }

  .multiple-search-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 783px) {
  .picker-sidebar {
    padding-top: 56px;
  }
}

@media (min-width: 1200px) {
  .picker-sidebar {
    width: var(--sidebar-width-large);
  }
}

@media (min-width: 1439px) {
  .multiple-search-list {
    display: grid;
  }
}


@media (min-width: 1440px) {
  .picker-list {
    grid-template-columns: repeat(5, 1fr);
  }

  .image-picker.open-sidebar .picker-list {
    width: calc(100% - var(--sidebar-width-large) - 60px);
    grid-template-columns: repeat(3, 1fr);
  }

  .multiple-search {
    display: flex;
    max-width: 100%;
    width: fit-content;
    flex-direction: row;
    height: 36px;
  }

  .multiple-search-list {
    display: flex;
    height: 100%;
    border-top: none;
  }
}
