/* Todo: Change to scss, separate styles that are essential to the ImagePicker component to work (if there are any)
     from ArchivePicker styles*/

:root {
  --sidebar-width-large: 450px;
  --sidebar-width-tablet: 400px;
}

#wpcontent {
  padding-right: 10px;
  padding-left: 10px;
}

#wpbody-content {
  padding-bottom: 0;
}

#wpfooter {
  display: none;
}

.archive-picker {
  width: 100%;
}

.archive-picker-search {
  margin-top: 20px;
  display: flex;
}

.picker-list {
  max-height: 80vh;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0 16px;
  position: relative;
}

.image-picker {
  position: relative;
}

.picker-list li {
  position: relative;
}

.item-disabled {
  opacity: .2;
}

.picker-list li .components-spinner {
  position: absolute;
  top: 8px;
  left: 0;
}

.picker-list.bulk-select li img {
  opacity: 0.8;
  transition: opacity 250ms ease;
}

.picker-list.bulk-select li img.picker-selected {
  opacity: 1;
}

.archive-picker-toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 16px;
  width: 100%;
}

.archive-picker-title {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}

.nav-bulk-select.bulk-enabled {
  width: 100%;
  justify-content: space-between;
  display: flex;
}

.nav-bulk-select button {
  height: 36px;
}

.nav-bulk-select button:not(:last-child) {
  margin-inline-end: 8px;
}

.bulk-select-checkbox {
  position: absolute;
  width: 25px;
  height: 25px;
  right: 2px;
  top: 2px;
  background-color: white;
  border: 1px solid #979797;
  cursor: pointer;
}

.bulk-select-checkbox.is-checked {
  background: url("../../images/checkmark.svg"), white;
  background-position: center;
  background-repeat: no-repeat;
}

.image-picker li img {
  margin: 0;
  border: 2px solid transparent;
  box-sizing: border-box;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  height: 220px;
}

.image-picker li {
  display: inline-block;
  position: relative;
}

.image-picker li[data-wordpress-id]:after {
  content: "";
  display: block;
  background: url("../../images/added-to-library.svg");
  width: 25px;
  height: 25px;
  position: absolute;
  /* 2px to account for the border width */
  top: 2px;
  left: 2px;
}

.image-picker .added-to-library {
  display: none;
}

.image-picker li[data-wordpress-id]:hover .added-to-library {
  display: block;
  position: absolute;
  top: 2px;
  left: 27px;
  background: white;
  opacity: 90%;
  height: 25px;
  line-height: 25px;
  padding: 0 4px;
  font-size: 10px;
  color: black;
}

.image-picker.open-sidebar li img {
  opacity: 20%;
}

.image-picker.open-sidebar li img:hover {
  opacity: 100%;
}

.archive-picker.open-sidebar .help {
  display: none;
}

.picker-list li.is-selected img {
  opacity: 100% !important;
}

.image-picker.open-sidebar li img.picker-selected {
  border-color: #1772a5;
  opacity: 100%;
}

.image-picker .help {
  position: fixed;
  bottom: 8px;
  right: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 1;
}

.image-picker .help span {
  background: white;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  font-weight: 500;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.image-picker .help .tooltip {
  display: none;
}

.image-picker .help:hover .tooltip {
  display: block;
  position: relative;
  background: white;
  width: 80%;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 8px;
  color: black;
}

.image-picker .help:hover .tooltip:after {
  content: "";
  position: absolute;
  bottom: -14px;
  right: 4px;
  border: 8px solid transparent;
  border-top-color: white;
}

.image-picker .help:hover .tooltip a {
  color: black;
}

.picker-sidebar-fields {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow: auto;
  margin-top: 0;
}

.picker-sidebar-fields dd {
  overflow-wrap: anywhere;
}

.picker-sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  background: white;
  padding: 64px 20px 0 20px;
  border-left: 2px solid black;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.picker-sidebar img {
  object-fit: cover;
  width: 100%;
  margin-bottom: 10px;
}

.picker-sidebar-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  min-height: 20px;
  margin-bottom: 10px;
}

.picker-sidebar-header .info {
  width: fit-content;
}

.picker-sidebar .error {
  margin-top: 16px;
}

.picker-sidebar .sidebar-action {
  width: fit-content;
  align-self: center;
  margin-bottom: 24px;
  margin-top: 16px;
}

.archive-picker-loading {
  text-align: center;
}

.archive-picker-loading svg {
  width: 24px;
  height: 24px;
}

.picker-sidebar-header .close-sidebar {
  background: url("../../images/black-cross.svg");
  border: none;
  cursor: pointer;
  min-height: 16px;
  width: 15px;
  background-repeat: no-repeat;
}

.close-icon {
  background: url("../../images/black-cross.svg");
  cursor: pointer;
  height: 8px;
  width: 8px;
  background-size: contain;
}

.picker-sidebar .edit-image {
  align-self: flex-end;
  margin-top: 16px;
  margin-bottom: 16px;
  height: 36px;
}

.multiple-search {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #979797;
  border-radius: 0;
  width: 100%;
  margin: 20px 0;
  box-sizing: border-box;
  overflow: hidden;
}

.multiple-search-form {
  display: flex;
  height: auto;
  align-items: flex-start;
}

.multiple-search-item {
  display: inline-flex;
  justify-content: space-between;
  padding: 6px 8px;
  margin: 0;
  color: #1b1b1b;
  border-radius: 2px;
  background: #dfddde;
  font-size: 12px;
  align-items: center;
}

.multiple-search-item > span {
  margin-left: 8px;
  cursor: pointer;
}

.multiple-search-wrapper-input {
  background: url("../../images/search.svg");
  background-size: 20px auto;
  background-repeat: no-repeat;
  background-position: right center;
  background-origin: content-box, padding-box;
  padding-right: 8px;
}

.multiple-search-wrapper-input input {
  position: relative;
  width: calc(100% - 20px);
  height: 100%;
  margin: 0;

  border-radius: 0;
  font-size: 14px;
  outline: 0;
  border: none;
  border-bottom: 1px solid transparent;
}

.multiple-search-wrapper-input input:focus {
  outline-width: 0 !important;
  border-bottom-color: transparent;
  box-shadow: none;
}

.multiple-search-nav {
  display: none;
}

.multiple-search-nav > button {
  height: 36px !important;
}

.multiple-search-nav > button:not(:last-child) {
  margin-right: 8px;
}

.empty-media-items-message {
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.multiple-search-form {
  width: 100%;
  height: auto;
}

.multiple-search-list {
  box-sizing: border-box;
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 8px;
  width: 100%;
  border-top: 1px solid #979797;
}

.multiple-search-wrapper-input.disabled {
  display: none;
}

.archive-picker-title {
  line-height: 150%;
}

@media (min-width: 576px) {
  .picker-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  #wpcontent {
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .archive-picker.open-sidebar {
    width: calc(100% - var(--sidebar-width-large) + 8px);
  }

  .archive-picker.open-sidebar .help {
    display: flex;
    right: var(--sidebar-width-large);
  }

  .archive-picker.open-sidebar .multiple-search-form {
    width: 100%;
    margin-top: 16px;
  }

  .archive-picker.open-sidebar .nav-bulk-select {
    order: 0;
  }

  .picker-sidebar {
    width: var(--sidebar-width-tablet);
  }

  .picker-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .image-picker.open-sidebar {
    width: 100%;
  }

  .image-picker.open-sidebar .picker-list {
    grid-template-columns: repeat(1, 1fr);
  }

  .image-picker li img {
    height: 160px;
  }

  .image-picker .help:hover .tooltip {
    max-width: 330px;
  }

  .archive-picker-title {
    margin-right: 12px;
  }

  .multiple-search {
    max-width: 400px;
    margin: 0;
  }

  .multiple-search-form {
    width: auto;
  }

  .multiple-search-wrapper-input {
    min-width: auto;
    margin: 0;
  }

  .multiple-search-wrapper-input input {
    height: 34px;
    padding: 8px;
  }

  .multiple-search-nav {
    display: flex;
    align-items: center;
    margin-left: 8px;
  }

  .multiple-search-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .nav-bulk-select.bulk-enabled {
    justify-content: flex-end;
  }
}

@media (max-width: 782px) {
  .btn-cancel-bulk-select {
    padding: 0 !important;
    background-color: transparent !important;
    border: none !important;
    display: flex !important;;
    align-items: center;
    color: #1D2327 !important;
  }

  .btn-cancel-bulk-select::before {
    content: "";
    height: 18px;
    width: 18px;
    display: block;
    background-color: #1D2327;;
    mask: url("../../images/chevron.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    margin-inline-end: 8px;
    transform: rotate(180deg);
  }
}

@media (min-width: 783px) {
  .picker-sidebar {
    padding-top: 56px;
  }

  .nav-bulk-select {
    order: 1;
    margin-left: auto;
  }

  .image-picker.open-sidebar .picker-list {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 1200px) {
  .archive-picker.open-sidebar .multiple-search-form {
    width: 100%;
  }

  .archive-picker.open-sidebar .multiple-search-form .multiple-search {
    max-width: 100%;
  }

  .archive-picker.open-sidebar {
    width: calc(100% - var(--sidebar-width-large) - 42px);
  }

  .archive-picker.open-sidebar .help {
    display: flex;
    right: calc(var(--sidebar-width-large) + 50px);
  }

  .picker-sidebar {
    width: var(--sidebar-width-large);
  }

  .image-picker .help span {
    line-height: 32px;
    width: 32px;
    height: 32px;
    font-size: 18px;
  }

  .image-picker .help:hover .tooltip {
    font-size: 14px;
  }

  .image-picker .help:hover .tooltip:after {
    right: 8px;
  }

  .image-picker.open-sidebar .picker-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1440px) {
  .archive-picker.open-sidebar .multiple-search-form {
    width: fit-content;
    margin-top: 0;
  }

  .archive-picker.open-sidebar .nav-bulk-select {
    order: 1;
  }

  .picker-list {
    grid-template-columns: repeat(5, 1fr);
  }

  .image-picker.open-sidebar .picker-list {
    grid-template-columns: repeat(4, 1fr);
  }

  .multiple-search {
    display: flex;
    max-width: 100%;
    width: fit-content;
    flex-direction: row;
    height: 36px;
  }

  .multiple-search-list {
    display: flex;
    height: 100%;
    border-top: none;
  }
}
