/* Todo: Change to scss, separate styles that are essential to the ImagePicker component to work (if there are any)
     from ArchivePicker styles*/

:root {
  --sidebar-width-large: 450px;
  --sidebar-width-tablet: 400px;
}

.archive-picker-search {
  margin-top: 20px;
}

.archive-picker-search input {
  margin-right: 10px;
}

.picker-list {
  padding-inline-end: 1em;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0 16px;
}

.image-picker li img {
  margin: 0;
  border: 2px solid transparent;
  box-sizing: border-box;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  height: 220px;
}

.image-picker li {
  display: inline-block;
  position: relative;
}

.image-picker li[data-wordpress-id]:after {
  content: "✔️";
  font-size: 18px;
  background: white;
  position: absolute;
  top: 0;
  right: 0;
}

.image-picker.open-sidebar li img {
  opacity: 20%;
}

.image-picker.open-sidebar li img:hover {
  opacity: 100%;
}

.image-picker.open-sidebar li img.picker-selected {
  border-color: #1772a5;
  opacity: 100%;
}

.picker-sidebar-fields {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow: auto;
  margin-top: 0;
}

.picker-sidebar-fields dd {
  overflow-wrap: anywhere;
}

.picker-sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  background: white;
  padding: 64px 20px 0 20px;
  border-left: 2px solid black;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.picker-sidebar img {
  object-fit: cover;
  width: 100%;
  margin-bottom: 10px;
}

.picker-sidebar .info {
  position: absolute;
}

.picker-sidebar-single .sidebar-action {
  align-self: center;
  margin-bottom: 24px;
  margin-top: 16px;
}

.archive-picker-loading {
  position: fixed;
  bottom: 20px;
  text-align: center;
  width: 50%;
}

.picker-sidebar .close-sidebar {
  background: url("../../images/black-cross.svg");
  border: none;
  cursor: pointer;
  min-height: 16px;
  width: 15px;
  background-repeat: no-repeat;
  align-self: flex-end;
}

.picker-sidebar .edit-image {
  align-self: flex-end;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .picker-sidebar {
    width: var(--sidebar-width-tablet);
  }

  .picker-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .image-picker.open-sidebar .picker-list {
    width: calc(100% - var(--sidebar-width-tablet) - 52px);
    grid-template-columns: repeat(1, 1fr);
  }

  .image-picker li img {
    height: 160px;
  }
}

@media (min-width: 783px) {
  .picker-sidebar {
    padding-top: 56px;
  }
}

@media (min-width: 1200px) {
  .picker-sidebar {
    width: var(--sidebar-width-large);
  }

  .picker-list {
    grid-template-columns: repeat(5, 1fr);
  }

  .image-picker.open-sidebar .picker-list {
    width: calc(100% - var(--sidebar-width-large) - 60px);
    grid-template-columns: repeat(3, 1fr);
  }
}
