/* Todo: Change to scss, separate styles that are essential to the ImagePicker component to work (if there are any)
     from ArchivePicker styles*/
.archive-picker-search input[type=submit] {
  display: inline-block;
}
.picker-list {
  max-width: 60%;
  max-height: 75vh;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
}

.image-picker li {
  display: inline-block !important;
  position: relative;
  border: 2px solid transparent;
}

.image-picker li[data-wordpress-id]:after {
  content: "✔️";
  font-size: 18px;
  background: white;
  position: absolute;
  top: 0;
  right: 0;
}

.image-picker li img {
  margin: 2px 4px 0 0;
}

li.picker-selected {
  border-color: yellow;
  box-sizing: border-box;
}

.picker-sidebar-fields {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow: auto;
}

.picker-sidebar-fields dd {
  overflow-wrap: anywhere;
}

.picker-sidebar {
  max-height: 90vh;
  width: 30%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  background: white;
  padding: 48px 8px 8px;
  border-left: 3px solid black;
  display: flex;
  flex-direction: column;
}

.picker-sidebar-single img {
  object-fit: cover;
  width: 100%;
}

.archive-picker-loading {
  background: lightgrey;
  border: 2px solid black;
  border-radius: 4px;
  position: fixed;
  bottom: 0;
  padding: 5px;
  left: 24%;
}
