/* Todo: Change to scss, separate styles that are essential to the ImagePicker component to work (if there are any)
     from ArchivePicker styles*/

.archive-picker-search {
  margin-top: 20px;
}

.archive-picker-search input {
  margin-right: 10px;
}

.picker-list {
  padding-inline-end: 1em;
  max-height: 75vh;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0 16px;
}

.image-picker li img {
  margin: 0;
  border: 2px solid transparent;
  box-sizing: border-box;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  height: 220px;
}

.image-picker li {
  display: inline-block;
  position: relative;
}

.image-picker li[data-wordpress-id]:after {
  content: "✔️";
  font-size: 18px;
  background: white;
  position: absolute;
  top: 0;
  right: 0;
}

.image-picker li img.picker-selected {
  border-color: yellow;
}

.picker-sidebar-fields {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow: auto;
  margin-top: 0;
}

.picker-sidebar-fields dd {
  overflow-wrap: anywhere;
}

.picker-sidebar {
  max-height: 90vh;
  width: 30%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  background: white;
  padding: 48px 8px 8px;
  border-left: 3px solid black;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.picker-sidebar img {
  object-fit: cover;
  width: 100%;
  margin-bottom: 10px;
}

.picker-sidebar-single .sidebar-action {
  width: fit-content;
  align-self: center;
  margin-bottom: 10px;
}

.archive-picker-loading {
  position: fixed;
  bottom: 20px;
  text-align: center;
  width: 50%;
}

@media (min-width: 768px) {
  .picker-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .image-picker li img {
    height: 160px;
  }
}

@media (min-width: 1440px) {
  .picker-list {
    grid-template-columns: repeat(5, 1fr);
  }
}
